{% extends "cabinet/apps-layout.html" %}

{% block extrahead %}
	{{ super() }}
	<script type="text/javascript">
		$(function() {
			var handlers = { error: showError, clear: clearError };
			$('#form-app').validateForm(handlers);
		});
	</script>
{% endblock %}

{% set activetab = 'new' %}

{% block breadcrumbs %}
	{{ super() }}
	{{ macros.breadcrumb('Добавление приложения', url_for('.apps_new')) }}
{% endblock %}

{% block tabcontent %}

<div class="form-container">
	<form id="form-app" action="" method="post" class="widelabels">
		<fieldset>
			{{ macros.formfield(form.apptitle, class='span10') }}
			{{ macros.formfield(form.appcallback, class='span10') }}
			{{ macros.formfield(form.appurl, class='span10') }}
			{{ macros.formfield(form.appplatform, class='span4') }}
		</fieldset>
		<div class="actions">
			<input class="btn large primary" type="submit" value="Добавить приложение"/>
		</div>
	</form>
</div>

{% endblock %}
