{% extends "cabinet/apps-layout.html" %}
{% import 'common/apps.html' as app_macros %}

{% set activetab = 'list' %}

{% set apps_config = {
	'stats' : { 'url' : url_for('.ajax_apps_ctr', id=apps|attrlist('id')) }
} %}

{% block extrahead %}
	{{ super() }}
	{{ app_macros.js(apps, apps_config) }}
{% endblock %}

{% block tabcontent %}

{% if apps %}
	{% call(head, app) app_macros.table(apps, apps_config) %}{% endcall %}
{% else %}
	<div class="clearfix alert-message block-message info">
		<p><strong>Список пуст.</strong> Вы еще не добавили ни одного приложения.</p>
		<div class="alert-actions">
			<a class="btn small" href="{{ url_for('.apps_new') }}">Добавить приложение</a>
		</div>
	</div>
{% endif %}

{% endblock %}
