{% extends "cabinet/apps-layout.html" %}

{% set activetab = 'list' %}

{% block tabcontent %}

{% if apps %}
	<table class="bordered-table zebra-striped">
		<thead>
			<tr>
				<th class="header">Название</th>
				<th class="header">Платформа</th>
				<th class="header center">Создано</th>
				<th class="header center">Удалено</th>
			</tr>
		</thead>
		<tbody>
			{% for app in apps %}
			<tr>
				<td>{{ macros.app_href(app) }}</td>
				<td>{{ app.platform }}</td>
				<td class="center">{{ app.creation_time|datetimeformat }}</td>
				<td class="center">{{ macros.deleted(app.deleted) }}</td>
			</tr>
			{% endfor %}
		</tbody>
	</table>
{% else %}
	<div class="clearfix alert-message block-message info">
		<p><strong>Список пуст.</strong> Вы еще не добавили ни одного приложения.</p>
		<div class="alert-actions">
			<a class="btn small" href="{{ url_for('.apps_new') }}">Добавить приложение</a>
		</div>
	</div>
{% endif %}

{% endblock %}
