{% extends "cabinet/info-layout.html" %}

{% set activetab = 'balance' %}

{% block breadcrumbs %}
	{{ super() }}
	{{ macros.breadcrumb('Платежи', url_for('.info_balance')) }}
{% endblock %}

{% block tabcontent %}

<h2>Пополнение счета</h2>

<div class="row">
	<div class="span8">
		<div class="form-container">
			<form id="form-balance-pay" action="" method="post" class="validate">
				<fieldset>
					{{ macros.formfield(form.amount, class='span4') }}
				</fieldset>
				<div class="input">
					<input class="btn primary" type="submit" value="Пополнить баланс"/>
				</div>
			</form>
		</div>
	</div>
	<div class="span7">
		<p>
			Платеж производится в условных единицах (1 у.е. ~ 1 руб.). Введенная сумма будет округлена
			до двух десятичных знаков. Минимальный размер платежа &mdash; 1 у.е., максимальный &mdash;
			<nobr>60 000 000 у.е.</nobr>
		</p>
		<p>
			После того, как вы укажете сумму платежа и нажмете кнопку &laquo;Пополнить счет&raquo;,
			вы будете перенаправлены на сайт платежной системы
			<a href="http://robokassa.ru/" target="_blank">RoboKassa</a>, где сможете выбрать удобный
			для вас способ оплаты.
		</p>
	</div>
</div>

<h2>История платежей</h2>

{% if transactions %}
	<table class="bordered-table zebra-striped">
		<thead>
			<tr>
				<th class="header right minimal-width">#</th>
				<th class="header right" style="width: 20%;">Изменение</th>
				<th class="header right" style="width: 20%;">Баланс, {{ currency_sign }}</th>
				<th class="header">Комментарий</th>
			</tr>
		</thead>
		<tbody>
			{% for transaction in transactions %}
			<tr>
				<td class="right">{{ transaction.id }}</td>
				<td class="right">
					<span class="transaction-{% if transaction.diff < 0 -%}minus{% else -%}plus{% endif -%}">
						{{ transaction.diff|currency(False) }}
					</span>
				</td>
				<td class="right">{{ transaction.balance|currency(False) }}</td>
				<td>{{ transaction.description|default('&mdash;', True)|safe }}</td>
			</tr>
			{% endfor %}
		</tbody>
	</table>
	{{ macros.paginate(pages, '.info_balance') }}
{% else %}
	<div class="clearfix alert-message block-message info">
		<p><strong>Список пуст.</strong> Вы еще не совершили ни одного платежа.</p>
	</div>
{% endif %}

{% endblock %}
