{% extends "cabinet/info-layout.html" %}
{% import 'common/transactions.html' as transaction_macros %}

{% set activetab = 'balance' %}

{% block breadcrumbs %}
	{{ super() }}
	{{ macros.breadcrumb('Платежи', url_for('.info_balance')) }}
{% endblock %}

{% block tabcontent %}

{% if g.user.is_customer() %}
<h2>Пополнение счета</h2>

<div class="row">
	<div class="span8">
		<div class="form-container">
			<form id="form-balance-pay" action="" method="post" class="validate">
				<fieldset>
					{{ macros.formfield(form.amount, class='span4') }}
				</fieldset>
				<div class="input">
					<input class="btn primary" type="submit" value="Пополнить баланс"/>
				</div>
			</form>
		</div>
	</div>
	<div class="span7">
		<p>
			Платеж производится в условных единицах (1 у.е. ~ 1 руб.). Введенная сумма будет округлена
			до двух десятичных знаков. Минимальный размер платежа &mdash; 1 у.е., максимальный &mdash;
			<nobr>60 000 000 у.е.</nobr>
		</p>
		<p>
			После того, как вы укажете сумму платежа и нажмете кнопку &laquo;Пополнить счет&raquo;,
			вы будете перенаправлены на сайт платежной системы
			<a href="http://robokassa.ru/" target="_blank">RoboKassa</a>, где сможете выбрать удобный
			для вас способ оплаты.
		</p>
	</div>
</div>
{% endif %}

<h2>История операций</h2>

{% if transactions %}
	{% call(head, transaction) transaction_macros.table(transactions, {}) %}{% endcall %}
	{{ macros.paginate(pages, '.info_balance') }}
{% else %}
	<div class="clearfix alert-message block-message info">
		<p><strong>Список пуст.</strong> По вашему счету не проводилось ни одной операции.</p>
	</div>
{% endif %}

{% endblock %}
