{% extends "cabinet/info-layout.html" %}

{% set activetab = 'info' %}

{% block tabcontent %}
{% with user = g.user %}
<table class="key-value">
	<tbody>
		<tr><th>Ник</th><td>{{ user.nickname }}</td></tr>
		<tr><th>E-mail</th><td>{{ user.email }}</td></tr>
	</tbody>
</table>

{% if user.is_developer() %}
<h2>Разработчик</h2>
<table class="key-value">
	<tbody>
		<tr><th>Баланс</th><td>{{ user.developer_balance }}</td></tr>
	</tbody>
</table>
{% endif %}

{% if user.is_customer() %}
<h2>Рекламодатель</h2>
<table class="key-value">
	<tbody>
		<tr><th>Баланс</th><td>{{ user.customer_balance }}</td></tr>
		<tr><th>Секретный ключ</th><td>{{ user.customer_secret }}</td></tr>
		{% with ref = url_for('site.register', ref=user.get_refcode()) %}
		<tr><th>Реферальная ссылка</th><td><a href="{{ ref }}">http://heymoose.com{{ ref }}</a></td></tr>
		{% endwith %}
		<tr>
			<th>Рефералы</th>
			<td>
				{% for referral in user.referrals %}
				<p><a href="mailto:{{ referral }}">{{ referral }}</a></p>
				{% else %}
				(нет)
				{% endfor %}
			</td>
		</tr>
		<tr><th>Доход от рефералов</th><td>{{ user.revenue }}</td></tr>
	</tbody>
</table>
{% endif %}
{% endwith %}
{% endblock %}
