{% extends "cabinet/info-layout.html" %}

{% set activetab = 'balance' %}

{% block breadcrumbs %}
	{{ super() }}
	{{ macros.breadcrumb('Платежи', url_for('.info_balance')) }}
{% endblock %}

{% block tabcontent %}

<h2>Платеж отменен</h2>

<div class="clearfix alert-message block-message error">
	<p>
		<strong>Платеж на сумму {{ sum|currency }} отменен пользователем.</strong>
		Средства не будут зачислены на ваш счет.
	</p>
	<div class="alert-actions">
		<a class="btn small" href="{{ url_for('.info_balance') }}">Вернуться к списку платежей</a>
	</div>
</div>

{% endblock %}
