{% extends "cabinet/info-layout.html" %}

{% set activetab = 'password' %}

{% block breadcrumbs %}
	{{ super() }}
	{{ macros.breadcrumb('Изменение пароля', url_for('.info_password_change')) }}
{% endblock %}

{% block tabcontent %}

<div class="form-container">
	<form id="form-password-change" action="" method="post" class="widelabels validate">
		<fieldset>
			{{ macros.formfield(form.oldpassword, class='span10') }}
			{{ macros.formfield(form.password, class='span10') }}
			{{ macros.formfield(form.password2, class='span10') }}
		</fieldset>
		<div class="actions">
			<input class="btn primary" type="submit" value="Изменить пароль"/>
		</div>
	</form>
</div>

{% endblock %}
