{% extends "cabinet/orders-info-layout.html" %}

{% block breadcrumbs %}
	{{ super() }}
	{{ macros.breadcrumb('Баннеры', url_for('.orders_info_banners', id=order.id)) }}
{% endblock %}

{% set activetab = 'banners' %}

{% block extrahead %}
	{{ super() }}
	<script type="text/javascript">
		$(function() {
			/*$('form.ajax').ajaxForm({
				beforeSubmit: function() { return confirm('Удалить баннер?'); },
				success: function(data, textStatus) {
					$('#table-banner-' + data).hide();
				},
				error: function(xhr, textStatus) {
					alert('Не удалось удалить баннер. Ошибка ' + xhr.status);
				}
			});*/
			
			$('form.ajax').submit(function() { return confirm('Удалить баннер?'); });
		})
	</script>
{% endblock %}

{% block tabcontent %}

{% if order.banners %}
	{% if form %}
	<h2>Загрузка нового баннера</h2>
	<div class="form-container">
		<form id="form-banner" action="" method="post" enctype="multipart/form-data" class="widelabels validate">
			<fieldset>
				{{ macros.formfield(form.size, class='span4') }}
				{{ macros.formfield(form.image, pad_description=True) }}
			</fieldset>
			<div class="actions">
				<input class="btn primary" type="submit" value="Загрузить"/>
			</div>
		</form>
	</div>
	{% else %}
	<div class="clearfix alert-message block-message warning">
		<p>
			<strong>Загрузка баннеров невозможна.</strong>
			Вы уже загрузили баннеры всех доступных размеров. Удалите один из баннеров
			для загрузки нового.
		</p>
		<div class="alert-actions">
			<a class="btn small" href="{{ url_for('.apps_new') }}">Добавить приложение</a>
		</div>
	</div>
	{% endif %}

	<h2>Загруженные баннеры</h2>
	{% for banner in order.banners %}
	<table id="table-banner-{{ banner.id }}" class="key-value">
		<tbody>
			<tr>
				<th>Размер</th>
				<td><p>{{ banner.size.width }} x {{ banner.size.height }}</p></td>
				<td width="1%">
					{% if order.banners|length > 1 %}
					<form method="post" action="{{ url_for('.orders_info_banners_delete', id=order.id, bid=banner.id)}}" class="inline ajax">
						<input type="submit" class="btn danger" value="Удалить" />
					</form>
					{% endif %}
				</td>
			</tr>
			<tr><td colspan="3"><img src="data:image/png;base64,{{ banner.image -}}" alt="изображение" class="fit-width" /></td></tr>
		</tbody>
	</table>
	{% endfor %}
{% else %}
{% endif %}

{% endblock %}
