{% extends "cabinet/orders-info-layout.html" %}

{% set activetab = 'info' %}

{% block extrahead %}
	{{ super() }}
	<script type="text/javascript">
		$(function() {
			var urlPlay = "{{ url_for('.ajax_orders_info_play', id=order.id) }}";
			var urlPause = "{{ url_for('.ajax_orders_info_pause', id=order.id) }}";
			
			$('.order-playing').find('.btn').click(function() {
				$.post(urlPause)
					.success(function() {
						$('.order-playing').hide();
						$('.order-paused').show();
						$('.order-active').hide();
						$('.order-inactive').show();
					})
					.error(function(xhr, textStatus) {
						alert('Не удалось изменить состояние заказа. Ошибка ' + xhr.status);
					});
				return false;
			});
			
			$('.order-paused').find('.btn').click(function() {
				$.post(urlPlay)
					.success(function() {
						$('.order-paused').hide();
						$('.order-playing').show();
						if (!$('#order-zero').length) {
							$('.order-inactive').hide();
							$('.order-active').show();
						}
					})
					.error(function(xhr, textStatus) {
						alert('Не удалось изменить состояние заказа. Ошибка ' + xhr.status);
					});
				return false;
			});
		})
	</script>
{% endblock %}

{% block tabcontent %}

{% set order_active = not order.disabled and not order.paused and order.account.balance >= order.cpa %}

<div class="clearfix alert-message block-message success order-active"
	style="{% if not order_active %}display: none;{% endif %}">
	<p><strong>Статус заказа:</strong> заказ АКТИВЕН.</p>
</div>
<div class="clearfix alert-message block-message error order-inactive"
	style="{% if order_active %}display: none;{% endif %}">
	<p><strong>Статус заказа:</strong> заказ НЕ АКТИВЕН.</p>
</div>

{% if not order.disabled %}
	<div class="clearfix alert-message block-message success order-playing"
		style="height: 30px; {% if order.paused %}display: none;{% endif %}">
		<strong>Заказ включен.</strong>
		<button class="btn small float-right" href="#"><b>Отключить</b></button>
	</div>
	<div class="clearfix alert-message block-message error order-paused"
		style="height: 30px; {% if not order.paused %}display: none;{% endif %}">
		<strong>Заказ отключен.</strong>
		<button class="btn small float-right" href="#"><b>Включить</b></button>
	</div>
{% else %}
	<div class="clearfix alert-message block-message error">
		<p>
			<strong>Заказ находится на модерации.</strong> Созданный заказ станет активным после
			проверки администрацией.
		</p>
	</div>
{% endif %}

{% if order.account.balance < order.cpa %}
	<div id="order-zero" class="clearfix alert-message block-message error" style="height: 30px;">
		<strong>Недостаток средств.</strong> На счету заказа недостаточно средств для показа баннеров. 
		<a class="btn small float-right" href="{{ url_for('.orders_info_balance', id=order.id) }}">
			<b>Пополнить счет</b>
		</a>
	</div>
{% endif %}

<table class="key-value">
	<tbody>
		<tr><th>Название</th><td>{{ order.title }}</td></tr>
		<tr><th>Тип</th><td>{{ macros.order_type(order.type) }}</td></tr>
		<tr><th>URL</th><td><a href="{{ order.url }}" target="_blank">{{ order.url }}</a></td></tr>
		<tr><th>Создан</th><td>{{ order.creation_time|datetimeformat }}</td></tr>
	</tbody>
</table>

{% if order.is_regular() %}
<h2>Отображение оффера</h2>
<table class="key-value">
	<tbody>
		<tr><th>Описание</th><td><p>{{ order.description }}</p></td></tr>
		<tr><td colspan="2"><img src="data:image/png;base64,{{ order.image -}}" alt="изображение" class="fit-width" /></td></tr>
	</tbody>
</table>
{% endif %}

{% if order.is_video() %}
<h2>Видеозапись</h2>
<table class="key-value">
	<tbody>
		<tr><th>URL</th><td><p>{{ order.video_url }}</p></td></tr>
	</tbody>
</table>
{% endif %}

<h2>Счет и ставки</h2>
<table class="key-value">
	<tbody>
		<tr><th>Баланс</th><td>{{ order.account.balance|currency }}</td></tr>
		<tr><th>Стоимость клика</th><td>{{ order.cpa|currency }}</td></tr>
	</tbody>
</table>

<h2>Таргетинг</h2>
<table class="key-value">
	<tbody>
		<tr><th>Пол</th><td>{{ macros.order_gender(order.male) }}</td></tr>
		<tr><th>Возраст</th><td>{{ macros.order_age(order.min_age, order.max_age) }}</td></tr>
		<tr><th>Время показа</th><td>{{ macros.order_hour(order.min_hour, order.max_hour) }}</td></tr>
		<tr><th>Города</th><td>{{ macros.order_city_filter_type(order.city_filter_type) }}</td></tr>
		{% if order.city_filter_type %}
		<tr><th></th><td>{{ order.cities|attrlist('name')|join(', ') }}</td></tr>
		{% endif %}
	</tbody>
</table>

{% endblock %}
