{% extends "cabinet/orders-layout.html" %}
{% import 'common/orders.html' as order_macros %}

{% set activetab = 'list' %}

{% set orders_config = {
	'stats' : { 'url' : url_for('.ajax_orders_ctr', id=orders|attrlist('offer_id')) },
	'scroll-x' : true,
	'active' : true
} %}

{% block extrahead %}
	{{ super() }}
	{{ order_macros.js(orders, orders_config) }}
{% endblock %}

{% block tabcontent %}
{% if orders %}
	{% call(head, order) order_macros.table(orders, orders_config) %}{% endcall %}
	{{ macros.paginate(pages, '.orders') }}
{% else %}
	<div class="clearfix alert-message block-message info">
		<p><strong>Список пуст.</strong> Вы еще не создали ни одного заказа.</p>
		<div class="alert-actions">
			<a class="btn small" href="{{ url_for('.orders_new') }}">Создать заказ</a>
		</div>
	</div>
{% endif %}

{% endblock %}
