{% extends "cabinet/orders-layout.html" %}

{% block extrahead %}
	{{ super() }}
	<script type="text/javascript">
		$(function() {
			var type = '{{ ordertype }}';
			var handlers = { error: showError, clear: clearError };
			$('#form-order-regular').validateForm(handlers);
			$('#form-order-banner').validateForm(handlers);
			$('#form-order-video').validateForm(handlers);
			
			$('#order-type').change(function() {
				$('.form-container').fadeOut(300);
				$('#container-' + $(this).val()).fadeIn(300);
			});
			$('#order-type').val(type);
			$('#container-' + type).show();
		});
	</script>
{% endblock %}

{% set activetab = 'new' %}

{% block breadcrumbs %}
	{{ super() }}
	{{ macros.breadcrumb('Создание заказа', url_for('.orders_new')) }}
{% endblock %}

{% block tabcontent %}

{% if g.user.customer_balance > 0 %}
	<div class="widelabels">
		<div class="well clearfix">
			<label for="ordertype" class="bold">Выберите тип заказа</label>
			<div class="input">
				<select id="order-type" class="span10">
					<option value="regular">Обычный</option>
					<option value="banner">Баннер</option>
					<option value="video">Видео</option>
				</select>
			</div>
		</div>
		{% with form = rform %}
		<div id="container-regular" class="form-container" style="display: none;">
			<form id="form-order-regular" action="" method="post" enctype="multipart/form-data" class="widelabels">
				<input type="hidden" name="ordertype" value="REGULAR" />
				{{ macros.formfield(form.ordername, class='span10') }}
				{{ macros.formfield(form.orderdesc, class='span10', rows=5) }}
				{{ macros.formfield(form.orderbalance, class='span4', max_range=g.user.customer_balance,
					inline='Ваш баланс {0} руб'.format(g.user.customer_balance)) }}
				{{ macros.formfield(form.ordercpa, class='span4') }}
				{{ macros.formfield(form.orderurl, class='span10') }}
				{{ macros.formfield(form.orderautoapprove) }}
				{{ macros.formfield(form.orderallownegativebalance) }}
				{{ macros.formfield(form.ordermale, class='span4') }}
				{{ macros.formfield(form.orderminage, class='span4', placeholder='любой') }}
				{{ macros.formfield(form.ordermaxage, class='span4', placeholder='любой') }}
				{{ macros.formfield(form.orderimage) }}
				<div class="actions">
					<input class="btn large primary" type="submit" value="Создать заказ"/>
				</div>
			</form>
		</div>
		{% endwith %}
		
		{% with form = bform %}
		<div id="container-banner" class="form-container" style="display: none;">
			<form id="form-order-banner" action="" method="post" enctype="multipart/form-data" class="widelabels">
				<input type="hidden" name="ordertype" value="BANNER" />
				{{ macros.formfield(form.ordername, class='span10') }}
				{{ macros.formfield(form.orderbalance, class='span4', max_range=g.user.customer_balance,
					inline='Ваш баланс {0} руб'.format(g.user.customer_balance)) }}
				{{ macros.formfield(form.ordercpa, class='span4') }}
				{{ macros.formfield(form.orderurl, class='span10') }}
				{{ macros.formfield(form.orderautoapprove) }}
				{{ macros.formfield(form.orderallownegativebalance) }}
				{{ macros.formfield(form.ordermale, class='span4') }}
				{{ macros.formfield(form.orderminage, class='span4', placeholder='любой') }}
				{{ macros.formfield(form.ordermaxage, class='span4', placeholder='любой') }}
				{{ macros.formfield(form.orderimage) }}
				<div class="actions">
					<input class="btn large primary" type="submit" value="Создать заказ"/>
				</div>
			</form>
		</div>
		{% endwith %}
		
		{% with form = vform %}
		<div id="container-video" class="form-container" style="display: none;">
			<form id="form-order-video" action="" method="post" enctype="multipart/form-data" class="widelabels">
				<input type="hidden" name="ordertype" value="VIDEO" />
				{{ macros.formfield(form.ordername, class='span10') }}
				{{ macros.formfield(form.orderbalance, class='span4', max_range=g.user.customer_balance,
					inline='Ваш баланс {0} руб'.format(g.user.customer_balance)) }}
				{{ macros.formfield(form.ordercpa, class='span4') }}
				{{ macros.formfield(form.orderurl, class='span10') }}
				{{ macros.formfield(form.ordervideourl, class='span10') }}
				{{ macros.formfield(form.orderautoapprove) }}
				{{ macros.formfield(form.orderallownegativebalance) }}
				{{ macros.formfield(form.ordermale, class='span4') }}
				{{ macros.formfield(form.orderminage, class='span4', placeholder='любой') }}
				{{ macros.formfield(form.ordermaxage, class='span4', placeholder='любой') }}
				<div class="actions">
					<input class="btn large primary" type="submit" value="Создать заказ"/>
				</div>
			</form>
		</div>
		{% endwith %}
	</div>
{% else %}
	<div class="clearfix alert-message block-message error">
		<p>
			<strong>Недостаточно средств.</strong> На вашем счету не хватает средств для создания заказа.
		</p>
		<div class="alert-actions">
			<a class="btn small" href="{{ url_for('.balance_pay') }}">Пополнить баланс</a>
		</div>
	</div>
{% endif %}

{% endblock %}
