{% extends "cabinet/orders-info-layout.html" %}

{% set activetab = 'info' %}

{% block extrahead %}
	{{ super() }}
	<script type="text/javascript">
		$(function() {
			var urlPlay = "{{ url_for('.ajax_orders_info_play', id=order.id) }}";
			var urlPause = "{{ url_for('.ajax_orders_info_pause', id=order.id) }}";
			
			$('.order-playing').find('.btn').click(function() {
				$.post(urlPause)
					.success(function() {
						$('.order-playing').hide();
						$('.order-paused').show();
					})
					.error(function(xhr, textStatus) {
						alert('Не удалось изменить состояние заказа. Ошибка ' + xhr.status);
					});
				return false;
			});
			
			$('.order-paused').find('.btn').click(function() {
				$.post(urlPlay)
					.success(function() {
						$('.order-paused').hide();
						$('.order-playing').show();
					})
					.error(function(xhr, textStatus) {
						alert('Не удалось изменить состояние заказа. Ошибка ' + xhr.status);
					});
				return false;
			});
		})
	</script>
{% endblock %}

{% block tabcontent %}

{% if not order.disabled %}
	<div class="clearfix alert-message block-message success order-playing"
		style="height: 30px; {% if order.paused %}display: none;{% endif %}">
		<strong>Заказ активен.</strong> Производятся показы баннеров.
		<button class="btn small float-right" href="#"><b>Приостановить показы</b></button>
	</div>
	<div class="clearfix alert-message block-message error order-paused"
		style="height: 30px; {% if not order.paused %}display: none;{% endif %}">
		<strong>Заказ неактивен.</strong> Показы баннеров не производятся.
		<button class="btn small float-right" href="#"><b>Возобновить показы</b></button>
	</div>
{% else %}
	<div class="clearfix alert-message block-message error">
		<p>
			<strong>Заказ находится на модерации.</strong> Созданный заказ станет активным после
			проверки администрацией.
		</p>
	</div>
{% endif %}

<table class="key-value">
	<tbody>
		<tr><th>Название</th><td>{{ order.title }}</td></tr>
		<tr><th>Тип</th><td>{{ macros.order_type(order.type) }}</td></tr>
		<tr><th>URL</th><td><a href="{{ order.url }}" target="_blank">{{ order.url }}</a></td></tr>
		<tr><th>Создан</th><td>{{ order.creation_time|datetimeformat }}</td></tr>
	</tbody>
</table>

{% if order.is_regular() %}
<h2>Отображение оффера</h2>
<table class="key-value">
	<tbody>
		<tr><th>Описание</th><td><p>{{ order.description }}</p></td></tr>
		<tr><td colspan="2"><img src="data:image/png;base64,{{ order.image -}}" alt="изображение" class="fit-width" /></td></tr>
	</tbody>
</table>
{% endif %}

{% if order.is_video() %}
<h2>Видеозапись</h2>
<table class="key-value">
	<tbody>
		<tr><th>URL</th><td><p>{{ order.video_url }}</p></td></tr>
	</tbody>
</table>
{% endif %}

<h2>Счет и ставки</h2>
<table class="key-value">
	<tbody>
		<tr><th>Баланс</th><td>{{ order.balance|currency }}</td></tr>
		<tr><th>Стоимость клика</th><td>{{ order.cpa|currency }}</td></tr>
	</tbody>
</table>

<h2>Таргетинг</h2>
<table class="key-value">
	<tbody>
		<tr><th>Пол</th><td>{{ macros.order_gender(order.male) }}</td></tr>
		<tr><th>Возраст</th><td>{{ macros.order_age(order.min_age, order.max_age) }}</td></tr>
		<tr><th>Время показа</th><td>{{ macros.order_hour(order.min_hour, order.max_hour) }}</td></tr>
		<tr><th>Города</th><td>{{ macros.order_city_filter_type(order.city_filter_type) }}</td></tr>
		{% if order.city_filter_type %}
		<tr><th></th><td>{{ order.cities|attrlist('name')|join(', ') }}</td></tr>
		{% endif %}
	</tbody>
</table>

{% endblock %}
