{% extends "cabinet/layout.html" %}

{% block title %}Заказы{% endblock %}

{% set activemenu = 'orders' %}

{% block extrahead %}
{% set activetab = activetab|default('list') %}
<script type="text/javascript">
	$(function() { 
		$('li#tab-{{ activetab }}').addClass('active');
	})
</script>
{% endblock %}

{% block breadcrumbs %}
	{{ super() }}
	{{ macros.breadcrumb(self.title(), url_for('.orders')) }}
{% endblock %}

{% block pageheader %}<h1>{{ self.title() }}</h1>{% endblock %}

{% block content %}

{% if g.user.is_customer() %}
	<ul class="tabs">
		<li id="tab-list"><a href="{{ url_for('.orders') }}">Список</a></li>
		<li id="tab-new"><a href="{{ url_for('.orders_new') }}">Создать заказ</a></li>
	</ul>
	
	{% block tabcontent %}<p>Раздел находится в разработке.</p>{% endblock %}
{#
{% else %}
	<div class="clearfix alert-message block-message error">
		<p>
			<strong>Вы не являетесь рекламодателем.</strong> Однако, вы можете легко это исправить,
			нажав кнопку ниже.
		</p>
		<div class="alert-actions">
			<a class="btn small" href="{{ url_for('.become_customer') }}"
			onclick="return confirm('Получить функционал рекламодателя?');">Запросить функционал рекламодателя</a>
		</div>
	</div>
#}
{% endif %}

{% endblock %}
