{% extends "cabinet/orders-info-layout.html" %}

{% set activetab = 'edit' %}

{% block extrahead %}
	{{ super() }}
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='./css/token-input-twitter.css') }}" media="screen" />
	<script type="text/javascript" src="{{ url_for('static', filename='./js/jquery.tokeninput.js') }}"></script>
	<script type="text/javascript">
		$(function() {
			var cities = {{ cities|tojson|safe }};
			var orderCities = {{ order_cities|tojson|safe }};
			$('input.cities').tokenInput(cities, {
				theme: 'twitter',
				preventDuplicates: true,
				prePopulate: orderCities,
				hintText: 'Введите название города',
				noResultsText: 'Не найдено',
				searchingText: 'Поиск...'
			});
			
			$('form').bind('keypress', function(e) { if (e.keyCode == 13) return false; });
		})
	</script>
{% endblock %}

{% block tabcontent %}

<div class="form-container">
	<form id="form-order-regular" action="" method="post" enctype="multipart/form-data" class="widelabels validate">
		<fieldset>
			<input type="hidden" name="ordertype" value="REGULAR" />
			{{ macros.formfield(form.ordername, class='span10') }}
			{{ macros.formfield(form.orderurl, class='span10') }}
			{{ macros.formfield(form.orderbalance, class='span4', max_range=g.user.customer_balance, disabled='disabled') }}
			{{ macros.formfield(form.ordercpa, class='span4', disabled='disabled') }}
			{{ macros.formfield(form.orderallownegativebalance,
				inline='(разрешить отрицательный баланс)') }}
			{{ macros.formfield(form.orderautoapprove) }}
			{{ macros.formfield(form.orderreentrant,
				inline='(разрешить одному пользователю проходить оффер много раз)') }}
		</fieldset>
		{% if order.is_regular() %}
		<fieldset>
			<legend>Оффер</legend>
			{{ macros.formfield(form.orderdesc, class='span10', rows=5) }}
			{{ macros.formfield(form.orderimage) }}
		</fieldset>
		{% elif order.is_banner() %}
		<fieldset>
			<legend>Баннер</legend>
			{{ macros.formfield(form.orderbannersize, class='span4') }}
			{{ macros.formfield(form.orderimage) }}
		</fieldset>
		{% elif order.is_video() %}
		<fieldset>
			<legend>Видеозапись</legend>
			{{ macros.formfield(form.ordervideourl, class='span10') }}
		</fieldset>
		{% endif %}
		<fieldset>
			<legend>Настройки таргетинга</legend>
			{{ macros.formfield(form.ordermale, class='span4') }}
			{{ macros.formfield(form.orderminage, class='span4', placeholder='любой') }}
			{{ macros.formfield(form.ordermaxage, class='span4', placeholder='любой') }}
			{{ macros.formfield(form.ordercitiesfilter, class='span4') }}
			{{ macros.formfield(form.ordercities, class='cities') }}
		</fieldset>
		<div class="actions">
			<input class="btn large primary" type="submit" value="Подтвердить"/>
		</div>
	</form>
</div>

{% endblock %}
