/* Main page blocks*/
.b-body{
    font-family:"Times New Roman", Times, serif;
    font-style: normal;
    font-size: 100%;
    width: 100%;
    background-color: white;
    margin: 0;
    padding: 0;
}

.b-header{
    position: relative;
    margin:10px auto 2px;
    padding: 2px;
    top: 0;
    background-color: gray;
    width: 750px;
    height: 70px;
    border-style: solid;
    border-color: #a9a9a9;
}

.b-maincontent{
    position: relative;
    bottom: 0;
    margin: 0 auto 0;
    width: 700px;
    padding: 0;
    height: auto;
}

.b-footer{
    position: relative;
    top: -10px;
    margin: 0 auto 0;
    padding: 0;
    width: 700px;
    height: auto;
    background-color: #696969;
}

/* b-header elements*/

.b-header__logo{
    position: absolute;
    top: 0;
    left: 0;
    margin: 5px 10px;
    height: auto;
    width: auto;
}

.b-header__menu{
    position: absolute;
    bottom: 0;
    right: 0;
    margin: 5px 10px;
}

.b-header__menu__list{
    position: relative;
    margin: 0;
}

.b-header__menu__item{
    display: inline;
    padding: 0 10px;
    font-family: 'Trebuchet MS', Helvetica, sans-serif;
    font-size: 15px;
    font-style: normal;
    font-variant: normal;
}
.m-header__menu__style .b-header__menu__item{
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    -webkit-background-clip: padding-box;
    border-radius: 5px;
    background-color: #dcdcdc;
    text-decoration: none;
}

.m-header__menu__style .b-header__menu__item a{
    text-decoration: none;
}

.b-header__menu__item:hover{
    background-color: #6495ed;
    text-decoration: none;
}

/* b-footer elements */
.b-footer__copyright{
    text-align: center;
    text-shadow: aqua;
}