{% extends "admin/offers/layout.html" %}
{% import "common/offers.html" as offer_macros %}

{% set content_fluid = true %}
{% set activetab = 'list' %}

{% block extrahead %}
	{{ super() }}
	{{ offer_macros.head() }}
{% endblock %}

{% block tabcontent %}

{% if offers %}
	{{ offer_macros.table(offers, status=true, admin=true) }}
	{{ macros.paginate(pages, '.offers_list') }}
{% else %}
	<div class="clearfix alert-message block-message info">
		<p><strong>Список пуст.</strong> Еще не было создано ни одного оффера.</p>
	</div>
{% endif %}

{% endblock %}