.roundbox {
	border: 1px solid #DDD;
	border-radius: 10px;
	margin-bottom: 20px;
}

.roundbox > :first-child {
	border-top-left-radius: 10px;
	border-top-right-radius: 10px;
}

.roundbox > :last-child {
	border-bottom-left-radius: 10px;
	border-bottom-right-radius: 10px;
}

.roundbox-header {
	border-bottom: 1px solid #DDD;
	font-weight: bold;
	text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
	background-image: -moz-linear-gradient(center top, #FFFFFF, #FFFFFF 25%, #E6E6E6);
	background-image: -webkit-linear-gradient(top, #FFFFFF, #FFFFFF 25%, #E6E6E6);
	background-color: #E6E6E6;
}

.roundbox-header-link {
	float: right;
	font-weight: normal;
	text-shadow: none;
}

.roundbox-content {

}

.roundbox-header, .roundbox-content {
	padding: 10px;
}

.roundbox-header + .roundbox-content {
	border-top: none;
}

/* MODIFIERS */

.roundbox.roundbox--shadowed {
	border: none;
	box-shadow: 1px 2px 3px rgba(0, 0, 0, 0.5);
}

.roundbox.roundbox--primary,
.roundbox.roundbox--success,
.roundbox.roundbox--warning,
.roundbox.roundbox--danger {
	border: none;
}

.roundbox.roundbox--primary .roundbox-header,
.roundbox.roundbox--success .roundbox-header,
.roundbox.roundbox--warning .roundbox-header,
.roundbox.roundbox--danger .roundbox-header {
	border: none;
	color: #FFF;
}

.roundbox.roundbox--primary .roundbox-header-link,
.roundbox.roundbox--success .roundbox-header-link,
.roundbox.roundbox--warning .roundbox-header-link,
.roundbox.roundbox--danger .roundbox-header-link {
	color: #FFF;
}

.roundbox.roundbox--primary .roundbox-header {
	background-image: -moz-linear-gradient(center top, #049CDB, #0064CD);
	background-image: -webkit-linear-gradient(top, #049CDB, #0064CD);
	background-color: #0064CD;
}

.roundbox.roundbox--primary .roundbox-content {
	background-color: #DDF4FB;
}

.roundbox.roundbox--success .roundbox-header {
	background-image: -moz-linear-gradient(center top, #62C462, #57A957);
	background-image: -webkit-linear-gradient(top, #62C462, #57A957);
	background-color: #57A957;
}

.roundbox.roundbox--success .roundbox-content {
	background-color: #D1EED1;
}

.roundbox.roundbox--warning .roundbox-header {
	background-image: -moz-linear-gradient(center top , #FBB450, #F89406);
	background-image: -webkit-linear-gradient(top , #FBB450, #F89406);
	background-color: #FAA732;
}

.roundbox.roundbox--warning .roundbox-content {
	background-color: #FDF5D9;
}

.roundbox.roundbox--danger .roundbox-header {
	background-image: -moz-linear-gradient(center top , #EE5F5B, #C43C35);
	background-image: -webkit-linear-gradient(top , #EE5F5B, #C43C35);
    background-color: #C43C35;
}

.roundbox.roundbox--danger .roundbox-content {
	background-color: #FDDFDE;
}
