/*
 *
 *
 *   Стили для социальной панели
 *   
 *   author: http://dimox.name
 *
 *
 * */

#socializ {
	display: inline-block;
	border: 1px solid #E5E5E5;
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
	border-radius: 4px;
	padding: 6px 0 6px 6px;
	/*background: #FFF;*/
	overflow: hidden;
	
	float: right;
	
	/*opacity: 0.6; 
    -moz-opacity: 0.6; 
    filter: alpha(opacity=60);*/
    
}

* html #socializ {
	display: inline
}

*+ html #socializ {
	display: inline
}

#socializ:hover {
	/*background: #F6F6F6;*/
	border: 1px solid #D4D4D4;
	-moz-box-shadow: 0 0 5px #ddd;
	-webkit-box-shadow: 0 0 5px #ddd;
	box-shadow: 0 0 5px #ddd;
}

#socializ a {
	float: left;
	width: 32px;
	height: 32px;
	margin: 0 6px 0 0;
	padding: 0;
	/*background-color: #F6F6F6;*/
}

#socializ img {
	margin: 0 !important;
	padding: 0 !important;
	border: none !important;
}