# Aptana Studio
.project
.pydevproject
.settings/*

# Sublime Text 2
*.sublime-workspace
.codeintel/*

# Python
*.pyc

# Debian Packaging
debian
frontend_deb.tar.gz
frontend_deb.tar.gz.cdbs-config_list