<link rel="stylesheet" href="{{ url_for('static', filename='./facebook_app/css/about.css') }}" />
<div class="b-about i-block">
    <p class="b-about__message i-desc">
        Lenty.ru 10 самых интересных новостей за сегодня: 1. В Дагестане 11-классник расстрелял школьников из автомата
        (151) Ученик 11-го класса открыл стрельбу из автомата и ранил двух других школьников в Тарумовском районе
        Дагестана. Автомат в лагерь принесли полицейские, проводившие занятия с подростками. После показа учащимся
        штатного оружия они на какое-то время оставили автомат АКМ без присмотра. Жизни пострадавших - [grani.ru] 2. "Не
        стоит уподобляться сербам" (136) После поражения от сборной Фран...
    </p>
</div>