<div class="b-about">
       <p>HeyMoose это система, которая платит пользователям за выполнение, рекламных предложений.</p>
</div>

<div class="b-friends">
<script type="text/javascript">
FB.ui(
  {
    method: 'feed',
    attachment: {
      name: 'JSSDK',
      caption: 'The Facebook JavaScript SDK',
      description: (
        'A small JavaScript library that allows you to harness ' +
        'the power of Facebook, bringing the user\'s identity, ' +
        'social graph and distribution power to your site.'
      ),
      href: 'http://fbrell.com/'
    },
    action_links: [
      { text: 'fbrell', href: 'http://fbrell.com/' }
    ]
  },
  function(response) {
    if (response && response.post_id) {
      alert('Post was published.');
    } else {
      alert('Post was not published.');
    }
  }
);
</script>
</div>
