<link rel="stylesheet" href="{{ url_for('.static', filename='./facebook_app/css/about.css') }}" />
<div class="b-about i-block">
    <p class="b-about__message i-desc">
        Компания heymoose позволяет экономить при покупках в сети,
        выполняйте офферы(рекламные предложения), и получайте бонусы,
        которые можно обменять на деньги, либо на подарки.
        Приглашайте людей в приложение, и вы сможите получать процент от их дохода.
        Постройте свою сеть, и получайте пассивный доход.
    </p>
</div>