<div class="b-faq">
            <h1>
                FAQs: часто задаваемые вопросы
            </h1>
            <ul>
                <li><a href="#q1">Что такое HeyMoose?</a></li>
                <li><a href="#q2">Что такое рекламное предложение?</a></li>
            </ul>
            <h3 id="q1">Что такое HeyMoose?</h3>
            <p>HeyMoose это система, которая платит пользователям за выполнение, рекламных предложений.</p>
            <h3 id="q1">Что такое рекламное предложение?</h3>
            <p>Рекламное предложение это действие, за которое платит рекламодатель.</p>
 </div>
