<div class="b-help">
           <h1>
              Отправьте ваш вопрос или пожелание.
           </h1>
           <form method="post" action="/feedback">
                    <h5>Ваш email:</h5>
                    <input class="inp-bg" id="email" maxlength="150" name="email" size="15" type="text" value="">
                    <h5>Сообщение:</h5>
                    <textarea class="textarea-bg" cols="40" id="comment" name="comment" rows="3"></textarea>
                   <input type="submit" class="send" value="Отправить">
           </form>
</div>
