<html>
<head>
    <script type="text/javascript">
        var new_location = "{{g.params.SERVICE_URL}}";
        new_location += "{{g.params.OAUTH_DIALOG_PATH}}" + "?";
        var params = "scope=" + encodeURIComponent("{{g.params.scope}}");
        params += "&" + "redirect_uri=" + encodeURIComponent("{{g.params.redirect_url}}");
        params += "&" + "client_id=" + encodeURIComponent("{{g.params.client_id}}");
        new_location += params;
        top.location.href= (new_location);
    </script>
</head>
<body>
</body>
</html>