<link rel="stylesheet" href="{{ url_for('.static', filename='./facebook_app/css/stat.css') }}" />
<div class="b-main__boxbalance i-block">
    <label class="b-boxbalance__title i-main_title i-common_tab">В вашей копилке: <span
            class="b-boxbalance__balance i-common_score">{{g.params.balance}}</span> очков</label>

    <p class="b-boxbalance__desc i-common_text">Вы можете выбрать подарок с учетом ваших очков, и подарить его другу.</p>
    <p class="b-boxbalance__desc i-common_text">Пригласите человека в приложение, и получайте процент от его дохода.</p>
    <p class="b-boxbalance__desc i-common_text"><input class="b-invite_button i-button" value="Пригласить"/></p>
</div>
<div class="b-main__offersdone i-block">
    <label class="b-offersdone__title i-main_title i-common_tab">Вы участвовали в {{g.params.offers_count}} офферах.</label>
</div>
<div class="b-main__invites i-block">
    <label class="b-invites__title i-main_title i-common_tab">Приглашения:</label>
    {% if g.params.invites %}
        <fb:user-table cols="3">
        {% for invite in g.params.invites %}
            {% if invite.from_id == g.performer.user_id %}
            <label class="b-invites_label i-common_text"><fb:user-item uid="{{invite.to_id}}"/></label>
            {% else %}
            <label class="b-invites_label i-common_text"><fb:user-item uid="{{invite.from_id}}"/></label>
            {% endif %}
        {%endfor%}
        </fb:user-table>
    {% else %}
    <div class="b-main__noinvites">
        <label class="b-main__noinvites i-common_text">Упс, вы пока никого не пригласили.</label>
    </div>
    {% endif %}
</div>
<div class="b-main__giftsdone i-block">
    <label class="b-giftsdone__title i-main_title i-common_tab">Ваши подарки:</label>
    {% if g.params.gifts %}
        {% for gift_action in g.params.gifts %}
            {% if gift_action.to_id %}
                <div class="b-giftsdone__gift">
                    <img class="b-giftsdone__img" src="data:image;base64,{{gift_action.gift.data|base64filter}}"/>
                    <label class="b-giftsdone__label i-common_text">Вы подарили:<fb:user-item uid="{{gift_action.to_id}}"/></label>
                </div>
            {% else %}
                <div class="b-giftsdone__gift">
                    <img class="b-giftsdone__img" src="data:image;base64,{{gift_action.gift.data|base64filter}}"/>
                    <label class="b-giftsdone__label i-common_text">Вам подарил:<fb:user-item uid="{{gift_action.from_id}}"/></label>
                </div>
            {% endif %}
        {% endfor %}
    {% else %}
    <div class="b-giftsdone__gift">
    <label class="b-giftsdone__label i-common_text">Вы пока никому не дарили подарков</label>
    </div>
    {% endif %}
</div>
{% raw %}
<script type="text/x-template" id="dialogTemplate">
    <div class="i-dialog i-pm">
        <div class="i-dialog_title i-ps i-prm i-plm"><h4>{{{title}}}</h4></div>
        <div class="i-pm i-dialog_content">
            {{{text}}}
        </div>
        <div class="i-ps i-prm i-plm i-dialog_buttons i-clearfix i-tar">
            <input type="button" class="i-button" value="Close"/>
        </div>
    </div>
</script>
{% endraw %}
<div class="hidden">
    <script type="text/javascript" src="{{ url_for('.static', filename='./facebook_app/js/mustache.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('.static', filename='./facebook_app/js/stat.js') }}"></script>
</div>

