<link rel="stylesheet" href="{{ url_for('static', filename='./facebook_app/css/stat.css') }}" />
<div class="b-main__boxbalance i-block">
    <label class="b-boxbalance__title i-main_title i-common_tab">В вашей копилке: <span
            class="b-boxbalance__balance i-common_score">10</span> очков</label>

    <p class="b-boxbalance__desc i-common_text">Вы можете выбрать подарок с учетом ваших очков и подарить его другу.</p>
</div>
<div class="b-main__offersdone i-block">
    <label class="b-offersdone__title i-main_title i-common_tab">Выполненные задания:</label>

    <div class="b-offersdone__offer">
        <label class="b-offersdone__offer_title i-adv_title">flattr - биржа для зароботка</label>
        <a class="b-offersdone__offer_href" href="#">Посмотреть</a>
    </div>
    <div class="b-offersdone__offer">
        <label class="b-offersdone__offer_title i-adv_title">flattr - биржа для зароботка</label>
        <a class="b-offersdone__offer_href" href="#">Посмотреть</a>
    </div>
    <div class="b-offersdone__offer">
        <label class="b-offersdone__offer_title i-adv_title">flattr - биржа для зароботка</label>
        <a class="b-offersdone__offer_href" href="#">Посмотреть</a>
    </div>
</div>

<div class="b-main__giftsdone i-block">
    <label class="b-giftsdone__title i-main_title i-common_tab">Ваши подарки:</label>

    <div class="b-giftsdone__gift">
        <img class="b-giftsdone__img" src="./image1.jpg"/>
        <label class="b-giftsdone__label i-common_text">Вы подарили:<span
                class="b-giftsdone__friend">Мише</span></label>
    </div>
    <div class="b-giftsdone__gift">
        <img class="b-giftsdone__img" src="./image2.jpg"/>
        <label class="b-giftsdone__label i-common_text">Вам подарила:<span
                class="b-giftsdone__friend">Оля</span></label>
    </div>
</div>