{% extends "cabinetcpa/offers/info/layout.html" %}
{% import 'common/suboffers.html' as suboffer_macros %}
{% import 'common/forms/offer.html' as offer_form %}

{% set activetab = 'actions' %}

{% block extrahead %}
	{{ super() }}
	{{ offer_form.suboffer_head() }}
{% endblock %}

{% set advertiser_is_owner = g.user.is_advertiser and offer.owned_by(g.user) %}

{% block tabcontent %}

{% call(head, suboffer) suboffer_macros.table(offer.all_suboffers) %}
	{% if advertiser_is_owner %}
		{% if head %}
		<th class="header">Код</th>
		<th class="header center"></th>
		{% else %}
		<td>{{ suboffer.code }}</td>
		<td class="center">
			<a href="#" data-controls-modal="suboffer-modal-{{ suboffer.id -}}"
			 data-backdrop="true" data-keyboard="true">изменить</a>
			<div id="suboffer-modal-{{ suboffer.id -}}" class="modal fade" style="display: none; width: 640px;">
				<div class="modal-header">
					<a href="#" class="close">×</a>
					<h3>Изменение действия</h3>
				</div>
				<div class="modal-body">
					{{ offer_form.suboffer_html(form, wide=false, suboffer_id=suboffer.id) }}
				</div>
			</div>
		</td>
		{% endif %}
	{% endif %}
{% endcall %}

{% if advertiser_is_owner %}
<h2>Добавить действие</h2>
<div class="form-container">
	{{ offer_form.suboffer_html(form) }}
</div>
{% endif %}

{% endblock %}