{% extends "cabinetcpa/offers/info/layout.html" %}
{% import 'common/materials.html' as materials_macros %}

{% set activetab = 'materials' %}

{% macro pixel_code(offer, banner=none) -%}
<img src="{{ offer.tracking_url(request.host_url, g.user.id, banner.id if banner else none) }}" alt="" style="width: 0; height: 0; position: absolute;" />
{% endmacro -%}

{% macro banner_code(offer_id, banner) %}
<a href="{{ offer.click_url(request.host_url, g.user.id, banner.id) }}"><img src="{{ banner.url }}" alt="" width="{{ banner.width }}" height="{{ banner.height }}" /></a>{{ pixel_code(offer_id, banner) -}}
{% endmacro %}

{% block tabcontent %}

{% set advertiser_is_owner = g.user.is_advertiser and offer.owned_by(g.user) %}
{% set affiliate_is_granted = g.user.is_affiliate and offer.grant and offer.grant.approved %}

{% if advertiser_is_owner %}
	<form method="post" action="" class="widelabels validate2" enctype="multipart/form-data">
		<fieldset>
			<legend>Загрузка баннера</legend>
			{% call forms.singlefield_desc(form.image) %}
			<span class="help-block">
				Принимаются изображения в формате JPG (JPEG), GIF, PNG. Максимальный
				размер загружаемого изображения &mdash; 1Мб.
			</span>
			{% endcall %}
			<div class="actions">
				<input class="btn primary" type="submit" value="Загрузить" />
			</div>
		</fieldset>
	</form>
{% endif %}

{% if g.user.is_affiliate %}
	{% if affiliate_is_granted %}
		<div class="clearfix alert-message block-message success">
			<p>
				Вы сотрудничаете с данной кампанией, и можете получить коды баннеров ниже.
				Если вы не желаете использовать баннеры, вы можете получить код ссылки отдельно.
			</p>
			<div class="alert-actions">
				<a class="btn small" href="#" data-controls-modal="modal-link"
		 		 data-backdrop="true" data-keyboard="true">Получить код ссылки</a>
			</div>
		</div>
		<div id="modal-link" class="modal" style="display: none;">
			<form>
				<div class="modal-header">
					<a href="#" class="close">×</a>
					<h3>Партнерская ссылка</h3>
				</div>
				<div class="modal-body">
					<fieldset>
						<div class="clearfix">
							<label for="tracking-url">Прямая ссылка</label>
							<div class="input">
								<input type="text" id="tracking-url" class="span6 copybox"
								 style="background-color: #FFF;" readonly="readonly"
								 value="{{ offer.click_url(request.host_url, g.user.id) -}}" />
							</div>
						</div>
						<div class="clearfix" style="margin-bottom: 0;">
							<label for="tracking-pixel">Код пикселя для трекинга показов</label>
							<div class="input">
								<textarea rows="4" id="tracking-pixel" class="span6 copybox"
								readonly="readonly" style="background-color: #FFF;"
								>{{ pixel_code(offer) -}}</textarea>
							</div>
						</div>
					</fieldset>
				</div>
			</form>
		</div>
	{% else %}
		<div class="clearfix alert-message block-message info">
			<p>Получить коды баннеров можно только после начала сотрудничества с данной кампанией.</p>
		</div>
	{% endif %}
{% endif %}

{% if offer.banners %}
	{% set colspan = 5 if advertiser_is_owner or affiliate_is_granted else 4 %}
	{% call(head, banner) materials_macros.table(offer.banners, colspan=colspan) %}
		{% if head %}
			{% if advertiser_is_owner or affiliate_is_granted %}
			<th class="header minimal-width"></th>
			{% endif %}
		{% else %}
			{% if advertiser_is_owner %}
			<td>
				<a href="{{ url_for('.offers_info_materials_delete', id=offer.id, bid=banner.id)}}"
				 class="danger" onclick="return confirm('Удалить баннер?');">удалить</a>
			</td>
			{% endif %}
			{% if affiliate_is_granted %}
			<td>
				<a href="#" data-controls-modal="modal-code-{{ banner.id -}}"
		 		 data-backdrop="true" data-keyboard="true">получить&nbsp;код</a>
				<div id="modal-code-{{ banner.id -}}" class="modal" style="display: none;">
					<form>
						<div class="modal-header">
							<a href="#" class="close">×</a>
							<h3>Код баннера</h3>
						</div>
						<div class="modal-body">
							<fieldset>
								<div class="clearfix" style="margin-bottom: 0;">
									<label for="banner-code">Код баннера</label>
									<div class="input">
										<textarea rows="6" id="banner-code" class="span6 copybox" readonly="readonly"
										 style="background-color: #FFF;">{{ banner_code(offer, banner) }}</textarea>
									</div>
								</div>
							</fieldset>
						</div>
					</form>
				</div>
			</td>
			{% endif %}
		{% endif %}
	{% endcall %}
{% else %}
	<div class="clearfix alert-message block-message info">
		<p><strong>Список пуст.</strong> Еще не было добавлено никаких материалов.</p>
	</div>
{% endif %}

{% endblock %}
