{% extends "cabinetcpa/offers/info/layout.html" %}
{% import 'common/materials.html' as materials_macros %}

{% set activetab = 'materials' %}

{% block extrahead %}
	{{ super() }}
	<style type="text/css">
		.code-box, .code-box[readonly] {
			background-color: #FFF;
			cursor: text;
		}
		
		.span80 {
			width: 80px;
		}
		
		.span220 {
			width: 230px;
		}
		
		.code-settings-body {
			margin-top: 10px;
		}
	</style>
	<script type="text/javascript">
		$(function() {
			var offerId = '{{ offer.id }}';
			var affId = '{{ g.user.id }}';
			
			function getFormValue(id) {
				return $.trim($(id).val());
			}
			
			function updateCodes() {
				var bannerId = $(document).data('bannerId');
				if (bannerId) {
					var bannerUrl = $(document).data('bannerUrl');
					var bannerWidth = $(document).data('bannerWidth');
					var bannerHeight = $(document).data('bannerHeight');
				}
				
				var subId  = getFormValue('#subid');
				var subId1 = getFormValue('#subid1');
				var subId2 = getFormValue('#subid2');
				var subId3 = getFormValue('#subid3');
				var subId4 = getFormValue('#subid4');
				var sourceId = getFormValue('#sourceid');
				var ulp = getFormValue('#ulp');
				
				var apiUrl = 'http://partner.heymoose.com/api';
				var params = '&offer_id=' + offerId + '&aff_id=' + affId
					+ (bannerId ? '&banner_id=' + bannerId : '')
					+ (subId ? '&sub_id=' + encodeURIComponent(subId) : '')
					+ (subId1 ? '&sub_id1=' + encodeURIComponent(subId1) : '')
					+ (subId2 ? '&sub_id2=' + encodeURIComponent(subId2) : '')
					+ (subId3 ? '&sub_id3=' + encodeURIComponent(subId3) : '')
					+ (subId4 ? '&sub_id4=' + encodeURIComponent(subId4) : '')
					+ (sourceId ? '&source_id=' + encodeURIComponent(sourceId) : ''); 
				
				var trackingUrl = apiUrl + '?method=track' + params;
				var clickUrl = apiUrl + '?method=click' + params + (ulp ? '&ulp=' + encodeURIComponent(ulp) : '');
				var pixelCode = '<img src="' + trackingUrl +
					'" alt="" style="width: 0; height: 0; position: absolute;" />';
				var bannerCode = '<a href="' + clickUrl + '"><img src="' + bannerUrl
					+ '" alt="" width="' + bannerWidth + '" height="' + bannerHeight
					+ '" /></a>' + pixelCode;
					
				$('#click-url').text(clickUrl);
				$('#tracking-pixel').text(pixelCode);
				$('#banner-code').text(bannerCode);
			}
			
			$('.gen-trigger').change(updateCodes);
			
			$('.code-settings-trigger').click(function() {
				$('.code-settings-body').slideToggle('fast', function() {
					$('.code-settings-trigger').text($(this).is(':visible') ? '[скрыть]' : '[показать]');					
				});
				return false;
			});
			
			$('.code-settings-clear').click(function() {
				$('.gen-trigger').val('');
				updateCodes();
				return false;
			});
			
			$('.code-trigger').click(function() {
				$(document).data('bannerId', $(this).data('bannerId'));
				$(document).data('bannerUrl', $(this).data('bannerUrl'));
				$(document).data('bannerWidth', $(this).data('bannerWidth'));
				$(document).data('bannerHeight', $(this).data('bannerHeight'));
				
				$('.code-box-container').hide();
				if ($(this).data('bannerId')) {
					$('.banner-code-container').show();
				}
				else {
					$('.click-url-container').show();
					$('.tracking-pixel-container').show();
				}
				
				updateCodes();
			});
		})
	</script>
{% endblock %}

{% block tabcontent %}

{% set advertiser_is_owner = g.user.is_advertiser and offer.owned_by(g.user) %}
{% set affiliate_is_granted = g.user.is_affiliate and offer.grant and offer.grant.approved %}

{% if advertiser_is_owner %}
	<form method="post" action="" class="widelabels validate2" enctype="multipart/form-data">
		<fieldset>
			<legend>Загрузка баннера</legend>
			{% call forms.singlefield_desc(form.image) %}
			<span class="help-block">
				Принимаются изображения в формате JPG (JPEG), GIF, PNG, SWF (Flash), SVG.
				Максимальный размер загружаемого изображения &mdash; 1Мб.
			</span>
			{% endcall %}
			<div class="actions">
				<input class="btn primary" type="submit" value="Загрузить" style="margin-right: 30px;" />
				<a href="{{ url_for('.offers_info_materials_upload', id=offer.id) }}"
				 >загрузить большое количество изображений</a>
			</div>
		</fieldset>
	</form>
{% endif %}

{% if g.user.is_affiliate %}
	{% if affiliate_is_granted %}
		<div class="clearfix alert-message block-message success">
			<p>
				Вы сотрудничаете с данной кампанией, и можете получить коды баннеров ниже.
				Если вы не желаете использовать баннеры, вы можете получить код ссылки отдельно.
			</p>
			<div class="alert-actions">
				<a class="btn small code-trigger" href="#" data-controls-modal="modal-code"
				 data-backdrop="true" data-keyboard="true">Получить код ссылки</a>
			</div>
		</div>
	{% else %}
		<div class="clearfix alert-message block-message info">
			<p>Получить коды баннеров можно только после начала сотрудничества с данной кампанией.</p>
		</div>
	{% endif %}
{% endif %}

{% if offer.banners %}
	{% set colspan = 5 if advertiser_is_owner else 5 if affiliate_is_granted else 4 %}
	{% call(head, banner) materials_macros.table(offer.banners, colspan=colspan) %}
		{% if head %}
			{% if advertiser_is_owner %}
			<th class="header minimal-width"></th>
			{% endif %}
			{% if affiliate_is_granted %}
			<th class="header minimal-width"></th>
			{% endif %}
		{% else %}
			{% if advertiser_is_owner %}
			<td>
				<a href="{{ url_for('.offers_info_materials_delete', id=offer.id, bid=banner.id)}}"
				 class="danger" onclick="return confirm('Удалить баннер?');">удалить</a>
			</td>
			{% endif %}
			{% if affiliate_is_granted %}
			<td>
				{% if banner.has_code %}
				<a href="#" data-controls-modal="modal-code" data-backdrop="true" data-keyboard="true"
				class="code-trigger" data-banner-id="{{ banner.id }}" data-banner-url="{{ banner.image_url}}"
				data-banner-width="{{ banner.width }}" data-banner-height="{{ banner.height }}">получить&nbsp;код</a>
				{% else %}
				&mdash;
				{% endif %}
			</td>
			{% endif %}
		{% endif %}
	{% endcall %}
{% else %}
	<div class="clearfix alert-message block-message info">
		<p><strong>Список пуст.</strong> Еще не было добавлено никаких материалов.</p>
	</div>
{% endif %}

{% endblock %}

{% block postbody %}
	{{ super() }}
	<div id="modal-code" class="modal" style="display: none;">
		<div class="modal-header">
			<a href="#" class="close">×</a>
			<h3>Партнерская ссылка</h3>
		</div>
		<div class="modal-body">
			<form class="stacked">
				<input type="hidden" id="banner-id" />
				<div class="well span code-settings" style="width: 480px;">
					<div class="code-settings-head">
						<b>Расширенные настройки</b>
						<a href="#" class="code-settings-trigger dotted-link">[показать]</a>
					</div>
					<div class="code-settings-body" style="display: none;">
						<div class="clearfix row">
							<div class="span80">
								<label for="subid">SubID</label>
								<input type="text" id="subid" class="subid span80 gen-trigger" />
							</div>
							<div class="span80">
								<label for="subid1">SubID1</label>
								<input type="text" id="subid1" class="subid span80 gen-trigger" />
							</div>
							<div class="span80">
								<label for="subid2">SubID2</label>
								<input type="text" id="subid2" class="subid span80 gen-trigger" />
							</div>
							<div class="span80">
								<label for="subid3">SubID3</label>
								<input type="text" id="subid3" class="subid span80 gen-trigger" />
							</div>
							<div class="span80">
								<label for="subid4">SubID4</label>
								<input type="text" id="subid4" class="subid span80 gen-trigger" />
							</div>
						</div>
						<div class="clearfix row">
							<div class="span220">
								<label for="sourceid">SourceID</label>
								<input type="text" id="sourceid" class="sourceid span220 gen-trigger" />
							</div>
							<div class="span220">
								<label for="ulp">ULP (deeplink)</label>
								<input type="text" id="ulp" class="ulp span220 gen-trigger" />
							</div>
						</div>
						<div class="right">
							<a href="#" class="dotted-link code-settings-clear">очистить</a>
						</div>
					</div>
				</div>
				<div class="clearfix code-box-container click-url-container" style="display: none;">
					<label for="click-url">Прямая ссылка</label>
					<textarea rows="4" id="click-url" class="span9 code-box"
					 readonly="readonly"></textarea>
				</div>
				<div class="clearfix code-box-container tracking-pixel-container" style="display: none;">
					<label for="tracking-pixel">Код пикселя для трекинга показов</label>
					<textarea rows="4" id="tracking-pixel" class="span9 code-box"
					readonly="readonly"></textarea>
				</div>
				<div class="clearfix code-box-container banner-code-container" style="display: none;">
					<label for="banner-code">Код баннера</label>
					<textarea rows="8" id="banner-code" class="span9 code-box"
					readonly="readonly"></textarea>
				</div>
			</form>
		</div>
	</div>
{% endblock %}
