{% extends "cabinetcpa/offers/info/layout.html" %}
{% import 'common/offers.html' as offer_macros %}

{% set activetab = 'requests' %}

{% block tabcontent %}
	{{ macros.filter(request.args.get('filter', none),
		(
			(none, 'все'),
			('moderation', 'не рассмотренные'),
			('approved', 'подтвержденные'),
			('rejected', 'отклоненные'),
			('blocked', 'заблокированные')
		),
		'.offers_info_requests', {'id': offer.id})
	}}
	
	<div style="clear: both;">
	{% if grants %}
		{{ offer_macros.requests_table(grants) }}
		{{ macros.paginate(pages, '.offers_info_requests', id=offer.id) }}
	{% else %}
		<div class="clearfix alert-message block-message info">
			<p><strong>Список пуст.</strong> Не найдено ни одной заявки на сотрудничество.</p>
		</div>
	{% endif %}
	</div>
{% endblock %}
