{% extends "cabinet/offers/info/layout.html" %}
{% import 'common/forms/offer.html' as offer_form %}

{% set activetab = 'actions' %}

{% block tabcontent %}

<table class="bordered-table zebra-striped nosort suboffers-table">
	<thead>
		<th class="header">Название</th>
		<th class="header right">Оплата</th>
		<th class="header center">Многокр. прохождение</th>
		<th class="header right">Время холда</th>
		<th class="header center" colspan="2">Опции</th>
	</thead>
	<tbody>
		<tr>
			<td>Регистрация</td>
			<td class="right">30.00&nbsp;руб.</td>
			<td class="center">{{ macros.to_icon(false) }}</td>
			<td class="right">30 дней</td>
			<td class="center"><a href="#">изменить</a></td>
			<td class="center"></td>
		</tr>
		<tr>
			<td>Пополнение счета в платежной системе</td>
			<td class="right">50.00&nbsp;руб.</td>
			<td class="center">{{ macros.to_icon(true) }}</td>
			<td class="right">30 дней</td>
			<td class="center"><a href="#">изменить</a></td>
			<td class="center"><a href="#" class="danger">удалить</a></td>
		</tr>
		<tr>
			<td>Покупка товара</td>
			<td class="right">5&nbsp;%</td>
			<td class="center">{{ macros.to_icon(true) }}</td>
			<td class="right">30 дней</td>
			<td class="center"><a href="#">изменить</a></td>
			<td class="center"><a href="#" class="danger">удалить</a></td>
		</tr>
	</tbody>
</table>

<h2>Добавить действие</h2>
<div class="form-container">
	{{ offer_form.suboffer_html(form) }}
</div>

{% endblock %}
