{% extends 'cabinetcpa/withdrawals/layout.html' %}
{% import 'common/macros/lists.html' as lists with context %}

{% set activetab = 'history' %}

{% block tabcontent %}

{% if debts %}
	<table class="bordered-table zebra-striped debts-table nosort">
		<thead>
			<tr>
				<th class="header center">Время</th>
				<th class="header center">Заказано, руб.</th>
				<th class="header center">Выплачено, руб.</th>
				<th class="header center">К выплате, руб.</th>
			</tr>
		</thead>
		<tbody>
			{% for debt in debts %}
			<tr>
				<td class="center">{{ debt.order_time|datetimeformat }}</td>
				<td class="right">{{ debt.ordered_amount|currency(false) }}</td>
				<td class="right">{{ debt.payed_out_amount|currency(false) }}</td>
				<td class="right">{{ debt.pending_amount|currency(false) }}</td>
			</tr>
			{% endfor %}
		</tbody>
	</table>
	{{ lists.paginate(pages) }}
{% else %}
	<div class="clearfix alert-message block-message info">
		<p>Не было заказано ни одной выплаты.</p>
	</div>
{% endif %}

{% endblock %}