{% extends 'cabinetcpa/withdrawals/layout.html' %}
{% import 'common/macros/lists.html' as lists with context %}

{% set activetab = 'order' %}

{% block tabcontent %}

{% if overall_debt.available_for_order_amount > 1.00 %}
	<div class="row">
		<div class="span6">
			<div style="margin-top: 20px;">
				<form method="post" action="">
					<input type="submit" class="btn success" onclick="return confirm('Заказать выплату?');"
					 value="Заказать выплату на сумму {{ overall_debt.available_for_order_amount|currency }}" />
				</form>
			</div>
		</div>
		<div class="span8">
			<p>
				При нажатии этой кнопки будет заказана выплата на указанную сумму по всем офферам, у которых
				имеются доступные для выплаты средства. При фактическом совершении выплаты соответствующие
				средства перейдут в "выплаченные".
			</p>
		</div>
	</div>
{% else %}
	<div class="clearfix alert-message block-message info">
		<p>Нет доступных средств для заказа.</p>
	</div>
{% endif %}

<h2>Выплаты по статьям</h2>

{% if debts %}
	<table class="bordered-table zebra-striped debts-table">
		<thead>
			<tr>
				<th {{ lists.sort_header('basis', id=g.user.id) }}>Тип</th>
				<th {{ lists.sort_header('offer_name', id=g.user.id) }}>Оффер</th>
				<th style="min-width: 150px;" {{ lists.sort_header('payed_out', id=g.user.id) }}>Выплачено, руб.</th>
				<th style="min-width: 200px;" {{ lists.sort_header('available', id=g.user.id) }}>Доступно для заказа, руб.</th>
				<th style="min-width: 150px;" {{ lists.sort_header('pending', id=g.user.id) }}>К выплате, руб.</th>
			</tr>
			<tr>
				<th class="right header nosort" colspan="2">ВСЕГО:</th>
				<th class="right header nosort">{{ overall_debt.payed_out_amount|currency(false) }}</th>
				<th class="right header nosort">{{ overall_debt.available_for_order_amount|currency(false) }}</th>
				<th class="right header nosort">{{ overall_debt.pending_amount|currency(false) }}</th>
			</tr>
		</thead>
		<tbody>
			{% for debt in debts %}
			<tr>
				<td class="center">{{ debt.basis.name }}</td>
				<td>
					{% if debt.offer_id %}
						<a href="{{ url_for('.offers_info', id=debt.offer_id) }}">{{ debt.offer_name }}</a>
					{% else %}
						&mdash;
					{% endif %}
				</td>
				<td class="right">{{ debt.payed_out_amount|currency(false) }}</td>
				<td class="right">{{ debt.available_for_order_amount|currency(false) }}</td>
				<td class="right">{{ debt.pending_amount|currency(false) }}</td>
			</tr>
			{% endfor %}
		</tbody>
	</table>
	{{ lists.paginate(pages, id=g.user.id) }}
{% else %}
	<div class="clearfix alert-message block-message info">
		<p>За выбранный период не было активности по офферу.</p>
	</div>
{% endif %}

{% endblock %}