{% extends "cabinetcpa/profile/layout.html" %}
{% import 'common/transactions.html' as transaction_macros %}

{% set activetab = 'balance' %}

{% block breadcrumbs %}
	{{ super() }}
	{{ macros.breadcrumb('Операции со счетом', url_for('.profile_balance')) }}
{% endblock %}

{% block tabcontent %}

{% if g.user.is_advertiser %}
<h2>Пополнение счета</h2>

<div class="row">
	<div class="span8">
		<div class="form-container">
			<form id="form-balance-pay" action="" method="post" class="validate2">
				<fieldset>
					{{ forms.singlefield(form.amount, class='span4') }}
				</fieldset>
				<div class="input">
					<input class="btn primary" type="submit" value="Пополнить баланс"/>
				</div>
			</form>
		</div>
	</div>
	<div class="span7">
		<p>
			Платеж производится в рублях. Введенная сумма будет округлена до двух десятичных знаков.
			Минимальный размер платежа &mdash; 1 {{ currency_sign }}, максимальный определяется
			платежной системой, но не более <nobr>60 000 000 {{ currency_sign }}</nobr>
		</p>
		<p>
			После того, как вы укажете сумму платежа и нажмете кнопку &laquo;Пополнить счет&raquo;,
			вы будете перенаправлены на сайт платежной системы
			<a href="http://robokassa.ru/" target="_blank">RoboKassa</a>, где сможете выбрать удобный
			для вас способ оплаты.
		</p>
	</div>
</div>
{% endif %}

<h2>История операций</h2>

{% if transactions %}
	{% call(head, transaction) transaction_macros.table(transactions, {}) %}{% endcall %}
	{{ macros.paginate(pages, '.profile_balance') }}
{% else %}
	<div class="clearfix alert-message block-message info">
		<p><strong>Список пуст.</strong> По вашему счету не проводилось ни одной операции.</p>
	</div>
{% endif %}

{% endblock %}
