{% extends "cabinetcpa/profile/layout.html" %}

{% set activetab = 'info' %}

{% block tabcontent %}
{% with user = g.user %}

{% if user.blocked %}
	<div class="clearfix alert-message block-message error">
		<p>
			<strong>Учетная запись заблокирована.</strong>
			Ваш аккаунт был заблокирован администрацией &laquo;HeyMoose!&raquo;, поэтому
			вам недоступна большая часть интерфейса системы.
		</p>
		{% if user.block_reason %}
		<p>Причина блокировки: <i>{{ user.block_reason }}</i></p>
		{% endif %}
	</div>
{% elif not user.confirmed %}
	<div class="clearfix alert-message block-message info">
		<p>
			<strong>Ваш электронный адрес не подтвержден.</strong>
			Без подтверждения электронного адреса недоступна большая часть интерфейса системы
			&laquo;HeyMoose!&raquo; Если вы не получили письмо со ссылкой на подтверждение
			регистрации, вы можете запросить повторную отправку письма, нажав кнопку ниже.
		</p>
		<div class="alert-actions">
			<form method="post" action="" class="inline">
				<input type="submit" class="btn small span4" style="font-weight: bold;" value="Выслать письмо повторно" />
			</form>
		</div>
	</div>
{% endif %}

<table class="key-value">
	<tbody>
		<tr><th>Имя</th><td>{{ user.full_name }}</td></tr>
		<tr><th>Организация</th><td>{{ user.organization|default('(не указана)', true) }}</td></tr>
		{% if user.is_affiliate %}
		<tr><th>WMR-кошелёк</th><td>{{ user.wmr|default('(не указан)', true) }}</td></tr>
		{% endif %}
	</tbody>
</table>

<h3>Контакты</h3>
<table class="key-value">
	<tbody>
		<tr><th>E-mail</th><td>{{ user.email }}</td></tr>
		<tr><th>Телефон</th><td>{{ user.phone|default('(не указан)', true) }}</td></tr>
		<tr>
			<th>Мессенджер</th>
			<td>
				{% if user.messenger_type %}
				{{ user.messenger_uid }} ({{ user.messenger_type }})
				{% else %}
				(не указан)
				{% endif %}
			</td>
		</tr>
	</tbody>
</table>

{% if user.is_affiliate %}
<h3>Реферальная программа</h3>
<table class="key-value">
	<tbody>
		{% with ref = root + url_for('site.register_affiliate', ref=user.get_refcode()) %}
		<tr><th>Реферальная ссылка</th><td><a href="{{ ref }}">{{ ref }}</a></td></tr>
		{% endwith %}
		<tr>
			<th>Рефералы</th>
			<td>
				{% for referral in user.referrals %}
				<p><a href="mailto:{{ referral }}">{{ referral }}</a></p>
				{% else %}
				(нет)
				{% endfor %}
			</td>
		</tr>
		<tr><th>Доход от рефералов</th><td>{{ user.revenue|default('0.00', true)|currency }}</td></tr>
	</tbody>
</table>
{% endif %}

{% endwith %}
{% endblock %}
