{% extends "cabinetcpa/profile/layout.html" %}

{% set activetab = 'info' %}

{% block extrahead %}
	{{ super() }}
	<style type="text/css">
		.code-box, .code-box[readonly] {
			background-color: #FFF;
			cursor: text;
		}
	</style>
	<script type="text/javascript">
		$(function() {
			var refLink = "{{ url_for('site.register_affiliate', ref=g.user.get_refcode(), _external=true) -}}";
			$('.gen-trigger').change(function() {
				var source = $.trim($('#source').val());
				$('#reflink-url').text(refLink + (source ? '&source=' + encodeURIComponent(source) : ''));
			}).change();
		})
	</script>
{% endblock %}

{% block tabcontent %}
{% with user = g.user %}

{% if user.blocked %}
	<div class="clearfix alert-message block-message error">
		<p>
			<strong>Учетная запись заблокирована.</strong>
			Ваш аккаунт был заблокирован администрацией &laquo;HeyMoose!&raquo;, поэтому
			вам недоступна большая часть интерфейса системы.
		</p>
		{% if user.block_reason %}
		<p>Причина блокировки: <i>{{ user.block_reason }}</i></p>
		{% endif %}
	</div>
{% endif %}

<table class="key-value">
	<tbody>
		<tr><th>Имя</th><td>{{ user.full_name|default('(не указано)', true) }}</td></tr>
		<tr><th>Организация</th><td>{{ user.organization|default('(не указана)', true) }}</td></tr>
		{% if user.is_affiliate %}
		<tr><th>WMR-кошелёк</th><td>{{ user.wmr|default('(не указан)', true) }}</td></tr>
		{% endif %}
	</tbody>
</table>

<h3>Контакты</h3>
<table class="key-value">
	<tbody>
		<tr><th>E-mail</th><td>{{ user.email }}</td></tr>
		<tr><th>Телефон</th><td>{{ user.phone|default('(не указан)', true) }}</td></tr>
		<tr>
			<th>Мессенджер</th>
			<td>
				{% if user.messenger_type %}
				{{ user.messenger_uid }} ({{ user.messenger_type }})
				{% else %}
				(не указан)
				{% endif %}
			</td>
		</tr>
	</tbody>
</table>

{% if user.is_affiliate %}
<h3>Реферальная программа</h3>
<table class="key-value">
	<tbody>
		{% if referral_offer %}
		<tr>
			<th>Реферальная программа</th>
			<td><a href="{{ url_for('.offers_info', id=referral_offer.id) -}}">Реферальная программа HeyMoose!</a></td>
		</tr>
		{% endif %}
		<tr>
			<th>Рефералы</th>
			<td><a href="{{ url_for('.stats_referral') }}">список рефералов</a></td>
		</tr>
	</tbody>
</table>
{% endif %}

<h3>Сервисы</h3>
<table class="key-value">
	<tbody>
		<tr><th>Регистрационный код к <a href="http://forum.heymoose.com" target="_blank">форуму</a></th><td>8675309</td></tr>
	</tbody>
</table>


{% endwith %}
{% endblock %}
