{% extends "cabinetcpa/profile/layout.html" %}
{% import 'common/withdrawals.html' as withdrawal_macros %}

{% set activetab = 'withdrawals' %}

{% block breadcrumbs %}
	{{ super() }}
	{{ macros.breadcrumb('Выплаты', url_for('.profile_withdrawals')) }}
{% endblock %}

{% block tabcontent %}

<h2>История выплат</h2>
{% if withdrawals %}
	{% call(head, withdrawal) withdrawal_macros.table(withdrawals) %}{% endcall %}
{% else %}
	<div class="clearfix alert-message block-message info">
		<p><strong>Список пуст.</strong> Не было совершено ни одной выплаты.</p>
	</div>
{% endif %}

{% endblock %}
