{% extends "admin/operations/layout.html" %}
{% import 'common/macros/lists.html' as lists with context %}

{% set activetab = 'withdrawals' %}

{% block extrahead %}
	{{ super() }}
	<script type="text/javascript">
		$(function() {
			$('.withdrawal-approve-link').click(function() {
				$('#modal-approve form').attr('action', $(this).data('url'));
			});
		})
	</script>
{% endblock %}

{% block tabcontent %}
{% if withdrawals %}
	<p style="font-weight: bold;">
		Всего {{ ws.non_approved_count }} неподтвержденных выплат
		на общую сумму {{ ws.non_approved_total|currency }}
	</p>
	<table class="bordered-table zebra-striped nosort">
		<thead>
			<tr>
				<th class="header right minimal-width">#</th>
				<th class="header">Партнёр</th>
				<th class="header right">Сумма, руб.</th>
				<th class="header center">Заказана</th>
				<th class="header center minimal-width">Действия</th>
				<th class="header center minimal-width">Подтв.</th>
			</tr>
		</thead>
		<tbody>
			{% for withdrawal in withdrawals %}
			<tr>
				<td class="right">{{ withdrawal.id }}</td>
				<td><a href="{{ url_for('.users_info', id=withdrawal.aff_id) }}">{{ withdrawal.aff_email }}</a></td>
				<td class="right">{{ withdrawal.amount|currency(False) }}</td>
				<td class="center">{{ withdrawal.timestamp|datetimeformat }}</td>
				<td class="center">
					{% if not withdrawal.done %}
					<a data-url="{{ url_for('.operations_withdrawals_approve', id=withdrawal.id) }}"
					href="#" class="withdrawal-approve-link" data-controls-modal="modal-approve" 
					data-backdrop="true" data-keyboard="true">подтвердить</a>
					{% else %}
					&mdash;
					{% endif %}
				</td>
				<td class="center">{{ macros.to_icon(withdrawal.done) }}</td>
			</tr>
			{% endfor %}
		</tbody>
	</table>
	{{ lists.paginate(pages) }}
{% else %}
	<div class="clearfix alert-message block-message info">
		<p><strong>Список пуст.</strong> Не было заказано ни одной выплаты.</p>
	</div>
{% endif %}
{% endblock %}

{% block postbody %}
	{{ super() }}
	<div id="modal-approve" class="modal" style="display: none;">
		<form method="post" action="" class="validate">
			<div class="modal-header">
				<a href="#" class="close">×</a>
				<h3>Подтверждение выплаты</h3>
			</div>
			<div class="modal-body">
				<p>Подтвердить выплату?</p>
			</div>
			<div class="modal-footer">
				<input type="submit" class="btn primary" value="Подтвердить выплату" />
			</div>
		</form>
	</div>
{% endblock %}
