{% extends "cabinetcpa/layout.html" %}

{% block title %}Главная{% endblock %}

{% set activemenu = 'index' %}

{% block breadcrumbs %}
	{{ super() }}
	{{ macros.breadcrumb('Главная', url_for('.index')) }}
{% endblock %}

{% block pageheader %}<h1>{{ self.title() }}</h1>{% endblock %}

{% block content %}
	<div class="row">
		<div class="span4">
			<h3>Быстрые ссылки</h3>
			<ul>
				<li><strong><a href="{{ url_for('.offers_all') }}">Каталог офферов</a></strong></li>
				<li><a href="{{ url_for('.offers_requested') }}">Мои офферы</a></li>
				<li><a href="{{ url_for('.stats_offer') }}">Статистика по офферам</a></li>
				<li><a href="{{ url_for('.withdrawals') }}">Выплаты</a></li>
				<li><a href="{{ url_for('.notifications') }}">Уведомления</a></li>
			</ul>
		</div>
		<div class="span6">
			<h3>Лучшие офферы за месяц</h3>
			<table class="bordered-table zebra-striped condensed-table">
				<thead>
					<tr>
						<th class="header">Оффер</th>
						<th class="header">Действия</th>
						<th class="header">CR</th>
						<th class="header">Неподтв.</th>
						<th class="header">Подтв.</th>
					</tr>
				</thead>
			</table>
		</div>
		<div class="span5">
			<h3>Последние новости</h3>
		</div>
	</div>
{% endblock %}
