{% extends 'layout.html' %}

{% block posttitle %}Личный кабинет HeyMoose{% endblock %}

{% block extrahead %}
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='./css/jquery-ui.css') }}" media="all" />
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='./css/timepicker-addon.css') }}" media="all" />
<style type="text/css">
	#manager-modal { width: 400px; }}
</style>

<script type="text/javascript" src="{{ url_for('static', filename='./js/jquery-ui.min.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='./js/jquery.ui.datepicker-ru.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='./js/jquery-ui-timepicker-addon.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='./js/categorized.list.js') }}"></script>

{% set activemenu = activemenu|default('offers') %}
<script type="text/javascript">
	$(function() {
		// Make datepicker Russian by default
		$.datepicker.setDefaults($.datepicker.regional['ru']);
		// Remove link and divider from last breadcrumb
		$('ul.breadcrumb li:last').not('.status').text($('ul.breadcrumb li:last a').html());
		
		$('ul.categorized').categorizedList();
	});
</script>
{% endblock %}

{% block prebrand %}Личный кабинет{% endblock %}

{% set topbar_fluid = true %}
{% block topbar %}
<ul class="nav">
	{% if g.user.is_affiliate %}
	<li id="menu-item-sites"><a href="{{ url_for('.sites_list') }}">Площадки</a></li>
	{% endif %}
	<li id="menu-item-offers"><a href="{{ url_for('.offers_list') }}">Офферы</a></li>
	<li id="menu-item-info"><a href="{{ url_for('.profile') }}">Профиль</a></li>
</ul>

<ul class="nav secondary-nav">
	<li class="dropdown">
		<a class="dropdown-toggle" href="#">{{ g.user.full_name }}</a>
		<ul class="dropdown-menu">
			<li><a href="{{ url_for('site.logout') }}">Выйти</a></li>
		</ul>
	</li>
</ul>
{% endblock %}
	
{% block breadcrumbs_container %}
<ul class="breadcrumb">
	{% block breadcrumbs %}
	{% endblock %}
	
	<span class="status">
		<a href="#" data-controls-modal="manager-modal" data-backdrop="true" data-keyboard="true">Ваш личный менеджер</a>
		<span class="divider">/</span>
		Ваш баланс: {{ g.user.account.balance|currency }}
	</span>
</ul>
{% endblock %}

{% block footer_signs %}
{% set wmid = g.config.get('ROBOKASSA_WMID', '000000000000') %}

<a href="http://www.webmoney.ru">
	<img src="http://www.webmoney.ru/img/icons/88x31_wm_blue_on_white_ru.png"
	alt="Мы принимаем WebMoney" />
</a>

<!-- begin WebMoney Transfer : attestation label --> 
<a href="https://passport.webmoney.ru/asp/certview.asp?wmid={{ wmid }}" target=_blank>
	<IMG SRC="http://www.webmoney.ru/img/icons/88x31_wm_v_blue_on_white_ru.png" 
	title="Здесь находится аттестат нашего WM идентификатора {{ wmid }}" border="0"><br>
	<font size=1>Проверить аттестат</font>
</a>
<!-- end WebMoney Transfer : attestation label -->
{% endblock %}
			
{% block postbody %}
<div id="manager-modal" class="modal fade" style="display: none;">
	<div class="modal-header">
		<a href="#" class="close">×</a>
		<h3>Информация о вашем менеджере</h3>
	</div>
	<div class="modal-body">
		{% if g.user.is_advertiser %}
			<p>Вашего личного менеджера зовут <strong>Кирилл Шилов</strong>.</p>
			<address>
				<strong>E-mail:</strong> <a href="mailto:ks.shilov@heymoose.com">ks.shilov@heymoose.com</a><br />
				<strong>Телефон:</strong> +7 (905) 710-19-92<br />
				<strong>Skype:</strong> ksshilov<br />
			</address>
		{% endif %}
		{% if g.user.is_affiliate %}
			<p>Вашего личного менеджера зовут <strong>Дмитрий Павлов</strong>.</p>
			<address>
				<strong>E-mail:</strong> <a href="mailto:dmitryi.pavlov@heymoose.com">dmitryi.pavlov@heymoose.com</a><br />
				<strong>Телефон:</strong> +7 (916) 082-20-87<br />
				<strong>Skype:</strong> ragdar777<br />
				<strong>ICQ:</strong> 850916
			</address>
		{% endif %}
	</div>
</div>
{% endblock %}
