{% extends 'layout.html' %}

{% block posttitle %}Личный кабинет {{ 'рекламодателя' if g.user.is_advertiser else 'партнера' }} HeyMoose{% endblock %}

{% block extrahead %}
{#<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='./css/jquery-ui.css') }}" media="all" />#}
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='./css/redmond/jquery-ui-1.8.20.custom.css') }}" media="all" />
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='./css/timepicker-addon.css') }}" media="all" />
<style type="text/css">
	#manager-modal { width: 400px; }
</style>

<script type="text/javascript" src="{{ url_for('static', filename='./js/jquery-ui.min.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='./js/jquery.ui.datepicker-ru.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='./js/jquery-ui-timepicker-addon.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='./js/categorized.list.js') }}"></script>

{% set activemenu = activemenu|default('offers') %}
<script type="text/javascript">
	$(function() {
		// Make datepicker Russian by default
		$.datepicker.setDefaults($.datepicker.regional['ru']);
		// Remove link and divider from last breadcrumb
		$('ul.breadcrumb li:last').not('.status').text($('ul.breadcrumb li:last a').html());
		// Select all text in copyboxes
		$('.copybox').focus(function() { this.select();	})
		
		$('ul.categorized').categorizedList();
	});
</script>
{% endblock %}

{% block prebody %}
<div style="display:none;" class="li_counter">
	<!-- Yandex.Metrika counter -->
	<script type="text/javascript">
	(function (d, w, c) {
	    (w[c] = w[c] || []).push(function() {
	        try {
	            w.yaCounter8819377 = new Ya.Metrika({id:8819377, enableAll: true, webvisor:true, ut: 'noindex'});
	        } catch(e) {}
	    });
	    
	    var n = d.getElementsByTagName("script")[0],
	        s = d.createElement("script"),
	        f = function () { n.parentNode.insertBefore(s, n); };
	    s.type = "text/javascript";
	    s.async = true;
	    s.src = (d.location.protocol == "https:" ? "https:" : "http:") + "//mc.yandex.ru/metrika/watch.js";
	
	    if (w.opera == "[object Opera]") {
	        d.addEventListener("DOMContentLoaded", f);
	    } else { f(); }
	})(document, window, "yandex_metrika_callbacks");
	</script>
	<noscript><div><img src="//mc.yandex.ru/watch/8819377" style="position:absolute; left:-9999px;" alt="" /></div></noscript>
	<!-- /Yandex.Metrika counter -->
</div>
{% endblock %}

{% block prebrand %}Личный кабинет {{ 'рекламодателя' if g.user.is_advertiser else 'партнёра' }}{% endblock %}

{% set topbar_fluid = true %}
{% block topbar %}
<ul class="nav">
	<li id="menu-item-offers"><a href="{{ url_for('.offers_requested' if g.user.is_affiliate else '.offers_list') }}">Офферы</a></li>
	<li id="menu-item-stats"><a href="{{ url_for('.stats_offer') }}">Статистика</a></li>
	<li id="menu-item-info"><a href="{{ url_for('.profile') }}">Профиль</a></li>
	{% if g.user.is_affiliate %}
	<li id="menu-item-withdrawals"><a href="{{ url_for('.withdrawals') }}">Выплаты</a></li>
	{% endif %}
	<li id="menu-item-notifications">
		<a href="{{ url_for('.notifications') }}" {% if g.notifications_unread > 0 %}class="unread"{% endif %}>
			Уведомления {{ '({0})'.format(g.notifications_unread) if g.notifications_unread > 0 }}
		</a>
	</li>
	<li class="dropdown">
		<a class="dropdown-toggle" href="#">Справка</a>
		<ul class="dropdown-menu">
			<li id="menu-item-help-first-steps"><a href="{{ url_for('.help', template='first-steps') }}">Первые шаги</a></li>
		</ul>
	</li>
</ul>

<ul class="nav secondary-nav">
	{% if g.user.is_affiliate %}
	<li id="menu-item-contest"><a href="{{ url_for('site.affiliates_contest') }}" class="unread">Конкурс вебмастеров!</a></li>
	{% endif %}
	<li class="dropdown">
		<a class="dropdown-toggle" href="#">{{ g.user.full_name or g.user.email }}</a>
		<ul class="dropdown-menu">
			<li><a href="{{ url_for('site.logout') }}">Выйти</a></li>
		</ul>
	</li>
</ul>
{% endblock %}

{% block breadcrumbs_container %}
<ul class="breadcrumb">
	{% block breadcrumbs %}
	{% endblock %}
	
	<span class="status">
		<a href="#" data-controls-modal="manager-modal" data-backdrop="true" data-keyboard="true">Ваш личный менеджер</a>
		{% if g.user.is_advertiser %}
		<span class="divider">/</span>
		Ваш ID: {{ g.user.id }}
		<span class="divider">/</span>
		Ваш баланс: {{ g.user.customer_account.balance|currency }}
		{% else %}
		<span class="divider">/</span>
		Неподтв.: {{ g.user.developer_account_not_confirmed.balance|currency }}
		<span class="divider">/</span>
		Подтв.: {{ g.user.developer_account.balance|currency }}
		{% endif %}
	</span>
</ul>
{% endblock %}

{% block precontent %}
	{% if not g.user.confirmed %}
		<div class="clearfix alert-message block-message info">
			<p>
				<strong>Ваш электронный адрес не подтвержден.</strong>
				Пожалуйста, подтвердите ваш почтовый ящик. Если почтовый ящик не будет
				подтвержден в течение двух недель, ваша учетная запись будет заблокирована. 
				Если вы не получили письмо со ссылкой на подтверждение регистрации, 
				вы можете запросить повторную отправку письма, нажав кнопку ниже.
			</p>
			<div class="alert-actions">
				<form method="post" action="{{ url_for('.profile_sendmail') }}" class="inline">
					<input type="submit" class="btn small span4" style="font-weight: bold;" value="Выслать письмо повторно" />
				</form>
			</div>
		</div>
	{% endif %}
	{% if g.user.is_affiliate and not g.user.wmr and 'profile/edit' not in request.url %}
		<div class="clearfix alert-message block-message warning">
			<p>
				<strong>Не заполнен номер WMR-кошелька.</strong>
				Для совершения выплат нам необходим номер вашего WMR-кошелька в системе
				WebMoney. Пожалуйста, заполните его в вашем профиле. Чтобы перейти
				к редактированию профиля, нажмите кнопку ниже.
			</p>
			<div class="alert-actions">
				<a class="btn small" href="{{ url_for('.profile_edit') }}">Ввести номер WMR-кошелька</a>
			</div>
		</div>
	{% endif %}
{% endblock %}

{% block footer_signs %}
{% set wmid = g.config.get('ROBOKASSA_WMID', '000000000000') %}

<a href="http://www.webmoney.ru">
	<img src="http://www.webmoney.ru/img/icons/88x31_wm_blue_on_white_ru.png"
	alt="Мы принимаем WebMoney" />
</a>

<!-- begin WebMoney Transfer : attestation label --> 
<a href="https://passport.webmoney.ru/asp/certview.asp?wmid={{ wmid }}" target=_blank>
	<IMG SRC="http://www.webmoney.ru/img/icons/88x31_wm_v_blue_on_white_ru.png" 
	title="Здесь находится аттестат нашего WM идентификатора {{ wmid }}" border="0"><br>
	<font size=1>Проверить аттестат</font>
</a>
<!-- end WebMoney Transfer : attestation label -->
{% endblock %}
			
{% block postbody %}
<div id="manager-modal" class="modal fade" style="display: none;">
	<div class="modal-header">
		<a href="#" class="close">×</a>
		<h3>Информация о вашем менеджере</h3>
	</div>
	<div class="modal-body">
		{% if g.user.is_advertiser %}
			<p>Вашего личного менеджера зовут <strong>Юрий Иваницкий</strong>.</p>
			<address>
				<strong>E-mail:</strong> <a href="mailto:iv@heymoose.com">iv@heymoose.com</a><br />
				<strong>Телефон:</strong> +7 (916) 970-67-66<br />
			</address>
		{% endif %}
		{% if g.user.is_affiliate %}
			<p>Вашего личного менеджера зовут <strong>Дмитрий Павлов</strong>.</p>
			<address>
				<strong>E-mail:</strong> <a href="mailto:dmitriy.pavlov@heymoose.com">dmitriy.pavlov@heymoose.com</a><br />
				<strong>Телефон:</strong> +7 (916) 082-20-87<br />
				<strong>Skype:</strong> ragdar777<br />
				<strong>ICQ:</strong> 604138937
			</address>
		{% endif %}
	</div>
</div>
{% endblock %}
