{% extends 'layout.html' %}

{% block posttitle %}Личный кабинет {{ 'рекламодателя' if g.user.is_advertiser else 'партнера' }} HeyMoose{% endblock %}

{% block extrahead %}
<style type="text/css">
	#manager-modal { width: 400px; }
</style>

{% set activemenu = activemenu|default('offers') %}
<script type="text/javascript">
	$(function() {
		// Make datepicker Russian by default
		$.datepicker.setDefaults($.datepicker.regional['ru']);
		// Remove link and divider from last breadcrumb
		$('ul.breadcrumb li:last').not('.status').text($('ul.breadcrumb li:last a').html());
		// Select all text in copyboxes
		$('.copybox').focus(function() { this.select();	})
		
		$('ul.categorized').categorizedList();
	});
</script>

{# Google Analytics #}
<script type="text/javascript">
	var _gaq = _gaq || [];
	_gaq.push(['_setAccount', 'UA-26051749-1']);
	_gaq.push(['_setDomainName', 'heymoose.com']);
	_gaq.push(['_trackPageview']);

	(function() {
		var ga = document.createElement('script');
		ga.type = 'text/javascript';
		ga.async = true;
		ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
		var s = document.getElementsByTagName('script')[0];
		s.parentNode.insertBefore(ga, s);
	})();
</script>
{% endblock %}

{% block prebody %}

{% block yandex_metrika %}
<div style="display:none;" class="li_counter">
	<!-- Yandex.Metrika counter -->
	<script type="text/javascript">
	(function (d, w, c) {
	    (w[c] = w[c] || []).push(function() {
	        try {
	            w.yaCounter8819377 = new Ya.Metrika({id:8819377, enableAll: true, webvisor:true, ut: 'noindex'});
	        } catch(e) {}
	    });
	    
	    var n = d.getElementsByTagName("script")[0],
	        s = d.createElement("script"),
	        f = function () { n.parentNode.insertBefore(s, n); };
	    s.type = "text/javascript";
	    s.async = true;
	    s.src = (d.location.protocol == "https:" ? "https:" : "http:") + "//mc.yandex.ru/metrika/watch.js";
	
	    if (w.opera == "[object Opera]") {
	        d.addEventListener("DOMContentLoaded", f);
	    } else { f(); }
	})(document, window, "yandex_metrika_callbacks");
	</script>
	<noscript><div><img src="//mc.yandex.ru/watch/8819377" style="position:absolute; left:-9999px;" alt="" /></div></noscript>
	<!-- /Yandex.Metrika counter -->
</div>
{% endblock %}

{% endblock %}

{% block prebrand %}Личный кабинет {{ 'рекламодателя' if g.user.is_advertiser else 'партнёра' }}{% endblock %}

{% set topbar_fluid = true %}
{% block topbar %}
<ul class="nav"> 
	<li id="menu-item-index"><a href="{{ url_for('.index') }}">Главная</a></li>
	<li id="menu-item-offers"><a href="{{ url_for('.offers_requested' if g.user.is_affiliate else '.offers_list') }}">Офферы</a></li>
	{% if g.user.is_affiliate %}
	<li id="menu-item-cashback"><a href="{{ url_for('.cashback') }}">CashBack</a></li>
	{% endif %}
	<li id="menu-item-stats"><a href="{{ url_for('.stats_offer') }}">Статистика</a></li>
	<li id="menu-item-info"><a href="{{ url_for('.profile') }}">Профиль</a></li>
	{% if g.user.is_affiliate %}
	<li id="menu-item-withdrawals"><a href="{{ url_for('.withdrawals') }}">Выплаты</a></li>
	{% endif %}
	<li id="menu-item-notifications">
		<a href="{{ url_for('.notifications') }}" {% if g.notifications_unread > 0 %}class="unread"{% endif %}>
			Уведомления {{ '({0})'.format(g.notifications_unread) if g.notifications_unread > 0 }}
		</a>
	</li>
</ul>

<ul class="nav secondary-nav">
	<li class="dropdown">
		<a class="dropdown-toggle" href="#">{{ g.user.full_name or g.user.email }}</a>
		<ul class="dropdown-menu">
			<li><a href="{{ url_for('site.logout') }}">Выйти</a></li>
		</ul>
	</li>
</ul>
{% endblock %}

{% block breadcrumbs_container %}
<ul class="breadcrumb">
	{% block breadcrumbs %}
	{% endblock %}
	
	<span class="status">
		<a href="#" data-controls-modal="manager-modal" data-backdrop="true" data-keyboard="true">Служба поддержки</a>
		<span class="divider">/</span>
		Ваш ID: {{ g.user.id }}
		{% if g.user.is_advertiser %}
		<span class="divider">/</span>
		Ваш баланс: {{ g.user.advertiser_account.balance|currency }}
		{% else %}
		<span class="divider">/</span>
		Неподтв.: {{ g.user.affiliate_account_not_confirmed.balance|currency }}
		<span class="divider">/</span>
		Подтв.: {{ g.user.affiliate_account.balance|currency }}
		{% endif %}
	</span>
</ul>
{% endblock %}

{% block precontent %}
	{% if not g.user.confirmed %}
		<div class="clearfix alert-message block-message info">
			<p>
				<strong>Ваш электронный адрес не подтвержден.</strong>
				Пожалуйста, подтвердите ваш почтовый ящик. Если почтовый ящик не будет
				подтвержден в течение двух недель, ваша учетная запись будет заблокирована. 
				Если вы не получили письмо со ссылкой на подтверждение регистрации, 
				вы можете запросить повторную отправку письма, нажав кнопку ниже.
			</p>
			<div class="alert-actions">
				<form method="post" action="{{ url_for('.profile_sendmail') }}" class="inline">
					<input type="submit" class="btn small span4" style="font-weight: bold;" value="Выслать письмо повторно" />
				</form>
			</div>
		</div>
	{% endif %}
	{% if g.user.is_affiliate and not g.user.wmr and 'profile/edit' not in request.url %}
		<div class="clearfix alert-message block-message warning">
			<p>
				<strong>Не заполнен номер WMR-кошелька.</strong>
				Для совершения выплат нам необходим номер вашего WMR-кошелька в системе
				WebMoney. Пожалуйста, заполните его в вашем профиле. Чтобы перейти
				к редактированию профиля, нажмите кнопку ниже.
			</p>
			<div class="alert-actions">
				<a class="btn small span4" href="{{ url_for('.profile_edit') }}">Ввести номер WMR-кошелька</a>
			</div>
		</div>
	{% endif %}
{% endblock %}

{% block footer_signs %}
{% set wmid = g.config.get('ROBOKASSA_WMID', '000000000000') %}

<a href="http://www.webmoney.ru">
	<img src="http://www.webmoney.ru/img/icons/88x31_wm_blue_on_white_ru.png"
	alt="Мы принимаем WebMoney" />
</a>

<!-- begin WebMoney Transfer : attestation label --> 
<a href="https://passport.webmoney.ru/asp/certview.asp?wmid={{ wmid }}" target=_blank>
	<IMG SRC="http://www.webmoney.ru/img/icons/88x31_wm_v_blue_on_white_ru.png" 
	title="Здесь находится аттестат нашего WM идентификатора {{ wmid }}" border="0"><br>
	<font size=1>Проверить аттестат</font>
</a>
<!-- end WebMoney Transfer : attestation label -->
{% endblock %}
			
{% block postbody %}
<div id="manager-modal" class="modal fade" style="display: none;">
	<div class="modal-header">
		<a href="#" class="close">×</a>
		<h3>Служба поддержки</h3>
	</div>
	<div class="modal-body">
		{% if g.user.is_advertiser %}
			<p>
				Поддержка партнёров осуществляется по электронной почте
				<a href="mailto:sales@heymoose.com">sales@heymoose.com</a>.
			</p>
		{% endif %}
		{% if g.user.is_affiliate %}
			<p>
				Поддержка партнёров осуществляется по электронной почте
				<a href="mailto:affiliate@heymoose.com">affiliate@heymoose.com</a>.
			</p>
			<p>
				Также вы можете задать любой вопрос на главной странице
				вашего личного кабинета.
			</p>
		{% endif %}
	</div>
</div>

{# Google Remarketing #}
<script type="text/javascript">
	/* <![CDATA[ */
	var google_conversion_id = 1007747337;
	var google_conversion_label = "T5hWCPevowQQiYLE4AM";
	var google_custom_params = window.google_tag_params;
	var google_remarketing_only = true;
	/* ]]> */
</script>
<script type="text/javascript" src="//www.googleadservices.com/pagead/conversion.js"></script>
<noscript>
	<div style="display:inline;">
		<img height="1" width="1" style="border-style:none;" alt="" src="//googleads.g.doubleclick.net/pagead/viewthroughconversion/1007747337/?value=0&amp;label=T5hWCPevowQQiYLE4AM&amp;guid=ON&amp;script=0"/>
	</div>
</noscript>
{% endblock %}
