{% extends "cabinetcpa/layout.html" %}
{% import 'common/notifications.html' as notification_macros with context %}

{% block title %}Уведомления{% endblock %}

{% set activemenu = 'notifications' %}

{% block breadcrumbs %}
	{{ super() }}
	{{ macros.breadcrumb('Уведомления', url_for('.notifications')) }}
{% endblock %}

{% block pageheader %}<h1>{{ self.title() }}</h1>{% endblock %}

{% block extrahead %}
	{{ super() }}
	{{ notification_macros.head() }}
{% endblock %}

{% block content %}
	{{ notification_macros.table(notifications) }}
{% endblock %}
