{% extends "admin/layout.html" %}

{% block title %}Оффер &laquo;{{ offer.name }}&raquo;{% endblock %}

{% set activemenu = "offers" %}

{% block extrahead %}
{{ super() }}
{% set activetab = activetab|default('info') %}
<script type="text/javascript">
	$(function() { 
		$('li#tab-{{ activetab }}').addClass('active');
	})
</script>
{% endblock %}

{% block breadcrumbs %}
	{{ super() }}
	{{ macros.breadcrumb('Офферы', url_for('.offers_list')) }}
	{{ macros.breadcrumb(self.title(), url_for('.offers_info', id=offer.id)) }}
{% endblock %}

{% block pageheader %}
<h1>{{ self.title() }}</h1>
{% endblock %}

{% block content %}
<ul class="tabs">
	<li id="tab-info"><a href="{{ url_for('.offers_info', id=offer.id) }}">Общее</a></li>
	<li id="tab-edit"><a href="{{ url_for('.offers_info_edit', id=offer.id) }}">Редактировать</a></li>
	{% if not offer.is_product_offer %}
	<li id="tab-actions"><a href="{{ url_for('.offers_info_actions', id=offer.id) }}">Действия</a></li>
	{% endif %}
	<li id="tab-materials"><a href="{{ url_for('.offers_info_materials', id=offer.id) }}">Материалы</a></li>
	<li id="tab-sales"><a href="{{ url_for('.offers_info_sales', id=offer.id) }}">Продажи</a></li>
	<li id="tab-operations"><a href="{{ url_for('.offers_info_operations', id=offer.id) }}">Операции</a></li>
	<li id="tab-finances"><a href="{{ url_for('.offers_info_finances', id=offer.id) }}">Финансы</a></li>
	<li id="tab-stats"><a href="{{ url_for('.offers_info_stats_suboffer', id=offer.id) }}">Статистика</a></li>
</ul>

{% block tabcontent %}<p>Раздел находится в разработке.</p>{% endblock %}
{% endblock %}

