{% extends "admin/offers/info/layout.html" %}
{% import 'common/macros/lists.html' as lists with context %}
{% import 'common/materials.html' as materials_macros %}

{% set activetab = 'materials' %}

{% block tabcontent %}

<form method="post" action="" class="widelabels validate2" enctype="multipart/form-data">
	<fieldset>
		<legend>Загрузка баннера</legend>
		{% call forms.singlefield_desc(form.image) %}
		<span class="help-block">
			Принимаются изображения в формате JPG (JPEG), GIF, PNG, SWF (Flash), SVG.
			Максимальный размер загружаемого изображения &mdash; 1Мб.
		</span>
		{% endcall %}
		<div class="actions">
			<input class="btn primary" type="submit" value="Загрузить" style="margin-right: 30px;" />
			<a href="{{ url_for('.offers_info_materials_upload', id=offer.id) }}"
			 >загрузить большое количество изображений</a>
		</div>
	</fieldset>
</form>

{% if banners %}
	<form method="post" action="">
		<div class="well right">
			<input type="submit" value="Удалить выбранные баннеры" class="btn danger banner-action"
			 onclick="return confirm('Удалить выбранные баннеры?');" />
		</div>
		<div class="data-list" data-action-class="banner-action">
			{% call(head, banner) materials_macros.table(banners, colspan=5) %}
				{% if head %}
				<th class="center minimal-width">
					<input type="checkbox" class="data-list-select-all-checkbox" />
				</th>
				{% else %}
				<td class="center">
					<input type="checkbox" class="data-list-item-checkbox" name="id" value="{{ banner.id -}}" />
				</td>
				{% endif %}
			{% endcall %}
		</div>
	</form>
	{{ lists.paginate(pages, id=offer.id) }}
{% else %}
	<div class="clearfix alert-message block-message info">
		<p><strong>Список пуст.</strong> Еще не было добавлено никаких материалов.</p>
	</div>
{% endif %}

{% endblock %}
