{% extends "admin/offers/info/layout.html" %}

{% set activetab = 'operations' %}

{% block tabcontent %}

<h2>Подтверждение действий</h2>

<form method="post" action="">
	<input type="hidden" name="type" value="approve" />
	<input type="submit" value="Подтвердить все готовые действия" class="btn success" onclick="return confirm('Подтвердить?');" />
</form>

<h2>Отмена действий по транзакциям</h2>

<form method="post" action="" enctype="multipart/form-data">
	<input type="hidden" name="type" value="cancel" />
	<div class="clearfix">
		<input type="file" name="csv" />
	</div>
	<div class="clearfix">
		<input type="submit" value="Отменить действия" class="btn success" />
	</div>
</form>

{% endblock %}
