{% extends "admin/offers/info/layout.html" %}
{% import 'common/placements.html' as placement_macros %}

{% set activetab = 'placements' %}
{% set content_fluid = true %}

{% block tabcontent %}

{% if placements %}
	{% call(head, placement) placement_macros.table(placements, affiliate=true) %}
		{% if head %}
			<th></th>
		{% else %}
			<td class="center">
				{% if placement.is_approved %}
					<a href="{{ url_for('.placements_info_block', id=placement.id, back=request.url) }}"><img src="{{ url_for('static', filename='img/lock.gif') }}" alt="заблокировать" title="заблокировать" onclick="return confirm('Заблокировать размещение?');"></a>
				{% else %}
					<a href="{{ url_for('.placements_info_unblock', id=placement.id, back=request.url) }}"><img src="{{ url_for('static', filename='img/unlock.gif') }}" alt="разблокировать" title="разблокировать" onclick="return confirm('Разблокировать размещение?');"></a>
				{% endif %}
			</td>
		{% endif %}
	{% endcall %}
{% else %}
	<div class="clearfix alert-message block-message info">
		<p><strong>Список пуст.</strong> Не найдено размещений оффера.</p>
	</div>
{% endif %}

{% endblock %}
