{% extends "admin/offers/info/layout.html" %}
{% import 'common/forms/datetime-range.html' as datetime_range %}
{% import 'common/actions.html' as action_macros with context %}

{% set activetab = 'sales' %}
{% set content_fluid = true %}

{% block extrahead %}
	{{ super() }}
	{{ datetime_range.head() }}
	{{ action_macros.head() }}
{% endblock %}

{% block tabcontent %}

{{ datetime_range.html(form, 'Показать продажи за время:') }}
{{ action_macros.table(actions, admin=true, id=offer.id, **form.query_args()) }}

{% endblock %}
