{% extends "site/hm/de/layout.html" %}

{% set activemenu = "advertisers" %}

{% block title %}Für Werbungtreibende{% endblock %}

{% block content %}
<h1 class="hm-roundbox-header">{{ heymoose(False) }} Werbungtreibende</h1>
<div class="article">
	<p>
		Die Einhundert-Prozent Return-on-Werbung - nur ein Traum? Mit unserem Risiko-freien
		Online-Marketing wird dieser Traum Wirklichkeit. Sie müssen zugeben, dass es, um Ihr
		Werbebudget zu planen so einfacher und günstiger ist, weil es sonst viel kostet,
		jeden Kunden einzeln zu gewinnen. Wie wäre es mit einem netten Bonus in Form einer
		Werbung für Ihre Marke? Weitere Informationen sind nur für diejenigen gedacht, die
		wirklich eine effiziente Werbung für ihre Produkte bekommen möchten und eine Menge
		Geld verdienen wollen.
	</p>
	
	<h3>Welches Problem löst das {{ heymoose(false) }}?</h3>
	<p>
		Es gibt viele Probleme, wenn man mit Partnern direkt zusammenarebeitet. Sie benötigen
		ein automatisches System, das dem Partner eine transparente Interaktion bietet und diese
		Ihrem Produkt verleiht,. Das “HeyMoose!” entwickelt Statistiken von Layouts, Klicks und
		Aktionen, die Kunden auf Ihrer Website vornehmen, es sorgt für pünktliche Zahlungen und
		führt die technische Unterstützung durch. Darüber hinaus müssen Sie Geld ausgeben, um die
		Partner zu gewinnen. "HeyMoose!" übernimmt all' diese Dinge für Sie und bietet Ihnen die
		vollständige Palette des Affiliate-Marketing. Alles, was von Ihnen zu tun ist, ist Ihr
		Werbematerial auf unserer Webseite herunterzuladen und dann warten Sie auf die Kunden,
		die Ihr Produkt kaufen.
	</p>
	
	<h3>Die Vorteile unsereres Affiliate-Netzwerk {{ heymoose(false) }}</h3>
	<ul class="dashed-list">
		<li>
			Wir arbeiten nur mit Unternehmen zusammen, die in erster Linie darauf
			orientiert und daran arbeiten die Erhöhung ihrer Gewinne zu erhöhen.
		</li>
		<li>
			Jeder Kunde erhält einen persönlichen Manager, der ihn berät und alle
			Probleme löst. Darüber hinaus wird das Personal Bonus-System so konzipiert,
			dass es jeder an der Steigerung Ihres Einkommens interessierten Person
			angepasst wird.
		</li>
		<li>
			Das "HeyMoose!" ist für diejenigen geadcht, die an eine effektive Zusammenarbeit
			von Geschäftspartnern glauben und an einer sich schnellen und effizienten
			Problemlösung, also an der ständig steigenden Effizienz und am Umsatz Ihres
			Unternehmens, interessiert und gewöhnt sind. 
		</li>
		<li>
			Es bringt nur starke erfahrene Partner - Meister ihres Geschäfts! Als Ergebnis
			Ihrer Werbekampagne werden schnellere und bessere Reaktionen in Form von höheren
			Gewinnen erfolgen.
		</li>
	</ul>
	
	<h3>Beispiele der {{ heymoose(false) }} working</h3>
	<ol class="enumerated-list">
		<li>
			Sie wollen den Umsatz im Online-Shop erhöhen. Sie laden Werbematerialien
			herunter und  legen die Zahlung an den Webmaster (als Prozentsatz des Umsatzes
			oder als einen festen Betrag für die Registrierung oder Bestellung von Waren)
			dar. Wenn Ihr Angebot  interessant ist, legt Webmaster es auf seiner Website ab
			und Sie können die Anzahl der Aktionen mittels seiner Möglichkeiten auf Ihrem
			privaten Konto mitverfolgen.
		</li>
		<li>
			Angenommen, Sie haben ein Spiel für das iPhone entwickelt. Sie verbrachten Zeit
			und Geld für Programmierung, Grafik und jetzt müssen Sie das Spiel nur noch im
			AppStore  platzieren, um Geld zu verdienen. Danach bekommen Sie das Signal Traffic
			aus der Abteilung "neue" und dann entsteht vor Ihnen ein Problem, wie man das Spiel
			über Wasser halten kann, um einen konstanten Zufluss von neuen Nutzern zu haben,
			weil es passieren könnte, dass andere Werbenetzwerke sich als nicht so effizient
			erweisen, wie Sie erwartet hatten. Hier löst das Network "HeyMoose!"das Problem
			der Gewinnung von Nutzern, weil wir Ihre Anwendung in unser System stellen und so
			wird es nur für unsere Partner (erfahrene Internet-Marketingspezialisten, sowie
			thematische Ressourcen Besitzer), erreichbar und am Ende bekommen Sie die erforderlichen
			Nutzer. Die Zahlung erfolgt nur für die ausgewählten Arten von Anwendungen: install,
			Ebenen usw. auf Ihrem privaten Konto, die Sie verfolgen können, auch Statistiken, Sie
			sehen auch von welchem ​​Partner Sie den Datenverkehr von höchster Qualität empfangen.
		</li>
	</ol>
	
	<h3>Die Integration mit {{ heymoose(false) }} System</h3>
	<div class="row">
		<div class="span12">
			<p>
				Unser System verfolgt alle Aktionen im Automatikbetrieb. Wenn Sie mit dem
				"HeyMoose!" System arbeiten möchten, müssen Sie den Code in Ihren Dienst nach
				unseren Unterlagen.
			</p>
		</div>
		<div class="span" style="margin-top: 8px;">
			<a href="http://trac.heymoose.com/wiki/affiliate_network_english" class="btn hey large">Unterlagen</a>
		</div>
	</div>
</div>
{% endblock %}
