{% extends "site/hm/de/layout.html" %}

{% set activemenu = "affiliates" %}

{% block title %}Für Partner{% endblock %}

{% block content %}
<h1 class="hm-roundbox-header">{{ heymoose(False) }} Partner</h1>
<div class="article">
	<p>
		Was sind in der Regel Entwickler und Partner, die sich auf die Suche im Affiliate-Programm
		begeben? Das zusätzliche Einkommen mit einem Minimum an Einsatz von Arbeitskräft. Wie üblich,
		sieht es aus wie ein Platzieren von Werbung auf Websites mit hohem Verkehr, Portalen und
		sozialen Netzwerken. Aber nun kommt der mobile Markt ins Spiel, der ihre Positionen mehr und
		mehr ausbaut und verstärkt. Mobile Anwendungen können noch mehr Umsatz generieren, weil ihre
		Nutzer sich auf dem schnellsten Ergebnis konzentrieren &mdash; sie haben keine Zeit, um zu
		wählen und zu vergleichen. Sie sehen, was sie wollen und Sie nehmen das, was Sie sie zum
		ersten Mal sehen.
	</p>
	
	<h3>Wie gehen Sie vor, um mit {{ heymoose(false) }} zu arbeiten?</h3>
	<p>
		Lassen Sie sich auf unserer Webseite registrieren, fügen Sie Ihre Werbe-Plattform hinzu und
		wählen Sie die Sie interessierenden Werbenangebote aus. Sie können aus dieser Werbung Werbematerial,
		Banner und Textlinks wählen, die Sie in jeder für Sie geeigneten Form platzieren können. Ausgeführt
		werden können Statistiken über Konversionen aus der Werbung und Aktionen, auch Guthaben werden auf
		Ihrem Konto bzw. in Ihrem persönlichen Account genannt. (Auf dem persönlichen Konto werden die
		Statistiken über Übergänge von Werbung und den durchgeführten Aktionen überwacht, sowie die Ihrem
		Konto gutgeschriebenen Beträge dargestellt.)
	</p>
	
	<h3>Welche Vorteile bietet das Affiliate-Netzwerk {{ heymoose(false) }}?</h3>
	<p>
		Wir befinden uns mit diesem Netztwerk in einem guten Webmaster, bieten Qualität bei Werbekampagnen,
		damit das Netzwerk «HeyMoose!» auch das entsprechende Interesse findet. - Dieses vergleicht vor
		allen Dingen Angebote mit dem angemessenen Verdienst. Wir überwachen permanent die Kosten für konkrete
		Maßnahmen in einem bestimmten Bereich, und mit Partnern hinsichtlich der Preise über dem
		Marktdurchschnitt.
	</p>
	
	<h3>{{ heymoose(false) }} Werbeangebote</h3>
	<div class="row">
		<div class="span12">
			<p>
				Klicken Sie auf diese Schaltfläche, wenn Sie die Beispiele aus unserem Angebot dargestellt
				haben möchten. Nach der Registrierung erhalten Sie den vollen Zugang zu Informationen über
				Angebote, und auch eine grosse Anzahl von Angeboten von anderen Werbungtreibenden. 
			</p>
		</div>
		<div class="span" style="margin-top: 16px;">
			<a href="{{ url_for('.catalog') }}" class="btn hey large" target="_blank">Werbeangebote</a>
		</div>
	</div>
	
	<h3>Das {{ heymoose(false) }} Affiliate-Programm</h3>
	<p>
		Wenn Ihr Wort in der Webmaster-Welt über ein Gewicht verfügt, haben Sie einen Blog oder ein
		Forum zu den relevanten Themen befördert und Sie wollen Geld auf der Grundlage deren Popularität
		verdienen &mdash; wir bieten Ihnen die Möglichkeit an der Gewinnung von Webmastern in unserem
		Affiliate-Netzwerk "HeyMoose!” teilzunehmen. Nehmen Sie an unserem Affiliate-Programm teil und
		erhalten Sie dabei eine Provision von 5%.
	</p>
	<p>
		Das "HeyMoose!" Affiliate-Programm ist eine zusätzliche Möglichkeit das Einkommen zu erhöhen
		durch die Aufforderung an aktive Menschen im Netz zu arbeiten und dadurch Geld zu verdienen.
		Je mehr sie verdienen, desto höher wird Ihr Einkommen! Was bietet das Affiliate-Programm:
	</p>
	<ul class="dashed-list">
		<li>5% Provision auf Dauer;</li>
		<li>es bietet ein bequemes Entnahme-System &mdash; einzeln oder zusammen mit den Zahlungen der offers;</li>
		<li>
			Sie können einen Empfehlungs-Link, dort wo Sie wollen platzieren &mdash; im Artikel, dem Thema oder
			Forum Signaturen, Banner, Kommentare, soziale Netzwerke, Briefe an Ihre Freunde;
		</li>
		<li>
			Detaillierte Statistiken nach Anzahl der Empfehlungen und verdientes Geld in Echtzeit;
		</li>
		<li>
			Die bequemste Form der Beratung für Sie: Per Telefon, ICQ, E-Mail und Skype.
		</li>
	</ul>
</div>
{% endblock %}
