{% extends "admin/users/info/layout.html" %}
{% import 'common/accounting-entries.html' as entry_macros %}

{% set activetab = 'balance' %}

{% block breadcrumbs %}
	{{ super() }}
	{{ macros.breadcrumb('Операции со счетом', url_for('.users_info_balance', id=user.id)) }}
{% endblock %}

{% block tabcontent %}

{% if user.is_advertiser %}
	<h2>Пополнение счета</h2>
	<div class="row">
		<div class="span8">
			<div class="form-container">
				<form id="form-balance-pay" action="" method="post" class="validate">
					<fieldset>
						{{ forms.singlefield(form.amount, class='span4') }}
					</fieldset>
					<div class="input">
						<input class="btn primary" type="submit" value="Пополнить баланс"/>
					</div>
				</form>
			</div>
		</div>
		<div class="span7">
			<p>
				Платеж производится в рублях. Введенная сумма будет округлена до двух десятичных знаков.
				Минимальный размер платежа &mdash; 1 {{ currency_sign }}, максимальный &mdash;
				<nobr>60 000 000 {{ currency_sign }}</nobr>
			</p>
		</div>
	</div>
{% endif %}

<h2>История операций</h2>

{% if entries %}
	{% call(head, entry) entry_macros.table(entries) %}{% endcall %}
	{{ macros.paginate(pages, '.users_info_balance', id=user.id) }}
{% else %}
	<div class="clearfix alert-message block-message info">
		<p><strong>Список пуст.</strong> По вашему счету не проводилось ни одной операции.</p>
	</div>
{% endif %}

{% endblock %}