{% extends "admin/users/info/layout.html" %}
{% import 'common/debts.html' as debts_list with context %}
{% import 'common/forms/datetime-range.html' as datetime_range %}

{% set activetab = 'finances' %}
{% set content_fluid = true %}

{% block extrahead %}
	{{ super() }}
	{{ datetime_range.head() }}
{% endblock %}

{% block breadcrumbs %}
	{{ super() }}
	{{ macros.breadcrumb('Финансы', url_for('.users_info_finances', id=user.id)) }}
{% endblock %}

{% block tabcontent %}

{{ datetime_range.html(form, 'Показать долг за период:') }}

{% call(place, debt) debts_list.html(debts, overall_debt, show_affiliate=false, id=user.id, **form.query_args()) %}{% endcall %}

{% endblock %}
