{% extends "admin/users/info/layout.html" %}

{% set activetab = 'info' %}

{% block tabcontent %}

{% if user.blocked %}
	<div class="clearfix alert-message block-message error">
		<p>Учетная запись заблокирована.</p>
		{% if user.block_reason %}
		<p>Причина блокировки: <i>{{ user.block_reason }}</i></p>
		{% endif %}
	</div>
{% endif %}

<div class="well right">
	<a href="{{ url_for('.users_info_login', id=user.id) }}" class="btn primary">Войти в учетную запись</a>
	{% if user.blocked %}
	<a href="#" class="btn success" data-controls-modal="login-block"
	 data-backdrop="true" data-keyboard="true">Разблокировать учетную запись</a>
	{% else %}
	<a href="#" class="btn danger" data-controls-modal="login-block"
	 data-backdrop="true" data-keyboard="true">Заблокировать учетную запись</a>
	{% endif %}
</div>

<table class="key-value">
	<tbody>
		{% if user.is_admin %}
		<tr><th></th><td><span class="label important">Администратор</span></td></tr>
		{% endif %}
		<tr><th>Имя</th><td>{{ user.full_name|default('(не указано)', true) }}</td></tr>
		<tr><th>Организация</th><td>{{ user.organization|default('(не указана)', true) }}</td></tr>
		{% if user.is_affiliate %}
		<tr><th>WMR-кошелёк</th><td>{{ user.wmr|default('(не указан)', true) }}</td></tr>
		{% endif %}
		<tr><th>Зарегистрирован</th><td>{{ user.register_time|datetimeformat }}</td></tr>
		
		{% if user.is_advertiser %}
		<tr><th>Баланс</th><td>{{ user.advertiser_account.balance|currency }}</td></tr>
		{% elif user.is_affiliate %}
		<tr><th>Неподтвержденные средства</th><td>{{ user.affiliate_account_not_confirmed.balance|currency }}</td></tr>
		<tr><th>Подтвержденные средства</th><td>{{ user.affiliate_account.balance|currency }}</td></tr>
		{% endif %}
	</tbody>
</table>

<h3>Контакты</h3>
<table class="key-value">
	<tbody>
		<tr>
			<th>E-mail</th>
			<td>
				{{ user.email }}
				{% if not user.confirmed %}<span class="label important">Не подтвержден</span>{% endif %}
			</td>
		</tr>
		<tr><th>Телефон</th><td>{{ user.phone|default('(не указан)', true) }}</td></tr>
		<tr>
			<th>Мессенджер</th>
			<td>
				{% if user.messenger_type %}
				{{ user.messenger_uid }} ({{ user.messenger_type }})
				{% else %}
				(не указан)
				{% endif %}
			</td>
		</tr>
	</tbody>
</table>

{% if user.is_affiliate %}
<h3>Реферальная программа</h3>
<table class="key-value">
	<tbody>
		{% with ref = url_for('site.register_affiliate', ref=user.get_refcode(), _external=true) %}
		<tr><th>Реферальная ссылка</th><td><a href="{{ ref }}">{{ ref }}</a></td></tr>
		{% endwith %}
		<tr>
			<th>Реферер</th>
			<td>
				{% if user.referrer %}
				<a href="{{ url_for('.users_info', id=user.referrer) }}">Пользователь {{ user.referrer }}</a>
				{% else %}
				(нет)
				{% endif %}
			</td>
		</tr>
		<tr>
			<th>Рефералы</th>
			<td>
				{% for referral in user.referrals %}
				<p><a href="mailto:{{ referral }}">{{ referral }}</a></p>
				{% else %}
				(нет)
				{% endfor %}
			</td>
		</tr>
	</tbody>
</table>
{% endif %}

{% endblock %}

{% block postbody %}
	{{ super() }}
	<div id="login-block" class="modal" style="display: none;">
		{% if not user.blocked %}
		<form method="post" action="" class="validate2">
			<div class="modal-header">
				<a href="#" class="close">×</a>
				<h3>Блокировка учетной записи пользователя</h3>
			</div>
			<div class="modal-body">
				<fieldset>
					{{ forms.singlefield(form.reason, class='span6', rows=6) }}
					<div class="input">
						{{ form.mail() }} уведомить пользователя по почте
					</div>
				</fieldset>
			</div>
			<div class="modal-footer">
				<input type="submit" class="btn primary" value="Заблокировать" />
			</div>
		</form>
		{% else %}
		<form method="post" action="">
			<div class="modal-header">
				<a href="#" class="close">×</a>
				<h3>Разблокировка учетной записи пользователя</h3>
			</div>
			<div class="modal-body">
				<p>Разблокировать учетную запись пользователя?</p>
			</div>
			<div class="modal-footer">
				<input type="submit" class="btn primary" value="Разблокировать" />
			</div>
		</form>
		{% endif %}
	</div>
{% endblock %}
