{% extends "admin/layout.html" %}

{% block title %}Финансы{% endblock %}

{% set activemenu = "finances" %}

{% block extrahead %}
{{ super() }}
{% set activetab = activetab|default('withdrawals') %}
<script type="text/javascript">
	$(function() {
		$('li#tab-{{ activetab }}').addClass('active');
	})
</script>
{% endblock %}

{% block breadcrumbs %}
	{{ super() }}
	{{ macros.breadcrumb(self.title(), url_for('.finances')) }}
{% endblock %}

{% block pageheader %}
<h1>{{ self.title() }}</h1>
{% endblock %}

{% block content %}
<ul class="tabs">
	<li id="tab-withdrawals-affiliate"><a href="{{ url_for('.finances_withdrawals_affiliate') }}">Выплаты по партнёрам</a></li>
	<li id="tab-withdrawals-offer"><a href="{{ url_for('.finances_withdrawals_offer') }}">Выплаты по офферам</a></li>
	<li id="tab-debts"><a href="{{ url_for('.finances_debts') }}">Задолженность</a></li>
	<li id="tab-payments"><a href="{{ url_for('.finances_payments') }}">Выплаченные средства</a></li>
</ul>

{% block tabcontent %}<p>Раздел находится в разработке.</p>{% endblock %}
{% endblock %}
