{% extends "mail/layout-admin.html" %}

{% block subject %}
Не удалось добавить пользователя в списки
{% endblock %}

{% block html %}
Произошла ошибка при добавлении пользователя
<a href="{{ root + url_for('admin.users_info', id=user.id) }}">{{ user.nickname }} ({{ user.email }})</a>
в один или несколько списков рассылки. Для получения подробной информации см. лог.
{% endblock %}

{% block plain %}
Произошла ошибка при добавлении пользователя {{ user.nickname }} ({{ user.email }}) в один или несколько
списков рассылки. Для получения подробной информации см. лог.
{% endblock %}
