{% extends "mail/layout-admin.html" %}

{% block subject %}
Заказ "{{ order.title }}" заблокирован
{% endblock %}

{% block html %}
<p>
	Заказ <a href="{{ root + url_for('admin.orders_info', id=order.id) }}">{{ order.title }}</a>
	был заблокирован администратором {{ admin.full_name() }} ({{ admin.email }}).
</p>
{% if reason %}
<p>Причина блокировки:</p>
<p><i>{{ reason }}</i></p>
{% endif %}
{% endblock %}

{% block plain %}
Заказ "{{ order.title }}" был заблокирован администратором {{ admin.full_name() }} ({{ admin.email }}).

{% if reason %}
Причина блокировки:
/////
{{ reason }}
/////
{% endif %}
{% endblock %}
