{% extends "mail/layout-user.html" %}

{% block subject %}
Заявка на сотрудничество с рекламной кампанией "{{ offer.name }}" отклонена
{% endblock %}

{% block html %}
<p>
	Ваша заявка на сотрудничество с рекламной кампанией
	<a href="{{ root + url_for('cabinetcpa.offers_info', id=offer.id) }}">{{ offer.name }}</a>
	отклонена рекламодателем.
</p>
{% if reason %}
<p>Причина:</p>
<p><i>{{ reason }}</i></p>
{% endif %}

{% endblock %}

{% block plain %}
Ваша заявка на сотрудничество с рекламной кампанией "{{ offer.name }}" отклонена рекламодателем.

{% if reason %}
Причина: {{ reason }}
{% endif %}
{% endblock %}
