{% extends "mail/layout-user.html" %}

{% block subject %}
Ваша учетная запись заблокирована администрацией
{% endblock %}

{% block html %}
<p>
	Ваша учетная запись {{ user.email }} на сайте <a href="http://heymoose.com">heymoose.com</a>
	была заблокирована администрацией.
</p>
{% if reason %}
<p>Причина блокировки:</p>
<p><i>{{ reason }}</i></p>
{% endif %}
<p>Если причина блокировки вам неясна или произошло недоразумение, пожалуйста, свяжитесь с нами.</p>
{% endblock %}

{% block plain %}
Ваша учетная запись {{ user.email }} на сайте http://heymoose.com была заблокирована администрацией.

{% if reason %}
Причина блокировки:
/////
{{ reason }}
/////
{% endif %}

Если причина блокировки вам неясна или произошло недоразумение, пожалуйста, свяжитесь с нами.
{% endblock %}
