{% extends "mail/layout-user.html" %}

{% block subject %}
Изменена минимальная стоимость клика в системе
{% endblock %}

{% block html %}
<p>
	В системе HeyMoose изменена минимальная стоимость клика. Теперь она равна {{ c|currency }}
	Один или несколько ваших заказов имеют стоимость клика ниже минимальной. В этом случае баннеры
	показываться не будут. Пожалуйста, повысьте стоимость клика в этих заказах.
</p>
{% endblock %}

{% block plain %}
В системе HeyMoose изменена минимальная стоимость клика. Теперь она равна {{ c|currency }}
Один или несколько ваших заказов имеют стоимость клика ниже минимальной. В этом случае баннеры
показываться не будут. Пожалуйста, повысьте стоимость клика в этих заказах.
{% endblock %}
