{% extends "mail/layout-user.html" %}

{% block subject %}
Восстановление пароля в системе HeyMoose
{% endblock %}

{% block html %}
<p>Здравствуйте!</p>
<p>
	Новый пароль к вашей учетной записи в системе &laquo;HeyMoose!&raquo;:
</p>
<p>{{ password }}</p>
<p>
	Если вы не запрашивали восстановление пароля или получили это письмо по ошибке,
	пожалуйста, свяжитесь с администрацией &laquo;HeyMoose!&raquo;
</p>
{% endblock %}

{% block plain %}
Здравствуйте!

Новый пароль к вашей учетной записи в системе "HeyMoose!":

{{ password }}

Если вы не запрашивали восстановление пароля или получили это письмо по ошибке,
пожалуйста, свяжитесь с администрацией "HeyMoose!"

{% endblock %}
