{% extends "mail/layout-user.html" %}

{% block subject %}
Ваш заказ "{{ order.title }}" заблокирован администрацией
{% endblock %}

{% block html %}
<p>
	Ваш заказ <a href="{{ root + url_for('cabinet.orders_info', id=order.id) }}">{{ order.title }}</a>
	был заблокирован администрацией.
</p>
{% if reason %}
<p>Причина блокировки:</p>
<p><i>{{ reason }}</i></p>
{% endif %}
<p>Если причина блокировки вам неясна или произошло недоразумение, пожалуйста, свяжитесь с нами.</p>
{% endblock %}

{% block plain %}
Ваш заказ "{{ order.title }}" был заблокирован администрацией.

{% if reason %}
Причина блокировки:
/////
{{ reason }}
/////
{% endif %}

Если причина блокировки вам неясна или произошло недоразумение, пожалуйста, свяжитесь с нами.
{% endblock %}
