{% extends "mail/layout-user.html" %}

{% block subject %}
Подтверждение регистрации на сайте heymoose.com
{% endblock %}

{% set link = root + url_for('site.confirm', id=user.id, code=user.get_confirm_code()) %}

{% block html %}
<p>Здравствуйте!</p>
<p>
	Вы получили это письмо, так как ваш адрес электронной почты был использован при регистрации
	в системе &laquo;HeyMoose!&raquo; (<a href="{{ root }}">{{ root|noproto }}</a>). Если вы
	не регистрировались на данном сайте, просто проигнорируйте или удалите это письмо.
</p>
<p>
	Для продолжения регистрации в системе &laquo;HeyMoose!&raquo; проследуйте по следующей ссылке:
	<a href="{{ link }}">{{ link|noproto }}</a>
</p>
<p>
	После того, как регистрационный код будет подтвержден, вы получите полный доступ к интерфейсу 
	создания и управления заказами.
</p>
<p>
	Добро пожаловать в &laquo;HeyMoose!&raquo;
</p>
<p>
	С уважением,<br />
	команда &laquo;HeyMoose!&raquo;
</p>
{% endblock %}

{% block plain %}
Здравствуйте!

Вы получили это письмо, так как ваш адрес электронной почты был использован при регистрации
в системе "HeyMoose!" ({{ root }}). Если вы не регистрировались на данном сайте, просто
проигнорируйте или удалите это письмо.

Для продолжения регистрации в системе "HeyMoose!" проследуйте по следующей ссылке:
{{ link }}

После того, как регистрационный код будет подтвержден, вы получите полный доступ к интерфейсу 
создания и управления заказами.

Добро пожаловать в "HeyMoose!"

С уважением,
команда "HeyMoose!"
{% endblock %}
