{% extends "mail/layout-user.html" %}

{% block subject %}
Ваш заказ "{{ order.title }}" не прошел модерацию
{% endblock %}

{% block html %}
<p>
	Ваш заказ <a href="{{ root + url_for('cabinet.orders_info', id=order.id) }}">{{ order.title }}</a>
	не прошел модерацию и будет заблокирован.
</p>
{% if reason %}
<p>Причина:</p>
<p><i>{{ reason }}</i></p>
{% endif %}
<p>Если причина вам неясна или произошло недоразумение, пожалуйста, свяжитесь с нами.</p>
{% endblock %}

{% block plain %}
Ваш заказ "{{ order.title }}" не прошел модерацию и будет заблокирован.

{% if reason %}
Причина:
/////
{{ reason }}
/////
{% endif %}

Если причина вам неясна или произошло недоразумение, пожалуйста, свяжитесь с нами.
{% endblock %}
