{% import 'common/macros.html' as macros %}
{% import 'common/forms.html' as forms %}

{% macro html(offer, user=none, form=none) %}

{% set affiliate = user and user.is_affiliate %}
{% set owner = user and user.is_advertiser and offer.owned_by(user) %}
{% set admin = user.is_admin %}

{% if not offer.approved %}
	{% if offer.block_reason %}
	<div class="clearfix alert-message block-message error">
		<p>Оффер заблокирован администрацией.</p>
		{% if admin or owner %}<p>Причина блокировки: <i>{{ offer.block_reason }}</i></p>{% endif %}
	</div>
	{% else %}
	<div class="clearfix alert-message block-message error">
		<p>Оффер находится на модерации. Он станет активным после проверки администрацией.</p>
	</div>
	{% endif %}
{% elif not offer.active %}
	<div class="clearfix alert-message block-message warning">
		<p>Оффер отключен рекламодателем.</p>
	</div>
{% else %}
	<div class="clearfix alert-message block-message success">
		<p>Оффер активен.</p>
	</div>
{% endif %}

{% if affiliate and offer.visible %}
	<div class="clearfix alert-message block-message info">
		{% if not offer.placements %}
		<p>Чтобы начать сотрудничать с рекламной кампанией, разместите оффер на одной из своих площадок.</p>
		{% elif offer.placements|length == 1 %}
		<p>В данный момент оффер размещен на одной Вашей площадке.</p>
		{% else %}
		<p>В данный момент оффер размещен на {{ offer.placements|length }} Ваших площадках.</p>
		{% endif %}
		<div class="alert-actions">
			<a class="btn small" href="{{ url_for('.offers_info_placements', id=offer.id) }}">Управление размещениями</a>	
		</div>
	</div>
{% endif %}

<div class="row">
	<div class="span10">
		<div class="redactor-text">
			{{ offer.description|safe }}
		</div>
	</div>
	<div class="span5" style="width: 300px;">
		{% if admin and user.can('do_offer_block') %}
			<div class="well center">
				{% if offer.approved %}
				<a href="#" class="btn danger" data-controls-modal="modal-block"
				 data-backdrop="true" data-keyboard="true">Заблокировать оффер</a>
				{% else %}
				<a href="#" class="btn success" data-controls-modal="modal-unblock"
				 data-backdrop="true" data-keyboard="true">Разблокировать оффер</a>
				{% endif %}
			</div>
		{% endif %}
		<div class="roundbox roundbox--primary roundbox--shadowed">
			<div class="roundbox-content">
				{% if offer.logo_filename %}
				<div class="center clearfix" style="margin: 20px 20px 0 20px;">
					<img src="{{ url_for('upload', filename=offer.logo) }}"
					 alt="логотип" style="max-width: 150px;" />
				</div>
				{% endif %}
				<div class="center clearfix" style="margin-bottom: 10px;">
					<a href="{{ offer.site_url or offer.url }}" target="_blank">{{ offer.site_url or offer.url }}</a>
				</div>
				{% if offer.short_description %}
				<p class="small center">{{ offer.short_description }}</p>
				{% endif %}
			</div>
		</div>
		<div class="roundbox roundbox--primary roundbox--shadowed">
			<div class="roundbox-header">
				{% if owner %}
				<a href="{{ url_for('.offers_info_edit', id=offer.id) }}"
				 class="roundbox-header-link">изменить &raquo;</a>
				{% endif %}
				Информация
			</div>
			<div class="roundbox-content">
				<dl class="kv kv--inscribed kv--key180">
					{% if offer.cr is not none %}<dt>Средняя конверсия</dt><dd>{{ offer.cr|percent }}</dd>{% endif %}
					{% if admin %}<dt>Дата создания</dt><dd>{{ offer.creation_time|dateformat }}</dd>{% endif %}
					{% if offer.launch_time %}<dt>Дата запуска</dt><dd>{{ offer.launch_time|dateformat }}</dd>{% endif %}
					{% if admin %}<dt>Отображать в витрине</dt><dd>{{ macros.to_icon(offer.showcase) }}</dd>{% endif %}
					<dt>Deeplink разрешен</dt><dd>{{ macros.to_icon(offer.allow_deeplink) }}</dd>
					<dt>CashBack разрешен</dt><dd>{{ macros.to_icon(offer.allow_cashback) }}</dd>
					<dt>Время жизни cookie</dt><dd>{{ offer.cookie_ttl }} дней</dd>
				</dl>
				<div>
					<strong>Регионы:</strong>
					{{ offer.regions_full|attrlist('country_name')|join(', ')|default('(не указаны)', true) }}
				</div>
			</div>
		</div>
		
		{% if (owner or (admin and user.can('view_offer_finances'))) and offer.overall_debt %}
		<div class="roundbox roundbox--primary roundbox--shadowed">
			<div class="roundbox-header">
				Финансы
			</div>
			<div class="roundbox-content">
				<dl class="kv kv--inscribed kv--key150">
					<dt>Задолженность</dt><dd>{{ offer.overall_debt.debt_amount|currency }}</dd>
					<dt>К выплате</dt><dd>{{ offer.overall_debt.pending_amount|currency }}</dd>
				</dl>
			</div>
		</div>
		{% endif %}
		
		{% if admin and user.can('view_advertiser') %}
		<div class="roundbox roundbox--primary roundbox--shadowed">
			<div class="roundbox-header">
				Рекламодатель
			</div>
			<div class="roundbox-content">
				<dl class="kv kv--inscribed kv--key50">
					<dt>Имя</dt>
					<dd>
						<a href="{{ url_for('.users_info', id=offer.advertiser.id) }}"
						 >{{ offer.advertiser.full_name or offer.advertiser.email }}</a>
					</dd>
					<dt>E-mail</dt>
					<dd><a href="mailto:{{ offer.advertiser.email -}}">{{ offer.advertiser.email }}</a></dd>
					{% if offer.advertiser.organization %}
					<dt>Орг.</dt><dd>{{ offer.advertiser.organization }}</dd>
					{% endif %}
				</dl>
			</div>
		</div>
		{% endif %}

		<div class="roundbox roundbox--primary roundbox--shadowed">
			<div class="roundbox-header">
				{% if not offer.is_product_offer %}
					<a href="{{ url_for('.offers_info_actions', id=offer.id) }}" class="roundbox-header-link">подробно &raquo;</a>
				{% endif %}
				Оплата за действия
			</div>
			<div class="roundbox-content">
				<dl class="stacked inscribed">
					{% for suboffer in offer.all_suboffers if suboffer.active %}
					<dt>
						{% if not offer.is_product_offer %}
							{{ suboffer.title }}
						{% else %}
							Покупка товара в интернет-магазине
						{% endif %}
					</dt>
					<dd>
						{% if offer.is_product_offer %}от{% endif %}
						{{ suboffer.value(affiliate) }}
						{% if not affiliate %}<br />(из них партнёру {{ suboffer.value(true, short=true) -}}){% endif %}
					</dd>
					{% endfor %}
				</dl>
			</div>
		</div>

		{% if offer.yml_url %}
		<div class="roundbox roundbox--primary roundbox--shadowed">
			<div class="roundbox-header">Товары</div>
			<div class="roundbox-content">
				<a href="{{ offer.yml_url }}" target="_blank">Ссылка на YML-каталог</a>
			</div>
		</div>
		{% endif %}
		
		<div class="roundbox roundbox--primary roundbox--shadowed">
			<div class="roundbox-header">Категории</div>
			<div class="roundbox-content">
				{% if offer.categories %}
				{% with women_categories = offer.women_categories %}
				{% if women_categories %}
				<div class="segments">
					<div class="segments-title">
						<strong>Товары для женщин</strong>
					</div>
					{% for category in women_categories %}							
					<i class="b-ico b-ico_cat_{{ category.css_class -}}"
					 title="{{ category.name }}"></i>
					{% endfor %}
				</div>
				{% endif %}
				{% endwith %}
				<ul class="toplevel-list toplevel-list--no-bottom-margin">
					{% for group in offer.not_women_categories|groupby('grouping') %}
					<li>
						{{ group.grouper }}
						<ul class="dashed-list">
							{% for category in group.list %}
							<li>{{ category.name }}</li>
							{% endfor %}
						</ul>
					</li>
					{% endfor %}
				</ul>
				{% else %}
				(не указаны)
				{% endif %}
			</div>
		</div>
	</div>
</div>

{% if admin %}
	{% if offer.approved %}
	<div id="modal-block" class="modal" style="display: none;">
		<form method="post" action="" class="validate2">
			<div class="modal-header">
				<a href="#" class="close">×</a>
				<h3>Блокировка оффера</h3>
			</div>
			<div class="modal-body">
				<fieldset>
					<input type="hidden" name="action" value="block" />
					{{ forms.singlefield(form.reason, class='span6', rows=6) }}
					<div class="input">
						{{ form.notify() }} уведомить рекламодателя и партнеров
					</div>
				</fieldset>
			</div>
			<div class="modal-footer">
				<input type="submit" class="btn primary" value="Заблокировать" />
			</div>
		</form>
	</div>
	{% else %}
	<div id="modal-unblock" class="modal" style="display: none;">
		<form method="post" action="" class="validate2">
			<div class="modal-header">
				<a href="#" class="close">×</a>
				<h3>Разблокировка оффера</h3>
			</div>
			<div class="modal-body">
				<p>Разблокировать оффер?</p>
				<input type="hidden" name="action" value="unblock" />
				{{ form.notify() }} уведомить рекламодателя и партнеров
			</div>
			<div class="modal-footer">
				<input type="submit" class="btn primary" value="Разблокировать" />
			</div>
		</form>
	</div>
	{% endif %}
{% endif %}

{% endmacro %}
