{% import 'common/forms.html' as forms %}

{% macro head() %}
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='./css/redactor/css/redactor.css') }}" media="all" />
	<style type="text/css">
		.comment {
			border: 1px solid #DDD;
			padding: 10px;
			margin-bottom: 18px;
		}

		.comment-header {
			font-style: italic;
		}

		.comment-text {
			overflow-x: auto;
		}

		.admin-comment {
			font-weight: bold;
			color: #B94A48;
		}

		.affiliate-comment {
			font-weight: bold;
			color: #0069D6;
		}
	</style>

	<script type="text/javascript" src="{{ url_for('static', filename='./js/redactor/redactor.js') }}"></script>
	<script type="text/javascript">
		$(function() {
			$('.redactor').redactor({
				pathCss: "{{ url_for('static', filename='./css/redactor/css/') }}",
				css: ['bootstrap.css?nocache={{ nocache() }}'],
				toolbar: 'heymoose'
			});
		})
	</script>
{% endmacro %}

{% macro html(site, comments=none, form=none, admin=false) %}

<div class="clearfix alert-message block-message {{ site.admin_state.message_class }}">
	<p>{{ site.admin_state_description }}</p>
	{% if site.admin_comment %}
		<p>Комментарий администрации: <i>{{ site.admin_comment }}</i></p>
	{% endif %}
</div>

{% if admin %}
<table class="key-value">
	<tbody>
		<tr>
			<th>Партнёр</th>
			<td>
				<a href="{{ url_for('.users_info', id=site.affiliate.id) }}">{{ site.affiliate.email }}</a>
				{% if site.affiliate.blocked %}<span class="label important">заблокирован</span>{% endif %}
			</td>
		</tr>
	</tbody>
</table>
{% endif %}

<table class="key-value">
	<tbody>
		<tr><th>Название</th><td>{{ site.name }}</td></tr>
		<tr><th>Тип</th><td>{{ site.type.name }}</td></tr>
		{% if site.url %}
		<tr><th>Адрес</th><td><a href="{{ site.url }}" target="_blank">{{ site.url }}</a></td></tr>
		{% endif %}
		{% if site.stats_url %}
		<tr><th>Статистика</th><td><a href="{{ site.stats_url }}" target="_blank">{{ site.stats_url }}</a></td></tr>
		{% endif %}
		{% if site.stats_description %}
		<tr><th>Доступ к статистике</th><td><p>{{ site.stats_description }}</p></td></tr>
		{% endif %}
		{% if site.hosts_count %}
		<tr><th>Количество хостов</th><td>{{ site.hosts_count }}</td></tr>
		{% endif %}
		{% if site.members_count %}
		<tr><th>Количество подписчиков</th><td>{{ site.members_count }}</td></tr>
		{% endif %}
		{% if site.context_system %}
		<tr><th>Контекстная система</th><td>{{ site.context_system.name }}</td></tr>
		{% endif %}
		{% if site.description %}
		<tr><th>Описание</th><td><p>{{ site.description }}</p></td></tr>
		{% endif %}
	</tbody>
</table>

{% if comments %}
	<h2>Комментарии</h2>
	{% for comment in comments %}
		<div class="comment">
			<p class="comment-header">
				{{ comment.posted|dateformat }} в {{ comment.posted|timeformat }} от
				{% if comment.admin %}
					<span class="admin-comment">Администрации</span>
				{% elif admin %}
					партнёра <a href="{{ url_for('.users_info', id=site.affiliate.id) }}">{{ site.affiliate.email }}</a>
				{% else %}
					<span class="affiliate-comment">Вас</span>
				{% endif %}
			</p>
			<div class="comment-text redactor-text">
				{{ comment.text|safe }}
			</div>
		</div>
	{% endfor %}
{% endif %}

<h3>Добавить комментарий</h3>
<form method="post" action="" class="validate2">
	<div class="clearfix formfield {{ forms.css_errors(form.text) }}">
		{{ forms.errors(form.text) }}
		{{ forms.field(form.text, class='redactor', style='width: 100%; height: 200px;') }}
	</div>
	<input type="submit" class="btn primary" value="Подтвердить" />
</form>

{% endmacro %}
