{% extends "admin/users/info/layout.html" %}
{% import 'common/stats.html' as stat_macros with context %}

{% set activetab = 'stats' %}

{% block extrahead %}
	{{ super() }}
	{% set activesubtab = activesubtab|default('offer') %}
	<script type="text/javascript">
		$(function() {
			$('li#subtab-{{ activesubtab }}').addClass('active');
		})
	</script>
	{{ stat_macros.head() }}
{% endblock %}

{% block tabcontent %}

<ul class="tabs">
	<li id="subtab-offer"><a href="{{ url_for('.users_info_stats_offer', id=user.id) }}">По офферам</a></li>
	{% if user.is_affiliate %}
	<li id="subtab-sub-id"><a href="{{ url_for('.users_info_stats_sub_id', id=user.id) }}">По SubID</a></li>
	<li id="subtab-source-id"><a href="{{ url_for('.users_info_stats_source_id', id=user.id) }}">По SourceID</a></li>
	<li id="subtab-referer"><a href="{{ url_for('.users_info_stats_referer', id=user.id) }}">По реферерам</a></li>
	<li id="subtab-keywords"><a href="{{ url_for('.users_info_stats_keywords', id=user.id) }}">По поисковым запросам</a></li>
	{% if '.users_info_stats_suboffer' in request.url_rule.endpoint %}
	<li id="subtab-suboffer"><a href="#">По действиям</a></li>
	{% endif %}
	{% endif %}
</ul>

{% block subtabcontent %}Раздел находится в разработке{% endblock %}

{% endblock %}
