{% extends "admin/users/info/stats/layout.html" %}
{% import 'common/forms/datetime-range.html' as datetime_range %}

{% set content_fluid = true %}
{% set activesubtab = 'offer' %}

{% block extrahead %}
	{{ super() }}
	{{ datetime_range.head() }}
{% endblock %}

{% block subtabcontent %}
{{ datetime_range.html(form, 'Показать статистику за время:') }}
{{ stat_macros.table_by_offer(stats, id=user.id,
	suboffer_stats=true,
	suboffer_stats_rule='.users_info_stats_suboffer',
	**form.query_args())
}}
{% endblock %}
