{% extends 'site/ak/layout-inner.html' %}

{% block title %}Связь с нами{% endblock %}

{% block inner_container %}
<div class="b-main b-main_partners">
	<div class="b-partners b-partners-register">
		<h2 class="b-partners-title">
			<span class="b-partners-title__text">Соглашение</span>
		</h2>
	</div>
	<div class="b-pure-content">
		<p>Фактом регистрации в системе &laquo;HeyMoose!&raquo; (далее &mdash; Система) в качестве вебмастера Вы полностью и безоговорочно принимаете все правила и условия, описанные ниже.</p>

		<h5>Условия работы:</h5>
		<ol>
			<li>Администрация Системы (далее &mdash; Администрация) имеет право временно или на не ограниченный срок прекратить размещение рекламы на Вашей площадке, не называя при этом причин.</li>
			<li>При обнаружении накрутки все переходы на другие ресурсы будут списаны, а заработанные Вами деньги перейдут к рекламодателям.</li>
			<li>По запросу Администрации Вы обязаны предоставить информацию об источниках регистраций. В противном случае Администрация имеет право не осуществлять оплату и заблокировать Вашу учетную запись в Системе.</li>
			<li>Вы получаете в каждом отдельном случае обговоренное вознаграждение.</li>
			<li>Выплата происходит только в том случае, если заключение деловой сделки запротоколировано в надлежащем порядке, разрешено рекламодателем и подтверждено Администрацией.</li>
			<li>При регистрации и впредь Вы обязуетесь предоставлять достоверную информацию о себе и контактные данные.</li>
			<li>Вы соглашаетесь на выборочную ручную или автоматизированную проверку Вашей учетной записи в Системе на предмет нарушения данных правил, а также на не ограниченную по времени блокировку, если данные нарушения будут выявлены.</li>
			<li>Вы соглашаетесь, что можете быть лишены всех заработанных средств или заблокированы (на усмотрение Администрации), если данные правила будут Вами нарушены.</li>
			<li>Вы соглашаетесь неукоснительно следовать дополнительным правилам и условиям, если такие указаны в описании рекламного предложения (оффера).</li>
			<li>Сайты или целевые страницаы (landing pages), которые Вы используете для размещения рекламных предложений Системы не должны содержать порнографических, клеветнических, дискредитирующих или иных оскорбительных материалов. Они не могут содержать материалов расовой, этнической, религиозной или политической ненависти. Также они не могут участвовать в поощрении пользователей за выполнение действий по офферам или мириться с любой незаконной деятельностью.</li>
			<li>Вы не можете поощрять пользователей за выполнение действий по офферам, для которых это прямо не разрешено. Офферы, для которых это разрешено, помечены словом &laquo;Incentive&raquo;.</li>
			<li>Администрация оставляет за собой право единолично принимать решения в отношении мошенничества (фрода) и использует свои собственные механизмы для определения такой деятельности.</li>
		</ol>

		<h5>Запрещается:</h5>
		<ol>
			<li>Осуществлять накрутку в любых её проявлениях и видах.</li>
			<li>Перенаправлять пользователей по различным ссылкам сети Интернет без их ведома и разрешения.</li>
			<li>Применять незаконные методы манипуляции содержимого рекламного блока (изменять заголовки, текст, изображения и т.д.)</li>
			<li>Скрывать параметр Referer заголовка HTTP-запросов либо вносить в него изменения.</li>
			<li>Создавать более одной учетной записи в Системе (в том числе регистрироваться в качестве своего реферала).</li>
			<li>Фальсифицировать заключение деловых сделок.</li>
		</ol>
	</div>
</div>
{% endblock %}
