<!DOCTYPE html>
<html>
	{% import 'site/ak/macros/forms.html' as forms %}
	{% set letsgo_link = '#register' if not g.user else url_for('.gateway') %}
	
	{% macro menu_item(rule, title, class=none) %}
	<li class="b-menu__item {{ class }} {{ 'b-menu__item_active' if request.url_rule.endpoint.endswith(rule) }}">
		<a href="{{ url_for(rule, **kwargs) }}">{{ title }}</a>
	</li>
	{% endmacro %}
	<head>

		<title>HeyMoose</title>	
		<meta charset="utf-8" />
		
		{% with icon_url = url_for('static', filename='./img/favicon.ico') %}
		<link rel="shortcut icon" href="{{ icon_url }}" type="image/x-icon" />
		<link rel="icon" href="{{ icon_url }}" type="image/x-icon" />
		{% endwith %}
		
		<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='ak/css/default.css') }}" media="screen" />
		<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='ak/css/icons.css') }}" media="screen" />
		<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='ak/css/components.css') }}" media="screen" />
		<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='ak/css/forms.css') }}" media="screen" />
		<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='ak/css/jquery.fancybox.css') }}" media="screen" />
		<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='ak/css/ui.notify.css') }}" media="screen" />
		<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='ak/css/override.css') }}" media="screen" />
		
		<!--[if lt IE 8 ]>
			<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='ak/css/ie.css') }}" media="screen" />
		<![endif]-->
		
		<script type="text/javascript" src="{{ url_for('static', filename='ak/js/jquery.min.js') }}"></script>
		<script type="text/javascript" src="{{ url_for('static', filename='ak/js/jquery-ui-1.8.22.custom.min.js') }}"></script>
		<script type="text/javascript" src="{{ url_for('static', filename='ak/js/jquery.notify.js') }}"></script>
		<script type="text/javascript" src="{{ url_for('static', filename='ak/js/slides.min.jquery.js') }}"></script>
		<script type="text/javascript" src="{{ url_for('static', filename='ak/js/jquery.fancybox.pack.js') }}"></script>
		<script type="text/javascript" src="{{ url_for('static', filename='ak/js/jquery.jcarousel.min.js') }}"></script>
		<script type="text/javascript" src="{{ url_for('static', filename='js/wtvalidate2.js', nocache=nocache()) }}"></script>
		<script type="text/javascript" src="{{ url_for('static', filename='ak/js/common.js', nocache=nocache()) }}"></script>		
	</head>
	<body {% block body_attrs %}{% endblock %}>
		<div class="b-top-box"> <!-- .b-top -->
			<div class="b-top">
				<div class="b-top__content">
					<div class="b-logo-box">
						<a href="{{ url_for('.index') }}">
							<h1 class="b-logo" title="HeyMoose">HeyMoose</h1>
						</a>					
					</div>
					<ul class="b-menu">
						{{ menu_item('.index', 'Главная') }}
						{{ menu_item('.affiliates', 'Партнёрам') }}
						{{ menu_item('.advertisers', 'Рекламодателям') }}
						{{ menu_item('.contacts', 'Связь с нами') }}
						{{ menu_item('.catalog', 'Каталог', class='b-menu__item_cat') }}
					</ul>
					
					<div class="b-auth">
						{% if not g.user %}
						<a href="#login" class="b-auth_link b-link-icon b-show-popup">
							<i class="b-ico b-ico_login"></i>Вход в систему
						</a>
						{% else %}
						<a href="{{ url_for('.gateway') }}" class="b-auth_link b-link-icon">
							<i class="b-ico b-ico_login"></i>Личный кабинет
						</a>
						{% endif %}
					</div>	
				</div>	
			</div>
		</div>  <!-- /.b-top -->
		
		{% block container %}{% endblock %}
		
		<div class="b-footer"> <!-- .b-footer -->
			{% block footer_line %}{% endblock %}	
			
			<div class="b-footer__in">
				{% block footer_precontent %}{% endblock %}
			
				<ul class="b-menu-sub">
					<li class="b-menu-sub__item">
						<a href="http://forum.heymoose.com" target="_blank">Форум</a>
					</li>
					<li class="b-menu-sub__item">
						<a href="{{ url_for('.contacts') }}">Контакты</a>
					</li>
					<li class="b-menu-sub__item">
						<a href="http://trac.heymoose.com/wiki/affiliate_network" target="_blank">Документация</a>
					</li>
					
					{#<li class="b-menu-sub__item">
						<a href="#">Форум</a>
						<a href="#">Блог</a>
					</li>
					<li class="b-menu-sub__item">
						<a href="#">Контакты</a>
						<a href="#">Вакансии</a>
					</li>
					<li class="b-menu-sub__item">
						<a href="#">Документация</a>
						<a href="#">Вопросы и ответы</a>
					</li>
					<li class="b-menu-sub__item">
						<a href="#">О нас</a>
						<a href="#">Terms of use</a>
					</li>#}					
				</ul>
				
				<div class="b-social-networks">
					<span class="b-social-networks__text">Мы в социальных сетях:</span>
					<ul class="b-social-networks-list">
						<li class="b-social-networks-list__item">
							<a href="http://www.facebook.com/heymoosepartners" target="_blank"><i class="b-ico b-ico-fb"></i></a>
						</li>
						{#<li class="b-social-networks-list__item"><a href="#"><i class="b-ico b-ico-tw"></i></a></li>#}
						<li class="b-social-networks-list__item">
							<a href="http://vk.com/hey_moose" target="_blank"><i class="b-ico b-ico-vk"></i></a>
						</li>
					</ul>
				</div>	
			</div>	
			<div class="b-bottom">
				<div class="b-bottom__in">
					<a href="http://artkadabra.ru/" target="_blank" class="b-logo-artkadabra">Artkadabra</a>
					<ul class="b-menu b-menu_double">
						{{ menu_item('.index', 'Главная') }}
						{{ menu_item('.affiliates', 'Партнёрам') }}
						{{ menu_item('.advertisers', 'Рекламодателям') }}
						{{ menu_item('.contacts', 'Связь с нами') }}
						{{ menu_item('.catalog', 'Каталог') }}
					</ul>
					<a href="{{ url_for('.index') }}" class="b-link-icon b-logo-bottom">HeyMoose</a>
				</div>
			</div>
		</div> <!-- /.b-footer -->	

		{% block postbody %}
		
		<div id="notify-container" style="display: none;">
			<div id="notify-basic-template">
				<a class="ui-notify-cross ui-notify-close" href="#">x</a>
				<h1>#{title}</h1>
				<p>#{text}</p>
			</div>
		</div>
		<ul id="notify-messages" style="display: none;">
			{% with messages = get_flashed_messages(with_categories=true) %}
			{% for category, message in messages %}
			<li data-category="{{ category }}">{{ message }}</li>
			{% endfor %}
			{% endwith %}
		</ul>
				
		{#<div style="display: none;">
			<div class="b-popup" id="register">
				<div class="b-popup__title">Регистрация/вход</div>
				<div class="b-popup__content">
					Через социальную сеть:
					<ul class="b-social-auth">
						<li class="b-social-auth__item">
							<a href="#" class="b-link-icon" title="Авторизоваться через Google">
								<i class="b-ico b-ico_google_auth"></i>
							</a>
						</li>
						<li class="b-social-auth__item">
							<a href="#" class="b-link-icon" title="Авторизоваться через Facebook">
								<i class="b-ico b-ico_fb_auth"></i>
							</a>
						</li>
						<li class="b-social-auth__item">
							<a href="#" class="b-link-icon" title="Авторизоваться через Twitter">
								<i class="b-ico b-ico_tw_auth"></i>
							</a>
						</li>
						<li class="b-social-auth__item">
							<a href="#" class="b-link-icon" title="Авторизоваться через Mail.ru">
								<i class="b-ico b-ico_mailru_auth"></i>
							</a>
						</li>
					</ul>
					<form class="b-form" action="#" method="post">
						<ul class="b-fields-list">
							<li class="b-fields-list__item">
								<label for="fEmail">или по электронной почте</label>
								<input type="text" class="b-field-text" id="fEmail" name="fEmail" />
							</li>
							<li class="b-fields-list__item">
								<input type="submit" class="b-btn-sudmit" value="Продолжить"/>
							</li>
						</ul>
					</form>
					<div class="b-cancel-box">
						или <br />
						<a href="javascript:$.fancybox.close();" class="b-close-popup">отменить и закрыть</a>
					</div>
				</div>
			</div>
		</div>#}
		
		<div style="display: none;">
			<div class="b-popup" id="login">
				<div class="b-popup__title">Вход в систему</div>
				<div class="b-popup__content">				
					<form class="b-form" action="{{ url_for('.login') }}" method="post">
						<ul class="b-fields-list">
							{{ forms.field(g.login_form.username, type='email', label='По электронной почте:', required_sign=false) }}
							{{ forms.field(g.login_form.password, type='password', label='Введите свой пароль:', required_sign=false) }}
							<li class="b-fields-list__item b-login-form-actions">
								{{ g.login_form.remember() }}
								<label for="{{ g.login_form.remember.id }}">запомнить</label>
								<a href="#restore" class="b-link-password-restore b-show-popup">Забыли пароль?</a>
							</li>
							<li class="b-fields-list__item">
								<input type="submit" class="b-btn-sudmit" value="Войти"/>
							</li>
						</ul>
					</form>
					<div class="b-cancel-box">
						или <br />
						<a href="javascript:$.fancybox.close();" class="b-close-popup">отменить и закрыть</a>
					</div>
				</div>
			</div>
		</div>
		
		<div style="display: none;">
			<div class="b-popup" id="restore">
				<div class="b-popup__title">Новый пароль</div>
				<div class="b-popup__content">
					<p class="b-password-restore-help">
						Пожалуйста, введите адрес электронной почты, с которым вы зарегистрировались.
						На него будет выслан новый пароль.
					</p>
					<form class="b-form validate2" action="{{ url_for('.password') }}" method="post">
						<ul class="b-fields-list">
							{{ forms.field(g.restore_form.email, type='email', label='Ваш электронный адрес:', required_sign=false) }}
							{{ forms.field(g.restore_form.captcha, required_sign=false) }}
							{{ g.restore_form.ch() }}
							<li class="b-fields-list__item">
								<input type="submit" class="b-btn-sudmit" value="Выслать новый пароль"/>
							</li>
						</ul>
					</form>
					<div class="b-cancel-box">
						или <br />
						<a href="javascript:$.fancybox.close();" class="b-close-popup">отменить и закрыть</a>
					</div>
				</div>
			</div>
		</div>
		
		<div style="display: none;">
			<div class="b-popup b-popup_register" id="register">
				<div class="b-popup__title">Регистрация партнёра</div>
				<div class="b-popup__content">
					<form class="b-form b-form-register validate2" method="post"
					 action="{{ url_for('.register_affiliate') }}">
						<ul class="b-fields-list b-fields-list_lines">
							{{ forms.field(g.affiliate_form.email, type='email') }}
							{{ forms.field(g.affiliate_form.password) }}
							{{ forms.field(g.affiliate_form.password2) }}
							{{ forms.field(g.affiliate_form.captcha) }}
							{{ g.affiliate_form.ch() }}
							<li class="b-fields-list__item b-fields-list__item-nolabel">
								<input type="submit" class="b-btn-sudmit" value="Зарегистрироваться"/>
							</li>
						</ul>
					</form>
					<div class="b-cancel-box">
						или <br />
						<a href="javascript:$.fancybox.close();" class="b-close-popup">отменить и закрыть</a>
					</div>
				</div>
			</div>
		</div>
		{% endblock %}
	</body>
</html>
