{% extends 'site/ak/layout-inner.html' %}

{% block inner_container %}
<div class="b-main">
	<div class="b-partners b-partners-register">
		<h2 class="b-partners-title">
			<span class="b-partners-title__text">Вход в систему</span>
		</h2>
	</div>
	<div class="b-form-login-wrap" style="width: 250px; margin: 0 auto;">
		<form class="b-form b-form-login validate2" method="post" action="">
			<ul class="b-fields-list">
				{{ forms.field(form.username, type='email', label='По электронной почте:', required_sign=false) }}
				{{ forms.field(form.password, label='Введите свой пароль:', required_sign=false) }}
				<li class="b-fields-list__item b-login-form-actions">
					{{ form.remember() }}
					<label for="{{ form.remember.id }}">запомнить</label>
					<a href="#restore" class="b-link-password-restore b-show-popup">Забыли пароль?</a>
				</li>
				<li class="b-fields-list__item b-fields-list__item-submit">
					<input type="submit" class="b-btn-sudmit" value="Войти"/>
				</li>
			</ul>
		</form>
	</div>
</div>
{% endblock %}
