{% extends 'site/ak/layout-inner.html' %}

{% block inner_container %}
<div class="b-main">
	<div class="b-partners b-partners-register">
		<h2 class="b-partners-title">
			<span class="b-partners-title__text">Новый пароль</span>
		</h2>
	</div>
	<div class="b-form-password-wrap" style="width: 250px; margin: 0 auto;">
		<p style="margin-bottom: 20px;">
			Пожалуйста, введите адрес электронной почты, с которым вы зарегистрировались
			в системе. На него будет выслан новый пароль.
		</p>
		<form class="b-form validate2" action="" method="post">
			<ul class="b-fields-list">
				{{ forms.field(form.email, type='email', label='Ваш электронный адрес:') }}
				{{ forms.field(form.captcha) }}
				{{ form.ch() }}
				<li class="b-fields-list__item b-fields-list__item-submit">
					<input type="submit" class="b-btn-sudmit" value="Выслать новый пароль"/>
				</li>
			</ul>
		</form>
	</div>
</div>
{% endblock %}
