.btn.hey {
	color:#ffffff;
	background-color:#0064cd;
	background-repeat:repeat-x;
	background-image:-khtml-gradient(linear, left top, left bottom, from(#049cdb), to(#0064cd));
	background-image:-moz-linear-gradient(top, #049cdb, #0064cd);
	background-image:-ms-linear-gradient(top, #049cdb, #0064cd);
	background-image:-webkit-gradient(linear, left top, left bottom, color-stop(0%, #049cdb), color-stop(100%, #0064cd));
	background-image:-webkit-linear-gradient(top, #049cdb, #0064cd);
	background-image:-o-linear-gradient(top, #049cdb, #0064cd);
	background-image:linear-gradient(top, #049cdb, #0064cd);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#049cdb', endColorstr='#0064cd', GradientType=0);
	text-shadow:0 -1px 0 rgba(0, 0, 0, 0.25);
	border-color:#0064cd #0064cd #003f81;
	border-color:rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
}

a.btn.hey, .btn.hey:hover, .btn.hey:visited {
	color:#ffffff;
}

.btn.moose {
	color:#ffffff;
	background-color:#ae8a07;
	background-repeat:repeat-x;
	background-image:-khtml-gradient(linear, left top, left bottom, from(#f6c100), to(#ae8a07));
	background-image:-moz-linear-gradient(top, #f6c100, #ae8a07);
	background-image:-ms-linear-gradient(top, #f6c100, #ae8a07);
	background-image:-webkit-gradient(linear, left top, left bottom, color-stop(0%, #f6c100), color-stop(100%, #ae8a07));
	background-image:-webkit-linear-gradient(top, #f6c100, #ae8a07);
	background-image:-o-linear-gradient(top, #f6c100, #ae8a07);
	background-image:linear-gradient(top, #f6c100, #ae8a07);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#f6c100', endColorstr='#ae8a07', GradientType=0);
	text-shadow:0 -1px 0 rgba(0, 0, 0, 0.25);
	border-color:#ae8a07 #ae8a07 #ae8a07;
	border-color:rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
}

a.btn.moose, .btn.moose:hover, .btn.moose:visited {
	color:#ffffff;
}
