h1 {
	font-size: 28px;
	font-weight: normal;
	line-height: normal;
	color: #565555;
}

h2 {
	font-size: 20px;
	font-weight: normal;
	line-height: normal;
	color: #0093dd;
}

h2 small {
	font-size: 13px;
}

h3 {
	font-size: 18px;
	font-weight: normal;
	line-height: normal;
	color: #0093dd;
}

.article h3 {
	color: #000;
	text-align: center;
	margin-bottom: 10px;
}

h4 {
	font-size: 14px;
	font-weight: bold;
	line-height: normal;
	color: #565555;
}

hr {
	border-color: #ccc;
	margin: 10px 0;
}
