.newsitem {
	margin-top: 10px;
	margin-bottom: 10px;
	height: 102px;
	overflow: hidden;
}

.newsitem-image-container {
	float: left;
	width: 100px;
	height: 100px;
	border: 1px solid #ccc;
}

.newsitem-content {
	margin-left: 110px;
}

.newsitem-content > p {
	margin-top: 10px;
	margin-bottom: 0;
}

.event {
	margin-top: 20px;
	margin-bottom: 20px;
	height: 40px;
	overflow: hidden;
}

.event-date {
	float: left;
	width: 80px;
	height: 30px;
	border-radius: 15px;
	text-align: center;
	background-image: -moz-linear-gradient(center top, #f6c100, #ae8a07);
	background-image: -webkit-linear-gradient(top, #f6c100, #ae8a07);
	background-image: -o-linear-gradient(top, #f6c100, #ae8a07);
	background-image: -ms-linear-gradient(top, #f6c100, #ae8a07);
	background-color: #f6c100;
	color: #565555;
	line-height: 30px;
}

.event-content {
	margin-left: 90px;
}

.event-content > p {
	line-height: 14px;
}
