{% extends "admin/stats/layout.html" %}
{% import 'common/suboffer-stats.html' as suboffer_stat_macros with context %}

{% set activetab = 'suboffer' %}

{% block extrahead %}
	{{ super() }}
	{{ suboffer_stat_macros.head() }}
{% endblock %}

{% block tabcontent %}

{% with args = request.args %}
<div class="alert-message block-message info">
	Показана статистика
	{% if offer %}
		для оффера <a href="{{ url_for('.offers_info', id=offer.id) }}">{{ offer.name }}</a>
	{% elif affiliate %}
		для партнёра <a href="{{ url_for('.users_info', id=affiliate.id) }}">{{ affiliate.email }}</a>
	{% elif advertiser %}
		для рекламодателя <a href="{{ url_for('.users_info', id=advertiser.id) }}">
			{{ advertiser.email }} ({{ advertiser.organization }})</a>
	{% endif %}
	с <b>{{ args.dt_from }}</b> по <b>{{ args.dt_to }}</b>.
</div>
{% endwith %}

{{ suboffer_stat_macros.table(stats) }}

{% endblock %}