{% extends "admin/stats/layout.html" %}

{% set activetab = 'total' %}
{% set content_fluid = false %}

{% block tabcontent %}

{{ datetime_range.html(form, 'Показать статистику за время:') }}

{% if stats %}
	<table class="bordered-table zebra-striped nosort">
		<thead>
			<tr>
				<th class="header"></th>
				<th class="header right">Неподтвержденные, руб.</th>
				<th class="header right">Подтвержденные, руб.</th>
				<th class="header right">Отклоненные, руб.</th>
			</tr>
		</thead>
		<tbody>
			<tr>
				<th>Комиссия</th>
				<td class="right">{{ stats.not_confirmed.fee|currency }}</td>
				<td class="right">{{ stats.confirmed.fee|currency }}</td>
				<td class="right">&mdash;</td>
			</tr>
			<tr>
				<th>Партнеру</th>
				<td class="right">{{ stats.not_confirmed.affiliate|currency }}</td>
				<td class="right">{{ stats.confirmed.affiliate|currency }}</td>
				<td class="right">&mdash;</td>
			</tr>
			<tr>
				<th>Сумма</th>
				<td class="right">{{ stats.not_confirmed.sum|currency }}</td>
				<td class="right">{{ stats.confirmed.sum|currency }}</td>
				<td class="right">{{ stats.canceled.sum|currency }}</td>
			</tr>
		</tbody>
	</table>
{% else %}
	<div class="clearfix alert-message block-message info">
		<p>Нет данных для получения статистики.</p>
	</div>
{% endif %}

{% endblock %}