{% extends "cabinetcpa/offers/layout.html" %}
{% import 'common/offers.html' as offer_macros %}

{% set content_fluid = true %}
{% set activetab = 'all' %}

{% block extrahead %}
	{{ super() }}
	{{ offer_macros.head() }}
{% endblock %}

{% block tabcontent %}

{% if offers %}
	{{ offer_macros.table(offers, grant_status=g.user.is_affiliate, user=g.user) }}
	{{ macros.paginate(pages, '.offers_all') }}
{% else %}
	<div class="clearfix alert-message block-message info">
		<p><strong>Список пуст.</strong> Не найдено ни одного активного оффера.</p>
	</div>
{% endif %}

{% endblock %}
