{% extends "cabinetcpa/layout.html" %}

{% block title %}Офферы{% endblock %}

{% set activemenu = 'offers' %}

{% block extrahead %}
{{ super() }}
{% set activetab = activetab|default('list') %}
<script type="text/javascript">
	$(function() { 
		$('li#tab-{{ activetab }}').addClass('active');
	})
</script>
{% endblock %}

{% block breadcrumbs %}
	{{ super() }}
	{{ macros.breadcrumb(self.title(), url_for('.offers_list')) }}
{% endblock %}

{% block pageheader %}<h1>{{ self.title() }}</h1>{% endblock %}

{% block content %}

<ul class="tabs">
	{% if g.user.is_advertiser %}
	<li id="tab-list"><a href="{{ url_for('.offers_list') }}">Мои офферы</a></li>
	{% endif %}
	{% if g.user.is_affiliate %}
	<li id="tab-list"><a href="{{ url_for('.offers_requested') }}">Мои офферы</a></li>
	{% endif %}
	<li id="tab-all"><a href="{{ url_for('.offers_all') }}">Каталог офферов</a></li>
	{% if g.user.is_advertiser %}
	<li id="tab-new"><a href="{{ url_for('.offers_new') }}">Создать оффер</a></li>
	{% endif %}
	<li id="tab-stats"><a href="{{ url_for('.offers_stats') }}">Статистика</a></li>
</ul>

{% block tabcontent %}<p>Раздел находится в разработке.</p>{% endblock %}

{% endblock %}
