{% extends "cabinetcpa/offers/layout.html" %}
{% import 'common/stats.html' as stat_macros %}

{% set content_fluid = true %}
{% set activetab = 'stats' %}

{% block extrahead %}
	{{ super() }}
	<script type="text/javascript">
		$(function() {
			$('.datetimepicker').datetimepicker({showButtonPanel: false});
		})
	</script>
{% endblock %}

{% block tabcontent %}

<div class="row">
	<div class="span14">
		<div class="well">
			<form method="get" action="" class="validate2">
				<div class="clearfix" style="margin-bottom: 0;">
					<div class="row">
						<div class="span4" style="line-height: 28px;">
							<label class="simple required">Показать статистику за время:</label>
						</div>
						<div class="span3 formfield clearfix inner-field {{ forms.css_errors(form.dt_from) }}">
							<label class="simple required">с</label>
							{{ forms.field(form.dt_from, class='datetimepicker', style='width: 130px;') }}
							{{ forms.errors(form.dt_from) }}
						</div>
						<div class="span3 formfield clearfix inner-field {{ forms.css_errors(form.dt_to) }}">
							<label class="simple required">по</label>
							{{ forms.field(form.dt_to, class='datetimepicker', style='width: 130px;') }}
							{{ forms.errors(form.dt_to) }}
						</div>
						<div class="span3" style="float: right;">
							<input type="submit" class="btn primary span3" value="Показать" />
						</div>
					</div>
				</div>
			</form>
		</div>
	</div>
</div>

{{ stat_macros.table([]) }}

{#
{% if offers %}
	{{ offer_macros.table(offers, status=true) }}
	{{ macros.paginate(pages, '.offers_list') }}
{% else %}
	<div class="clearfix alert-message block-message info">
		<p><strong>Список пуст.</strong> Вы еще не создали ни одного оффера.</p>
		<div class="alert-actions">
			<a class="btn small" href="{{ url_for('.offers_new') }}">Создать оффер</a>
		</div>
	</div>
{% endif %}
#}

{% endblock %}
