{% extends "site/hm/advertisers-layout.html" %}

{% block title %}Особенности CPA-рекламы{% endblock %}

{% block content %}
<h1 class="hm-roundbox-header">Особенности CPA-рекламы {{ heymoose() }}</h1>
<div class="article">
	<p class="center">
		Интернет-маркетинг без рисков защищает ваши деньги от нецелевого использования.
	</p>
	<p>
		Будем откровенны, мы все знаем, что, как бы идеально не был бы запланирован рекламный
		бюджет, даже если аналитикой занималась сотня китайских и 15 британских ученых, даже если
		мы обращаемся в супер-проверенное рекламное агентство, бОльшая часть денег все равно
		вылетит в трубу. И это не от того, что статистика не верна. Просто люди &mdash; такие непостоянные.
		Сегодня поголовно любят, скажем, сахарные пончики, а завтра ни в какую их покупать не желают.
		Даже со скидкой в 100%. Но даже если вы пончик и вас уже съели &mdash; выход все равно есть.
	</p>
	<p>
		Главная ошибка, которую совершают маркетологи &mdash; выбор целевых ресурсов для рекламы
		определенных товаров. Кто сказал, что участники сообщества, скажем,
		велосипедистов-горнолыжников будут интересоваться исключительно спортивными напитками,
		а пончики покупать ни в коем случае не станут?
	</p>
	<p>
		Практика показывает, что эффективней СРА остается только сарафанное радио. А что надо
		сделать, чтобы о вашем товаре заговорили? Правильно &mdash; у вас должны его купить и попробовать.
		Конечно, на качество отзывов о вашем продукте мы повлиять не можем, но мы можем сделать
		так, чтобы у вас стало больше покупателей.
	</p>
	<p>
		<b>СРА</b> (<i>cost per action</i>) &mdash; это реклама с оплатой за действие. Вы платите
		только за ту пользу, которую принесет вам реклама. Это настолько прозрачная схема привлечения
		клиентов, что по традиции компании, которые предоставляют такие услуги, называют не рекламными
		агентствами, а партнерами, или партнерской сетью. Согласитесь, приятнее общаться с партнером,
		который заинтересован в твоем процветании, чем с подрядчиком, который чаще думает лишь о том, как
		сделать меньше работы за бОльшие деньги.
	</p>
	<p>
		На чем основано доверие? Вы не вкладываете свои деньги в цветные картинки, которые кто-то
		где-то разместит. Вы даете партнеру вознаграждение за то, что он привел вам клиентов.
		Стоимость вознаграждения вы устанавливаете перед началом рекламной кампании. Таким
		образом, вы заранее знаете во что вам обойдется каждый привлеченный клиент. Разумеется, если
		оплата будет заниженной &mdash; работать с вами никто не будет. Но, поверьте, затраты того стоят.
	</p>
</div>
{{ super() }}
{% endblock %}
