{% extends "site/hm/advertisers-layout.html" %}

{% block title %}Особенности CPA-рекламы{% endblock %}

{% block content %}
<h1 class="hm-roundbox-header">Особенности CPA-рекламы {{ heymoose() }}</h1>
<div class="article">
	<p class="center">
		Интернет-маркетинг без рисков защищает ваши деньги от нецелевого использования.
	</p>
	<p>
		<b>СРА-реклама</b> (<i>cost per action</i>) &mdash; это реклама с оплатой за конкретные действия.
		Это может быть клик, регистрация, совершение покупки и т.д.
	</p>
	<p>
		Давно известно, что каким бы идеальным ни было планирование рекламного бюджета, б<i>о</i>льшая часть
		денег всё равно расходуется неэффективно. Даже если обратиться в супер-проверенное рекламное агентство
		или нанять сотню дипломированных учёных, факт остаётся фактом. И дело всё в том, что и рекламное агентство,
		и учёные строят свои прогнозы, прежде всего, на основе предыдущего опыта, анализа рынка и истории продаж.
		Но что может предложить статистика в борьбе с человеческим непостоянством? 
	</p>
	<p>
		Никогда нельзя со 100% уверенностью знать, как поведёт себя покупатель или посетитель вашего сайта. Сегодня
		все поголовно любят ванильные пончики и закупают их в огромных количествах, а завтра, вполне может случиться,
		что на них никто и смотреть не захочет, даже если вы предложите скидку в 99%. Порой ошибки планирования носят
		разорительный эффект, и рекламный бюджет, буквально, утекает в трубу.
	</p>
	<p>
		Главная ошибка, которую совершают маркетологи &mdash; выбор целевых ресурсов для рекламы определенных
		товаров. Кто сказал, что участники сообщества, скажем, велосипедистов-горнолыжников будут интересоваться
		исключительно спортивными напитками, а пончики покупать ни в коем случае не станут?
	</p>
	<p>
		СРА-реклама поможет избежать последствий неточных прогнозов при планировании рекламной кампании. Ведь вы
		всегда можете выбрать вариант сотрудничества, когда платить придется только в случае совершения покупки,
		регистрации на сайте или какого-то другого вполне конкретного действия.
	</p>
	<p>
		Практика показывает, что самая эффективная реклама &mdash; это &laquo;сарафанное радио&raquo;. Но прежде,
		чем о вашем	продукте начнут говорить и рекомендовать друзьям/знакомым, его должны купить и попробовать.
		Логично, правда?
	</p>
	<p>
		Вот тут-то и приходит на помощь наша СРА-реклама. Конечно, мы не в силах повлиять на качество отзывов о вашем
		продукте или услуге, но сделать так, чтобы у вас стало больше покупателей, наша работа. 
	</p>
	<p>
		СРА-реклама &mdash; это настолько прозрачная схема привлечения клиентов, что, по традиции, компании, которые
		предоставляют подобные услуги, называют не рекламными агентствами, а партнерами (или партнерской сетью).
		Согласитесь, намного приятнее общаться с партнером, который заинтересован в твоем процветании,
		чем с подрядчиком, который чаще думает лишь о том, как сделать меньше работы за б<i>о</i>льшие деньги.
	</p>
	<p>
		На чем основано доверие? Вы не вкладываете свои деньги в цветные картинки, которые кто-то где-то разместит.
		Вы даете партнеру вознаграждение за то, что он привел вам клиентов. Стоимость вознаграждения устанавливается
		перед началом рекламной кампании. Таким образом, вы заранее знаете, сколько будет стоить каждый привлеченный
		клиент и сможете реально спланировать рекламный бюджет. Если установленная вами стоимость устраивает наших
		партнёров, они размещают вашу рекламу на своих интернет-площадках и начинают привлекать к вам клиентов.
		Разумеется, если вы установите чересчур низкую оплату за действия — работать с вами никто не захочет.
		Но, поверьте, затраты того стоят!
	</p>
</div>
{{ super() }}
{% endblock %}
