{% extends "site/hm/layout.html" %}

{% block title %}Рекламодателям{% endblock %}

{% set activemenu = "advertisers" %}

{% block top_unit_content %}
	<div class="right">
			Менеджер по работе с рекламодателями:
			<span class="moose">Кирилл Шилов</span>
		<p class="support right">
			<span class="support-item">
				<img src="{{ url_for('static', filename='./img/hm/phone.png') }}" alt="Телефон" />
				<span class="hey">+7 (905) 710-19-92</span>
			</span>
			<span class="support-item">
				<img src="{{ url_for('static', filename='./img/hm/mail.png') }}" alt="E-mail" />
				<a href="mailto:ks.shilov@heymoose.com">ks.shilov@heymoose.com</a>
			</span>
			<span class="support-item">
				<img src="{{ url_for('static', filename='./img/hm/skype.png') }}" alt="Skype" />
				<a href="skype:ksshilov">ksshilov</a>
			</span>
		</p>
	</div>
	<div class="top-unit-text compact">
		<p>
			Уважаемые рекламодатели, в случае возникновения проблем при регистрации или
			дополнительных вопросов, на которые вы не нашли ответов на сайте, обязательно
			обратитесь к нашему менеджеру.
		</p>
	</div>
{% endblock %}

{% block content %}
<h1 class="hm-roundbox-header">Рекламодателям {{ heymoose() }}</h1>
<h2>Спецпредложения</h2>
<div class="row">
	<div class="span newsitem" style="width: 280px;">
		<h4>
			<a href="#">Стартапам</a>
			<span class="section-divider">/</span>
			Прокачаем ваш бизнес!
		</h4>
		<p>
			Мы размещаем рекламу и информацию о вашей фирме в игровых приложениях в социальных сетях
			и рекламу в мобильных играх, а так же предлагаем средства как для раскрутки бренда.
			<a href="#">читать &raquo;</a>
		</p>
	</div>
	<div class="span newsitem" style="width: 280px;">
		<h4>
			<a href="#">Стартапам</a>
			<span class="section-divider">/</span>
			Прокачаем ваш бизнес!
		</h4>
		<p>
			Мы размещаем рекламу и информацию о вашей фирме в игровых приложениях в социальных сетях
			и рекламу в мобильных играх, а так же предлагаем средства как для раскрутки бренда.
			<a href="#">читать &raquo;</a>
		</p>
	</div>
	<div class="span newsitem" style="width: 280px;">
		<h4>
			<a href="#">Стартапам</a>
			<span class="section-divider">/</span>
			Прокачаем ваш бизнес!
		</h4>
		<p>
			Мы размещаем рекламу и информацию о вашей фирме в игровых приложениях в социальных сетях
			и рекламу в мобильных играх, а так же предлагаем средства как для раскрутки бренда.
			<a href="#">читать &raquo;</a>
		</p>
	</div>
</div>
<hr style="margin-top: 0;" />
<div class="article">
	<h3>Что такое партнерская программа {{ heymoose(false) }}?</h3>
	<p>
		Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce sit amet tincidunt risus.
		Maecenas varius egestas sem, vitae molestie risus rutrum eu. Morbi in nisi urna. Donec
		commodo porta lectus, at vehicula arcu sollicitudin in. Proin nec erat lorem. Proin tempor
		scelerisque sapien, vel dictum nisi blandit vitae. Phasellus sed semper turpis. Nunc
		rhoncus fermentum egestas. Integer fringilla ullamcorper ipsum. In vel tempor nulla.
		Aenean ullamcorper, libero at aliquet sollicitudin, turpis massa luctus orci, eget dictum
		ante nunc sed nulla. Quisque id est sit amet arcu laoreet eleifend a ac massa. Nullam non
		sem eget lorem tempor vehicula vitae ac neque. Donec quis orci dolor.
	</p>
	<p>
		Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce sit amet tincidunt risus.
		Maecenas varius egestas sem, vitae molestie risus rutrum eu. Morbi in nisi urna. Donec
		commodo porta lectus, at vehicula arcu sollicitudin in. Proin nec erat lorem. Proin tempor
		scelerisque sapien, vel dictum nisi blandit vitae. Phasellus sed semper turpis. Nunc
		rhoncus fermentum egestas. Integer fringilla ullamcorper ipsum. In vel tempor nulla.
		Aenean ullamcorper, libero at aliquet sollicitudin, turpis massa luctus orci, eget dictum
		ante nunc sed nulla. Quisque id est sit amet arcu laoreet eleifend a ac massa. Nullam non
		sem eget lorem tempor vehicula vitae ac neque. Donec quis orci dolor.
	</p>
	<h3>Какую проблему решает {{ heymoose(false) }}?</h3>
	<p>
		Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce sit amet tincidunt risus.
		Maecenas varius egestas sem, vitae molestie risus rutrum eu. Morbi in nisi urna. Donec
		commodo porta lectus, at vehicula arcu sollicitudin in. Proin nec erat lorem. Proin tempor
		scelerisque sapien, vel dictum nisi blandit vitae. Phasellus sed semper turpis. Nunc
		rhoncus fermentum egestas. Integer fringilla ullamcorper ipsum. In vel tempor nulla.
		Aenean ullamcorper, libero at aliquet sollicitudin, turpis massa luctus orci, eget dictum
		ante nunc sed nulla. Quisque id est sit amet arcu laoreet eleifend a ac massa. Nullam non
		sem eget lorem tempor vehicula vitae ac neque. Donec quis orci dolor.
	</p>
	<h3>Преимущества партнерской программы {{ heymoose() }}</h3>
	<ul class="dashed-list">
		<li>
			Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce sit amet tincidunt risus.
			Maecenas varius egestas sem, vitae molestie risus rutrum eu.
		</li>
		<li>
			Morbi in nisi urna. Donec commodo porta lectus, at vehicula arcu sollicitudin in. Proin
			nec erat lorem. Proin tempor scelerisque sapien, vel dictum nisi blandit vitae.
		</li>
		<li>
			Phasellus sed semper turpis. Nunc rhoncus fermentum egestas. Integer fringilla ullamcorper
			ipsum. In vel tempor nulla.
		</li>
		<li>
			Aenean ullamcorper, libero at aliquet sollicitudin, turpis massa luctus orci, eget dictum
			ante nunc sed nulla. Quisque id est sit amet arcu laoreet eleifend a ac massa. Nullam non
			sem eget lorem tempor vehicula vitae ac neque. Donec quis orci dolor.
		</li>
	</ul>
</div>
{% endblock %}
