{% extends "site/hm/affiliates-layout.html" %}

{% block title %}Партнёрам{% endblock %}

{% block content %}
<h1 class="hm-roundbox-header">Партнёрам {{ heymoose() }}</h1>
<div class="article">
	<p>
		Что обычно от партнерской программы ждут разработчики и владельцы
		трафика? Дополнительный доход с минимумом трудовых затрат. Как правило,
		это размещение рекламных материалов на сайтах с высокой посещаемостью,
		порталах и ресурсах социальных сетей. Сейчас на сцену выходит и мобильный
		рынок, который укрепляет свои позиции все больше. Мобильные приложения
		могут приносить еще больший доход, Потому что их пользователи нацелены на
		максимально быстрый результат &mdash; им некогда выбирать и сравнивать один сайт
		с другим, одно предложение с множеством. Они видят то, что хотят и берут это
		там, где увидели в первую очередь.
	</p>
	
	<h3>Как происходит работа с {{ heymoose(false) }}?</h3>
	<p>
		Вы регистрируетесь у нас на сайте, добавляете свои рекламные площадки
		и выбираете наиболее интересные вам рекламные предложения. Вам
		будут доступны промо-материалы рекламодателя, баннеры и текстовые
		ссылки, которые вы можете размещать в любом удобном для вас виде. В
		личном кабинете будет отслеживаться статистика по переходам с рекламы и
		выполненным действиям, а так же зачисленные на ваш счет средства.
	</p>
	
	<h3>Преимущества партнерской сети {{ heymoose(false) }}</h3>
	<p>
		Мы заинтересованы в хорошем заработке веб-мастеров и качественно
		проведенных рекламных кампаниях, поэтому сеть &laquo;HeyMoose!&raquo; &mdash; это в
		первую очередь проверенные оферы с адекватной оплатой. Мы постоянно
		отслеживаем стоимость конкретных действий в конкретной сфере и предлагаем
		партнерам цены выше среднерыночных.
	</p>
	
	<h3>Рекламные предложения системы {{ heymoose(false) }}</h3>
	<div class="row">
		<div class="span12">
			<p>
				Нажмите эту кнопку, если хотите ознакомиться с примерами наших офферов.
				Полная информация о рекламных предложениях, а также огромное количество
				офферов от других рекламодателей станут доступны после регистрации.
			</p>
		</div>
		<div class="span" style="margin-top: 8px;">
			<a href="{{ url_for('.catalog') }}" class="btn hey large">Каталог офферов</a>
		</div>
	</div>
	
	<h3>Реферальная программа {{ heymoose(false) }}</h3>
	<p>
		Если ваше слово в мире вебмастеров имеет вес, у вас есть раскрученный блог или форум
		соответствующей тематики и вы хотите заработать на своей популярности &mdash; предлагаем
		принять участие в привлечении вебмастеров в партнерскую сеть &laquo;HeyMoose!&raquo;
		Участвуйте в нашей реферальной программе и получайте 5% комиссии!
	</p>
	<p>
		Реферальная программа &laquo;HeyMoose!&raquo; &mdash; это дополнительная возможность
		получать доход, приглашая активных людей работать в сети. Чем больше заработают они, тем больше
		будет и ваш доход! Что дает реферальная программа:
	</p>
	<ul class="dashed-list">
		<li>5% комиссии пожизненно;</li>
		<li>удобная система вывода средств &mdash; как отдельно, так и вместе с выплатами по офферам;</li>
		<li>
			возможность размещения реферальной ссылки там, где вы посчитаете нужным &mdash; в статье,
			топике или подписи на форуме, баннере, комментариях, социальных сетях, дружеских письмах;
		</li>
		<li>
			детальная статистика по числу рефералов и заработанным средствам в режиме реального времени;
		</li>
		<li>
			консультации по любым вопросам удобным для вас способом: телефон, ICQ, электронная почта,
			Skype.
		</li>
	</ul>
	<p>
		Получить реферальную ссылку можно в личном кабинете или обратившись по адресу
		<a href="mailto:dmitriy.pavlov@heymoose.com">dmitriy.pavlov@heymoose.com</a>.
	</p>
</div>
{{ super() }}
{% endblock %}
