{% extends "site/hm/layout.html" %}

{% block title %}Каталог офферов{% endblock %}

{% set activemenu = "" %}

{% block extrahead %}
	{{ super() }}
	<style type="text/css">
		img.offer-logo {
			max-width: 150px;
			max-height: 100px;
		}
		
		.action-cell {
			min-width: 180px;
		}
		
		.cost-cell {
			min-width: 150px;
		}
		
		.conversion-cell {
			text-align: right;
			width: 1%;
		}
		
		.conversion-cell.locked {
			text-align: center;
			font-size: 11px;
			font-style: italic;
			min-width: 120px;
		}
		
		.categories-cell {
			min-width: 180px;
		}
		
		.container {
			width: auto;
			max-width: 1300px;
		}
		
		.collapse-container {
			overflow: hidden;
		}
	</style>
	
	<script type="text/javascript">
		$(function() {
			var collapseHeight = 110;
			$('.collapse-container').each(function() {
				if ($(this).height() > collapseHeight) {
					$(this).data('origHeight', $(this).height());
					$(this).height(collapseHeight);
					$(this).addClass('collapsed');
					$(this).siblings('.collapse-link').show();
				}
			});
			$('.collapse-link').click(function() {
				var container = $(this).siblings('.collapse-container');
				var animHeight = container.hasClass('collapsed') ? container.data('origHeight') : collapseHeight; 
				container.animate({ height : animHeight }, 'fast').toggleClass('collapsed');
				return false;
			});
		})
	</script>
{% endblock %}

{% block top_unit_container %}{% endblock %}

{% block content_container %}

<h1 style="margin-top: 20px; text-align: center;">Каталог программ {{ heymoose() }}</h1>

{% if not g.user %}
<div class="row" style="width: 1000px; margin: 0 auto; margin-bottom: 40px;">
	<div class="span12">
		<p>
			Для того, чтобы получить доступ ко всем рекламным материалам и подробной статистике
			программ, приведенных в этом каталоге, вам необходимо нажать
			на кнопку &laquo;Зарегистрироваться&raquo; и заполнить несложную форму регистрации.
		</p>
	</div>
	<div class="span" style="margin-top: 8px;">
		<a href="{{ url_for('.register_affiliate') }}" class="btn moose large">Зарегистрироваться</a>
	</div>
</div>
{% endif %}

{% if offers %}
<table>
	<thead>
		<tr>
			<th></th>
			<th>Действие</th>
			<th>Оплата</th>
			<th>Описание</th>
			<th class="{{ 'right' if g.user else 'center' }}">Конверсия</th>
			<th>Регионы</th>
			<th>Категории</th>
		</tr>
	</thead>
	<tbody>
		{% for offer in offers %}
		{% set rowspan = 'rowspan="{0}"'.format(offer.active_suboffers|length + 1)|safe %}
		<tr>
			<td class="minimal center" {{ rowspan }}>
				<a href="{{ offer.site_url or offer.url }}" target="_blank">
					{% if offer.logo_filename %}
					<div>
						<img src="{{ url_for('upload', filename=offer.logo) }}" alt="" class="offer-logo" />
					</div>
					{% endif %}
					{{ offer.name }}
				</a>
			</td>
			
			<td class="action-cell">{{ offer.title }}</td>
			<td class="cost-cell">{{ offer.value(tax=30.0) }}</td>
			
			<td class="small" {{ rowspan }}>{{ offer.short_description|default('&mdash;', true)|safe }}</td>
			
			{% if g.user %}
			<td class="conversion-cell" {{ rowspan }}>
				{% if offer.cr is not none %}{{ offer.cr|percent }}{% else %}&mdash;{% endif %}
			</td>
			{% else %}
			<td class="conversion-cell locked" {{ rowspan }}>
				<a href="{{ url_for('.register_affiliate') }}">
					<img src="{{ url_for('static', filename='./img/icons/lock.png') }}" alt="недоступно" />
				</a>
				<div>Доступно только зарегистрированным</div>
			</td>
			{% endif %}
			<td class="small" {{ rowspan }}>
				<div class="collapse-container">
					{{ offer.regions_full|attrlist('country_name')|join(', ')|default('&mdash;', true)|safe }}
				</div>
				<a href="#" class="dotted-link collapse-link" style="display: none;">(ещё)</a>
			</td>
			<td class="categories-cell small" {{ rowspan }}>
				{% if offer.categories %}
				<div class="collapse-container">
					<ul class="toplevel-list toplevel-list--no-bottom-margin">
						{% for group in offer.categories|groupby('grouping') %}
						<li>
							{{ group.grouper }}
							<ul class="dashed-list">
								{% for category in group.list %}
								<li>{{ category.name }}</li>
								{% endfor %}
							</ul>
						</li>
						{% endfor %}
					</ul>
				</div>
				<a href="#" class="dotted-link collapse-link" style="display: none;">(ещё)</a>
				{% else %}
				&mdash;
				{% endif %}
			</td>
		</tr>
		{% for suboffer in offer.active_suboffers %}
		<tr class="noborder">
			<td class="action-cell">{{ suboffer.title }}</td>
			<td class="cost-cell">{{ suboffer.value(tax=30.0) }}</td>
		</tr>
		{% endfor %}
		{% endfor %}
	</tbody>
</table>
{{ macros.paginate(pages, '.catalog') }}
{% else %}
Программ пока нет.
{% endif %}

{% endblock %}
