{% extends "site/hm/layout.html" %}

{% block fulltitle %}HeyMoose! &mdash; партнерская сеть{% endblock %}

{% set activemenu = "index" %}

{% block extrahead %}
	{{ super() }}
	<style type="text/css">
		.more-container {
			margin-top: 20px;
			margin-bottom: 20px;
		}
	
		span.more {
			font-size: 18px;
		}
	</style>
{% endblock %}

{% block top_unit_content %}
	<p class="support right">
		Служба поддержки:
		<span class="support-item">
			<img src="{{ url_for('static', filename='./img/hm/phone.png') }}" alt="Телефон" />
			<span class="hey">+7 (905) 710-19-92</span>
		</span>
		<span class="support-item">
			<img src="{{ url_for('static', filename='./img/hm/mail.png') }}" alt="E-mail" />
			<a href="mailto:info@heymoose.com">info@heymoose.com</a>
		</span>
	</p>
	<div class="top-unit-text">
		<p>
			Партнерская программа {{ heymoose() }} &mdash; это система взаимодействия
			рекламодателя и веб-мастеров. Оплата за рекламу происходит по&nbsp;CPA-модели после
			конкретных действий пользователя.
		</p>
	</div>
{% endblock %}

{% block precontent %}
<div class="hm-roundbox">
	<div class="hm-roundbox-content hm-roundbox-content--dark">
		<div class="row">
			<div class="span" style="width: 438px;">
				<h2 class="bigger mrg-15b">
					<a href="{{ url_for('.new_advertisers') }}" class="hm-dashed-link sky">Рекламодателю</a>
				</h2>
				<h3>Мечтаете о 100% отдаче от рекламы?</h3>
				<p>
					Мы размещаем рекламу и информацию о вашей фирме в игровых приложениях в социальных сетях
					и рекламу в мобильных играх, а так же предлагаем средства как для раскрутки бренда,
					так и для точечных продаж. Как это работает, и чем мы отличаемся от других.
				</p>
				<h3>Хотите платить за конкретный результат?</h3>
				<p>
					Мы размещаем рекламу и информацию о вашей фирме в игровых приложениях в социальных сетях
					и рекламу в мобильных играх, а так же предлагаем средства как для раскрутки бренда,
					так и для точечных продаж. Как это работает, и чем мы отличаемся от других.
				</p>
				<div class="more-container">
					<span class="more">
						<a href="{{ url_for('.new_advertisers') }}" class="hm-dashed-link white">Подробнее</a> &raquo;
					</span>
				</div>
			</div>
			<div class="span" style="width: 438px;">
				<h2 class="bigger mrg-15b"><a href="#" class="hm-dashed-link sky">Партнёру</a></h2>
				<h3>У нас самые выгодные предложения!</h3>
				<p>
					Мы размещаем рекламу и информацию о вашей фирме в игровых приложениях в социальных сетях
					и рекламу в мобильных играх, а так же предлагаем средства как для раскрутки бренда,
					так и для точечных продаж. Как это работает, и чем мы отличаемся от других.
				</p>
				<h3>Рекламодатели во всех популярных нишах</h3>
				<p>
					Мы размещаем рекламу и информацию о вашей фирме в игровых приложениях в социальных сетях
					и рекламу в мобильных играх, а так же предлагаем средства как для раскрутки бренда,
					так и для точечных продаж. Как это работает, и чем мы отличаемся от других.
				</p>
				<div class="more-container">
					<span class="more">
						<a href="#" class="hm-dashed-link white">Подробнее</a> &raquo;
					</span>
				</div>
			</div>
		</div>
	</div>
</div>
{% endblock %}

{% block content %}
	<h2>Новости</h2>
	<div class="row">
		<div class="span newsitem with-image" style="width: 438px;">
			<div class="newsitem-image-container"></div>
			<div class="newsitem-content">
				<h4>
					<a href="#">Веб-мастеру</a>
					<span class="section-divider">/</span>
					Мы открылись!
				</h4>
				<p>
					Мы размещаем рекламу и информацию о вашей фирме в игровых приложениях в социальных сетях
					и рекламу в мобильных играх, а так же предлагаем средства как для раскрутки бренда.
					<a href="#">читать &raquo;</a>
				</p>
			</div>
		</div>
		<div class="span newsitem with-image" style="width: 438px;">
			<div class="newsitem-image-container"></div>
			<div class="newsitem-content">
				<h4>
					<a href="#">Рекламодателю</a>
					<span class="section-divider">/</span>
					Мы открылись!
				</h4>
				<p>
					Мы размещаем рекламу и информацию о вашей фирме в игровых приложениях в социальных сетях
					и рекламу в мобильных играх, а так же предлагаем средства как для раскрутки бренда.
					<a href="#">читать &raquo;</a>
				</p>
			</div>
		</div>
		<div class="span newsitem with-image" style="width: 438px;">
			<div class="newsitem-image-container"></div>
			<div class="newsitem-content">
				<h4>Гомогенный заголовок новости</h4>
				<p>
					Мы размещаем рекламу и информацию о вашей фирме в игровых приложениях в социальных сетях
					и рекламу в мобильных играх, а так же предлагаем средства как для раскрутки бренда.
					<a href="#">читать &raquo;</a>
				</p>
			</div>
		</div>
		<div class="span newsitem with-image" style="width: 438px;">
			<div class="newsitem-image-container"></div>
			<div class="newsitem-content">
				<h4>
					<a href="#">Рекламодателю</a>
					<span class="section-divider">/</span>
					Более содержательный заголовок новости
				</h4>
				<p>
					Мы размещаем рекламу и информацию о вашей фирме в игровых приложениях в социальных сетях
					и рекламу в мобильных играх.
					<a href="#">читать &raquo;</a>
				</p>
			</div>
		</div>
	</div>
{% endblock %}
