{% extends "site/hm/layout.html" %}

{% block fulltitle %}HeyMoose! &mdash; партнерская сеть{% endblock %}

{% set activemenu = "index" %}

{% block extrahead %}
	{{ super() }}
	<style type="text/css">
		.more-container {
			margin-top: 20px;
			margin-bottom: 20px;
		}
	
		span.more {
			font-size: 18px;
		}
	</style>
{% endblock %}

{% block top_unit_content %}
	{{ support() }}
	<div class="top-unit-text">
		<p>
			Партнерская сеть {{ heymoose() }} &mdash; это система взаимодействия
			рекламодателя и веб-мастеров. Оплата за рекламу происходит по&nbsp;CPA-модели после
			конкретных действий пользователя.
		</p>
	</div>
{% endblock %}

{% block precontent %}
<div class="hm-roundbox">
	<div class="hm-roundbox-content hm-roundbox-content--dark">
		<div class="row">
			<div class="span" style="width: 438px;">
				<h2 class="bigger mrg-15b">
					<a href="{{ url_for('.new_advertisers') }}" class="hm-dashed-link sky">Рекламодателю</a>
				</h2>
				<h3>Хотите платить за конкретный результат?</h3>
				<p>
					У вас есть интернет магазин, онлайн-сервис, или вы профессионально занимаетесь рекламой
					в интернете? Вы хотите привлечь к себе много новых клиентов, затратив при этом минимум
					усилий, денег и времени?
				</p>
				<h3>Мечтаете о 100% отдаче от рекламы?</h3>
				<p>
					Всем известно, что все большую роль в торговле играет интернет. Как же привлечь
					пользователей сети делать покупки в вашей компании? Вам поможет партнерский маркетинг
					без рисков от &laquo;HeyMoose!&raquo;
				</p>
				<div class="more-container">
					<span class="more">
						<a href="{{ url_for('.new_advertisers') }}" class="hm-dashed-link white">Подробнее</a> &raquo;
					</span>
				</div>
			</div>
			<div class="span" style="width: 438px;">
				<h2 class="bigger mrg-15b"><a href="#" class="hm-dashed-link sky">Партнёру</a></h2>
				<h3>Хотите денег?</h3>
				<p>
					У вас есть популярный сайт, или сеть сайтов? Вы профессионально занимаетесь арбитражем
					трафика? Дополнительный источник монетизации вашего ресурса &mdash; партнерская программа
					&laquo;HeyMoose!&raquo;
				</p>
				<h3>Сервис на грани фантастики</h3>
				<p>
					Мы берем на себя привлечение рекламодателей, предоставляем техническую платформу
					для отслеживания статистики. Спорные вопросы и урегулирование выплат решаются
					компанией &laquo;HeyMoose!&raquo;
				</p>
				<div class="more-container">
					<span class="more">
						<a href="#" class="hm-dashed-link white">Подробнее</a> &raquo;
					</span>
				</div>
			</div>
		</div>
	</div>
</div>
{% endblock %}

{% block content %}
	<h2>Новости</h2>
	<div class="row">
		<div class="span newsitem with-image" style="width: 438px;">
			<div class="newsitem-left-container">
				<div class="newsitem-image">
					<img src="{{ url_for('.static', filename='./img/news/2012-04-26.jpg') }}" alt="" />
				</div>
				<div class="newsitem-date">26.04.2012</div>
			</div>
			<div class="newsitem-content">
				<h4>Подведены итоги конкурса &laquo;GamaK&raquo;</h4>
				<p>
					Подведены итоги конкурса &laquo;GamaK&raquo; от HeyMoose. Победителями стали:
					игра &laquo;Заботань&raquo; &mdash; приз 100 тыс. рублей, игра &laquo;Fly in Space&raquo;
					&mdash; 50 тыс. рублей, игра &laquo;Томато Комбат&raquo; &mdash; 20 тыс. рублей.
					{#<a href="{{ url_for('.news_item', name='2012-04-26') }}">читать &raquo;</a>#}
				</p>
			</div>
		</div>
		<div class="span newsitem with-image" style="width: 438px;">
			<div class="newsitem-left-container">
				<div class="newsitem-image">
					<img src="{{ url_for('.static', filename='./img/news/2012-04-23.jpg') }}" alt="" />
				</div>
				<div class="newsitem-date">23.04.2012</div>
			</div>
			<div class="newsitem-content">
				<h4>Мы открылись!</h4>
				<p>
					Ровно два месяца понадобилось нам на то, чтобы сделать идеальную партнёрскую
					программу. Результат вы можете оценить по достоинству, зарегистрировавшись в нашей системе.
					{#<a href="{{ url_for('.news_item', name='2012-04-23') }}">читать &raquo;</a>#}
				</p>
			</div>
		</div>
		<div class="span newsitem with-image" style="width: 438px;">
			<div class="newsitem-left-container">
				<div class="newsitem-image">
					<img src="{{ url_for('.static', filename='./img/news/2012-04-15.jpg') }}" alt="" />
				</div>
				<div class="newsitem-date">15.04.2012</div>	
			</div>
			<div class="newsitem-content">
				<h4>&laquo;GamaK&raquo; &mdash; интервью с разработчиками</h4>
				<p>
					В рамках конкурса мы пообщались с ведущими разработчиками социальных игр Рунета.
					Что они говорят о тенденциях развития игротворчества, рекламе и	способах монетизации
					&mdash; читайте <a href="http://heymoose.com/gamak/articles/" target="_blank">тут</a>.
				</p>
			</div>
		</div>
		<div class="span newsitem with-image" style="width: 438px;">
			<div class="newsitem-left-container">
				<div class="newsitem-image">
					<img src="{{ url_for('.static', filename='./img/news/2012-02-15.jpg') }}" alt="" />
				</div>
				<div class="newsitem-date">15.02.2012</div>
			</div>
			<div class="newsitem-content">
				<h4>Разработчики всех стран &mdash; объединяйтесь!</h4>
				<p>
					Стартовал конкурс &laquo;GamaK&raquo; от HeyMoose! Получайте призы за качественные
					и красивые игры. Подробности о конкурсе читать
					<a href="http://heymoose.com/gamak/" target="_blank">здесь</a>.
				</p>
			</div>
		</div>
		<div class="span newsitem with-image" style="width: 438px;">
			<div class="newsitem-left-container">
				<div class="newsitem-image">
					<img src="{{ url_for('.static', filename='./img/news/2012-02-05.jpg') }}" alt="" />
				</div>
				<div class="newsitem-date">05.02.2012</div>
			</div>
			<div class="newsitem-content">
				<h4>Партнерская сеть мирового масштаба</h4>
				<p>
					Миссия компании HeyMoose &mdash; повышение качества рекламных кампаний
					в сети: веб-пространстве, мобильных телефонах, планшетах и даже в микроволновках.
				</p>
			</div>
		</div>
		<div class="span newsitem with-image" style="width: 438px;">
			<div class="newsitem-left-container">
				<div class="newsitem-image">
					<img src="{{ url_for('.static', filename='./img/news/2011-11-15.jpg') }}" alt="" />
				</div>
				<div class="newsitem-date">15.11.2011</div>	
			</div>
			<div class="newsitem-content">
				<h4>Запуск партнерской программы в приложениях для социальных сетей</h4>
				<p>
					Разработано техническое решение для размещения рекламы по схеме CPA в приложениях
					для социальных сетей.
				</p>
			</div>
		</div>
	</div>
{% endblock %}
