{% extends "site/hm/layout.html" %}

{% block fulltitle %}HeyMoose! &mdash; партнерская сеть{% endblock %}

{% set activemenu = "index" %}

{% block extrahead %}
	{{ super() }}
	<style type="text/css">
		.more-container {
			margin-top: 20px;
			margin-bottom: 20px;
		}
	
		span.more {
			font-size: 18px;
		}
	</style>
{% endblock %}

{% block top_unit_content %}
	{{ support() }}
	<div class="top-unit-text">
		<p>
			Партнерская сеть {{ heymoose() }} &mdash; это система взаимодействия
			рекламодателя и веб-мастеров. Оплата за рекламу происходит по&nbsp;CPA-модели после
			конкретных действий пользователя.
		</p>
	</div>
{% endblock %}

{% block precontent %}
<div class="hm-roundbox">
	<div class="hm-roundbox-content hm-roundbox-content--dark">
		<div class="row">
			<div class="span" style="width: 438px;">
				<h2 class="bigger mrg-15b">
					<a href="{{ url_for('.advertisers') }}" class="hm-dashed-link sky">Рекламодателю</a>
				</h2>
				<h3>Хотите платить за конкретный результат?</h3>
				<p>
					У вас есть интернет магазин, онлайн-сервис, или вы профессионально занимаетесь рекламой
					в интернете? Вы хотите привлечь к себе много новых клиентов, затратив при этом минимум
					усилий, денег и времени?
				</p>
				<h3>Мечтаете о 100% отдаче от рекламы?</h3>
				<p>
					Всем известно, что все большую роль в торговле играет интернет. Как же привлечь
					пользователей сети делать покупки в вашей компании? Вам поможет партнерский маркетинг
					без рисков от &laquo;HeyMoose!&raquo;
				</p>
				<div class="more-container">
					<span class="more">
						<a href="{{ url_for('.advertisers') }}" class="hm-dashed-link white">Подробнее</a> &raquo;
					</span>
				</div>
			</div>
			<div class="span" style="width: 438px;">
				<h2 class="bigger mrg-15b"><a href="{{ url_for('.affiliates') }}" class="hm-dashed-link sky">Партнёру</a></h2>
				<h3>Хотите денег?</h3>
				<p>
					У вас есть популярный сайт, или сеть сайтов? Вы профессионально занимаетесь арбитражем
					трафика? Дополнительный источник монетизации вашего ресурса &mdash; партнерская программа
					&laquo;HeyMoose!&raquo;
				</p>
				<h3>Сервис на грани фантастики</h3>
				<p>
					Мы берем на себя привлечение рекламодателей, предоставляем техническую платформу
					для отслеживания статистики. Спорные вопросы и урегулирование выплат решаются
					компанией &laquo;HeyMoose!&raquo;
				</p>
				<div class="more-container">
					<span class="more">
						<a href="{{ url_for('.affiliates') }}" class="hm-dashed-link white">Подробнее</a> &raquo;
					</span>
				</div>
			</div>
		</div>
	</div>
</div>
{% endblock %}

{% block content %}
	<h2>Новости</h2>
	<div class="row">
		{% for n in news %}
		<div class="span newsitem with-image" style="width: 438px;">
			<div class="newsitem-left-container">
				<div class="newsitem-image">
					<img src="{{ url_for('upload', filename=n.image_url) }}" alt="" />
				</div>
				<div class="newsitem-date">{{ n.date|dateformat }}</div>
			</div>
			<div class="newsitem-content">
				<h4>{{ n.title }}</h4>
				<p>
					{{ n.summary|safe }}
					<a href="{{ url_for('.news_item', id=n.mongo_id) }}">читать &raquo;</a>
				</p>
			</div>
		</div>
		{% endfor %}
	</div>
{% endblock %}
