{% extends "site/hm/common-layout.html" %}

{% block title %}Вакансии{% endblock %}

{% set activemenu = 'job' %}

{% block extrahead %}
	{{ super() }}
	<style type="text/css">
		.article h2 {
			margin-top: 30px;
		}
	</style>
{% endblock %}

{% block content %}
<h1 class="hm-roundbox-header">Вакансии {{ heymoose() }}</h1>
<div class="article">
	<p>
		Компания &laquo;HeyMoose!&raquo; ищет специалистов высокого класса для плодотворного
		и взаимовыгодного сотрудничества.
	</p>
	<p>Условия работы:</p>
	<ul class="dashed-list">
		<li>молодой дружный коллектив;</li>
		<li>денежные бонусы;</li>
		<li>работа в здании бизнес-инкубатора, где проводятся встречи и тренинги с интересными людьми;</li>
		<li>офис находится в 10 минутах ходьбы от ст. м. Семеновская.</li>
	</ul>
	
	<h2>Менеджер по работе с партнерами</h2>
	<p><strong>Зарплата от 40 000 руб. плюс бонусы в месяц по результатам собеседования</strong></p>
	<p>
		Нам нужен человек, который знает, что такое монетизация, слив трафика, накрутка, дорвей, affiliate, СРА,
		умеет оперировать этими терминами в разговорной речи и в состоянии привлекать партнеров для качественной
		работы партнерской сети &laquo;HeyMoose!&raquo;, а также будет в состоянии выполнять несколько простых
		действий для подключения партнеров к сети, выслушивать их монологи в чате и оперативно решать их проблемы.
	</p>
	<p><b>Желаемые навыки соискателя:</b></p>
	<ul class="dashed-list">
		<li>опыт работы в интернет-маркетинге;</li>
		<li>познания в области affiliate marketing;</li>
		<li>ответственность, самостоятельность в принятии решений;</li>
		<li>коммуникабельность;</li>
		<li>владение английским языком;</li>
		<li>
			уверенный пользователь ПК, знание основных каналов общения в сети, присутствие в соцсетях,
			знание тематических форумов;
		</li>
		<li>желание быть частью молодой команды и вместе стремиться к достижению успеха.</li>
	</ul>
	
	<h2>Менеджер по работе с рекламодателями</h2>
	<p><strong>Зарплата от 35 000 руб. плюс бонусы в месяц по результатам собеседования</strong></p>
	<p>
		Нам нужен самый значимый член команды &mdash; тот, который будет приносить в компанию деньги...
		Много денег! Обязанности очень простые &mdash; общаться с рекламодателями, рассказывать им о том,
		почему наша система лучшая, заключать с ними договора и отвечать на каверзные вопросы из области
		интернет-маркетинга и affiliate marketing.
	</p>
	<p><b>Обязанности:</b></p>
	<ul class="dashed-list">
		<li>развитие и ведение рекламных кампаний клиентов;</li>
		<li>постоянный контроль, анализ и оптимизация рекламных кампаний;</li>
		<li>консультирование клиентов по новым продуктам;</li>
	</ul>
	<p><b>Требования:</b></p>
	<ul class="dashed-list">
		<li>опыт работы в сфере интернет-маркетинга не менее двух лет;</li>
		<li>
			знание основных моделей ценообразования в сети Интернет (СРМ, СРС, СРА, СРО и пр.),
			их особенностей, преимуществ и недостатков;
		</li>
		<li>
			приветствуется опыт работы в Affiliate Marketing, Email Marketing, интернет-агентствах
			и лидогенераторах;
		</li>
		<li>умение разрабатывать и проводить презентации в различных форматах;</li>
		<li>высокие навыки делового общения;</li>
		<li>
			обучаемость, ответственность, коммуникабельность, стрессоустойчивость,
			способность работать самостоятельно.
		</li>
	</ul>
</div>
{% endblock %}
