{% extends "site/hm/common-layout.html" %}

{% block title %}Вакансии{% endblock %}

{% set activemenu = 'job' %}

{% block extrahead %}
	{{ super() }}
	<style type="text/css">
		.article h2 {
			margin-top: 30px;
		}
	</style>
{% endblock %}

{% block content %}
<h1 class="hm-roundbox-header">Вакансии {{ heymoose() }}</h1>
<div class="article">
	<p>
		<strong>
			Компания &laquo;HeyMoose!&raquo; ищет специалистов высокого класса для плодотворного
			и взаимовыгодного сотрудничества.
		</strong>
	</p>
	<p>Условия работы:</p>
	<ul class="dashed-list">
		<li>молодой дружный коллектив;</li>
		<li>денежные бонусы;</li>
		<li>работа в здании бизнес-инкубатора, где проводятся встречи и тренинги с интересными людьми;</li>
		<li>офис находится в 10 минутах ходьбы от ст. м. Семеновская.</li>
	</ul>
	<p>
		Если вы заинтересовались в какой-либо вакансии, пожалуйста, пришлите свое резюме на адрес
		<a href="mailto:ks.shilov@heymoose.com">ks.shilov@heymoose.com</a> или звоните по телефону
		<nobr>+7 (905) 710-19-92</nobr>.
	</p>
	
	<h2>Разработчик Java</h2>
	<p><strong>Зарплата от 80 000 руб. по результатам собеседования</strong></p>
	<p>
		В нашу компанию требуется программист на языке Java для разработки и поддержки высоконагруженного backend'а. 
		Причем это должен быть не просто разработчик, а человек, с которым мы впоследствии
		сможем делить горести, радости, прибыли и успех. Проще говоря, нам нужен полноценный член команды, для
		которого одинаково важен как процесс, так и результат. Кроме того, наш будущий коллега должен обладать
		следующими умениями:
	</p>
	<ul class="dashed-list">
		<li>программирование Java Core;</li>
		<li>многопоточное программирование Java 1.5+;</li>
		<li>знание классических алгоритмов и структур данных.</li>
	</ul>
	<p><strong>Плюсом является:</strong></p>
	<ul class="dashed-list">
		<li>написание и оптимизация SQL-запросов;</li>
		<li>понимание принципов работы HTTP;</li>
		<li>опыт работы с СУБД PostgreSQL;</li>
		<li>опыт работы с библиотеками Hibernate, Google Guice, Jersey;</li>
		<li>опыт разработки высоконагруженных систем.</li>
	</ul>
	<p><strong>Обязательны законченные коммерческие проекты!</strong></p>
	
	<h2>Менеджер по работе с рекламодателями</h2>
	<p><strong>Зарплата от 35 000 руб. плюс бонусы в месяц по результатам собеседования</strong></p>
	<p>
		Нам нужна высоквалифицированная нянька для клиентов. Человек, способный адекватно и в кратчайшие сроки
		отвечать на вопросы &laquo;А почему? А где? А кто виноват? А что делать? А почему так мало?&raquo; и прочие.
		Главное условие &mdash; умение быстро обучаться, самостоятельность в решении критических ситуаций и желание
		быть полноценным членом команды.
	</p>
	<p><b>Обязанности:</b></p>
	<ul class="dashed-list">
		<li>развитие и ведение рекламных кампаний клиентов;</li>
		<li>постоянный контроль, анализ и оптимизация рекламных кампаний;</li>
		<li>консультирование клиентов по новым продуктам;</li>
	</ul>
	<p><b>Требования:</b></p>
	<ul class="dashed-list">
		<li>опыт работы в сфере интернет-маркетинга не менее двух лет;</li>
		<li>
			знание основных моделей ценообразования в сети Интернет (СРМ, СРС, СРА, СРО и пр.),
			их особенностей, преимуществ и недостатков;
		</li>
		<li>
			приветствуется опыт работы в Affiliate Marketing, Email Marketing, интернет-агентствах
			и лидогенераторах;
		</li>
		<li>уверенный пользователь ПК;</li>
		<li>высокие навыки делового общения;</li>
		<li>
			обучаемость, ответственность, коммуникабельность, стрессоустойчивость,
			способность работать самостоятельно;
		</li>
		<li>желательно владение английским языком.</li>
	</ul>
	
	<h2>Менеджер по привлечению рекламодателей</h2>
	<p><strong>Зарплата от 40 000 руб. плюс бонусы в месяц по результатам собеседования</strong></p>
	<p>
		Нам нужен самый значимый член команды &mdash; тот, который будет приносить в компанию деньги...
		Много денег! Обязанности очень простые &mdash; общаться с рекламодателями, рассказывать им о том,
		почему наша система лучшая, заключать с ними договора и отвечать на каверзные вопросы из области
		интернет-маркетинга и affiliate marketing.
	</p>
	<p><b>Обязанности:</b></p>
	<ul class="dashed-list">
		<li>поиск и ведение новых клиентов;</li>
		<li>консультации рекламодателей в вопросах из области интернет-маркетинга и affiliate маркетинга.</li>
	</ul>
	<p><b>Требования:</b></p>
	<ul class="dashed-list">
		<li>знание основ интернет-маркетинга и моделей ценообразования в Интернет;</li>
		<li>навыки создания и проведения презентаций;</li>
		<li>умение вести переговоры по телефону, по почте, в скайпе, фэйсбуке, ресторане, на лавочке в парке.</li>
		<li>желательно наличие собственной клиентской базы, опыт работы в digital или рекламных агентствах,</li>
		<li>уверенный пользователь ПК;</li>
		<li>желательно владение английским языком.</li>
	</ul>
	
	<h2>Менеджер по работе с партнерами</h2>
	<p><strong>Зарплата от 40 000 руб. плюс бонусы в месяц по результатам собеседования</strong></p>
	<p>
		Нам нужен человек, который знает, что такое монетизация, слив трафика, накрутка, дорвей, affiliate, СРА,
		умеет оперировать этими терминами в разговорной речи и в состоянии привлекать партнеров для качественной
		работы партнерской сети &laquo;HeyMoose!&raquo;, а также будет в состоянии выполнять несколько простых
		действий для подключения партнеров к сети, выслушивать их монологи в чате и оперативно решать их проблемы.
	</p>
	<p><b>Обязанности:</b></p>
	<ul class="dashed-list">
		<li>поиск новых партнеров &mdash; поставщиков трафика;</li>
		<li>поиск новых каналов для реализации кампаний по модели СРА;</li>
		<li>ведение переговоров подключение партнеров к сети.</li>
	</ul>
	<p><b>Требования:</b></p>
	<ul class="dashed-list">
		<li>опыт работы в интернет-маркетинге;</li>
		<li>познания в области affiliate marketing;</li>
		<li>ответственность, самостоятельность в принятии решений;</li>
		<li>коммуникабельность;</li>
		<li>владение английским языком;</li>
		<li>
			уверенный пользователь ПК, знание основных каналов общения в сети, присутствие в соцсетях,
			знание тематических форумов;
		</li>
		<li>желание быть частью молодой команды и вместе стремиться к достижению успеха.</li>
	</ul>
</div>
{% endblock %}
