{% extends 'layout.html' %}

{% macro heymoose(excl=true) -%}<span class="hey">Hey</span><span class="moose">Moose{{ '!' if excl -}}</span>{% endmacro -%}

{% macro support(title='Служба поддержки:') %}
<p class="support center">
	{{ title }}
	<span class="support-item">
		<img src="{{ url_for('static', filename='./img/hm/phone.png') }}" alt="Телефон" />
		<span class="hey">+7 (905) 710-19-92</span>
	</span>
	<span class="support-item">
		<img src="{{ url_for('static', filename='./img/hm/mail.png') }}" alt="E-mail" />
		<a href="mailto:info@heymoose.com">info@heymoose.com</a>
	</span>
</p>
{% endmacro %}

{% block extrahead %}
<link rel="alternate" type="application/rss+xml" title="Последние новости HeyMoose" href="{{ url_for('.rss_feed', _external=True) }}"> 

<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='./css/hm/margins.css', nocache=nocache()) }}" media="screen" />
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='./css/hm/spans.css', nocache=nocache()) }}" media="screen" />
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='./css/hm/links.css', nocache=nocache()) }}" media="screen" />
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='./css/hm/headers.css', nocache=nocache()) }}" media="screen" />
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='./css/hm/lists.css', nocache=nocache()) }}" media="screen" />
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='./css/hm/tables.css', nocache=nocache()) }}" media="screen" />
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='./css/hm/buttons.css', nocache=nocache()) }}" media="screen" />
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='./css/hm/forms.css', nocache=nocache()) }}" media="screen" />
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='./css/hm/top-unit.css', nocache=nocache()) }}" media="screen" />
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='./css/hm/roundbox.css', nocache=nocache()) }}" media="screen" />
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='./css/hm/newsitem.css', nocache=nocache()) }}" media="screen" />

<style type="text/css">
	#login-modal { width: 440px; }
	
	body {
		/*background-color: #FFF;
		background-image: none;*/
		background: none repeat scroll 0 0 #F4F4F4;
		color: #565555;
	}
	
	.container > footer p {
		color: #404040;
	}
	
	.topbar .container {
		width: auto;
		max-width: 1100px;
	}
	
	.support {
		line-height: 30px;
	}
	
	.support-item {
		margin-left: 20px;
	}
	
	.support-item > img {
		vertical-align: middle;
	}
	
	.countdown-container {
		background-color: #6A6A6A; /*#222222;*/
		/*box-shadow: 0 1px 3px rgba(0, 0, 0, 0.25), 0 -1px 0 rgba(0, 0, 0, 0.1) inset;*/
		box-shadow: 1px 2px 3px rgba(0, 0, 0, 0.5);
		border-radius: 20px 20px 20px 20px;
		padding: 20px;
		margin-top: 20px;
		
		color: #FFF;
		font-weight: bold;
	}
	
	.countdown-container p {
		margin-bottom: 0;
	}
	
	.countdown-container a {
		color: #F8C300;
		font-weight: bold;
		text-decoration: underline;
	}
	
	.countdown-container a:hover {
		text-decoration: none;
		color: #F8C300;
	}
</style>
<script type="text/javascript" src="{{ url_for('static', filename='js/jquery.countdown.js') }}"></script>
<script type="text/javascript">
	$(function() {
		$('#login-modal').bind('shown', function() {
			$('#username').focus();
		});
		$('.countdown').countdown(new Date(2012, 08, 01, 23, 59, 59), { prefix: '' });
	})
</script>
{% endblock %}

{% block prebody %}
<div style="display:none;" class="li_counter">
	<!-- Yandex.Metrika counter -->
	<script type="text/javascript">
	(function (d, w, c) {
	    (w[c] = w[c] || []).push(function() {
	        try {
	            w.yaCounter8819377 = new Ya.Metrika({id:8819377, enableAll: true, webvisor:true});
	        } catch(e) {}
	    });
	    
	    var n = d.getElementsByTagName("script")[0],
	        s = d.createElement("script"),
	        f = function () { n.parentNode.insertBefore(s, n); };
	    s.type = "text/javascript";
	    s.async = true;
	    s.src = (d.location.protocol == "https:" ? "https:" : "http:") + "//mc.yandex.ru/metrika/watch.js";
	
	    if (w.opera == "[object Opera]") {
	        d.addEventListener("DOMContentLoaded", f);
	    } else { f(); }
	})(document, window, "yandex_metrika_callbacks");
	</script>
	<noscript><div><img src="//mc.yandex.ru/watch/8819377" style="position:absolute; left:-9999px;" alt="" /></div></noscript>
	<!-- /Yandex.Metrika counter -->
</div>
{% endblock %}

{#{% block postbrand %}<span style="font-size: 16px;">(beta)</span>{% endblock %}#}


{% block topbar %}

{% block nav %}
<ul class="nav">
	<li id="menu-item-index"><a href="{{ url_for('.index') }}">Главная</a></li>
	<li id="menu-item-news"><a href="{{ url_for('.news_list') }}">Новости</a></li>
	<li id="menu-item-advertisers"><a href="{{ url_for('.advertisers') }}">Рекламодателям</a></li>
	<li id="menu-item-affiliates"><a href="{{ url_for('.affiliates') }}">Партнёрам</a></li>
	<li id="menu-item-forum"><a href="http://forum.heymoose.com" target="_blank">Форум</a></li>
	<li id="menu-item-contacts"><a href="{{ url_for('.contacts') }}">Контакты</a></li>
	<li id="menu-item-job"><a href="{{ url_for('.job') }}">Вакансии</a></li>
	
	<li class="dropdown">
		<a class="dropdown-toggle" href="#">Language</a>
		<ul class="dropdown-menu">
			<li id="menu-item-lang-ru" class="active"><a href="{{ url_for('.index') }}">Русский</a></li>
			<li id="menu-item-lang-en"><a href="{{ url_for('.lang_index', lang='en') }}">English</a></li>
			<li id="menu-item-lang-de"><a href="{{ url_for('.lang_index', lang='de') }}">Deutsch</a></li>
			<li id="menu-item-lang-fr"><a href="{{ url_for('.lang_index', lang='fr') }}">Français</a></li>
			<li id="menu-item-lang-it"><a href="{{ url_for('.lang_index', lang='it') }}">Italiano</a></li>
		</ul>
	</li>
</ul>
{% endblock %}

{% block secondary_nav %}
<ul class="nav secondary-nav">
	{% if g.user %}
	<li id="menu-item-cabinet"><a href="{{ url_for('cabinetcpa.index') }}">Личный кабинет</a></li>
	<li class="dropdown">
		<a class="dropdown-toggle" href="#">{{ g.user.full_name or g.user.email }}</a>
		<ul class="dropdown-menu">
			<li><a href="{{ url_for('.logout') }}">Выйти</a></li>
		</ul>
	</li>
	{% else %}
	<li class="dropdown">
		<a class="dropdown-toggle" href="#">Регистрация</a>
		<ul class="dropdown-menu">
			<li id="menu-item-register-advertiser"><a href="{{ url_for('.register_advertiser') }}">Рекламодателя</a></li>
			<li id="menu-item-register-affiliate"><a href="{{ url_for('.register_affiliate') }}">Партнёра</a></li>
		</ul>
	</li>
	<li id="menu-item-login">
		<a href="{{ url_for('.login') }}" data-controls-modal="login-modal" 
		 data-backdrop="true" data-keyboard="true">Войти</a>
	</li>
	{% endif %}
</ul>
{% endblock %}

{% endblock %}


{% block container %}
	<div class="hm-content">
		{% block flash_messages %}
			{{ super() }}
		{% endblock %}
		
		{% block countdown %}
		<div class="clearfix countdown-container">
			<p>
				<strong>До запуска осталось <span class="countdown"></span>!</strong>
				<span style="float: right;">
					<a href="#" data-controls-modal="modal-countdown" data-backdrop="true"
					 data-keyboard="true">Что это?</a>
				</span>
			</p>
			<div id="modal-countdown" class="modal fade" style="display: none;">
				<div class="modal-header">
					<a href="#" class="close">×</a>
					<h3>Скоро запуск!</h3>
				</div>
				<div class="modal-body center">
					<div class="center">
					<p>
						Совсем скоро наша партнерская сеть изменится как по форме,
						так и по содержанию. Новый каталог офферов будет наполнен самыми лучшими
						рекламными предложениями от топовых рекламодателей Рунета по невероятным ценам!
					</p>
					<p><strong>Готовьте трафик!</strong></p>
					<p>До запуска осталось <span class="countdown"></span>.</p>
					</div>
					<hr />
					<p>
						Если вы  еще не зарегистрированы в нашей системе, вы можете оставить здесь свой
						электронный адрес, чтобы из первых рук получить информацию обо всех новшествах,
						которые мы вам приготовили. Поверьте, такого в Рунете еще не было!
					</p>
					<form id="countdown-form" action="{{ url_for('.countdown_email') }}" method="post" class="validate2">
						<fieldset>
							<input type="email" name="email" value="" />
							<input type="submit" class="btn primary" value="Оставить электронный адрес" />
						</fieldset>
					</form>
					<p>
						Следите за нами в социальных сетях:
					</p>
					<p>
						<a href="http://vk.com/hey_moose" target="_blank">
							<img src="{{ url_for('static', filename='img/icons/social/vk.png') }}" alt="" style="width: 24px;" />
						</a>
						<a href="http://www.facebook.com/heymoosepartners" target="_blank">
							<img src="{{ url_for('static', filename='img/icons/social/facebook.png') }}" alt="" style="width: 24px;" />
						</a>
					</p>
				</div>
			</div>
		</div>
		{% endblock %}
		
		{% block top_unit_container %}
		<div class="top-unit">
			<div class="row">
				<div class="span4" style="padding-left: 8px;">
					<img src="{{ url_for('static', filename='./img/logo_200x150.png') }}" alt="HeyMoose" />
				</div>
				<div class="span11">
					{% block top_unit_content %}{% endblock %}
				</div>
			</div>
		</div>
		{% endblock %}

		{% block precontent %}{% endblock %}

		{% block content_container %}
		<div class="hm-roundbox">
			<div class="hm-roundbox-content">
				{% block content %}{% endblock %}
			</div>
			{% block events_feed %}
			<div class="hm-roundbox-content hm-roundbox-content--aqua">
				<h2>Лента событий</h2>
				<div class="row">
					<div class="span event" style="width: 280px;">
						<div class="event-date">12.05.2012</div>
						<div class="event-content">
							<p>
								&laquo;HeyMoose!&raquo; участвует в форуме
								<a href="http://vk.com/findit" target="_blank">Найти IT</a>
								в качестве партнера
							</p>
						</div>
					</div>
					<div class="span event" style="width: 280px;">
						<div class="event-date">19.04.2012</div>
						<div class="event-content">
							<p>
								Мы вышли в финал конкурса бизнес-проектов
								<a href="http://10k.inc.hse.ru/" target="_blank">HSE{10K}</a>
							</p>
						</div>
					</div>
					<div class="span event" style="width: 280px;">
						<div class="event-date">30.11.2011</div>
						<div class="event-content">
							<p>
								Компания &laquo;HeyMoose!&raquo; стала резидентом<br />
								<a href="http://inc.hse.ru/" target="_blank">Бизнес-инкубатора ВШЭ</a>
							</p>
						</div>
					</div>
				</div>
			</div>
			{% endblock %}
		</div>
		{% endblock %}
	</div>
{% endblock %}


{% block footer_signs %}
{% set wmid = g.config.get('ROBOKASSA_WMID', '000000000000') %}

<a href="http://www.webmoney.ru" target="_blank">
	<img src="http://www.webmoney.ru/img/icons/88x31_wm_blue_on_white_ru.png"
	alt="Мы принимаем WebMoney" />
</a>

<!-- begin WebMoney Transfer : attestation label --> 
<a href="https://passport.webmoney.ru/asp/certview.asp?wmid={{ wmid }}" target="_blank">
	<IMG SRC="http://www.webmoney.ru/img/icons/88x31_wm_v_blue_on_white_ru.png" 
	title="Здесь находится аттестат нашего WM идентификатора {{ wmid }}" border="0"><br>
	<font size=1>Проверить аттестат</font>
</a>
<!-- end WebMoney Transfer : attestation label -->
{% endblock %}

{% block postbody %}	
{% if not g.user %}
<div id="login-modal" class="modal" style="display: none;">
	<form id="login-form" action="{{ url_for('.login') }}" method="post" class="validate2">
		<div class="modal-header">
			<a href="#" class="close">×</a>
			<h3>HeyMoose :: Вход</h3>
		</div>
		<div class="modal-body">
			<div class="span4" style="margin-left: 100px;">
			<fieldset>
				{{ forms.singlefield_stacked(g.login_form.username, class='span4', type='email') }}
				{{ forms.singlefield_stacked(g.login_form.password, class='span4', type='password') }}
				<div class="right">
					<a href="{{ url_for('.password') }}">Забыли пароль?</a>
				</div>
				<div style="margin-top: 20px;">
					{{ g.login_form.remember() }} запомнить меня
					<div class="float-right">
						<input type="submit" class="btn hey" value="Войти" />
					</div>
				</div>
			</fieldset>
			
			</div>
		</div>
	</form>
</div>
{% endif %}
{% endblock %}


