{% extends "site/hm/layout.html" %}

{% block title %}Восстановление пароля{% endblock %}

{% set activemenu = "" %}

{% block top_unit_container %}
<div class="center">
	<img src="{{ url_for('static', filename='./img/logo_200x150.png') }}" alt="HeyMoose" />
</div>
{% endblock %}

{% block flash_messages %}{% endblock %}

{% block content %}
	<h1 class="hm-roundbox-header">Восстановление пароля {{ heymoose() }}</h1>
	
	{% with messages = get_flashed_messages(with_categories=True) %}
		{% for category, message in messages %}
		<div class="alert-message {{ category }} fade in">
			<a class="close" href="#">×</a>
			<p>{{ message }}</p>
		</div>
		{% endfor %}
	{% endwith %}
	
	<div class="form-container span6" style="margin-left: 280px;">
		<form id="login-form" action="" method="post" class="validate2">
			<fieldset>
				{% call forms.singlefield_stacked_desc(form.email, class='span6', type='email') %}
				<span class="help-block">
					Пожалуйста, введите адрес электронной почты, с которым вы зарегистрировались в
					системе. На него будет выслан новый пароль.
				</span>
				{% endcall %}
				{{ forms.singlefield_stacked(form.captcha, class='span6', type='password') }}
				{{ form.ch() }}
				<div>
					<div class="float-right">
						<input type="submit" class="btn hey" value="Выслать новый пароль" />
					</div>
				</div>
			</fieldset>
		</form>
	</div>

{% endblock %}
