{% extends "site/hm/layout.html" %}

{% block title %}Регистрация{% endblock %}

{% block extrahead %}
	{{ super() }}
	<style type="text/css">
		.span360 {
			width: 360px;
		}
	</style>
{% endblock %}

{% set activemenu = "register" %}

{% block top_unit_content %}
	{{ support() }}
	<div class="top-unit-text compact">
		<p>
			В случае возникновения проблем при регистрации или дополнительных вопросов, на которые
			вы не нашли ответов на сайте, обязательно обратитесь к нашему менеджеру.
		</p>
	</div>
{% endblock %}

{% block content %}
<h1 class="hm-roundbox-header">Регистрация в {{ heymoose() }}</h1>

{% block register_content %}{% endblock %}
{% endblock %}
