{% extends "site/hm/advertisers-layout.html" %}

{% block title %}Спецпредложение для стартапов{% endblock %}

{% block content %}
<h1 class="hm-roundbox-header">Спецпредложение {{ heymoose() }}</h1>
<h2>Для стартапов</h2>
<div class="article">
	<p>
		Чтобы хорошо раскрутиться &mdash; надо много вложиться. Согласитесь, знакомая фраза? 
		Практически все рекламные агентства и рекламные возможности требуют от вас
		денег-денег-денег... Как быть, если раскрутиться все-таки хочется, а бюджет крохотный?
		Ваше решение &mdash; Реклама по системе СРА. Она позволяет платить только за проданные
		товары и услуги. Допустим, вы открыли интернет-магазин. Чтобы получить клиентов, вам
		необходимо заявить о себе в сети. Традиционными способами (покупкой баннеров и контекстной
		рекламы) вам это влетит в копеечку. Работая с системой &laquo;HeyMoose!&raquo;, вы будете
		платить только за продажу товара, параллельно увеличивая узнаваемость вашего бренда.
	</p>
	<p>
		Специально для начинающих компаний мы предлагаем размещение рекламы в нашей сети с
		низким порогом старта. Вы платите 20 тысяч рублей, и мы превращаем их в ваших клиентов. Если
		вдруг произойдет так, что ваш рекламный бюджет не будет потрачен полностью &mdash; мы возвращаем
		остаток средств с вашего счета.
	</p>
	
	<div class="center">
		<table class="bordered-table zebra-striped nosort" style="width: auto; margin: 30px auto;">
			<thead>
				<th></th>
				<th class="center" style="width: 160px;">Старт продаж</th>
				<th class="center" style="width: 160px;">Рост продаж</th>
				<th class="center" style="width: 160px;">Магнат</th>
			</thead>
			<tbody>
				<tr>
					<td>Отчет по кампании</td>
					<td class="center">{{ macros.to_icon(true) }}</td>
					<td class="center">{{ macros.to_icon(true) }}</td>
					<td class="center">{{ macros.to_icon(true) }}</td>
				</tr>
				<tr>
					<td>Баннеры</td>
					<td class="center">{{ macros.to_icon(false) }}</td>
					<td class="center">{{ macros.to_icon(true) }}</td>
					<td class="center">{{ macros.to_icon(true) }}</td>
				</tr>
				<tr>
					<td>Лендинговая страница</td>
					<td class="center">{{ macros.to_icon(false) }}</td>
					<td class="center">{{ macros.to_icon(true) }}</td>
					<td class="center">{{ macros.to_icon(true) }}</td>
				</tr>
				<tr>
					<td>Отслеживание звонков</td>
					<td class="center">{{ macros.to_icon(false) }}</td>
					<td class="center">{{ macros.to_icon(true) }}</td>
					<td class="center">{{ macros.to_icon(true) }}</td>
				</tr>
				<tr>
					<td>Трафик в кредит</td>
					<td class="center">{{ macros.to_icon(false) }}</td>
					<td class="center">{{ macros.to_icon(false) }}</td>
					<td class="center">{{ macros.to_icon(true) }}</td>
				</tr>
				<tr>
					<td></td>
					<td class="center" style="font-weight: bold;">20 000 руб.</td>
					<td class="center" style="font-weight: bold;">50 000 руб.</td>
					<td class="center" style="font-weight: bold;">100 000 руб.</td>
				</tr>
			</tbody>
		</table>
	</div>
</div>
{{ super() }}
<h2>Другие спецпредложения для рекламодателей</h2>
<div class="row">
	<div class="span8 newsitem">
		<h4>
			Рекламным агентствам
			<span class="section-divider">/</span>
			<a href="{{ url_for('.special', name='agencies') }}">Выгодно!</a>
		</h4>
		<p>
			Рекламным агентствам, которые заинтересованы в больших объемах трафика, мы предоставляем
			набор действительно выгодных и удобных сервисов.
			<a href="{{ url_for('.special', name='agencies') }}">читать &raquo;</a>
		</p>
	</div>
</div>
{% endblock %}
