{% extends "site/hm/advertisers-layout.html" %}

{% block title %}Спецпредложение для рекламных агентств{% endblock %}

{% block content %}
<h1 class="hm-roundbox-header">Спецпредложение {{ heymoose() }}</h1>
<h2>Для рекламных агентств</h2>
<div class="article">
	<p>Что мы можем вам предложить:</p>
	<ul class="dashed-list">
		<li>Вы получаете доступ ко всем рекламным площадкам &laquo;в одном окне&raquo;.</li>
		<li>Возможность выбора системы оплаты &mdash; СРА, СРС, СРS.</li>
		<li>Мы работаем не только в России, но и в СНГ, Европе и Штатах.</li>
		<li>
			Схема СРА предполагает оплату только за полезное действие на сайте рекламодателя
			(покупка, регистрация, скачивание), таким образом, вы можете заранее просчитать ROI и
			сделать кампанию вашего клиента максимально эффективной. И он с радостью обратится
			к вам снова.
		</li>
		<li>
			Мы предоставляем статистику по всем переходам для каждой рекламной площадки.
			То есть у вас уже будут готовые отчеты по рекламной кампании.
		</li>
		<li>
			Дополнительные сервисы, которые мы предоставляем, помогут максимально отследить
			активность клиентов и выбрать самый лучший способ продвижения.
		</li>
		<li>
			Мы нацелены на долгосрочные взаимоотношения, поэтому предоставляем выгодные
			условия рекламодателям, которые заинтересованы в больших объемах трафика.
		</li>
	</ul>
</div>
{{ super() }}
<hr />
<h2>Другие спецпредложения для рекламодателей</h2>
<div class="row">
	<div class="span newsitem" style="width: 280px;">
		<h4>
			Стартапам
			<span class="section-divider">/</span>
			<a href="{{ url_for('.special', name='startups') }}">Прокачаем ваш бизнес!</a>
		</h4>
		<p>
			Специально для начинающих компаний мы предлагаем размещение рекламы в нашей сети с
			низким порогом старта. Вы платите 20 тысяч рублей, и мы превращаем их в ваших клиентов.
			<a href="{{ url_for('.special', name='startups') }}">читать &raquo;</a>
		</p>
	</div>
</div>
{% endblock %}
