{% extends "site/layout.html" %}

{% block title %}О проекте{% endblock %}

{% set activemenu = "about" %}

{% block pageheader %}
<h1>HeyMoose! <small>Инновационная онлайн-биржа игрового трафика</small></h1>
{% endblock %}

{% block content %}

<h2>Вы сами решаете, сколько и за что вы готовы заплатить</h2>
<p class="features">
	Компания <strong>HeyMoose</strong> является удобной площадкой для сотрудничества рекламодателей
	и разработчиков игровых приложений, предоставляя своим клиентам услуги <em>CPA-маркетинга</em>.
</p>
<p class="features">
	<strong>CPA-маркетинг</strong> (от англ. <em>Cost per Action</em>) &mdash; это динамично
	развивающаяся модель онлайн-рекламы, в которой рекламодатель платит за определенное действие,
	совершенное пользователем. Таким действием может быть регистрация на сайте клиента, заполнение
	анкеты или даже покупка товара или услуги. Площадкой для рекламы в данном случае становится
	игровое приложение разработчика, который получает фиксированную плату за каждого привлеченного
	пользователя, выполняющего необходимое рекламодателю действие. Сам пользователь за совершенное
	действие получает определенные бонусы от разработчика приложения – таковым может быть
	регистрация в платной игре, получение игровых бонусов или специальной игровой валюты. Таким
	образом, выгоду получают все три стороны: рекламодатель платит только за конкретное действие,
	разработчик увеличивает монетизацию своего трафика, а пользователь получает доступ к платным
	сервисам совершенно бесплатно!
</p>

<h2>Что мы предлагаем своим клиентам?</h2>
<dl class="features">
	<dt>Инновации</dt>
	<dd>
		Уникальные разработки HeyMoose позволяют нам оказывать качественные услуги, уникальные для
		рынка данного вида рекламы.
	</dd>
	<dt>Надежность</dt>
	<dd>
		Благодаря возможности управлять своими действиями через личный кабинет, вы сможете
		самостоятельно контролировать всех своих партнеров.
	</dd>
	<dt>Выгодная цена</dt>
	<dd>
		Никто из наших клиентов не останется недоволен: веб-мастера получат возможность монетизации
		трафика, а рекламодателям придется тратить деньги только за конкретного клиента, привлеченного
		с помощью приложения.
	</dd>
</dl>

<div class="alert-message block-message info">
      <h4>Свяжитесь с нами</h4>
      <p>Станьте участником партнерской программы HeyMoose. Мы поможем вам найти качественный и недорогой трафик.</p>
      <p><strong><a href="{{ url_for('.contacts') }}" class="btn top-margin">Контакты</a></strong></p>
</div>
{% endblock %}
