{% extends "layout.html" %}
{% block title %}
О сервисе
{% endblock %}
{% block content %}
<div class="b-widget i-widget_info">
<h3 class="alt">Реклама нового поколения</h3>
<hr>
<h4 class="alt i-gray">Привычные форматы рекламы в интернете обладают рядом недостатков. Вы вынуждены покупать клики, а не результат. Искушенных пользователей всё сложнее мотивировать. Половина денег на рекламу тратится зря. Платформа heymoose решает эти проблемы.</h4>
<hr>
<br>
<h3 class="alt">Как это работает?</h3>
<hr>
<p>
В личном кабинете, вы устанавливаете бюджет кампании и цену оффера. В HeyMoose реализованны механизмы для защиты от накруток.
</p>
<br>
<h3 class="alt">Примеры рекламных предложений</h3>
<hr>
<h4 class="i-moose">Продажи</h4>
<ul>
<li>Приобрести товар в интернет-магазине</li>
<li>Заказать услугу</li>
<li>Подписаться на журнал</li>
<li>Купить программу</li>
</ul>

<h4 class="i-moose">Аудитория</h4>
<ul>
<li>Сделать страницу стартовой</li>
<li>Подписаться на рассылку</li>
<li>Добавить в друзья</li>
</ul>

<h4 class="i-moose">Информация</h4>
<ul>
<li>Зарегистрироваться</li>
<li>Посоветовать другу</li>
<li>Разместить ссылку</li>
</ul>

<h4 class="i-moose">Преимущества HeyMoose:</h4>
<ul>
<li>Оплата только за результат</li>
<li>Доступ к огромной аудитории социальных сетей</li>
<li>Возможность таргетировать аудиторию (пол, возраст, место жительства, интересы и т.д.)</li>
<li>Прозрачный механизм формирования цен и статистика</li>
</ul>
</div>
{% endblock %}
