{% extends "site/layout.html" %}

{% block title %}Веб-мастерам{% endblock %}

{% set activemenu = "affiliates" %}

{% block container %}

{% block flash_messages %}
	{{ super() }}
{% endblock %}

<div class="content">
	<div class="page-header">
		<h1>Веб-мастерам</h1>
	</div>
	<p>
		Что обычно от партнерской программы ждут разработчики и владельцы
		трафика? Дополнительный доход с минимумом трудовых затрат. Как правило,
		это размещение рекламных материалов на сайтах с высокой посещаемостью,
		порталах и ресурсах социальных сетей. Сейчас на сцену выходит и мобильный
		рынок, который укрепляет свои позиции все больше. Мобильные приложения
		могут приносить еще больший доход, Потому что их пользователи нацелены на
		максимально быстрый результат &mdash; им некогда выбирать и сравнивать один сайт
		с другим, одно предложение с множеством. Они видят то, что хотят и берут это
		там, где увидели в первую очередь.
	</p>
	
	<h2>Как работать с партнерской программой?</h2>
	<p>
		Вы регистрируетесь у нас на сайте, добавляете свои рекламные площадки
		и выбираете наиболее интересные вам рекламные предложения. Вам
		будут доступны промо-материалы рекламодателя, баннеры и текстовые
		ссылки, которые вы можете размещать в любом удобном для вас виде. В
		личном кабинете будет отслеживаться статистика по переходам с рекламы и
		выполненным действиям, а так же зачисленные на ваш счет средства.
	</p>
	
	<h2>В чем наши преимущества?</h2>
	<p>
		Мы заинтересованы в хорошем заработке веб-мастеров и качественно
		проведенных рекламных кампаниях, поэтому сеть &laquo;HeyMoose!&raquo; &mdash; это в
		первую очередь проверенные оферы с адекватной оплатой. Мы постоянно
		отслеживаем стоимость конкретных действий в конкретной сфере и предлагаем
		партнерам цены выше среднерыночных.
	</p>
</div>

<div class="content">
	<p>
		На данный момент партнерская сеть работает в закрытом режиме. По всем вопросам вы можете
		<a href="{{ url_for('.contacts') }}">связаться с нами</a>.
	</p>
</div>

{% endblock %}
