{% extends "site/layout.html" %}
{% import 'common/forms/feedback.html' as feedback_form %}

{% block title %}Контакты{% endblock %}

{% set activemenu = "contacts" %}

{% block container %}

{% block flash_messages %}
	{{ super() }}
{% endblock %}

<div class="content">
	<div class="page-header"><h1>Как с нами связаться?</h1></div>
	<div class="row">
		<div class="span5">
			<h3>По общим вопросам</h3>
			<address>
				<br />
				<strong>E-mail:</strong> <a href="mailto:info@heymoose.com">info@heymoose.com</a><br />
				<strong>Телефон:</strong> +7 (905) 710-19-92
			</address>
		</div>
		<div class="span5">
			<h3>Рекламодателям</h3>
			<address>
				<strong>Менеджер:</strong> Роман Носов<br />
				<strong>E-mail:</strong> <a href="mailto:roman.nosov@heymoose.com">roman.nosov@heymoose.com</a><br />
				<strong>Телефон:</strong> +7 (965) 256-73-20
			</address>
		</div>
		<div class="span5">
			<h3>Разработчикам</h3>
			<address>
				<strong>Менеджер:</strong> Дмитрий Павлов<br />
				<strong>E-mail:</strong> <a href="mailto:dmitriy.pavlov@heymoose.com">dmitriy.pavlov@heymoose.com</a><br />
				<strong>Телефон:</strong> +7 (916) 082-20-87<br />
				<strong>Skype:</strong> ragdar777
			</address>
		</div>
	</div>
</div>

<div class="content">
	<div class="page-header"><h1>Напишите нам, и мы свяжемся с вами!</h1></div>
	<div class="form-container">
		{{ feedback_form.html(form) }}
	</div>
</div>

{% endblock %}