{% extends "site/layout.html" %}

{% block title %}Контакты{% endblock %}

{% set activemenu = "contacts" %}

{% block pageheader %}
<h1>Как с нами связаться?</h1>
{% endblock %}

{% block content %}
<div class="clearfix">
	<address>
		<strong>E-mail:</strong> <a href="mailto:info@heymoose.com">info@heymoose.com</a><br />
		<strong>Телефон:</strong> +7 (905) 710-19-92
	</address>
</div>

<h2>Напишите нам, и мы свяжемся с вами!</h2>
<div class="form-container clearfix">
	<form id="form-contacts" method="post" action="" class="widelabels validate">
		<fieldset>
			{{ macros.formfield(form.name, class='span10') }}
			{{ macros.formfield(form.email, class='span10', type='email') }}
			{{ macros.formfield(form.phone, class='span4') }}
			{{ macros.formfield(form.comment, class='span10', rows=4) }}
			{{ macros.formfield(form.captcha, class='span4', inline='(докажите, что вы не робот)') }}
			{{ form.ch() }}
		</fieldset>
		<div class="actions">
			<input class="btn primary" type="submit" value="Отправить"/>
		</div>
	</form>
</div>

{% endblock %}