{% extends "site/layout.html" %}
{% import 'common/forms/feedback.html' as feedback_form %}

{% block title %}Партнерская система{% endblock %}

{% set activemenu = "" %}

{% block container %}

{% block flash_messages %}
	{{ super() }}
{% endblock %}

<div class="content">
	<div class="page-header"><h1>Новая партнерская программа</h1></div>
	<p>
		Совсем скоро мы запустим партнерскую программу с оплатой за действия.
		Если вы заинтересованы в сотрудничестве с нами в качестве партнера,
		оставьте свои контакты, заполнив форму ниже. Когда программа начнет
		работать, вы получите уведомление на свою электронную почту и сможете
		получить доступ к рекламным материалам в первых рядах!
	</p>
</div>

<div class="content">
	<div class="form-container">
		{{ feedback_form.html(form, partner=true) }}
	</div>
</div>

{% endblock %}