{% extends "site/cpa-layout.html" %}

{% block fulltitle %}HeyMoose! &mdash; партнерская сеть{% endblock %}

{% set activemenu = "index" %}

{% block container %}

{% block flash_messages %}
	{{ super() }}
{% endblock %}

<div class="content">
	<div class="hero-unit white">
		<div class="row">
			<div class="span4 right">
				<img src="{{ url_for('static', filename='./img/logo_200x150.png') }}" alt="HeyMoose" />
			</div>
			<div class="span9">
				<h2>Доставка аудитории вашей рекламе!</h2>
				<p>
					Партнерская программа &laquo;HeyMoose!&raquo; &mdash; это система взаимодействия
					рекламодателя и веб-мастеров. Оплата за рекламу происходит по CPA-модели после
					конкретных действий пользователя.
				</p>
			</div>
		</div>
	</div>
</div>

<div class="row">
	<div class="span8">
		<div class="content">
			<div style="min-height: 200px;">
				<h2>Для рекламодателя</h2>
				<p>
					Всем известно, что все большую роль в торговле играет интернет. Как же привлечь
					пользователей сети делать покупки в вашей компании?
				</p>
				<p>
					Очевидный ответ &mdash; это размещать информацию о своем товаре там, где находятся
					ваши потенциальные покупатели. Но как узнать, что это за сайты и ресурсы?
				</p>
				<p>
					В помощь вам будет партнерская программа.
				</p>
			</div>
			<p><a href="{{ url_for('.cpa_advertisers') }}">Узнать больше &raquo;</a></p>
		</div>
	</div>
	<div class="span8">
		<div class="content">
			<div style="min-height: 200px;">
				<h2>Для веб-мастера</h2>
				<p>
					Дополнительный источник монетизации вашего посещаемого ресурса в сети Интернет
					&mdash; партнерская программа. Говоря иначе, это магазин рекламы, где платите не
					вы, а наоборот.
				</p>
				<p>
					Мы берем на себя привлечение рекламодателей, предоставляем техническую платформу
					для отслеживания статистики. Спорные вопросы и урегулирование выплат решаются
					компанией &laquo;HeyMoose!&raquo;. 
				</p>
			</div>
			<p><a href="{{ url_for('.cpa_affiliates') }}">Узнать больше &raquo;</a></p>
		</div>
	</div>
</div>
{% endblock %}