{% extends "site/cpa-layout.html" %}

{% block fulltitle %}HeyMoose! &mdash; партнерская сеть{% endblock %}

{% set activemenu = "advertisers" %}

{% block container %}

{% block flash_messages %}
	{{ super() }}
{% endblock %}

<div class="content">
	<div class="page-header">
		<h1>Рекламодателям</h1>
	</div>
	
	<h2>Какую проблему решает &laquo;HeyMoose&raquo;?</h2>
	<p>
		При работе с партнерами напрямую возникает множество проблем: вам необходимо
		разработать автоматизированную партнерскую систему, которая обеспечивает прозрачное
		взаимодействие партнеров с вашим товаром, предоставляет статистику показов, кликов,
		действий, которые совершают клиенты на вашем сайте, обеспечивает своевременные
		выплаты, а также техническую поддержку. Более того, вам придется потратить средства
		на привлечение самих партнеров. Все это делает компания «HeyMoose!», предоставляя
		вам полный спектр услуг партнерского маркетинга. Вам остается только загрузить
		промо материалы к нам на сайт, и ждать, когда клиенты начнут покупать ваш товар.
	</p>
	
	<h2>В чем наши преимущества?</h2>
	<ul class="dashed-list">
		<li>
			Мы работаем только с компаниями, которые ориентированы, в первую очередь, на
			увеличение своей прибыли.
		</li>
		<li>
			Каждый клиент получает своего персонального менеджера, который консультирует и
			решает все возникшие проблемы. Более того, система поощрения сотрудников построена
			таким образом, что каждый из них лично заинтересован в увеличении ваших доходов.
		</li>
		<li>
			&laquo;HeyMoose!&raquo; для тех, кто верит в эффективное сотрудничество 
			бизнес-партнеров и привык решать проблемы быстро и оперативно, тем самым постоянно
			увеличивая эффективность и доход своей компании.
		</li>
		<li>
			Мы привлекаем только сильных партнеров, профессионалов своего дела. Поэтому Ваша
			рекламная компания будет иметь быстрый и качественный отклик в виде увеличения
			прибыли.
		</li>
	</ul>
	
	<h2>Как это работает на примере?</h2>
	<ol class="enumerated-list">
		<li>Вы хотите увеличить продажи в своем интернет-магазине.
			Загружаете рекламные материалы и выставляете оплату вебмастеру (в виде процента от продажи
			или фиксированной суммы за регистрацию/заказ товара). Если ваше предложение интересно
			вебмастеру, он размещает его у себя на сайте, а вы в личном кабинете отслеживаете количество
			совершенных с его помощью действий.
		</li>
		<li>
			Предположим вы разработали игру для iPhone. Потратили время и деньги на
			программирование, графику и теперь осталось только разместить игру в AppStore и начать
			зарабатывать деньги. После размещения вы получаете трафик с раздела &laquo;новинки&raquo;,
			а дальше перед вами встает задача, как оставить игру на плаву и получить постоянный приток новых
			пользователей, так как рекламные сети типа AdMob и iAd не так эффективны как о них пишут.
			Вам необходимо поддерживать интерес к игре, привлекать новых пользователей при апдейтах
			и т.д. Проблему привлечения пользователей решает сеть HeyMoose, мы размещаем ваше
			приложение у нас, оно становится доступно нашим партнерам(опытные интернет маркетологи,
			а также владельцы тематических ресурсов), вы получаете пользователей. Оплата происходит,
			только за выбранные вами типы действий: установки, прохождение уровней. В личном кабинете
			HeyMoose вы отслеживаете статистику, а также видите от каких партнеров вы получаете наиболее
			качественный трафик.
		</li>
	</ol>
</div>

<div class="content">
	<p>
		На данный момент партнерская сеть работает в закрытом режиме. По всем вопросам вы можете
		<a href="{{ url_for('.contacts') }}">связаться с нами</a>.
	</p>
</div>

{% endblock %}