{% extends 'site/layout.html' %}

{% block nav %}
<ul class="nav">
	<li id="menu-item-index"><a href="{{ url_for('.cpa_index') }}">Главная</a></li>
	<li id="menu-item-advertisers"><a href="{{ url_for('.cpa_advertisers') }}">Рекламодателям</a></li>
	<li id="menu-item-affiliates"><a href="{{ url_for('.cpa_affiliates') }}">Веб-мастерам</a></li>
</ul>
{% endblock %}

{% block secondary_nav %}
<ul class="nav secondary-nav">
	{% if g.user %}
	<li id="menu-item-cabinet"><a href="{{ url_for('cabinet.index') }}">Личный кабинет</a></li>
	<li class="dropdown">
		<a class="dropdown-toggle" href="#">{{ g.user.full_name() }}</a>
		<ul class="dropdown-menu">
			<li><a href="{{ url_for('.logout') }}">Выйти</a></li>
		</ul>
	</li>
	{% else %}
	<li id="menu-item-register"><a href="{{ url_for('.cpa_register') }}">Регистрация</a></li>
	<li id="menu-item-login">
		<a href="{{ url_for('.login') }}" data-controls-modal="login-modal" 
		 data-backdrop="true" data-keyboard="true">Войти</a>
	</li>
	{% endif %}
</ul>
{% endblock %}