{% extends "site/layout.html" %}

{% block title %}Конкурс &laquo;Gamak&raquo;{% endblock %}

{% set activemenu = "" %}

{% block extrahead %}
	{{ super() }}
	<style type="text/css">
		.partner {
			text-align: center;
			padding-bottom: 20px;
		}
	</style>
{% endblock %}

{% block container %}

{% block flash_messages %}
	{{ super() }}
{% endblock %}

<div class="content">
	<div class="hero-unit white">
		<div class="row">
			<div class="span4 right">
				<img src="{{ url_for('static', filename='./img/logo_200x150.png') }}" alt="HeyMoose" />
			</div>
			<div class="span9">
				<h2>Конкурс для разработчиков игр</h2>
				<p>
					Компания «HeyMoose!» совместно с DigitalHR при поддержке бизнес-инкубатора
					ВШЭ объявляет о начале конкурса для разработчиков flash-игр «Gamak».
					{# <br /><a href="{{ url_for('.gamak_apps') }}">Приложения-конкурсанты »</a> #}
				</p>
			</div>
		</div>
	</div>
</div>

<div class="row">
	<div class="span10">
		<div class="content">
			<h3><a href="{{ url_for('.gamak_articles') }}">Ответы на самые сокровенные вопросы &raquo;</a></h3>
			<p>Интервью с партнерами конкурса и организаторами.</p>
		</div>
		<div class="content" style="min-height: 250px;">
			<div class="page-header"><h1>О конкурсе</h1></div>
			<p>
				<strong>Цель конкурса</strong> &mdash; пробудить интерес к игротворчеству.
			</p>
			<p>
				Мы играли в различные фермы и города &mdash; все эти игры скроены по стандартным схемам. Есть
				несколько игр-лидеров, остальные лишь имитируют их геймплей. Хочется разорвать шаблоны
				и увидеть настоящую бомбу! Вы можете изобрести что-то новое, а мы поможем вам стать
				настоящим лидером. Пускай другие стараются копировать то, что у вас получилось действительно
				хорошо. Вспомните, как появление тетриса изменило представление об играх. Так знайте &mdash;
				сейчас вы можете совершить подобную революцию!
			</p>
			<p>
				<i>Творчества, беглости пальцев, полета мысли и побед!</i>
			</p>
		</div>
		<div class="content" style="min-height: 970px;">
			<h3>Условия конкурса</h3>
			<ol class="enumeration">
				<li>
					До 20 апреля необходимо прислать письмо с контактными данными на почту
					<a href="mailto:elena.privalova@heymoose.com">elena.privalova@heymoose.com</a>
					и предоставить ссылку на функционирующую игру для социальной сети, автором
					которой вы являетесь.
				</li>
				<li>
					В игре желательны такие моменты, как внимание к геймплею
					(игра должна быть увлекательной), формирование максимальной вовлеченности игрока
					(игрок должен производить максимум действий), наличие виральных технологий
					(игрок должен иметь желание и возможность рассказать друзьям о игре,
					должен быть стимул к добавлению друзей в игру). Приветствуются такие параметры
					как скорость и движение.
				</li>
				<li>
					Выбор победителей будет проводиться тремя способами:
					<ul class="bullet-list" style="padding-bottom: 10px;">
						<li>
							открытым голосованием на сайте <a href="{{ url_for('.index') }}">heymoose.com</a>
							(контроль над честностью голосования будет производиться Старшим Судьей; с ним вы
							сможете познакомиться лично на странице с голосованием);
						</li>
						<li>
							голосованием среди компаний-организаторов;
						</li>
						<li>
							мнением Экспертной группы (разработчики и издатели игр для социальных сетей).
						</li>
					</ul>
					Таким образом, будут выбраны три победителя. Одна игра может получить два приза &mdash;
					например, победив в народном голосовании и получив высший балл от экспертов. Это будет
					еще одним свидетельством вашего профессионализма.
				</li>
				<li>
					Этапы конкурса:
					<ul class="bullet-list">
						<li>прием работ &mdash; с 15 февраля, до 20 апреля 2012 года;</li>
						<li>народное голосование &mdash; с 20 февраля по 20 апреля 2012 года;</li>
						<li>подведение итогов и награждение победителей &mdash; 20&minus;25 апреля 2012 года.</li>
					</ul>
				</li>
				<li>
					Победитель народного голосования получает главный приз &mdash; персональный, удобный
					и очень качественный <strong>гамак</strong>, а так же премию <strong>20000&nbsp;рублей</strong>.
					Победитель, выбранный компаниями-организаторами, получит приз в размере <strong>50000&nbsp;рублей</strong>.
					Победитель, выбранный экспертной группой, получит приз в размере <strong>100000&nbsp;рублей</strong>.
				</li>
				<li>
					Победители во всех трех номинациях получат эксклюзивные партнерские условия от
					компании «HeyMoose!», а так же возможность продвижения игры в сети и знакомство с
					ведущими разработчиками.
				</li>
			</ol>
			
			<h3>Правила</h3>
			<ul class="bullet-list">
				<li>игра должна соответствовать правилам игр для социальных сетей;</li>
				<li>нельзя копировать чужие идеи &mdash; в разработке должен быть элемент уникальности;</li>
				<li>в заявке на конкурс не должно быть игр, опубликованных до 1 января 2012 года;</li>
				<li>принимать участие в конкурсе могут как отдельные разработчики, так и команды;</li>
				<li>возраст участников &mdash; не моложе 14 лет.</li>
			</ul>
		</div>
	</div>
	<div class="span6">
		<div class="content">
			<img src="{{ url_for('static', filename='./img/misc/vkontakte-24x24.png') }}" alt="vk"
			 style="position: absolute; padding-top: 5px;" />
			<h3 style="margin-left: 28px;">
				<a href="http://vk.com/topic-34927314_26169646" target="_blank">Народное голосование &raquo;</a>
			</h3>
			<p>Проголосуй и помоги лучшей игре победить!</p>
		</div>
		<div class="content" style="min-height: 850px;">
			<div class="page-header"><h1>Партнеры</h1></div>
			<div class="partner">
				<a href="http://digitallhr.ru" target="_blank">
					<img src="{{ url_for('static', filename='./img/partners/digitallhr.png') }}"
					alt="DigitallHR" title="DigitallHR" width="180" />
				</a>
			</div>
			<div class="partner">
				<a href="http://hse-inc.ru" target="_blank">
					<img src="{{ url_for('static', filename='./img/partners/hse.gif') }}"
					alt="HSE" title="Бизнес-инкубатор ВШЭ" width="180" />
				</a>
			</div>
			<div class="partner">
				<a href="http://www.nevosoft.ru/" target="_blank">
					<img src="{{ url_for('static', filename='./img/partners/nevosoft.jpg') }}"
					alt="Nevosoft" title="Nevosoft" width="180" />
				</a>
			</div>
			<div class="partner">
				<a href="http://www.playrix.ru/" target="_blank">
					<img src="{{ url_for('static', filename='./img/partners/playrix.png') }}"
					alt="Playrix" title="Playrix" height="160" />
				</a>
			</div>
			<div class="partner">
				<a href="http://playflock.com/" target="_blank">
					<img src="{{ url_for('static', filename='./img/partners/playflock.jpg') }}"
					alt="PlayFlock" title="PlayFlock" height="160" />
				</a>
			</div>
			<div class="partner">
				<a href="http://progrestar.com/" target="_blank">
					<img src="{{ url_for('static', filename='./img/partners/progrestar.png') }}"
					alt="Progrestar" title="Progrestar" height="160" />
				</a>
			</div>
		</div>
		<div class="content" style="min-height: 370px;">
			<h3>Информационные партнеры</h3>
			<div class="partner">
				<a href="http://www.maultalk.com/" target="_blank">
					<img src="{{ url_for('static', filename='./img/partners/maultalk.gif') }}"
					alt="MaulTalk" title="MaulTalk" height="130" />
				</a>
			</div>
			<div class="partner">
				<a href="http://vk.com/findit" target="_blank">
					<img src="{{ url_for('static', filename='./img/partners/findit.jpg') }}"
					alt="Найти IT" title="Найти IT" height="150" />
				</a>
			</div>
		</div>
	</div>
</div>
{#
<div class="content">
	<h3><a href="{{ url_for('.gamak_apps') }}">Перейти к списку приложений и голосованию &raquo;</a></h3>
</div>
#}
{% endblock %}
