{% extends "site/layout.html" %}

{% block title %}Конкурс &laquo;Gamak&raquo;{% endblock %}

{% set activemenu = "" %}

{% block extrahead %}
	{{ super() }}
	<style type="text/css">
		.partner {
			text-align: center;
			padding-bottom: 30px;
		}
	</style>
{% endblock %}

{% block container %}

{% block flash_messages %}
	{{ super() }}
{% endblock %}

<div class="content">
	<div class="hero-unit white">
		<div class="row">
			<div class="span4 right">
				<img src="{{ url_for('static', filename='./img/logo_200x150.png') }}" alt="HeyMoose" />
			</div>
			<div class="span9">
				<h2>Конкурс для разработчиков игр</h2>
				<p>
					Компания «HeyMoose!» совместно с DigitalHR при поддержке бизнес-инкубатора
					ВШЭ объявляет о начале конкурса для разработчиков flash-игр «Gamak».<br />
					<a href="{{ url_for('.gamak_apps') }}">Приложения-конкурсанты »</a>
				</p>
			</div>
		</div>
	</div>
</div>

<div class="row">
	<div class="span10">
		<div class="content" style="min-height: 250px;">
			<div class="page-header"><h1>О конкурсе</h1></div>
			<p>
				<strong>Цель конкурса</strong> &mdash; создать игру для социальной сети с интересным геймплеем.
			</p>
			<p>
				Мы играли в различные фермы и города &mdash; все эти игры скроены по стандартным
				схемам. Есть несколько игр-лидеров, остальные лишь имитируют их геймплей.
				Хочется разорвать шаблоны и увидеть настоящую бомбу! Вы можете изобрести
				что-то новое, а мы поможем вам стать настоящим лидером. Пускай другие
				стараются копировать то, что у вас получилось действительно хорошо. Вспомните,
				как появление тетриса изменило представление об играх. Так знайте &mdash; сейчас
				вы можете совершить подобную революцию!
			</p>
			<p>
				Творчества, беглости пальцев, полета мысли и побед!
			</p>
		</div>
	</div>
	<div class="span6">
		<div class="content" style="min-height: 250px;">
			<div class="page-header"><h1>Партнеры</h1></div>
			<div class="partner">
				<a href="http://digitallhr.ru" target="_blank">
					<img src="{{ url_for('static', filename='./img/partners/digitallhr.png') }}"
					alt="DigitallHR" title="DigitallHR" />
				</a>
			</div>
			<div class="partner">
				<a href="http://hse-inc.ru" target="_blank">
					<img src="{{ url_for('static', filename='./img/partners/hse.gif') }}"
					alt="HSE" title="Бизнес-инкубатор ВШЭ" />
				</a>
			</div>
		</div>
	</div>
</div>
<div class="content">
	<h3>Условия конкурса:</h3>
	<ol>
		<li>
			До 20 марта необходимо прислать письмо с контактными данными на почту
			<a href="mailto:elena.privalova@heymoose.com">elena.privalova@heymoose.com</a>
			и предоставить ссылку на функционирующую игру для социальной сети, автором
			которой вы являетесь.
		</li>
		<li>
			В игре обязательно должны присутствовать такие моменты, как внимание к геймплею
			(игра должна быть увлекательной), формирование максимальной вовлеченности игрока
			(игрок должен производить максимум действий), наличие виральных технологий
			(игрок должен иметь желание и возможность рассказать друзьям о игре,
			должен быть стимул к добавлению друзей в игру). Приветствуются такие параметры
			как скорость и движение.
		</li>
		<li>
			Выбор победителей будет определяться открытым голосованием на сайте
			<a href="{{ url_for('.index') }}">heymoose.com</a>.	Контроль над честностью
			голосования будет производиться Старшим Судьей. С ним вы сможете познакомиться
			лично на странице с голосованием.
		</li>
		<li>
			Подведение итогов – 20-25 марта 2012 года.
		</li>
		<li>
			Победитель получает главный приз – персональный, удобный и очень качественный гамак,
			а так же возможность продвижения и популяризации своей игры в социальной сети,
			знакомство с ведущими издателями игр, партнерство с компаниями-организаторами на
			эксклюзивных условиях. Кроме того вы получите Супер-пупер-секретно-захватывающий
			приз от компании &laquo;HeyMoose!&raquo;
		</li>
	</ol>
	
	<h3>Ограничения:</h3>
	<ol>
		<li>Игра должна соответствовать правилам игр для социальных сетей.</li>
		<li>Нельзя копировать чужие идеи &mdash; в разработке должен быть элемент уникальности.</li>
		<li>Игра не должна была быть опубликована до 1 января 2012 года.</li>
	</ol>
</div>

{% endblock %}
