{% extends "site/layout.html" %}

{% block title %}Приложения &mdash; конкурс &laquo;Gamak&raquo;{% endblock %}

{% set activemenu = "" %}

{% block extrahead %}
	{{ super() }}
	<style type="text/css">
		address strong {
			width: 100px;
		}
		
		.like {
			padding: 10px; 20px;
			float: left;
			height: 30px;
		}
	</style>
	<meta property="og:title" content="HeyMoose! Конкурс для разработчиков игр" />
	<meta property="og:type" content="company" />
	<meta property="og:url" content="http://heymoose.com/gamak/apps/" />
	<meta property="og:image" content="{{ url_for('static', filename='./img/logo_200x150.png') }}" />
	<meta property="og:site_name" content="HeyMoose!" />
	<meta property="fb:admins" content="100001744853303" />
	<script src="http://vkontakte.ru/js/api/openapi.js" type="text/javascript" charset="windows-1251"></script>
	<script type="text/javascript">
		VK.init({ apiId: 2793483, onlyWidgets: true });
		$(function() {
			$('.app-container').each(function() {
				var id = $(this).find('.vk-like').attr('id');
				var pageUrl = $(this).data('url');
				var name = $(this).data('name');
				var image = $(this).data('image');
				VK.Widgets.Like(id, {
					type: 'button',
					pageTitle: 'HeyMoose! Конкурс для разработчиков игр',
					pageDescription: 'Система HeyMoose! позволяет размещать рекламу в приложениях на любых платформах.',
					pageUrl: pageUrl,
					pageImage: image,
					text: 'Я голосую за приложение "' + name + '"'
				});
			});
		})
	</script>
{% endblock %}


{% block htmlattr %}xmlns:fb="http://ogp.me/ns/fb#"{% endblock %}
{% block prebody %}
	<div id="fb-root"></div>
	<script>(function(d, s, id) {
	  var js, fjs = d.getElementsByTagName(s)[0];
	  if (d.getElementById(id)) return;
	  js = d.createElement(s); js.id = id;
	  js.src = "//connect.facebook.net/ru_RU/all.js#xfbml=1";
	  fjs.parentNode.insertBefore(js, fjs);
	}(document, 'script', 'facebook-jssdk'));</script>
	{{ super() }}
{% endblock %}

{% block container %}

{% block flash_messages %}
	{{ super() }}
{% endblock %}

<div class="content">
	<div class="center">
		<img src="{{ url_for('static', filename='./img/logo_200x150.png') }}" alt="HeyMoose" />
		<h2>Gamak: приложения-конкурсанты</h2>
	</div>
</div>

{% if apps %}
	{% for app in apps %}
		<div class="content app-container" data-url="{{ root + url_for('.gamak_apps', id=app.mongo_id) }}"
			data-name="{{ app.name }}" data-image="{{ root + url_for('upload', filename=app.image_file()) }}">
			<div class="row">
				<div class="span5 center">
					<img src="{{ url_for('upload', filename=app.image_file(), q=time()) }}" alt="изображение" class="span5" />
				</div>
				<div class="span10">
					<div style="min-height: 200px;">
						<h2>{{ app.name }}</h2>
						<address>
							<strong>URL:</strong> <a href="{{ app.url }}" target="_blank">{{ app.url }}</a><br />
							<strong>Разработчик:</strong> {{ app.developer }}<br />
						</address>
						<p>{{ app.desc }}</p>
					</div>
					<strong>Проголосовать за приложение с помощью социальных сетей:</strong>
					<div>
						<div class="vk-like like" id="vk-like-{{ app.mongo_id -}}"></div>
						<div class="fb-like like">
							<fb:like href="{{ root + url_for('.gamak_apps', id=app.mongo_id) }}" send="true"
							layout="button_count" width="300" show_faces="true"></fb:like>
						</div>
					</div>
				</div>
			</div>
		</div>
	{% endfor %}
{% else %}
	<div class="content">
		<h2>Еще не было добавлено ни одного приложения</h2>
		<p>Вы можете быть первыми! Пишите: <a href="mailto:elena.privalova@heymoose.com">elena.privalova@heymoose.com</a></p>
	</div>
{% endif %}


{% endblock %}
