{% extends "site/layout.html" %}

{% block fulltitle %}Heymoose &mdash; рекламная сеть{% endblock %}

{% set activemenu = "index" %}

{% block pageheader_container %}
	<div class="hero-unit white">
		<div class="row">
			<div class="span4 right">
				<img src="{{ url_for('static', filename='./img/logo_200x150.png') }}" alt="HeyMoose" />
			</div>
			<div class="span9">
				<h2>Доставка аудитории вашей рекламе!</h2>
				<p>
					Система HeyMoose позволяет размещать рекламу в приложениях на любых платформах
					и предоставляет централизованный доступ к управлению рекламной кампанией.
					<a href="{{ url_for('.about') }}">Узнать больше »</a>
				</p>
			</div>
		</div>
	</div>
{% endblock %}

{% block content %}
	<object width="900" height="460" type="application/x-shockwave-flash" 
	data="{{ url_for('.static', filename='./flash/hero-anim.swf') }}"></object>

	<h3 class="underlined-header">Широкий охват аудитории</h3>
	<div class="row">
		<div class="span5" style="padding: 20px 0px;">
			<img src="{{ url_for('static', filename='./img/feature-audience.png') }}" alt="Аудитория" />
		</div>
		<div class="span9" style="width: 560px; padding: 20px;">
			<dl class="features" style="margin-bottom: 0px;">
				<dt>Более двух миллионов пользователей!</dt>
				<dd>
					В нашей рекламной сети большое количество активных пользователей, заинтересованных
					вашим товаром или услугой.
				</dd>
				<dt>Охват всех основных платформ</dt>
				<dd>
					Мы размещаем вашу рекламу в приложениях на платформах ВКонтакте, Facebook,
					Одноклассники, Мой Мир, iOS, Android.
				</dd>
				<dt>Выход за рамки стандартных площадок размещения рекламы</dt>
				<dd>
					Через приложения вы получаете доступ к пользователям мобильных устройств
					и планшетных компьютеров.
				</dd>
			</dl>
		</div>
	</div>

	<h3 class="underlined-header">Качественный трафик</h3>
	<div class="row">
		<div class="span5" style="padding: 20px 0px;">
			<img src="{{ url_for('static', filename='./img/feature-traffic.png') }}" alt="Трафик" />
		</div>
		<div class="span9" style="width: 560px; padding: 20px;">
			<dl class="features" style="margin-bottom: 0px;">
				<dt>Точная система таргетинга</dt>
				<dd>Настройка параметров целевой аудитории для вашей рекламы.</dd>
				<dt>Ручная модерация приложений</dt>
				<dd>Показ вашей рекламы только в проверенных приложениях.</dd>
				<dt>Защита от повторных кликов</dt>
				<dd>Баннер не показывается пользователю, если он уже кликнул по нему.</dd>
			</dl>
		</div>
	</div>

	<h3 class="underlined-header">Гибкая система настройки рекламной компании</h3>
	<div class="row">
		<div class="span5" style="padding: 20px 0px;">
			<img src="{{ url_for('static', filename='./img/feature-settings.png') }}" alt="Настройка" />
		</div>
		<div class="span9" style="width: 560px; padding: 20px;">
			<dl class="features" style="margin-bottom: 0px;">
				<dt>Информация о показах и кликах</dt>
				<dd>Вы получаете возможность оценить эффективность рекламной кампании.</dd>
				<dt>Система статистики</dt>
				<dd>Позволяет отследить динамику активности ваших клиентов.</dd>
				<dt>Служба поддержки клиентов</dt>
				<dd>Мы работаем в режиме 24/7!</dd>
			</dl>
		</div>
	</div>
{% endblock %}