{% extends "site/layout.html" %}

{% block title %}Площадки и баннеры{% endblock %}

{% set activemenu = "platforms" %}

{% block extrahead %}
	{{ super() }}
{% endblock %}

{% block container %}

{% block flash_messages %}
	{{ super() }}
{% endblock %}

<div class="content">
	<div class="page-header"><h1>Наши площадки</h1></div>
	<div class="row">
		<div class="span8" style="width: 480px;">
			<img src="{{ url_for('static', filename='./img/platforms.png') }}" alt="Платформы" />
		</div>
		<div class="span6">
			<p style="margin-top: 20px;">
				В данный момент мы работаем с платформами Вконтакте, Одноклассники, Мой мир, Facebook, 
				iOS, Android.
			</p>
		</div>
	</div>
	
	<h2>Нас уже используют</h2>
	<p>А вот далеко не полный список приложений, успешно использующих нашу систему.</p>
	<div class="row" style="padding: 20px 0px;">
		<div class="span4 center" style="width: 220px;">
			<a href="http://vkontakte.ru/kroko" target="_blank">
				<div style="height: 180px; vertical-align: middle;">
					<img height="100%" src="{{ url_for('static', filename='./img/apps/krokodil.png') }}" alt="Крокодил" />
				</div>
				Крокодил (ВКонтакте)
			</a>
		</div>
		<div class="span4 center" style="width: 200px;">
			<a href="http://vkontakte.ru/app1947272" target="_blank">
				<div style="height: 180px; vertical-align: middle;">
					<img height="100%" src="{{ url_for('static', filename='./img/apps/durak.png') }}" alt="В Дурака" />
				</div>
				В Дурака (ВКонтакте)
			</a>
		</div>
		<div class="span4 center" style="width: 220px;">
			<a href="http://vkontakte.ru/app1950406" target="_blank">
				<div style="height: 180px; vertical-align: middle;">
					<img height="100%" src="{{ url_for('static', filename='./img/apps/melody.png') }}" alt="Угадай мелодию" />
				</div>
				Угадай мелодию (ВКонтакте)
			</a>
		</div>
		<div class="span3 center" style="width: 200px;">
			<a href="http://my.mail.ru/apps/654386" target="_blank">
				<div style="height: 180px; vertical-align: middle;">
					<img height="100%" src="{{ url_for('static', filename='./img/apps/kornemania.png') }}" alt="Корнемания" />
				</div>
				Корнемания (Мой Мир)
			</a>
		</div>
	</div>
</div>

<div class="content">
	<div class="page-header"><h1>Расположение и виды баннеров</h1></div>
	<div class="row">
		<div class="span8">
			<img src="{{ url_for('static', filename='./img/banners.jpg') }}" width="460" alt="баннеры" />
		</div>
		<div class="span7">
			<p>Обычно в приложениях используется два вида баннеров:</p>
			<dl>
				<dt>Лидерборды (leaderboards)</dt>
				<dd>
					Баннеры над основным окном игры. Обеспечивают контакт с пользователем в течение
					всей игровой сессии (в среднем около 6 минут). Ожидая новых действий на игровом
					поле, пользователь переключает внимание на вашу рекламу.
				</dd>
				<dt>Прероллы (prerolls или preloads)</dt>
				<dd>
					Рекламные блоки, в том числе с анимацией, появляющиеся в период загрузки
					игры. Пользователь не переключается на просмотр других страниц, так как с 
					нетерпением ожидает начало игры. 
				</dd>
			</dl>
			
			<p>
				Наша система поддерживает все распространенные форматы баннеров: JPG (JPEG), GIF, PNG,
				SWF (Flash), SVG.
			</p>
			
			<h3>Размеры баннеров:</h3>
			<ul class="features">
				<li>120 x 600</li>
				<li>300 x 250</li>
				<li>468 x 60</li>
				<li>728 x 90</li>
				<li>индивидуальные форматы</li>
			</ul>
		</div>
	</div>
</div>

<div class="content">
	<h3><a href="{{ url_for('.contacts') }}">Свяжитесь с нами! &raquo;</a></h3>
	<p>
		Станьте участником системы &laquo;HeyMoose!&raquo;. Мы поможем вам найти качественный
		и недорогой трафик.
	</p>
</div>

{% endblock %}
