{% extends "site/layout.html" %}

{% block title %}Регистрация разработчика{% endblock %}

{% set activemenu = 'register' %}

{% block pageheader %}
<h1>{{ self.title() }}</h1>
{% endblock %}

{% block content %}
<p style="margin-bottom: 40px;">
	В данный момент регистрация для разработчиков доступна только по приглашениям.
	Если вы являетесь разработчиком приложений, пожалуйста,
	<a href="{{ url_for('.contacts') }}">свяжитесь с нами</a>.
</p>

<div class="form-container clearfix">
	<form id="form-register" method="post" action="" class="widelabels validate">
		<fieldset>
			<legend>Приглашение</legend>
			<div class="input">
				<p class="span10">
					Вставьте в поле ниже код приглашения, полученного от нас
					по электронной почте.
				</p>
			</div>
			{{ macros.formfield(form.invite, class='span10', rows=4) }}
		</fieldset>
		<fieldset>
			<legend>Данные</legend>
			<div class="input">
				<p class="span10">
					Пожалуйста, введите ваши имя и фамилию, чтобы наши менеджеры
					смогли обращаться к вам в случае возникновения вопросов или
					проблем. Если вы являетесь представителем организации,
					заполните также ее название.
				</p>
			</div>
			{{ macros.formfield(form.first_name, class='span10') }}
			{{ macros.formfield(form.last_name, class='span10') }}
			{{ macros.formfield(form.organization, class='span10') }}
		</fieldset>
		<fieldset>
			<legend>Пароль</legend>
			<div class="input">
				<p class="span10">
					Введите два раза пароль длиной от 4 до 16 символов.
				</p>
			</div>
			{{ macros.formfield(form.password, class='span10') }}
			{{ macros.formfield(form.password2, class='span10') }}
		</fieldset>
		<fieldset>
			<legend>Контакты</legend>
			<div class="input">
				<p class="span10">
					Здесь вам необходимо ввести адрес своей электронной почты и свой
					мессенджер. {# На ваш e-mail будет послано письмо с подтверждением
					электронного адреса. #} Вы также можете указать телефон для	связи
					с вами.
				</p>
			</div>
			{{ macros.formfield(form.email, class='span10', type='email') }}
			{{ macros.formfield(form.messenger_type, class='span4') }}
			{{ macros.formfield(form.messenger_uid, class='span4') }}
			{{ macros.formfield(form.phone, class='span4') }}
		</fieldset>
		<div class="actions">
			<input class="btn primary" type="submit" value="Зарегистрироваться"/>
		</div>
	</form>
</div>

{% endblock %}