{% extends "site/layout.html" %}

{% block title %}Регистрация{% endblock %}

{% set activemenu = 'register' %}

{% block pageheader %}
<h1>{{ self.title() }}</h1>
{% endblock %}

{% block content %}

<div class="center" style="margin-top: 160px; margin-bottom: 160px;">
	<p><a href="{{ url_for('.register_developer') }}" class="btn large span8 center">Зарегистрироваться как разработчик</a></p>
	<p><a href="{{ url_for('.register_customer') }}" class="btn large span8 center">Зарегистрироваться как рекламодатель</a></p>
</div>

{% endblock %}