{% extends "site/layout.html" %}

{% block title %}Разработчикам{% endblock %}

{% set activemenu = "developers" %}

{% block extrahead %}
	{{ super() }}
	<style type="text/css">
		.documentation {
			width: 200px;
			text-align: center;
			font-weight: bold;
		}
	</style>
{% endblock %}

{% block container %}

{% block flash_messages %}
	{{ super() }}
{% endblock %}

<div class="content">
	<div class="page-header"><h1>Разработчикам</h1></div>
	<div class="row">
		<div class="span4 right">
			<img src="{{ url_for('static', filename='./img/logo_200x150.png') }}" alt="HeyMoose" />
		</div>
		<div class="span11">
			<p>
				&laquo;HeyMoose!&raquo; &mdash; это новая <strong>партнерская программа</strong>
				для владельцев и разработчиков приложений в социальных сетях. Мы охватываем 
				практически все крупные социальные сети, и мы работаем с приложениями на
				платформах Вконтакте, Одноклассники, Мой мир, Facebook, iOS, Android.
			</p>
			<p>
				HeyMoose имеет удобный <b>REST API</b>, который позволяет интегрировать систему
				в любое приложение вне зависимости от платформы, на которой оно запускается.
				С помощью нашей системы разработчик сможет заметно увеличить общий доход от
				своих приложений, получая деньги от рекламодателей. Мы предлагаем партнерскую
				программу для разработчиков, по которой вы получаете действительно высокий
				заработок с трафика!
			</p>
		</div>
	</div>
	
	<hr />
	<div style="padding: 40px;">
		<h2 class="center">Мы платим</h2>
		<div class="row" style="width: 580px; margin: 0 auto;">
			<div class="span3 roundbox">
				<div class="roundbox-content center" style="height: 80px;">
					<p><strong>За 1000 уникальных показов</strong> наших баннеров в вашем приложении в сутки</p>
				</div>
			</div>
			<div class="span3 center" style="padding-top: 40px;">
				<span style="font-size: 30px;">ИЛИ</span>
			</div>
			<div class="span3 roundbox">
				<div class="roundbox-content center" style="height: 80px;">
					<p><strong>За каждый уникальный клик</strong> по нашему баннеру в вашем приложении</p>
				</div>
			</div>
		</div>
	</div>
	<p>
		Наша команда убеждена, что фраза <b>&laquo;индивидуальный подход к каждому партнеру&raquo;</b> &mdash;
		это не просто пустые слова или красивая маркетинговая фраза. Мы оцениваем качество и количество
		трафика каждого нашего нового партнера и, в зависимости от показанных результатов, поднимаем
		базовую ставку оплаты. Часто в несколько раз! Получать от 100 рублей и больше за тысячу показов 
		&mdash; это не фантастика, а самая настоящая реальность!
	</p>
	<p>
		Выплаты производим каждые две недели через любые удобные Вам платёжные системы. С крупными
		компаниями заключаем договор и производим выплаты на банковский счет.
	</p>
</div>

<div class="row">
	<div class="span11">
		<div class="content" style="height: 200px;">
			<div class="page-header"><h2>Как зарегистрировать приложение в системе?</h2></div>
			<ol class="features">
				<li>
					<a href="{{ url_for('.contacts') }}">Свяжитесь с нами</a>,
					и мы вышлем вам приглашение (специальный код).
				</li>
				<li>
					Используйте полученное приглашение для регистрации в системе.
				</li>
				<li>
					Добавьте свое приложение в личном кабинете, заполнив простую форму.
				</li>
				<li>
					Встройте наш SDK в свое приложение (см. направо).
				</li>
			</ol>
		</div>
	</div>
	<div class="span5">
		<div class="content" style="height: 200px;">
			<div class="page-header"><h2>Документация</h2></div>
			<div class="center">
				<a class="btn primary large documentation" href="http://trac.heymoose.com" target="_blank">Разработчики, вам сюда!</a>
			</div>
			<p class="features">
				Описание HeyMoose REST API, примеры интеграции, условия размещения и многое другое.
			</p>
		</div>
	</div>
</div>


{% endblock %}
