{% extends "site/layout.html" %}

{% block title %}Разработчикам{% endblock %}

{% set activemenu = "developers" %}

{% block pageheader %}
<h1>Разработчикам</h1>
{% endblock %}

{% block content %}

<h2>Размещение рекламы в ваших приложениях</h2>

<p class="features">
	HeyMoose имеет удобный <strong>REST API</strong>, который позволяет интегрировать систему
	в любое приложение вне зависимости от платформы, на которой оно запускается. С помощью
	нашей системы разработчик сможет заметно увеличить общий доход от своих приложений, 
	получая деньги от рекламодателей.
</p>

<object width="900" height="400" type="application/x-shockwave-flash" 
	data="{{ url_for('.static', filename='./flash/sdk.swf') }}"></object>
	
<h2>Как зарегистрировать приложение в системе?</h2>

<ol class="features">
	<li>
		<a href="{{ url_for('.contacts') }}">Свяжитесь с нами</a>,
		и мы вышлем вам приглашение (специальный код).
	</li>
	<li>
		Используйте полученное приглашение для
		<a href="{{ url_for('.register') }}">регистрации</a> в системе.
	</li>
	<li>
		Добавьте свое приложение в личном кабинете, заполнив простую форму.
	</li>
	<li>
		Встройте наш SDK в свое приложение. Более подробную информацию для быстрой интеграции вашего
		приложения с HeyMoose вы найдете <a href="http://trac.heymoose.com" target="_blank">здесь</a>.
	</li>
</ol>

{% endblock %}
