{% import 'common/forms.html' as forms %}

{% macro head() %}
	<script type="text/javascript">
		$(function() {
			$('.datetimepicker').datetimepicker({showButtonPanel: false});
		})
	</script>
{% endmacro %}

{% macro html(form, title) %}
	<div class="row">
		<div class="span16">
			<div class="well">
				<form method="get" action="" class="validate2">
					<div class="clearfix" style="margin-bottom: 0;">
						<div class="row">
							<div class="span4" style="line-height: 28px;">
								<label class="simple required">{{ title }}</label>
							</div>
							<div class="span3 formfield clearfix inner-field {{ forms.css_errors(form.dt_from) }}">
								<label class="simple required">с</label>
								{{ forms.field(form.dt_from, class='datetimepicker', style='width: 130px;') }}
								{{ forms.errors(form.dt_from) }}
							</div>
							<div class="span3 formfield clearfix inner-field {{ forms.css_errors(form.dt_to) }}">
								<label class="simple required">по</label>
								{{ forms.field(form.dt_to, class='datetimepicker', style='width: 130px;') }}
								{{ forms.errors(form.dt_to) }}
							</div>
							{% if form.requested %}
							<div class="span2 formfield clearfix inner-field {{ forms.css_errors(form.requested) }}">
								<ul class="inputs-list">
									<li>
										<label class="required">
											{{ forms.field(form.requested) }}
											<span>с заявками</span>
										</label>
									</li>
								</ul>
								{{ forms.errors(form.requested) }}
							</div>
							{% endif %}
							<div class="span3" style="float: right;">
								<input type="submit" class="btn primary span3" value="Показать" />
							</div>
						</div>
					</div>
				</form>
			</div>
		</div>
	</div>
{% endmacro %}
