{% import 'common/forms.html' as forms %}

{% macro head() %}
	<script type="text/javascript">
		$(function() {
			$('.datetimepicker').datetimepicker({showButtonPanel: false});
		})
	</script>
{% endmacro %}

{% macro html(form, title) %}
	<div class="well">
		<form method="get" action="" class="validate2">
			<div class="clearfix" style="margin-bottom: 0;">
				<div class="row">
					<div class="span4" style="line-height: 28px;">
						<label class="simple required">{{ title }}</label>
					</div>
					{% if form.date_kind %}
					<div class="span3 formfield clearfix inner-field {{ forms.css_errors(form.date_kind) }}"
					 style="width: 120px;">
						{{ forms.field(form.date_kind, style="width: 120px;") }}
						{{ forms.errors(form.date_kind) }}
					</div>
					{% endif %}
					<div class="span3 formfield clearfix inner-field {{ forms.css_errors(form.dt_from) }}">
						<label class="simple required">с</label>
						{{ forms.field(form.dt_from, class='datetimepicker', style='width: 130px;') }}
						{{ forms.errors(form.dt_from) }}
					</div>
					<div class="span3 formfield clearfix inner-field {{ forms.css_errors(form.dt_to) }}">
						<label class="simple required">по</label>
						{{ forms.field(form.dt_to, class='datetimepicker', style='width: 130px;') }}
						{{ forms.errors(form.dt_to) }}
					</div>
					{% if form.requested %}
					<div class="span2 formfield clearfix inner-field {{ forms.css_errors(form.requested) }}">
						<ul class="inputs-list">
							<li>
								<label class="required">
									{{ forms.field(form.requested) }}
									<span>только с заявками</span>
								</label>
							</li>
						</ul>
						{{ forms.errors(form.requested) }}
					</div>
					{% endif %}
					{% if form.active %}
					<div class="span3 formfield clearfix inner-field {{ forms.css_errors(form.active) }}">
						<ul class="inputs-list">
							<li>
								<label class="required">
									{{ forms.field(form.active) }}
									<span>только активные</span>
								</label>
							</li>
						</ul>
						{{ forms.errors(form.active) }}
					</div>
					{% endif %}
					{% if form.expired %}
					<div class="span4 formfield clearfix inner-field {{ forms.css_errors(form.expired) }}">
						<ul class="inputs-list">
							<li>
								<label class="required">
									{{ forms.field(form.expired) }}
									<span>только просроченные действия</span>
								</label>
							</li>
						</ul>
						{{ forms.errors(form.expired) }}
					</div>
					{% endif %}
					{% if form.offer %}
					<div class="span4 formfield clearfix inner-field {{ forms.css_errors(form.offer) }}">
						<label class="simple required">для оффера</label>
						{{ forms.field(form.offer, style='width: 130px;') }}
						{{ forms.errors(form.offer) }}
					</div>
					{% endif %}
					{% if form.state %}
					<div class="span5 formfield clearfix inner-field {{ forms.css_errors(form.state) }}">
						<label class="simple required">с состоянием</label>
						{{ forms.field(form.state, style='width: 150px;') }}
						{{ forms.errors(form.state) }}
					</div>
					{% endif %}
					{% if form.pay_method %}
					<div class="span5 formfield clearfix inner-field {{ forms.css_errors(form.pay_method) }}">
						<label class="simple required">с типом</label>
						{{ forms.field(form.pay_method, style='width: 150px;') }}
						{{ forms.errors(form.pay_method) }}
					</div>
					{% endif %}
					<div class="span3">
						<input type="submit" class="btn primary span3" value="Показать" />
					</div>
				</div>
				{% if form.sub_id %}
				<div class="row" style="margin-top: 20px;">
					<div class="span" style="width: 180px;">
						<label class="required simple">SubID</label>
						{{ forms.field(form.g_sub_id, style='margin: 0 5px;') }}
						{{ forms.field(form.sub_id, class='span2')}}
						{{ forms.errors(form.sub_id) }}
					</div>
					<div class="span" style="width: 180px;">
						<label class="required simple">SubID1</label>
						{{ forms.field(form.g_sub_id1, style='margin: 0 5px;') }}
						{{ forms.field(form.sub_id1, class='span2')}}
						{{ forms.errors(form.sub_id1) }}
					</div>
					<div class="span" style="width: 180px;">
						<label class="required simple">SubID2</label>
						{{ forms.field(form.g_sub_id2, style='margin: 0 5px;') }}
						{{ forms.field(form.sub_id2, class='span2')}}
						{{ forms.errors(form.sub_id2) }}
					</div>
					<div class="span" style="width: 180px;">
						<label class="required simple">SubID3</label>
						{{ forms.field(form.g_sub_id3, style='margin: 0 5px;') }}
						{{ forms.field(form.sub_id3, class='span2')}}
						{{ forms.errors(form.sub_id3) }}
					</div>
					<div class="span" style="width: 180px;">
						<label class="required simple">SubID4</label>
						{{ forms.field(form.g_sub_id4, style='margin: 0 5px;') }}
						{{ forms.field(form.sub_id4, class='span2')}}
						{{ forms.errors(form.sub_id4) }}
					</div>
				</div>
				<p style="margin-top: 10px; margin-bottom: 0;">
					* Поставьте флажки на те SubID, по которым хотите сгруппировать.
					Введите значения в те SubID, по которым хотите отфильтровать.
				</p>
				{% endif %}
			</div>
		</form>
	</div>
{% endmacro %}
