{% import 'common/forms.html' as forms %}

{% macro suboffer_head() %}
	<script type="text/javascript">
		$(function() {
			var signs = ['руб. за клик', 'руб. за действие', 'руб. за первое д.', '% с покупки'];
			$('.payment-type-select').change(function() {
				var val = $(this).val();
				$(this).closest('.input').find('.payment-value-sign').text(signs[parseInt(val)]);
				$(this).closest('.payment-fields').find('.cost2-field').toggle(val == 2);
			}).change();
			
			$('.code-checkbox').change(function() {
				$(this).closest('.input').find('.code-input').attr('disabled', !$(this).is(':checked'));
			}).change();
		})
	</script>
{% endmacro %}

{% macro head() %}
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='./css/redactor/css/redactor.css') }}" media="all" />
	<style type="text/css">
		li.important-region label {
			font-weight: bold;
		}
		
		li.csi-region label {
			color: #404080;
		}
	</style>
	
	<script type="text/javascript" src="{{ url_for('static', filename='./js/redactor/redactor.js') }}"></script>
	{{ suboffer_head() }}
	<script type="text/javascript">
		$(function() {
			$('.redactor').redactor({
				pathCss: "{{ url_for('static', filename='./css/redactor/css/') }}",
				css: ['bootstrap.css?nocache={{ nocache() }}'],
				toolbar: 'heymoose'
			});
			
			$('.add-suboffer-form').click(function() {
				var $formList = $('.suboffer-form-list');
				var $template = $('#suboffer-form-template .suboffer-form').clone(true);
				var match = /-(\d+)-/i.exec($formList.find('.suboffer-form:last input').attr('name'));
				var number = match && match.length > 1 ? parseInt(match[1]) + 1 : 0;
				
				$template.find('input,select').each(function() {
					var prev_id = $(this).attr('id') || '';
					var id = prev_id.replace('-0', '-' + number);
					var name = ($(this).attr('name') || '').replace('-0', '-' + number);
					
					if (id) $(this).attr('id', id);
					if (name) $(this).attr('name', name);
					$('label[for=' + prev_id + ']').attr('for', id);
				});
				$template.hide().appendTo($formList).show('fast');
				return false;
			});
			
			$('.remove-suboffer-form').click(function() {
				$(this).closest('.suboffer-form').hide('fast', function() {
					$(this).remove();
				});
				return false;
			});
			
			var csi = ['RU', 'UA', 'BY', 'KZ', 'AM', 'AZ', 'KG', 'MD', 'TJ', 'TM', 'UZ'];
			$('.regions-list input[value=RU]').closest('li').addClass('important-region');
			$('.regions-list input').each(function() {
				if ($.inArray($(this).val(), csi) >= 0) $(this).closest('li').addClass('csi-region');
			});
			$('.regions-select-csi').click(function() {
				$('.regions-list input').each(function() {
					if ($.inArray($(this).val(), csi) >= 0) $(this).attr('checked', true);
				});
				return false;
			});
			$('.regions-clear').click(function() {
				$('.regions-list input').attr('checked', false);
				return false;
			})
		})
	</script>
{% endmacro %}

{% macro suboffer_html_base(form) %}
	<div class="clearfix formfield {{ forms.css_errors(form.title) }}">
		{{ forms.label(form.title) }}
		<div class="input">
			{{ forms.field(form.title, class='span7', style='width: 420px;') }}
			{{ forms.errors(form.title) }}
		</div>
	</div>
	<div class="payment-fields">
	<div class="clearfix">
		<label class="required">Оплата</label>
		<div class="input">
			<div class="row">
				<div class="span4 formfield clearfix inner-field {{ forms.css_errors(form.payment_type) }}">
					{{ forms.field(form.payment_type, class='span4 payment-type-select') }}
					{{ forms.errors(form.payment_type) }}
				</div>
				<div class="span3 formfield clearfix inner-field {{ forms.css_errors(form.payment_value) }}" style="width: 180px;">
					{{ forms.field(form.payment_value, class='span1 right', style='width: 60px') }}
					<span class="payment-value-sign">руб.</span>
					{{ forms.errors(form.payment_value) }}
				</div>
			</div>
		</div>
	</div>
	<div class="clearfix cost2-field">
		<div class="input">
			<div class="row">
				<div class="span4">&nbsp;</div>
				<div class="span3 formfield clearfix inner-field {{ forms.css_errors(form.cost2) }}" style="width: 180px;">
					{{ forms.field(form.cost2, class='span1 right', style='width: 60px') }} руб. за другие д.
					{{ forms.errors(form.cost2) }}
				</div>
			</div>
		</div>
	</div>
	</div>
	<div class="clearfix">
		{{ forms.label(form.code, class='required') }}
		<div class="input">
			<div class="row">
				<div class="span4 formfield clearfix inner-field {{ forms.css_errors(form.code) }}">
					{{ forms.field(form.code, class='span4 code-input') }}
					{{ forms.errors(form.code) }}
				</div>
				<div class="span3 formfield clearfix inner-field {{ forms.css_errors(form.manual_code) }}" style="width: 180px;">
					{{ forms.field(form.manual_code, class='code-checkbox') }}
					{{ forms.label(form.manual_code, class='simple') }}
					{{ forms.errors(form.manual_code) }}
				</div>
			</div>
		</div>
	</div>
	<div class="clearfix">
		{{ forms.label(form.hold_days) }}
		<div class="input">
			<div class="row">
				<div class="span4 formfield clearfix inner-field {{ forms.css_errors(form.hold_days) }}">
					{{ forms.field(form.hold_days, class='span3 right') }} дней
					{{ forms.errors(form.hold_days) }}
				</div>
				<div class="span3 formfield clearfix inner-field {{ forms.css_errors(form.reentrant) }}" style="width: 180px;">
					{{ forms.field(form.reentrant) }} {{ forms.label(form.reentrant, class='simple') }}
					{{ forms.errors(form.reentrant) }}
				</div>
			</div>
		</div>
	</div>
{% endmacro %}

{% macro suboffer_html(form, wide=true, edit=false) %}
	<form method="post" action="" class="{{ 'widelabels' if wide }} validate2" enctype="multipart/form-data">
		<fieldset>
			<div class="input">
				<span class="help-block">* Поля, выделенные <b>жирным шрифтом</b>, обязательны для заполнения.</span>
			</div>
		</fieldset>
		<fieldset>
			{{ suboffer_html_base(form) }}
			{% if edit and form.active %}
			{{ forms.singlefield(form.active) }}
			{% endif %}
		</fieldset>
		<div class="actions">
			<input class="btn primary" type="submit" value="{{ 'Добавить действие' if not edit else 'Подтвердить' }}" />
		</div>
	</form>
{% endmacro %}

{% macro suboffer_embedded(form, main=false) %}
	<div class="clearfix suboffer-form">
		<div class="input span10">
			{% if not main %}
			<hr class="" style="margin-top: 0px;"/>
			{% endif %}
			{{ suboffer_html_base(form) }}
			{% if not main %}
			<div class="clearfix">
				<div class="input right" >
					<img src="{{ url_for('static', filename='./img/icon_deletelink.gif') }}" alt="" />
					<a href="#" class="dotted-link remove-suboffer-form">удалить это действие</a>
				</div>
			</div>
			{% endif %}
		</div>
	</div>
{% endmacro %}

{% macro html(form, tmpl=none, edit=false, admin=false) %}
	{% if not edit %}
	<div id="suboffer-form-template" style="display: none;">
		{{ suboffer_embedded(tmpl) }}
	</div>
	{% endif %}
	<form method="post" action="" class="validate2 {{ 'widelabels' if edit }}" enctype="multipart/form-data">
		<div class="input">
			<span class="help-block">* Поля, выделенные <b>жирным шрифтом</b>, обязательны для заполнения.</span>
		</div>
		<fieldset>
			{{ forms.singlefield(form.name, class='span10') }}
			{% call forms.singlefield_desc(form.site_url, class='span10') %}
			<span class="help-block">
				Ссылка, которая будет видна только партнерам в каталоге офферов
				в нашей системе.
			</span>
			{% endcall %}
			{% call forms.singlefield_desc(form.url, class='span10') %}
			<span class="help-block">
				Ссылка, ведущая на лендинговую страницу для оффера. Эту ссылку партнеры
				будут размещать на своих площадках.
			</span>
			{% endcall %}
			{{ forms.singlefield(form.cookie_ttl, class='span4', inline='дней') }}
			{{ forms.singlefield(form.launch_time, class='span4 datepicker') }}
			{% if edit %}
			{{ forms.singlefield(form.token_param_name, class='span4') }}
			{% endif %}
			
			{% call forms.singlefield_desc(form.logo) %}
			<span class="help-block">
				Принимаются изображения в формате JPG (JPEG), GIF, PNG. Максимальный
				размер загружаемого изображения &mdash; 1Мб. После загрузки изображение
				будет вписано в размер 150&nbsp;х&nbsp;100 пикселей.
			</span>
			{% endcall %}
		</fieldset>
		{% if not edit %}
		<fieldset>
			<legend>
				Действия
				<a href="#" class="dotted-link" style="margin-left: 10px;"
				 data-controls-modal="suboffers-modal" data-backdrop="true" data-keyboard="true">(что это?)</a>
			</legend>
			<div class="suboffer-form-list">
				{{ suboffer_embedded(form.main_suboffer, main=true) }}
				{% for suboffer in form.suboffers %}
					{{ suboffer_embedded(suboffer.form, loop.first) }}
				{% endfor %}
			</div>
			<div class="clearfix">
				<div class="input">
					<img src="{{ url_for('static', filename='./img/icon_addlink.gif') }}" alt="" />
					<a href="#" class="dotted-link add-suboffer-form">добавить действие</a>
				</div>
			</div>
		</fieldset>
		{% endif %}
		<fieldset>
			<legend>Параметры</legend>
			{#<div class="clearfix formfield {{ forms.css_errors(form.targeting) }}">
				<div class="input">
					{{ forms.field(form.targeting) }} {{ forms.label(form.targeting, class='required simple') }}
					<a href="#" class="dotted-link" style="margin-left: 10px;"
					data-controls-modal="targeting-modal" data-backdrop="true" data-keyboard="true">(что это?)</a>
				</div>
			</div>#}
			
			<div class="clearfix">
				<div class="input">
					<div class="row">
						<div class="span6 formfield clearfix inner-field {{ forms.css_errors(form.categories) }}">
							{{ forms.label(form.categories, class='simple') }}
							<div class="checklist" style="height: 200px;">
								{{ forms.field(form.categories, class='inputs-list categorized') }}
							</div>
							{{ forms.errors(form.categories) }}
						</div>
						<div class="span4 formfield clearfix inner-field {{ forms.css_errors(form.regions) }}">
							<span style="float: right;">
								<a class="dotted-link regions-clear" href="#">очистить</a>,
								<a class="dotted-link regions-select-csi" href="#">выбрать СНГ</a>
							</span>
							{{ forms.label(form.regions, class='simple') }}
							<div class="checklist" style="height: 200px;">
								{{ forms.field(form.regions, class='inputs-list regions-list') }}
							</div>
							{{ forms.errors(form.regions) }}
						</div>
					</div>
				</div>
			</div>
			
			{# <div class="clearfix">
				<div class="input">
					<div class="row">
						<div class="span6 formfield clearfix inner-field {{ forms.css_errors(form.traffic) }}">
							{{ forms.label(form.traffic) }}
							<a href="#" class="dotted-link" data-controls-modal="traffic-modal"
							data-backdrop="true" data-keyboard="true">(что это?)</a>
							<div class="checklist" style="height: 160px;">
								{{ forms.field(form.traffic, class='inputs-list') }}
							</div>
							{{ forms.errors(form.traffic) }}
						</div>
						<div class="span4 formfield clearfix inner-field {{ forms.css_errors(form.targeting) }}"
						 style="padding-top: 12px;">
							{{ forms.field(form.targeting) }}
							{{ forms.label(form.targeting, class='required') }}
							<span class="help-block">
								Позволяет фильтровать трафик по IP-адресам, пропуская трафик
								только из указанных выше регионов.
							</span>
						</div>
					</div>
				</div>
		</div> #}
		</fieldset>
		
		<fieldset>
			<legend>Дополнительные инструменты</legend>
			<div class="input">
				<div class="formfield clearfix {{ forms.css_errors(form.allow_deeplink) }}">
					{{ forms.field(form.allow_deeplink) }} {{ forms.label(form.allow_deeplink, class='simple') }}
					{{ forms.errors(form.allow_deeplink) }}
				</div>
			</div>
		</fieldset>
		
		<fieldset>
			<legend>Описание кампании</legend>
			{% call forms.singlefield_desc(form.short_description, class='span10', rows='4') %}
			<span class="help-block">
				Краткое описание будет отображаться в каталоге офферов. Его цель &mdash; вызвать
				у партнера заинтересованность в размещении кампании на своих рекламных площадках
				и уверенность в гарантированных выплатах. Постарайтесь описать здесь коротко,
				почему именно эта кампания будет приносить партнеру доходы. Максимальная длина текста
				&mdash; 250 символов.
			</span>
			{% endcall %}
			<div class="clearfix formfield {{ forms.css_errors(form.description) }}">
				{{ forms.label(form.description) }}
				<div class="input">
					{{ forms.errors(form.description) }}
					{{ forms.field(form.description, class='span10 redactor', style='height: 250px;') }}
					{#<a href="#" class="dotted-link" data-controls-modal="description-modal"
					data-backdrop="true" data-keyboard="true">(о чем здесь писать?)</a>#}
					<span class="help-block">
						Здесь вы во всех подробностях можете описать вашу рекламную кампанию и рассказать
						все то, что не поместилось в краткое описание. Чем больший текст вы разместите,
						тем лучше.
					</span>
				</div>
			</div>
		</fieldset>
		{% if edit and admin %}
		<fieldset>
			<legend>Дополнительные параметры</legend>
			{{ forms.singlefield(form.cr, class='span2 right', inline='%') }}
			{{ forms.singlefield(form.showcase) }}
			{{ forms.singlefield(form.yml_url, class='span4') }}
		</fieldset>
		{% endif %}
		<div class="actions">
			<input class="btn large primary" type="submit" value="{{ 'Создать оффер' if not edit else 'Подтвердить' }}" />
		</div>
	</form>
{% endmacro %}

{% macro postbody() %}
	<div id="suboffers-modal" class="modal fade" style="display: none;">
		<div class="modal-header">
			<a href="#" class="close">×</a>
			<h3>Действия по офферу</h3>
		</div>
		<div class="modal-body">
			Текст о действиях по офферу.
		</div>
	</div>
	<div id="traffic-modal" class="modal fade" style="display: none;">
		<div class="modal-header">
			<a href="#" class="close">×</a>
			<h3>Выбор типов трафика</h3>
		</div>
		<div class="modal-body">
			Текст о выборе типов трафика.
		</div>
	</div>
	<div id="targeting-modal" class="modal fade" style="display: none;">
		<div class="modal-header">
			<a href="#" class="close">×</a>
			<h3>Геотаргетинг</h3>
		</div>
		<div class="modal-body">
			<p>
				Позволяет фильтровать потенциальных клиентов по IP-адресам,
				пропуская трафик только из указанных регионов.
			</p>
		</div>
	</div>
	<div id="description-modal" class="modal fade" style="display: none;">
		<div class="modal-header">
			<a href="#" class="close">×</a>
			<h3>Описание рекламной кампании</h3>
		</div>
		<div class="modal-body">
			Текст об описании рекламной кампании.
		</div>
	</div>
{% endmacro %}
