{% import 'common/forms.html' as forms %}

{% macro head(cities, prepopulate_cities=none) %}
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='./css/token-input-twitter.css') }}" media="screen" />
	<script type="text/javascript" src="{{ url_for('static', filename='./js/jquery.tokeninput.js') }}"></script>
	<script type="text/javascript">
		$(function() {
			var form = $('#form-order');
			var cities = {{ cities|tojson|safe }};
			var prePopulateCities = {{ prepopulate_cities|tojson|safe or 'null' }};
			form.find('input.cities').tokenInput(cities, {
				theme: 'twitter',
				preventDuplicates: true,
				prePopulate: prePopulateCities,
				hintText: 'Введите название города',
				noResultsText: 'Не найдено',
				searchingText: 'Поиск...'
			});
			
			form.find('select.cities-filter').change(function() {
				var $field = form.find('input.cities').closest('.formfield');
				if (!$(this).val()) $field.hide('fast'); else $field.show('fast');
			}).change();
			
			form.bind('keypress', function(e) { if (e.keyCode == 13) return false; });
		});
	</script>
{% endmacro %}

{% macro html(form, user=none, edit=false, admin=false) %}
	<form id="form-order" action="" method="post" enctype="multipart/form-data" class="widelabels validate2">
		<fieldset>
			<input type="hidden" name="ordertype" value="BANNER" />
			{% call forms.singlefield_desc(form.ordername, class='span10') %}
			<span class="help-block">
				Название заказа нужно только для того, чтобы отличить этот заказ
				от других созданных; оно не будет отображаться при показе баннера.
				Название должно иметь длину от 1 до 50 символов.
			</span>
			{% endcall %}
			
			{% if not edit or admin %}
			{% call forms.singlefield_desc(form.orderurl, class='span10') %}
			<span class="help-block">
				Адрес, на который будут перенаправляться пользователи, кликнувшие
				по баннеру. Задается в формате http://example.com/*
			</span>
			{% endcall %}
			{% endif %}
			
			{% if not edit %}
			{% call forms.singlefield_desc(form.orderbalance, inline=currency_sign, class='span3', 
				**{'data-range-max': user.customer_account.balance}) %}
			<span class="help-block">
				Указанная сумма будет переведена с вашего счета на счет заказа. Именно
				со счета заказа снимаются средства при клике по баннеру. Счет
				заказа можно пополнить в любое время, поэтому сейчас можно оставить
				в этом поле нулевое значение.
			</span>
			{% endcall %}
			{% endif %}
			
			{% call forms.singlefield_desc(form.ordercpa, class='span3') %}
			<span class="help-block">
				Указанная сумма будет сниматься со счета заказа каждый раз, когда
				происходит клик по баннеру.
			</span>
			{% endcall %}
			
			{% if admin %}
			{{ forms.singlefield(form.orderallownegativebalance) }}
			{{ forms.singlefield(form.orderautoapprove) }}
			{{ forms.singlefield(form.orderreentrant) }}
			{% endif %}
		</fieldset>
		{% if not edit %}
		<fieldset>
			<legend>Баннер</legend>
			{{ forms.singlefield(form.orderbannersize, class='span4') }}
			{% call forms.singlefield_desc(form.orderimage) %}
			<span class="help-block">
				Принимаются баннеры в формате JPG (JPEG), GIF, PNG, SVG, SWF.
				Размеры баннера должны в точности совпадать с размерами, указанными
				в выпадающем списке.
			</span>
			{% endcall %}
		</fieldset>
		{% endif %}
		<fieldset>
			<legend>Настройки таргетинга</legend>
			{{ forms.singlefield(form.ordermale, class='span4') }}
			{{ forms.multifield([
				'<span style="display: inline-block; width: 20px;">от</span>',
				(form.orderminage, {'class': 'span2', 'placeholder': 'не важно'}),
				'<span style="text-align: center; display: inline-block; width: 20px;">до</span>',
				(form.ordermaxage, {'class': 'span2', 'placeholder': 'не важно'}),
				'<span style="padding-left: 5px;">лет</span>'
			], 'Возраст') }}
			{{ forms.multifield([
				'<span style="display: inline-block; width: 20px;">с</span>',
				(form.orderminhour, {'class': 'span2', 'placeholder': 'не важно'}),
				'<span style="text-align: center; display: inline-block; width: 20px;">до</span>',
				(form.ordermaxhour, {'class': 'span2', 'placeholder': 'не важно'}),
				'<span style="padding-left: 5px;">часов</span>'
			], 'Время')}}
			{{ forms.singlefield(form.ordercitiesfilter, class='span4 cities-filter') }}
			{{ forms.singlefield(form.ordercities, class='cities') }}
		</fieldset>
		<div class="actions">
			<input class="btn large primary" type="submit" 
			{% if not edit %}value="Создать заказ"{% else %}value="Подтвердить"{% endif %} />
		</div>
	</form>
{% endmacro %}
