{% import 'common/forms.html' as forms %}

{% macro html(form) %}
	<form method="post" action="" class="widelabels validate2">
		<div class="input">
			<span class="help-block">* Поля, выделенные <b>жирным шрифтом</b>, обязательны для заполнения.</span>
		</div>
		<fieldset>
			{{ forms.singlefield(form.name, class='span10') }}

			{% if form.url %}
			{{ forms.singlefield(form.url, class='span10') }}
			{% endif %}

			{% if form.stats_url %}
			{{ forms.singlefield(form.stats_url, class='span10') }}
			{% endif %}

			{% if form.hosts_count %}
			{{ forms.singlefield(form.hosts_count, class='span4') }}
			{% endif %}

			{% if form.members_count %}
			{{ forms.singlefield(form.members_count, class='span4') }}
			{% endif %}
			
			{{ forms.singlefield(form.description, class='span10', rows=5) }}
		</fieldset>
		<div class="actions">
			<input class="btn large primary" type="submit" value="Подтвердить" />
		</div>
	</form>
{% endmacro %}
