{% extends "cabinetcpa/sites/info/layout.html" %}

{% set activetab = 'info' %}

{% block tabcontent %}

<div class="clearfix alert-message block-message {{ site.admin_state.message_class }}">
	<p>{{ site.admin_state_description }}</p>
	{% if site.admin_comment %}
		<p>Комментарий администрации: <i>{{ site.admin_comment }}</i></p>
	{% endif %}
</div>

<table class="key-value">
	<tbody>
		<tr><th>Название</th><td>{{ site.name }}</td></tr>
		<tr><th>Тип</th><td>{{ site.type.name }}</td></tr>
		{% if site.url %}
		<tr><th>Адрес</th><td><a href="{{ site.url }}" target="_blank">{{ site.url }}</a></td></tr>
		{% endif %}
		<tr><th>Описание</th><td><p>{{ site.description }}</p></td></tr>
	</tbody>
</table>

{% endblock %}
