{% extends "cabinetcpa/layout.html" %}

{% block title %}Площадка &laquo;Моя площадка&raquo;{% endblock %}

{% set activemenu = 'sites' %}

{% block extrahead %}
{{ super() }}
{% set activetab = activetab|default('info') %}
<script type="text/javascript">
	$(function() { 
		$('li#tab-{{ activetab }}').addClass('active');
	})
</script>
{% endblock %}

{% block breadcrumbs %}
	{{ super() }}
	{{ macros.breadcrumb('Площадки', url_for('.sites_list')) }}
	{{ macros.breadcrumb(self.title(), url_for('.sites_info', id=site.id)) }}
{% endblock %}

{% block pageheader %}
<h1>{{ self.title() }}</h1>
{% endblock %}

{% block content %}
<ul class="tabs">
	<li id="tab-info"><a href="{{ url_for('.sites_info', id=site.id) }}">Описание</a></li>
	<li id="tab-edit"><a href="{{ url_for('.sites_info_edit', id=site.id) }}">Редактировать</a></li>
	<li id="tab-stats"><a href="{{ url_for('.sites_info_stats', id=site.id) }}">Статистика</a></li>
</ul>

{% block tabcontent %}<p>Раздел находится в разработке.</p>{% endblock %}
{% endblock %}

