{% extends "site/hm/en/layout.html" %}

{% set activemenu = "advertisers" %}

{% block title %}For Advertisers{% endblock %}

{% block content %}
<h1 class="hm-roundbox-header">{{ heymoose(False) }} Advertisers</h1>
<div class="article">
	<p>
		One hundred percent return on advertising – just a dream? If you use our risk-free
		online marketing, this dream will become true. Admit it; planning your
		advertising budget will become easier, if you know how much it costs to attract
		each customer. What about a nice bonus in the form of promotion of your brand?
		Further information is only for those, who want to get really efficient promotion of
		their products and make a lot of money.
	</p>
	
	<h3>What problem does {{ heymoose(false) }} solve?</h3>
	<p>
		There are many problems, when you’re working directly with partners. You need
		to develop an automatic system, which provides partners’ transparent interaction
		with your product, gives statistics of layouts, clicks and actions that customers
		make on your site, ensures timely payments and performs technical support
		as well. Furthermore, you’ll have to spend money to attract the partners. The
		company “HeyMoose” makes all these things, providing you the full range of
		affiliate marketing. All that is left to do is to upload your promotional material to
		our site and wait until the customers will buy your product.
	</p>
	
	<h3>Advantages of our Affiliate Network {{ heymoose(false) }}</h3>
	<ul class="dashed-list">
		<li>
			We are working only with companies, which are oriented primarily on
			increasing their profit.
		</li>
		<li>
			Each client receives a personal manager, who solves all arisen problems.
			Furthermore, the staff bonus system is designed so that each person is
			interested in increasing your income.
		</li>
		<li>
			“HeyMoose” is for those, who believes in the effective cooperation of
			business partners and is accustomed to quickly and efficiently problem
			solving, therefore permanently increasing their company’s efficiency and
			revenue.
		</li>
		<li>
			We bring only strong experienced affiliates – masters of their business. As a
			result your advertising campaign will have faster and better response in the
			form of higher profits.
		</li>
	</ul>
	
	<h3>An example of {{ heymoose(false) }} working</h3>
	<ol class="enumerated-list">
		<li>
			You want to increase sales in your online store. You upload promotional
			materials, and propound payment to Webmaster (as percentage of sales or a
			fixed sum for registration per product order). If your offer is interesting to
			webmaster, webmaster places it on the website, and you can track the number
			of actions made by its means in your private account.
		</li>
		<li>
			Suppose you have developed a game for the iPhone. You spent money and time
			on programming, graphics and now you only need to place the game in the
			AppStore and start making money. After that, you get traffic from section “new
			items”, and then you face the problem of how to stay in business and get a
			constant flow of new users, because other ad networks might happen to be not
			as efficient as they are expected. You need to support interest to the game, to
			attract new users with updates etc. Network “HeyMoose” solves the problem of
			attracting users, we place your application in our system, it becomes available
			to our partners (experienced internet marketers, as well as thematic resources
			owners), and in the end you’ll get the users. Payment is made only for selected
			types of action: install, passing levels etc. In your private account you track
			statistics, also you see from which partner you receive the traffic of highest
			quality.
		</li>
	</ol>
	
	<h3>Integration with {{ heymoose(false) }} system</h3>
	<div class="row">
		<div class="span12">
			<p>
				Our system keeps track of all actions in automatic mode. If you decide to work
				with “HeyMoose” system, you will need to integrate the code into your service
				according to our documentation.
			</p>
		</div>
		<div class="span" style="margin-top: 8px;">
			<a href="http://trac.heymoose.com/wiki/affiliate_network_english" class="btn hey large">Documentation</a>
		</div>
	</div>
</div>
{% endblock %}
