Source: frontend
Section: python
Priority: extra
Maintainer: HeyMoose <info@heymoose.com>
Build-Depends: cdbs, debhelper (>= 7.0.50~), python-setuptools (>= 0.6b3)
Standards-Version: 3.9.1
Homepage: http://heymoose.com

Package: frontend
Architecture: all
Depends: ${shlibs:Depends}, ${misc:Depends}, libxml2, libxml2-dev, libxslt1.1, libxslt1-dev, nginx (>= 1.0.6), python-dev, python-imaging, python-setuptools, mongodb-10gen, libjpeg62-dev
Description: HeyMoose frontend
 Web application for HeyMoose project.
