{% extends "layout.html" %}
{% block title %}
О сервисе
{% endblock %}
{% block content %}
<div class="b-widget i-widget_info">
<h3>Что мы предлагаем рекламодателям:</h3>
<ul>
<li>Компания HeyMoose размещает рекламные предложения в социальных сетях, мобильных приложениях, приложениях внутри социальных сетей. Отличительной особеностью HeyMoose является точный таргетинг, легкий доступ к активным пользователям социальных сетей и интернет.</li>
<li>Точный таргетинг целевой аудитории обеспечивается тем, что приложение, разработанное нами, позволяет получать доступ к личным данным пользователей в социальных сетях, подключившихся к тому или иному приложению. Выбор пользователей осуществляется на основании этих данных.</li>
<li>Вы можете установить любые параметры целевой аудитории: пол, возраст, место проживания, интересы или профессию. Наше программное обеспечение гарантирует точность выбора.</li>
</ul>

<h3>Что мы предлагаем разработчикам:</h3>
<ul>
<li>Новый уровень монетизации программного приложения.</li>
<li>Увеличение количества пользователей приложения за счёт привлечения тех, кто не желал оплачивать дополнительные возможности.</li>
<li>Полную безопасность использования приложения и защиту данных.При регистрации разработчик получает свой идентификатор app_id и секретный ключ secret_key. Секретный ключ знает только Разработчик и наша платформа. Для каждого Разработчика секретный ключ свой. При потере ключа, Разработчик может запросить новый ключ у платформы.</li>
</ul>

<h3>Что получает пользователь:</h3>
<ul>
<li>Не нужно будет платить за дополнительные сервисы в приложениях (например, в играх). Достаточно выполнить действие за которое готов платить рекламодатель, чтобы стать обладателем той или иной дополнительной возможности. Иными словами — вы просто обмениваете действия на какие-то игровые услуги.</li>
<li>Можно будет подключить приложения или участвовать в играх, от которых вы отказались по причине того, что от вас требовалось оплачивать дополнительные услуги.</li>
</ul>
</div>
{% endblock %}
