{% extends "layout.html" %}
{% block title %}
О сервисе
{% endblock %}
{% block content %}
	<div id="container">
	    <div id="left-bar">
		    <div id="navigation-left">
			    <ul>
			        <li><a href="{{ url_for('about') }}" class="activ">О сервисе</a></li>
			        <li><a href="{{ url_for('apicode') }}">Описание API</a></li>
			        <li><a href="{{ url_for('feedback') }}">Feedback/Support</a></li>
				</ul>
			</div>
		</div>
		<div id="contant-box">
			    <h4>Иноходец. Урок Перельмана</h4>
				<img src="{{ url_for('static', filename='./images/diagramm.png') }}"  align="right" width="120" height="100" border="0" alt="diagram" class="right-img" />
			    <p>Имя Григория Перельмана сегодня известно всем. За последние несколько лет он стал любимым героем желтой прессы. О нем сочиняют стихи и анекдоты. Снимают скрытой камерой. Еще бы - ведь этот странный человек отказался от миллиона долларов! И где-то на задворках общего интереса остается главное - что именно этот математик сделал для науки ХХI века и почему его открытие оценено в такие деньги?.. В 2002 году </p>
		    <div class="border-top"></div>
			<div class="border-bot"></div>			
			    <img src="{{ url_for('static', filename='./images/lock.png') }}"  align="right" width="113" height="127" border="0" alt="diagram" class="right-img" />
			    <p>Имя Григория Перельмана сегодня известно всем. За последние несколько лет он стал любимым героем желтой прессы. О нем сочиняют стихи и анекдоты. Снимают скрытой камерой. Еще бы - ведь этот странный человек отказался от миллиона долларов! И где-то на задворках общего интереса остается главное - что именно этот математик сделал для науки ХХI века и почему его открытие оценено в такие деньги?.. В 2002 году петербургский математик Григорий Перельман доказал гипотезу Пуанкаре, одну из самых загадочных геометрических задач ХХ века. А это возможно только тогда, когда рядовой персонал - продавцы, клерки, консультанты - может самостоятельно, без вмешательства руководства, </p>
			<div class="border-top"></div>
			<div class="border-bot"></div>				
                <img src="{{ url_for('static', filename='./images/mask.png') }}"  align="right" width="125" height="99" border="0" alt="diagram" class="right-img" />
			    <p>Стенли был скромным и застенчивым банковским клерком. Волею судьбы к нему попадает волшебная маска, и Стенли приобретает способность превращаться в неуязвимого мультяшного "фантомаса". Шляться по лучшим клубам, пугать соседей или бороться со злодейскими злодеями? Стенли успеет все!.</p>				
		</div>
	</div>
<div class="empty"></div>	
{% endblock %}
