{% extends "layout.html" %}
{% block title %}
О сервисе
{% endblock %}
{% block content %}
	<div id="container">
	    <div id="left-bar">
		    <div id="navigation-left">
			    <ul>
			        <li><a href="{{ url_for('about') }}" class="activ">О сервисе</a></li>
			        <li><a href="{{ url_for('apicode') }}">Описание API</a></li>
			        <li><a href="{{ url_for('feedback') }}">Feedback/Support</a></li>
				</ul>
			</div>
		</div>
		<div id="contant-box">
			    <p><h3>Что мы предлагаем заказчикам:</h3>
<ul>
<li>Вне зависимости от того, где вы находитесь в настоящий момент — вы всегда можете провести опрос на любую тему с помощью нашего сервиса.
Это может быть группа вопросов, один вопрос  или целое исследование — всё зависит от ваших потребностей.<br>

<li>Точный таргетинг целевой аудитории обеспечивается тем, что приложение, разработанное нами, позволяет получать доступ к личным данным пользователей в социальных сетях, подключившихся к тому или иному приложению. Выбор пользователей осуществляется на основании этих данных.<br>

<li>Вы можете установить любые параметры целевой аудитории: пол, возраст, место проживания, интересы или профессию. Наше программное обеспечение гарантирует точность выбора.
</ul>
</p>
		    <div class="border-top"></div>
			<div class="border-bot"></div>			
			    <p><h3>Что мы предлагаем разработчикам:</h3>
<ul>
<li>Новый уровень монетизации программного приложения.<br>
<li>Увеличение количества пользователей приложения за счёт привлечения тех, кто не желал оплачивать дополнительные возможности.<br>
<li>Полную безопасность использования приложения и защиту данных.<br>

При регистрации разработчик получает свой идентификатор app_id и секретный ключ secret_key. Секретный ключ знает только Разработчик и наша платформа. Для каждого Разработчика секретный ключ свой. При потере ключа, Разработчик может запросить новый ключ у платформы.</p>
			<div class="border-top"></div>
			<div class="border-bot"></div>				
			    <p><h3>Что получает пользователь:</h3>
<ul>
<li>Не нужно будет платить за дополнительные сервисы в приложениях (например, в играх). Достаточно ответить на вопрос для того, чтобы стать обладателем той или иной дополнительной возможности. Иными словами — вы просто обмениваете ответы на вопросы на какие-то игровые услуги.<br> 
<li>Можно будет подключить приложения или участвовать в играх, от которых вы отказались по причине того, что от вас требовалось оплачивать дополнительные услуги.<br>
</ul>
</p>
		</div>
	</div>
<div class="empty"></div>	
{% endblock %}
