<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN"
"http://www.w3.org/TR/html4/loose.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
		<title>heymoose</title>
		<link rel=stylesheet href="../static/css/common.css" type="text/css" media=screen>
		<!-- jquery и его плагины -->
		<script type="text/javascript" src="../static/js/jquery.js"></script>
		<script type="text/javascript" src="../static/js/jquery_plugins/timers.js"></script>
		<!-- Социальная панель -->
		<script type="text/javascript" src="../static/js/socializ.js"></script>
		<link rel=stylesheet href="../static/css/socializ.css" type="text/css" media=screen>
		<!-- панель регистрации или виджет black-box-->
		<link rel=stylesheet href="../static/css/widget_black.css" type="text/css" media=screen>
		<!-- загрузка слайдов -->
	</head>
	<body class="b-body">
		<!-- Обертка единого стиля для контента и заголовка -->
		<div class="m-bottom_layer">
			<!-- Заголовок -->
			<div class="b-header">
				<div class="b-header__menu">
					<ul>
						<li>
							<a href="personal.html" title="О проекте">О проекте</a>
						</li>
						<li>
							<a href="registration.html" title="Регистрация">Регистрация</a>
						</li>
						<li>
							<a href="blog.html" title="Блог">Блог</a>
						</li>
						<li>
							<a href="advertiser.html" title="Рекламодателям">Рекламодателям</a>
						</li>
						<li>
							<a href="developer.html" title="Разработчикам">Разработчикам</a>
						</li>
						<li>
							<a href="contaсts.html" title="Контакты">Контакты</a>
						</li>
						<li>
							<div class="b-login_widget">
								<form class="b-login_form" action="..." method="get">
									<div class="b-input_wrap_email">
										<input class="b-input" type="email">
									</div>
									<div class="b-input_wrap_password">
										<input class="b-input" type="password">
									</div>
									<input class="b-input_button" type="button" value="Войти">
								</form>
							</div>
						</li>
					</ul>
				</div>
				<a href="index.html" class="b-header__logo"></a>
				<!-- Социальная панель -->
				<div class="b-socialpanel">
					<script type="text/javascript">socializ(encodeURIComponent('Hey moose!'), encodeURIComponent('Универсальная платформа для рекламодателей'))</script>
				</div>
			</div>
			<!-- Контент -->
			<div class="b-main_content">
				<div class="b-widget">
							<div style="text-align: center;">
								<h3>Чернушка</h3>
							</div>
							<hr>
							<br>
							<div style="text-align: center;">
								<img src="../static/images/content/2.jpg"/>
							</div>
							<br>
							<br>
							Это началось где-то через год после гибели отца в
							автокатастрофе. Ничего необычного: ехал ночью,
							<br>
							<br>
							дорога была обледенелой, на крутом
							повороте машину занесло, а там крутой откос. Не он первый там разбился, не он
							последний.
													дорога была обледенелой, на крутом
							повороте машину занесло, а там крутой откос. Не он первый там разбился, не он
							последний.
													дорога была обледенелой, на крутом
							повороте машину занесло, а там крутой откос. Не он первый там разбился, не он
							последний.
													дорога была обледенелой, на крутом
							повороте машину занесло, а там крутой откос. Не он первый там разбился, не он
							последний.
													дорога была обледенелой, на крутом
							повороте машину занесло, а там крутой откос. Не он первый там разбился, не он
							последний.
													дорога была обледенелой, на крутом
							повороте машину занесло, а там крутой откос. Не он первый там разбился, не он
							последний.
													дорога была обледенелой, на крутом
							повороте машину занесло, а там крутой откос. Не он первый там разбился, не он
							последний.
													дорога была обледенелой, на крутом
							повороте машину занесло, а там крутой откос. Не он первый там разбился, не он
							последний.
													дорога была обледенелой, на крутом
							повороте машину занесло, а там крутой откос. Не он первый там разбился, не он
							последний.
													дорога была обледенелой, на крутом
							повороте машину занесло, а там крутой откос. Не он первый там разбился, не он
							последний.
													дорога была обледенелой, на крутом
							повороте машину занесло, а там крутой откос. Не он первый там разбился, не он
							последний.
													дорога была обледенелой, на крутом
							повороте машину занесло, а там крутой откос. Не он первый там разбился, не он
							последний.						дорога была обледенелой, на крутом
							повороте машину занесло, а там крутой откос. Не он первый там разбился, не он
							последний.						дорога была обледенелой, на крутом
							повороте машину занесло, а там крутой откос. Не он первый там разбился, не он
							последний.						дорога была обледенелой, на крутом
							повороте машину занесло, а там крутой откос. Не он первый там разбился, не он
							последний.						дорога была обледенелой, на крутом
							повороте машину занесло, а там крутой откос. Не он первый там разбился, не он
							последний.						дорога была обледенелой, на крутом
							повороте машину занесло, а там крутой откос. Не он первый там разбился, не он
							последний.						дорога была обледенелой, на крутом
							повороте машину занесло, а там крутой откос. Не он первый там разбился, не он
							последний.						дорога была обледенелой, на крутом
							повороте машину занесло, а там крутой откос. Не он первый там разбился, не он
							последний.						дорога была обледенелой, на крутом
							повороте машину занесло, а там крутой откос. Не он первый там разбился, не он
							последний.						дорога была обледенелой, на крутом
							повороте машину занесло, а там крутой откос. Не он первый там разбился, не он
							последний.						дорога была обледенелой, на крутом
							повороте машину занесло, а там крутой откос. Не он первый там разбился, не он
							последний.						дорога была обледенелой, на крутом
							повороте машину занесло, а там крутой откос. Не он первый там разбился, не он
							последний.						дорога была обледенелой, на крутом
							повороте машину занесло, а там крутой откос. Не он первый там разбился, не он
							последний.						дорога была обледенелой, на крутом
							повороте машину занесло, а там крутой откос. Не он первый там разбился, не он
							последний.						дорога была обледенелой, на крутом
							повороте машину занесло, а там крутой откос. Не он первый там разбился, не он
							последний.						дорога была обледенелой, на крутом
							повороте машину занесло, а там крутой откос. Не он первый там разбился, не он
							последний.						дорога была обледенелой, на крутом
							повороте машину занесло, а там крутой откос. Не он первый там разбился, не он
							последний.						дорога была обледенелой, на крутом
							повороте машину занесло, а там крутой откос. Не он первый там разбился, не он
							последний.						дорога была обледенелой, на крутом
							повороте машину занесло, а там крутой откос. Не он первый там разбился, не он
							последний.						дорога была обледенелой, на крутом
							повороте машину занесло, а там крутой откос. Не он первый там разбился, не он
							последний.						дорога была обледенелой, на крутом
							повороте машину занесло, а там крутой откос. Не он первый там разбился, не он
							последний.						дорога была обледенелой, на крутом
							повороте машину занесло, а там крутой откос. Не он первый там разбился, не он
							последний.						дорога была обледенелой, на крутом
							повороте машину занесло, а там крутой откос. Не он первый там разбился, не он
							последний.						дорога была обледенелой, на крутом
							повороте машину занесло, а там крутой откос. Не он первый там разбился, не он
							последний.						дорога была обледенелой, на крутом
							повороте машину занесло, а там крутой откос. Не он первый там разбился, не он
							последний.						дорога была обледенелой, на крутом
							повороте машину занесло, а там крутой откос. Не он первый там разбился, не он
							последний.						дорога была обледенелой, на крутом
							повороте машину занесло, а там крутой откос. Не он первый там разбился, не он
							последний.						дорога была обледенелой, на крутом
							повороте машину занесло, а там крутой откос. Не он первый там разбился, не он
							последний.						дорога была обледенелой, на крутом
							повороте машину занесло, а там крутой откос. Не он первый там разбился, не он
							последний.
				</div>
			</div>
			<!-- Прилипание подвала к нижней части экрана реализовано
			с помощью отрицательного расположения. Т.е. подвал наезжает
			на главный контент - следующий div как раз существует
			для того, чтобы оставить место подвалу -->
			<div class="b-footerspace"/>
		</div>
		</div> <!-- Подвал -->
		<div class="b-footer">
			<div class="b-footer__shadowline"></div>
			<div class="b-footer__topshadow"></div>
			<div class="b-footer_content">
				<div class="b-footer_content__menu"></div>
				<div class="b-footer_content__separator"></div>
				<div class="b-footer_content__bottom_separator">
					<div class="copyright">
						© 2011 Bravik, LLC.
					</div>
				</div>
			</div>
	</body>
</html>
