{% extends "layout.html" %}
{% from 'navigation-left.html' import navigation_left_menu %}
{% block title %}
Описание API
{% endblock %}
{% block content %}
	<div id="container">
{{ navigation_left_menu(apicode='activ') }}
		<div id="center-bar">
		<div id="apicode-box">
			    <h4>Интеграция с heymoose.com</h4>
		<p><strong>HeyMoose</strong> – это новый инструмент, который интегрируется в Ваш веб сайт. Теперь ваши пользователи смогут оплачивать услуги по схеме CPA(cost per action).</p><br>
		<p>Код <strong>HeyMoose</strong> запускается в <strong>iframe</strong> ("В сайте"). Либо в новом окне.</p><br>
		<p>В личном кабинете вы можете получить ваш <strong>app_id</strong></p><br>
		<p style="color: #c55">!!ВНИМАНИЕ все параметры передаются в <strong>utf8</strong></p><br>
		<p>Скопируйте следующий код:</p><br>
		<p><h4>В сайте:</h4></p>
<pre><p>&lt;!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" 
</p><p>"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd"&gt;
</p><p>&lt;html xmlns="http://www.w3.org/1999/xhtml"&gt;
</p><p>&lt;head&gt;
</p><p>&lt;/head&gt;
</p><p>&lt;body&gt;
</p><p>&lt;iframe id="paystation" src="http://heymoose.com/create_survey/12345" width="100%" height="100%"&gt;</p><p>&lt;/iframe&gt;
&lt;/body&gt;
&lt;/html&gt;
</p></pre>
		<p><h4>В новом окне:</h4></p>
<pre><p>&lt;!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" <br></p><p>"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd"&gt;
</p><p>&lt;html xmlns="http://www.w3.org/1999/xhtml"&gt;
&lt;head&gt;
&lt;/head&gt;
</p><p>&lt;body&gt;
</p><p>&lt;a href="http://heymoose.com/create_survey/12345" target="_blank"&gt;HeyMoose&lt;/a&gt;
</p><p>&lt;/body&gt;
</p><p>&lt;/html&gt;
</p></pre>
		<p>Другие способы интеграции (<strong>REST API</strong>) скоро будут доступны.</p>


		</div><!--#apicode-box-->
		</div><!--#center-bar-->
	</div><!--#container-->
<div class="empty"></div>	
{% endblock %}
