{% extends "layout.html" %}
{% block title %}
Создайте приложение
{% endblock %}
{% block content %}
<div id="top-navigation">
	    <a href="index.html" class="str">Главная</a>
	    <a href="cabinet-inside-service.html" class="str">Личный кабинет</a>
	    <a href="zakaz.html" class="current">Создание приложения</a>
</div>
<div id="container">
        <h4>Создайте ваше приложение, {{ g.user.nickname }}</h4>
			<p class="cabinet">Задайте параметры вашего приложения.</p>
		{% with %}
			{% set mes = get_flashed_messages(with_categories=true) | error_type('apperror') %}
			{% if mes %}
				<ul class="error"><li>{{ mes[0][1].decode('utf8') }}</li></ul>
			{% endif %}
		{% endwith %}

			<div id="zakaz-box">
			<div id="zdelat-zakaz">
                <form id="appform" action="{{ url_for('create_app') }}" method="post">
				    <p>Callback для вашего приложения</p>
					<p>{{ params.appform.appcallback(class="inp-bg", size="15", maxlength="255")}}</p>
                    <input type="submit" class="podtverdit" value="Подтвердить" />
					<p class="box-right" align="right"><a href="{{ url_for('user_cabinet', username=g.user.nickname) }}" onclick="return confirm('Вы уверены что хотите отменить создание приложения?')" class="add-vopros">Отменить</a></p>

	            </form>
			</div>
			<div class="clear"></div>
            </div>
</div>
<div class="empty"></div>

{% endblock %}
