{% extends "layout.html" %}
{% block head %}
{{ super() }}
<script type="text/javascript">
$(document).ready(function(){	
	$("a").easyTooltip();
});
</script>
{% endblock %}
{% block title %}
Главная
{% endblock %}
{% block content %}
	<div id="informer-box">
	    <div id="infotmer-top">
		    <h3 class="vopros"><img src="{{ url_for('.static', filename='./images/blank.png') }}" width="30" height="55"></h3>
			<h3 class="vopros"><img src="{{ url_for('.static', filename='./images/blank.png') }}" width="30" height="55"></h3>
		</div>
	    <div id="infotmer-center">
		    <div id="informer-number-1">
			    <h1 class="number">1</h1>
				<div id="user-question">
				    <p>Вы вводите ваш вопрос</p>
				</div>
				<h2 class="dollar">$</h2>
			</div>
		    <div id="informer-logo"></div>
		    <div id="informer-number-2">
				<h2 class="dollar">$</h2>
                <div id="api">
				    <p>Передача вопроса разработчикам через наш API</p>
				</div>
			    <h1 class="number">2</h1>				
			</div>
		</div>
	    <div id="infotmer-bot">
		    <div id="informer-number-3">
			    <div id="case"></div>
			    <h1 class="number">3</h1>	
			</div>
			<div id="mans">
			    <p>Пользователи отвечают на вопрос</p>
			</div>
			<div id="cace-box">
			    <h3 class="vopros"><img src="{{ url_for('.static', filename='./images/blank.png') }}" width="30" height="55"></h3>
                <div id="cace"><a href="#" title="Пользователь получает услугу взамен на ответ"></a></div>				
			</div>
		</div>
	</div>
	<div id="container">
	    <div id="isledovania-box">
		    <a href="{{ url_for('start_survey') }}" class="isledovania">Провести исследование</a>
			<h2>Мы работаем только на результат</h2>
			<p>Клиентов не интересуют корпоративные правила и регламенты.</p>
			<h2>Еще один плюс сервиса</h2>
			<p>А это возможно только тогда, когда рядовой персонал - продавцы, клерки, консультанты - может самостоятельно, без вмешательства руководства, </p>
			<h2>Да, описание нужно!</h2>
			<p>Любой покупатель хочет, чтобы к нему относились как к дорогому гостю, которому всегда идут навстречу.</p>
		</div>
		<div id="developer-box">
		    <a href="{{ url_for('become_developer') }}" class="developer">Cтать разработчиком</a>
			<h2>Мы работаем только на результат</h2>
			<p>Клиентов не интересуют корпоративные правила и регламенты.</p>
			<h2>Еще один плюс сервиса</h2>
			<p>А это возможно только тогда, когда рядовой персонал - продавцы, клерки, консультанты - может самостоятельно, без вмешательства руководства, </p>
			<h2>Да, описание нужно!</h2>
			<p>Любой покупатель хочет, чтобы к нему относились как к дорогому гостю, которому всегда идут навстречу.</p>
		</div>	
	</div>
<div class="empty"></div>
{% endblock %}
