{% extends "layout.html" %}
{% from 'navigation-left.html' import navigation_left_menu %}
{% block title %}
Продвижение в блогосфере
{% endblock %}
{% block content %}
	<div id="container">
{{ navigation_left_menu(advertiser='activ') }}

		<div id="contant-box">
<div id="our-services">
<h4 style="color:#FF6633">Продвижение в блогосфере</h4>
<p>
<div id="description-box">
Компания Heymoose предлагает своим клиентам полный спектр услуг по продвижению в <strong>блогосфере</strong>.<br><br>

Где пользователи проводят больше всего времени в интернете? Конечно не у вас на сайте - они проводят его в социальных сетях, <strong>блогах</strong>, форумах и тематических сообществах. Придите к ним, общайтесь на их территории!<br><br>

<div id="otstupvpravo20">
<ul>
<li>Создание, оформление, ведение (наполнение интересными материалами) и продвижение <strong>блога</strong> на различных платформах (LiveJournal, LiveInternet и другие)</li>
<li>Размещение информации в тематических <strong>сообществах</strong>, поддержка дискуссий, ответы на комментарии</li>
<li>Работа с популярными тематическими форумами: запуск и поддержка обсуждений, скрытый маркетинг (агенты влияния), ведение дискуссий от имени компании (прямой маркетинг)</li>
<li>Прямая реклама в тематических сообществах и на страницах популярных блоггеров</li>
</ul>
</div><br><br>
</div>
</p>
</div>

<br><br>
	</div>
	</div>
<div class="empty"></div>	
{% endblock %}
