{% extends "layout.html" %}
{% block title %}
Блог
{% endblock %}
{% block content %}
		<div class="b-widget i-widget_info">
							<div style="text-align: center;">
								<h3>Как монетизировать социальные приложения?</h3>
							</div>
							<br>

Ежедневно миллионы людей посещают различные социальные сети. Скажем «ВКонтакте» каждый день проявляют активность более 25 млн. человек. Цели, с которыми люди посещают социальные сети, могут быть самыми разными. Не последнее место по затратам времени занимают различные приложения, активно размножающиеся во всех подобных ресурсах.
<br>
<br>
Если в 2010 г. количество приложений в сети «ВКонтакте» не доходило и до сотни, то в 2011 г. их уже больше двухсот. Рост их популярности и привлечение огромной аудитории заставляет задуматься о возможностях извлечения из данных приложений прибыли.
<br>
<h4>Какие способы монетизации приложений существуют на данный момент?</h4>
<h4>1. Изначально платные приложения. </h4>

Приложения, которые подразумевают оплату за доступ, как единовременный, так и в виде абонентской платы. Это могут быть игры, а так же ресурсы развлекательной и образовательной направленности.
<br>
<br>
Заметим, что в России данный тип монетизации несколько сомнителен, так как к платным приложениям пользователь питает стойкую неприязнь. Для того, чтобы привлечь участников в заведомо платную игру ее уровень должен быть настолько высок, что затраты на разработку вряд ли окупятся. Во всяком случае, в разумной перспективе. То же относится и к не игровым платным ресурсам.
<br>
<br>

Самая простая возможность запустить платное приложение – надавить на «элитарность» и оригинальность. Однако столь тонкие психологические ходы не менее сложны, чем создание выдающейся игры.
<br>
<br>

<h4>2. Условно бесплатные приложения. </h4>
Монетизация таких приложений осуществляется по принципу так называемого «донейта».  Доступ к приложению и его основному функционалу в этом случае совершенно бесплатен. Однако если пользователь пожелает каких-то дополнительных возможностей – его попросят их оплатить.
<br>
<br>
В играх платным может быть определенный игровой инвентарь, снаряжение или оружие. Кроме того, широко практикуется обмен игровой валюты, позволяющей приобретать различные примочки, на вполне реальную.
<br>
<br>
В неигровых приложениях оплата может взиматься за расширение функционала и дополнительные услуги, перечень которых зависит от фантазии авторов: от выделенного статуса, до доступа к какой-либо информации о других зарегистрированных пользователях. Пример: анимированные смайлики в «Одноклассниках».
<br>
<br>
<h4>3. Прямая реклама. </h4>
Этот способ монетизации интернет ресурсов актуален и для приложений в социальных сетях. Если приложение пользуется устойчивой популярностью, то размещать в нем рекламу довольно выгодно, учитывая серьезный охват аудитории, сравнимый с телевизионным.
<br>
<br>
Приложения позволяют развернуть фантазию и делать рекламу креативной. Можно, конечно, установить обычный баннер в какую-либо часть пространства приложения, но можно подойти к этому вопросу «с огоньком». Скажем, вставлять виртуальные продукты определенных брендов (например, персонаж игры пьет исключительно ХХХ, передвигается на автомобиле ХХХ, а на лопате фермера написано, что она из «магазина на Центральной»). Такой своеобразный Product Placement становится все более популярным.
<br>
<br>
<h4>4. Внедрение в приложение дополнительного функционала. </h4>
Данный способ появился относительно недавно и рассматривается как весьма перспективный. Ярким примером данного направления является деятельность платформы heymoose.com, которая позволяет интегрировать в приложения различные офферы. Заказчику это позволяет из первых рук узнавать настроения потенциальных и фактических клиентов, их ожидания и предпочтения.
<br>
<br>
Выполненные офферы могут конвертироваться в игровую валюту, что позволит пользователю получить доступ к платным услугам – бесплатно.
<br>
<br>

<h4>Какая выгода от этого разработчику приложения?</h4>
<ul>
<li>Во-первых, неизвестно подпишется ли пользователь на платные услуги или нет, а оплату за размещение оффера разработчик получит в любом случае.</li>
<li>Во-вторых, пользователи, выполняя офферы и получая доступ к платному сервису, входят во вкус и могут впоследствии оплачивать его сами, привыкнув к определенным удобствам.</li>
<li>Наконец, в-третьих, данный вариант монетизации требует минимальных изменений кода приложения, чтобы начать работу с платформой.</li>
</ul>
<br>
<br>
Таким образом, создание популярного приложения для социальной сети, может стать вполне весомым источником дохода при подключении его к сервису heymoose.com.						
</div>


<div class="b-widget i-widget_info">
<div style="text-align: center;">
	<h3>Один из вариантов оффера - опросы в интернете</h3>
</div>
Для ведения успешного бизнеса очень важно выстроить обратную связь с клиентами, в том числе потенциальными. Прежде чем что-либо продать, необходимо выяснить – нужно ли это кому-нибудь? Так же, у тех, кому Вы уже что-то продали, неплохо было бы узнать, как они относятся к своей покупке, и есть ли вероятность заполучить данного клиента в качестве постоянного. Добавим сюда еще анализ предпочтений, настроений и ожиданий и мы придем к заявленному выше выводу – обратная связь необходима.
<br>
<br>
<h4>Как организовать обратную связь?</h4>
Вариантов масса: интервьюирование, опросы, анкеты и т.д. Огромные возможности были открыты в этом направлении с распространением интернета.
<br>
<br>
<h4>Опросы через интернет позволяют:</h4>
<ul>
<li>Охватить огромную аудиторию;</li>
<li>Задать любые условия выборки аудитории;</li>
<li>Формировать любые анкеты и вопросники, в том числе интерактивные, то есть изменяющие перечень последующих вопросов, в зависимости от ответа на текущий;</li>
<li>Осуществлять автоматическую проверку полей, в том числе логическую;</li>
<li>Конвертировать результаты в любые программные продукты для последующей обработки.</li>
</ul>
<h4>Преимущества онлайн опросов перед «традиционными» так же очевидны:</h4>
<ul>
<li>Экономия средств (от полиграфии, до количества занятых сотрудников);</li>
<li>Быстрота;</li>
<li>Возможность контроля в реальном времени;</li>
<li>Более широкие возможности анализа и обработки;</li>
<li>Охват огромной аудитории.</li>
</ul>

В настоящее время существует множество различных сервисов организующих опросы по вопросникам, составленным компанией-заказчиком. Все их можно разделить на две категории:
<br>
<br>
Рассылка анкет и организация специализированных онлайн-панелей для опросов;
<br>
<br>
Интегрирующие опросники в различные популярные приложения, в основном в социальных сетях. Например, сервис heymoose.com.
<br>
<br>

<h4>Почему вторая стратегия выгоднее?</h4>

<h4>1. Потому что она достоверно отражает мнение конкретной выборки.</h4>

Не секрет, что участие в различных опросниках стало одним из вариантов «интернет заработка». В большинство случаев, на опросники отвечают люди, делающие это «профессионально», то есть ради вознаграждения. Регистрируясь на форумах опросов они зачастую создают несколько аккаунтов с разными «персонажами» для того, чтобы заработать побольше. В результате — обычные интерактивные опросы в сети перестают давать релевантные результаты.
Данная категория «профессионалов», как правило, не является представителями платежеспособных групп населения. Чрезмерно активная реклама опросных площадок привлекла к данным сервисам категории людей, не знающих чем себя занять, и занимающихся чем угодно, кроме нормальной работы.
<br>
<br>

<h4>2. Потому что она охватывает большую аудиторию.</h4>
Возможности площадок, проводящих прямые опросы, ограничены тем контингентом, который в них зарегистрировался. Да и зарегистрированные пользователи не всегда заходят в опросы. Следовательно, релевантная выборка ещё сильнее сокращается. 
<br>
<br>
<h4>Этих двух пунктов достаточно, чтобы понять, что результаты подобных опросов нельзя считать достоверными.</h4>

</h4>Как все эти проблемы решаются в системах, интегрирующих опросы в социальные приложения?</h4>
<ul>
<li>Полностью исключаются т.н. «профессиональные» участники опросов, что положительным образом сказывается на практической значимости информации.</li>
<li>Платформы, типа heymoose.com охватывают самую большую аудиторию интернета – посетителей социальных сетей. Эта аудитория вбирает в себя все социальные слои общества, но костяк составляют все-таки люди более творческие и «продвинутые».</li>
<li>Устанавливая приложение из социальной сети, пользователь открывает ему доступ к своим данным. А это позволяет проводить настолько жесткий отбор целевой аудитории, что доставка опросников производится «точечно» — именно той категории, которая интересует заказчика.</li>
</ul>
<h4>Обеспечит ли это объективность полученных данных?</h4>
В случае интеграции в социальные приложения, пропадает необходимость искать по просторам Рунета желающих ответить на вопросник – они нашлись сами собой, установив себе приложение.
<br>
<br>
Вопросы в приложениях поступают дозировано, то есть они менее навязчивы. Пользователь не заполняет огромных анкет, а постепенно отвечает на один-два вопроса, получая за это бонусы.
<br>
<br>
<h4>Как это работает?</h4>
Большинство популярных приложений (например, игры) содержат дополнительные платные услуги. Интеграция в приложение опросника подразумевает, что отвечая на вопросы, пользователь получает игровую валюту, и иные варианты доступа к платным услугам. Такой подход обеспечивает лояльность и заинтересованность пользователя, что поднимает качество ответов.
</div>


{% endblock %}
