{% extends "layout.html" %}
{% block title %}
Личный кабинет
{% endblock %}
{% block content %}
    <div id="top-navigation">
        <a href="{{ url_for('main_page') }}" class="str">Главная</a>
        <a href="{{ url_for('user_cabinet', username=g.user.nickname) }}" class="current" >Личный кабинет</a>
    </div>
	<div id="container">
	        <h4>Здравствуйте, {{ g.user.nickname }}</h4>

        {% if g.user.is_customer() %}
	        <div id="zakaz-box">
			    <div id="zakaz-box-top">
				    <div id="zakaz-top-left">
					    <a href="{{ url_for('order_form') }}" class="create">Создать заказ</a>
				</div>

			<div id="user-balans">
				{% if params.orders %}
				<div id="balans-head">
				    <p class="box-4">Текущие заказы</p>
					<p class="box-1">Номер заказа</p>
				    <p class="box-1">Баланс</p>
                    <p class="box-1">Утвержден</p>
				</div>
					{% for order in params.orders %}
					    <div class="user-account">
					    <p class="box-4">{{ order.title }}</p>
					    <p class="box-1">{{ order.id }}</p>
						<p class="box-1">{{ order.balance }}</p>
                        <p class="box-1">{{ order.approved }}</p>
						<p class="box-right" align="right"><a href="#" class="popolnit">Пополнить баланс</a></p>
						</div>
					{% endfor %}
				{% else %}
				{% endif %}
			</div>

			<div class="clear"></div>
         </div>
        </div>
        {% else %} <!-- is_customer() -->
        <div id="zakaz-box">
            <a href="{{ url_for('become_customer') }}" class="be-developer">Стать заказчиком</a>
        </div>
        {% endif %}
        <div class="clear"></div>

        {% if g.user.is_developer() %}
        <div id="app-box">
            <div id="app-box-top">
                <div id="app-top-left">
                    <a href="{{ url_for('app_form') }}" class="create">Новый app</a>
                 </div>
                <div id="user-balans">

                 {% if params.apps %}
                <div id="balans-head">
                    <p class="box-1">Id приложения</p>
                    <p class="box-4">Secret приложения</p>
                    <p class="box-4">Callback</p>
                </div>
                    {% for app in params.apps %}
                       <div class="user-account">
                         <p class="box-1">{{ app.id }}</p>
                        <p class="box-4">{{ app.secret }}</p>
                        <p class="box-4">{{ app.callback }}</p>
                        <p class="box-right" align="right"><a href="{{url_for('delete_app', app_id=app.id)}}" onclick="return confirm('Вы уверены что хотите удалить приложение action?')" class="add-vopros">Удалить приложение.</a></p>
                         </div>
                    {% endfor %}
                 {% endif %}
                  </div>
            </div>
        <div class="clear"></div>
      </div>
     {% else %} <!-- is_developer() -->
    <div id="app-box">
 	 <a href="{{ url_for('become_developer') }}" class="be-developer">Стать разработчиком</a>
    </div>
     {% endif %} <!-- is_developer() -->
	</div>
	
<div class="empty"></div>
{% endblock %}
