{% extends "layout.html" %}
{% block title %}
Баланс
{% endblock %}
{% block content %}
	<div id="top-navigation">
	    <a href="{{ url_for('main_page') }}" class="str">Главная</a>
	    <a href="{{ url_for('user_cabinet', username=g.user.name) }}" class="str">Личный кабинет</a>
	    <a href="{{ url_for('money_balance') }}" class="current">Баланс</a>
	</div>
	<div id="container">
		<div id="contant-box">
	        <h4>Ваш баланс, {{ params.user_name }}</h4>
			<p>Вы можете пополнить баланс или вывести средства.</p>
			<div id="balans-box">
            <a href="#" class="popolnit">Пополнить баланс</a>
			<div id="user-balans">
			    <div id="balans-head">
				    <p class="box-1">Сумма</p>
				    <p class="box-2">Приход / Расход</p>
				    <p class="box-3">Номер заказа</p>
				    <p class="box-3">Дата заказа</p>
				</div>
			    <div class="user-account">
				    <p class="box-1">1 200 руб</p>
				    <p class="box-2">1 200.00 руб / 0.00 руб</p>
				    <p class="box-3"><a href="#">0-212</a></p>
				    <p class="box-3">11.01.12</p>
				</div>		
			</div>
			<h2>Текущий остаток: 12 000 руб</h2>
            <a href="#" class="popolnit">Пополнить баланс</a>
			<div class="clear"></div>
            </div>    				
		</div>
	</div>
<div class="empty"></div>	
{% endblock %}
