{% extends "layout.html" %}
{% block title %}
Личный кабинет
{% endblock %}

{% block content %}
<div class="b-persone_header">
					<h2 class="b-content_h2">Здравствуйте, {{ g.user.nickname }}</h2>
				</div>
                {% if g.user.is_customer() %}
				<div class="b-widget i-widget_persone">
					<h3 class="b-widget_h3">Заказы</h3>
					<div class="b-widget_descr"></div>
					<div class="b-table">
						<div class="b-header__menu i-table_panel_row i-clearfix">
								<ul>
									<li>
										<a id="create_order" href="" title="Создать заказ">Создать заказ</a>
									</li>
									<li>
										<a id="fill_balance" href="" title="Пополнить заказ">Пополнить баланс</a>
									</li>
									{% if not g.user.is_developer() %}
									<li>
										<a href="{{ url_for('become_developer') }}" title="Получить функционал разработчика">Получить функционал разработчика</a>
									</li>
									{% endif %}
								</ul>
								<div id="adv_balance" class="b-our_balance_widget">Ваш баланс: {{  g.user.customer_balance }}</div>
						</div>
							<div id="fill_balance_layer" class="b-table_row i-row_layer i-clearfix i-hide">


							<div class="b-register_descr  i-personal">

							</div>

							<form id="fill_balance_form" class="b-register_form i-create_order_form" action="{{ url_for('pay_balance') }}" method="post">
							<div class="b-reg_form_header i-form_descr">
								Заполните, пожалуйста, поля формы
							</div>
							<div class="b-table i-reg_form_content">
								<div class="b-table_row i-reg_form_row i-clearfix">
									<div class="b-table_cell i-reg_form_cell">
										<label class="b-form_label i-reg_label">Баланс</label>
									</div>
									<div class="b-table_cell i-reg_form_cell">
										<div class="b-input_wrap i-reg_input">
											<input name="amount" id="customer_balance" class="b-rinput" type="text">
										</div>
									</div>
								</div>

								<div class="b-reg_form_footer">
									<div class="b-table_cell i-reg_form_cell">
										<input id="fill_balance_cancel" class="b-input_button i-cancel_button" type="button" value="Отменить">
									</div>
									<div class="b-table_cell i-reg_form_cell">
										<input id="fill_balance_accept" class="b-input_button i-submit_order_button" type="submit" value="Подтвердить">
									</div>
								</div>
							</div>
							<div id="fill_balance_error_wrap" class="b-reg_form_error">
								<div id="fill_balance_error" class="b-error_text">
                                    {% with %}
			                            {% set mes = get_flashed_messages(with_categories=true) | error_type('payerror') %}
			                            {% if mes %}
				                            {{ mes[0][1].decode('utf8') }}
                               			{% endif %}
		                            {% endwith %}
								</div>
							</div>
						</form>


						</div>
						<div id="create_order_layer" class="b-table_row i-row_layer i-clearfix i-hide">

							<div class="b-register_descr i-personal">
							</div>
							<form id="create_order_form" class="b-register_form i-create_order_form" action="{{ url_for('create_order') }}" enctype="multipart/form-data" method="post">
							<div class="b-reg_form_header i-form_descr">
								Заполните, пожалуйста, параметры заказа
							</div>
							<div class="b-table i-reg_form_content">
								<div class="b-table_row i-reg_form_row i-clearfix">
									<div class="b-table_cell i-reg_form_cell">
										<label class="b-form_label i-reg_label">Название заказа</label>
									</div>
									<div class="b-table_cell i-reg_form_cell">
										<div class="b-input_wrap i-reg_input">
											<input name="ordername" id="order_name" class="b-rinput" type="text">
										</div>
									</div>
								</div>

								<div class="b-table_row i-reg_form_row i-clearfix">
									<div class="b-table_cell i-reg_form_cell">
										<label class="b-form_label i-reg_label">Описание</label>
									</div>
									<div class="b-table_cell i-reg_form_cell">
										<div class="b-input_wrap i-reg_input i-text-area">
											<textarea class="b-rinput" name="orderdesc" id="order_desc" rows="8" cols="21"></textarea>
											<!--<input id="order_descr" class="b-rinput" type="text">-->
										</div>
									</div>
								</div>

								<div class="b-table_row i-reg_form_row i-clearfix">
									<div class="b-table_cell i-reg_form_cell">
										<label class="b-form_label i-reg_label">Баланс</label>
									</div>
									<div class="b-table_cell i-reg_form_cell">
										<div class="b-input_wrap i-reg_input">
											<input id="order_balance" name="orderbalance" class="b-rinput" type="text">
										</div>
									</div>
								</div>

								<div class="b-table_row i-reg_form_row i-clearfix">
									<div class="b-table_cell i-reg_form_cell">
										<label class="b-form_label i-reg_label">Стоимость действия (CPA)</label>
									</div>
									<div class="b-table_cell i-reg_form_cell">
										<div class="b-input_wrap i-reg_input">
											<input id="order_cpa" name="ordercpa" class="b-rinput" type="text">
										</div>
									</div>
								</div>

								<div class="b-table_row i-reg_form_row i-clearfix">
									<div class="b-table_cell i-reg_form_cell">
										<label class="b-form_label i-reg_label">URL</label>
									</div>
									<div class="b-table_cell i-reg_form_cell">
										<div class="b-input_wrap i-reg_input">
											<input id="order_url" name="orderbody" class="b-rinput" type="text">
										</div>
									</div>
								</div>

								<div class="b-table_row i-reg_form_row i-clearfix">
									<div class="b-table_cell i-reg_form_cell">
										<label class="b-form_label i-reg_label">Картинка заказа</label>
									</div>
									<div class="b-table_cell i-reg_form_cell">
										<div>
											<!--<input id="order_image" name="orderimage" class="b-rinput i-submit_button i-file_button" type="file">-->
											<!--<div class="i-file_top_layer">Выберирете картинку</div>-->
											<input id="order_image" name="orderimage"  type="file">
										</div>
									</div>
								</div>
							</div>
							<div class="b-reg_form_footer">
									<div class="b-table_cell i-reg_form_cell">
										<input id="create_order_cancel" class="b-input_button i-cancel_button" type="button" value="Отменить">
									</div>
									<div class="b-table_cell i-reg_form_cell">
										<input id="create_order_accept" class="b-input_button i-submit_order_button" type="submit" value="Подтвердить">
									</div>
							</div>
							<div class="b-reg_form_error">
								<div id="add_order_error" class="b-error_text">
                                    {% with %}
			                        {% set mes = get_flashed_messages(with_categories=true) | error_type('ordererror') %}
			                        {% if mes %}
				                    {{ mes[0][1].decode('utf8') }}
			                        {% endif %}
		                            {% endwith %}
								</div>
							</div>
						</form>
						</div>

						<div class="b-table_row i-table_header i-clearfix">
							<div class="b-table_cell i-order_hd_cell_number">
								Номер
							</div>
							<div class="b-table_cell i-order_hd_cell_balance">
								Баланс
							</div>
							<div class="b-table_cell i-order_hd_cell_val_offer">
								(CPA)
							</div>
							<div class="b-table_cell i-order_hd_cell_status">
								Статус
							</div>
						</div>
                        {% if params.orders %}
                            {% for order in params.orders %}
						    <div class="b-table_row i-table_even_row i-clearfix"> <!-- i-table_odd_row -->
							    <div class="b-table_cell i-order_cell_number">
								    {{ order.id }}
							    </div>
							    <div class="b-table_cell i-order_cell_balance">
								    {{ order.balance }}
							    </div>
							    <div class="b-table_cell i-order_cell_val_offer">
								    {{ order.cpa }}
							    </div>
							    {% if order.approved %}
							    <div class="b-table_cell i-order_cell_status i-status_approved">
							    	Утвержден
							   	{% else %}
							    <div class="b-table_cell i-order_cell_status i-status_wait">
							        Ожидает утверждения
							    </div>
							    {% endif %}
						    </div>
                            {% endfor %}
                        {% else %}
                        {% endif %}

					</div>
				</div>
                {% endif %}
				<br>
				<br>
                {% if g.user.is_developer() %}
				<div class="b-widget i-widget_persone">
					<h3 class="b-widget_h3">Приложения</h3>
					<div class="b-table">
						<div class="b-header__menu i-table_panel_row i-clearfix">
								<ul>
									<li>
										<a id="create_app" href="" title="Создать приложение">Создать приложение</a>
									</li>
									{% if not g.user.is_customer() %}
									<li>
										<a href="{{ url_for('become_customer') }}" title="Получить функционал рекламодателя">Получить функционал рекламодателя</a>
									</li>
									{% endif %}
								</ul>
								<div id="dev_balance" class="b-our_balance_widget">Ваш баланс: {{ g.user.developer_balance }}</div>
						</div>

							<div id="create_app_layer" class="b-table_row i-row_layer i-clearfix i-hide">
							<div class="b-register_descr i-personal">
							</div>

							<form id="create_app_form" class="b-register_form i-create_order_form" action="{{ url_for('create_app') }}" method="post">
							<div class="b-reg_form_header i-form_descr">
								Заполните, пожалуйста, поля формы
							</div>
							<div class="b-table i-reg_form_content">
								<div class="b-table_row i-reg_form_row i-clearfix">
									<div class="b-table_cell i-reg_form_cell">
										<label class="b-form_label i-reg_label">Callback вашего приложения</label>
									</div>
									<div class="b-table_cell i-reg_form_cell">
										<div class="b-input_wrap i-reg_input">
											<input id="app_callback" name="appcallback" class="b-rinput" type="text">
										</div>
									</div>
								</div>

                                <div class="b-table_row i-reg_form_row i-clearfix">
                                    <div class="b-table_cell i-reg_form_cell">
                                        <label class="b-form_label i-reg_label">URL для возврата в приложение</label>
                                    </div>
                                    <div class="b-table_cell i-reg_form_cell">
                                        <div class="b-input_wrap i-reg_input">
                                            <input id="app_url" name="appurl" class="b-rinput" type="text">
                                        </div>
                                    </div>
                                </div>


								<div class="b-reg_form_footer">
									<div class="b-table_cell i-reg_form_cell">
										<input id="create_app_cancel" class="b-input_button i-cancel_button" type="button" value="Отменить">
									</div>
									<div class="b-table_cell i-reg_form_cell">
										<input id="create_app_accept" class="b-input_button i-submit_order_button" type="submit" value="Подтвердить">
									</div>
								</div>
							</div>
							<div id="create_app_error_wrap" class="b-reg_form_error">
								<div id="create_app_error" class="b-error_text">
                                    {% with %}
			                            {% set mes = get_flashed_messages(with_categories=true) | error_type('apperror') %}
			                            {% if mes %}
				                            {{ mes[0][1].decode('utf8') }}
			                            {% endif %}
		                            {% endwith %}
								</div>
							</div>
							</form>
                        </div>

						<div class="b-table_row i-table_header i-clearfix">
							<div class="b-table_cell i-apps_hd_cell_id">
								id
							</div>
							<div class="b-table_cell i-apps_hd_cell_secret">
								Secret
							</div>
							<div class="b-table_cell i-apps_hd_cell_callback">
								Callabck
							</div>
                            <div class="b-table_cell i-apps_hd_cell_callback">
                                Url
                            </div>
						</div>
                        {% if params.apps %}
                            {% for app in params.apps %}
						    <div class="b-table_row i-table_even_row i-clearfix">
							    <div class="b-table_cell i-apps_cell_id">
								    {{ app.id }}
							    </div>
							    <div class="b-table_cell i-apps_cell_secret">
								    {{ app.secret }}
							    </div>
							    <div class="b-table_cell i-apps_cell_callback">
								    {{ app.callback }}
							    </div>
       						    <div class="b-table_cell i-apps_cell_callback">
								    {{ app.url }}
							    </div>
						    </div>
                            {% endfor %}
                        {% endif %}
					</div>
				</div>
                {% endif %}
                
                <script>
			$(document).ready(function() {

                /*Show hide forms*/
				$("#fill_balance").click(function() {
					if($("#fill_balance_layer").hasClass("i-hide")) {
						$("#fill_balance_layer").removeClass("i-hide");
					} else {
						$("#fill_balance_layer").addClass("i-hide");
					}
					return false;
				});
				
				$("#create_order").click(function() {
					if($("#create_order_layer").hasClass("i-hide")) {
						$("#create_order_layer").removeClass("i-hide");
					} else {
						$("#create_order_layer").addClass("i-hide");
					}
					return false;
				});
				
				$("#create_app").click(function() {
					if($("#create_app_layer").hasClass("i-hide")) {
						$("#create_app_layer").removeClass("i-hide");
					} else {
						$("#create_app_layer").addClass("i-hide");
					}
					return false;
				});
				
				$("#create_order_cancel").click(function() {
					$("#create_order_layer").addClass("i-hide");
					return false;
				});

				$("#fill_balance_cancel").click(function() {
					$("#fill_balance_layer").addClass("i-hide");
					return false;
				});

				$("#create_app_cancel").click(function() {
					$("#create_app_layer").addClass("i-hide");
					return false;
				});

                /*End of Show/hide forms*/

                /*Validation*/
                $("#create_order_form").submit(function(e){
					var customer_balance = {{ g.user.customer_balance }};
					try{
						
						if ($("#order_name").val() == ""){
							$("#add_order_error").text("Введите название заказа");
							return false;
						}
						
						if ($("#order_desc").val() == ""){
							$("#add_order_error").text("Введите описание заказа");
							return false;
						}

						var order_balance = parseInt($("#order_balance").val());
						if ($("#order_balance").val() == "" || order_balance <= 0 || order_balance > customer_balance || order_balance > 3000000 || isNaN(order_balance)){
							$("#add_order_error").text("Допустимый для вас баланс: от 1 до " + customer_balance + " рублей");
							return false;
						}

						var order_cpa = parseInt($("#order_cpa").val());
						if ($("#order_cpa").val() == "" || order_cpa <= 0 || order_cpa > order_balance || isNaN(order_cpa)){
							$("#add_order_error").text("Допустимый cpa для заказа : от 1 до " + order_balance + " рублей");
							return false;
						}
						
	                	if (!validateURL($("#order_url").val())){
    	                	$("#add_order_error").text("Некорректный URL: http://*.*");
							return false;
						}

						if ($("#order_image").val() == ""){
							$("#add_order_error").text("Загрузите картинку");
							return false;
						}
						return true;
					}catch(e){
						alert(e);
						return false;
					}
                });

				$("#fill_balance_form").submit(function(){
					try{
						var new_balance = parseInt($("#customer_balance").val());
	                    if ($("#customer_balance").val() == "" || new_balance > 3000000 || new_balance <= 0 || isNaN(new_balance)){
    	                       $("#fill_balance_error").text("Допустимый баланс: от 1 до 3000000");
        	                   return false;
            	        }
						return true;
					}catch(e){
						alert(e);
						return false;
					}
				});

				$("#create_app_form").submit(function(){
					try{
                        if (!validateURL($("#app_callback").val())){
                            $("#create_app_error").text("Некорректный callback URL: http://*.*");
                            return false;
                        }
                        if (!validateURL($("#app_url").val())){
                            $("#create_app_error").text("Некорректный URL: http://*.*");
                            return false;
                        }

						return true;
					}catch(e){
						alert(e);
						return false;
					}
				});
          });



		</script>
                
{% endblock %}
