{% extends "layout.html" %}
{% block title %}
Блог
{% endblock %}
{% block content %}
	<div id="top-navigation">
	    <a href="{{ url_for('main_page') }}" class="str">Главная</a>
	    <a href="" class="current">Блог</a> 
	</div>
	<div id="container">
		<div id="contant-box">
	        <h4>Блоги из категории: {{ params.category.title }}</h4>
			{% for next in params.blogs %}
			<a href="" class="big">{{ next.title }}</a><p> added at: {{ next.date}}</p>
				{% if next.image_path %}
					<img src="{{ url_for('static', filename=next.image_path) }}"  align="left" width="197" height="193" border="0" class="left-img" />
				{% endif %}
			<p>{{ next.body }}</p>
			<div class="border-top"></div>
			<div class="border-bot"></div>
			{% endfor %}
			<div id="pagination">
			<div id="back">
		              <a href="{{ url_for('blog', pagenum=g.params.prevpage) }}" class="back">Назад</a>
			</div>
			<div id="next">
			    <a  href="{{ url_for('blog', pagenum=g.params.nextpage) }}" class="next">Дальше</a>
			</div>
		    </div>
		</div>
	    <div id="right-bar">
		    <h6>Категории</h6>
			    <ul>
					{% for category in params.categories %}
					<li><a href="{{ url_for('show_category', category_id=category.id, pagenum=0) }}">{{ category.title }}</a></li>
					{% endfor %}
					<li><a href="{{ url_for('blog', pagenum=0)}}">Все записи</a></li>
				</ul>
		</div>
	</div>
<div class="empty"></div>
{% endblock %}
