{% extends "layout.html" %}
{% block title %}
О сервисе
{% endblock %}
{% block content %}
<div class="b-widget i-widget_info">
	<h3 class="alt">Как с нами связаться:</h3>
	<ul>
		<li>
			<a href="mailto:info@heymoose.com">email: info@heymoose.com</a>
		</li>
		<li>
			phone: +7(905)7101992
		</li>
	</ul>
	<h3 class="alt">Вы можете оставить контакты и мы с вами свяжемся:</h3>

	
							<form id="register_form" class="b-register_form" action="{{ url_for('contacts') }}" method="post">
							<div class="b-table i-reg_form_content">
								<div class="b-table_row i-reg_form_row i-clearfix">
									<div class="b-table_cell i-register_form_cell">
										<label class="b-form_label i-reg_label">Имя</label>
									</div>
									<div class="b-table_cell i-register_form_cell">
										<div class="b-input_wrap i-reg_input">
											{{ g.params.contactform.name(class="b-rinput", type="text") }}
										</div>
									</div>
								</div>
								<div class="b-table_row i-reg_form_row i-clearfix">
									<div class="b-table_cell i-register_form_cell">
										<label class="b-form_label i-reg_label">Email</label>
									</div>
									<div class="b-table_cell i-register_form_cell">
										<div class="b-input_wrap i-reg_input">
											{{ g.params.contactform.email(class="b-rinput", type="email") }}
										</div>
									</div>
								</div>
								<div class="b-table_row i-reg_form_row i-clearfix">
									<div class="b-table_cell i-register_form_cell">
										<label class="b-form_label i-reg_label">Телефон</label>
									</div>
									<div class="b-table_cell i-register_form_cell">
										<div class="b-input_wrap i-reg_input">
											{{ g.params.contactform.phone(class="b-rinput", type="text") }}
										</div>
									</div>
								</div>
								<div class="b-table_row i-reg_form_row i-clearfix">
									<div class="b-table_cell i-register_form_cell">
										<label class="b-form_label i-reg_label">Описание</label>
									</div>
									<div class="b-table_cell i-register_form_cell">
										<div class="b-input_wrap i-reg_input i-text-area">
											{{ g.params.contactform.comment(class="b-rinput", rows="8", cols="21") }}
										</div>
									</div>
								</div>
								<div class="b-table_row i-reg_form_row i-clearfix">
									<div class="b-table_cell i-register_form_cell">
										<label class="b-form_label i-reg_label">{{ g.params.contact_captcha.question }}</label>
									</div>
									<div class="b-table_cell i-register_form_cell">
										<div class="b-input_wrap i-reg_input">
											{{ g.params.contactform.captcha_answer(class="b-rinput", type="text") }}
											<input type="hidden" name="captcha_id" value="{{ g.params.contact_captcha.c_id }}">
										</div>
									</div>
								</div>


							</div>
							<div class="b-reg_form_footer">
								<input class="b-input_button i-submit_button" type="submit" value="Подтвердить">
							</div>
							<div class="b-reg_form_error">
                                {% with %}
			                    {% set mes = get_flashed_messages(with_categories=true) | error_type('contactinfoerror') %}
			                    {% if mes %}
				                    <div class="b-error_text">{{ mes[0][1].decode('utf8') }}</div>
			                    {% else %}
                                    <div class="b-error_text i-hide"></div>
                                {% endif %}
		                        {% endwith %}
							</div>
							</form>
							
</div>
{% endblock %}
