{% extends "layout.html" %}
{% block title %}
Блог
{% endblock %}
{% block content %}
	<div id="top-navigation">
	    <a href="{{ url_for('main_page') }}" class="str">Главная</a>
		<a href="" class="current">{{ params.blog.title|safe }}</a> 
	</div>
	<div id="container">
		<div id="contant-box">
			<h4>{{ params.blog.title|safe }}</h4><p> added at: {{ params.blog.date}}</p>
				{% if params.blog.image_path %}
					<img src="{{ url_for('static', filename=params.blog.image_path) }}"  align="left" width="197" height="193" border="0" class="left-img" />
				{% endif %}
			<p>{{ params.blog.body | safe }}</p>
			<div class="border-top"></div>
			<div class="border-bot"></div>
		</div>
	    <div id="right-bar">
		    <h6>Категории</h6>
			    <ul>
					{% for category in params.categories %}
					<li><a href="{{ url_for('show_category', category_id=category.id, pagenum=0) }}">{{ category.title }}</a></li>
					{% endfor %}
					<li><a href="{{ url_for('blog', pagenum=0)}}">Все записи</a></li>
				</ul>
		</div>
	</div>
<div class="empty"></div>
{% endblock %}
