{% extends "layout.html" %}
{% block title %}
Создайте заказ
{% endblock %}
{% block content %}
<div id="top-navigation">
	    <a href="index.html" class="str">Главная</a>
	    <a href="cabinet-inside-service.html" class="str">Личный кабинет</a>
	    <a href="zakaz.html" class="current">Пополнение баланса</a>
</div>
<div id="container">
        <h4>Пополните ваш баланс, {{ g.user.nickname }}</h4>
		{% with %}
			{% set mes = get_flashed_messages(with_categories=true) | error_type('payerror') %}
			{% if mes %}
				<ul class="error"><li>{{ mes[0][1].decode('utf8') }}</li></ul>
			{% endif %}
		{% endwith %}

			<div id="zakaz-box">
			<div id="zdelat-zakaz">
                <form id="orderform" action="{{ url_for('pay_balance') }}" method="post">
					<p>Баланс</p>
					<p>{{ params.paybalanceform.amount(class="inp-bg", size="15", maxlength="15")}}<label> Рублей</label></p>
                    <input type="submit" class="podtverdit" value="Подтвердить" />
					<p class="box-right" align="right"><a href="{{ url_for('user_cabinet', username=g.user.nickname) }}" onclick="return confirm('Вы уверены что хотите пополнение счета?')" class="add-vopros">Отменить</a></p>

	            </form>           				
			</div>
			<div class="clear"></div>
            </div>    				
</div>
<div class="empty"></div>

{% endblock %}
