{% extends "layout.html" %}
{% from 'navigation-left.html' import navigation_left_menu %}
{% block title %}
Продвижение в социальной сети Facebook
{% endblock %}
{% block content %}
	<div id="container">
{{ navigation_left_menu(advertiser='activ') }}

		<div id="contant-box">
<div id="our-services">
<h4 style="color:#FF6633">Продвижение в социальной сети Facebook</h4>
<p>
<div id="description-box">
<strong>Facebook.com</strong> - самая популярная социальная сеть в мире. Ее аудитория более 500 000 000 пользователей. В России Facebook использует более 4,5 миллионов человек.<br> 
Сегодняшние пользователи Facebook - это активная интернет-аудитория, т.е. активные и обеспеченные пользователи.<br><br>
<strong>Продвижение в Facebook</strong> подходит как крупным брендам, так и небольшим компаниям.<br><br>
Мы предлагаем следующие виды <strong>продвижения в Facebook</strong>:<br><br>
<div id="otstupvpravo20">
<ul>
<li>Создание, оформление, ведение и продвижение страницы вашей компании на <strong>Facebook</strong>. Страница компании - это площадка, обновления и новости с которой, транслируется в ленте подписчиков.</li>
<li>Создание и <strong>продвижение на Facebook</strong> тематической группы пользователей. Группа в Фейсбук аналогична группе ВКонтакте.</li>
<li>Прямая <strong>реклама в Facebook</strong> - избирательная реклама в группах с целевой аудиторией. Можно определить регион, пол и возраст пользователей Facebook, которым будет транслироваться реклама. Это позволяет воздействовать только на целевую аудиторию.</li>
</ul>
</div>
</div>
</p>
</div>

<br><br>
	</div>
	</div>
<div class="empty"></div>	
{% endblock %}
