{% extends "layout.html" %}
{% block title %}
Feedback
{% endblock %}
{% block content %}
		{% with %}
			{% set mes = get_flashed_messages(with_categories=true) | error_type('feedbackerror') %}
			{% if mes %}
				<ul class="error"><li>{{ mes[0][1].decode('utf8') }}</li></ul>
			{% endif %}
		{% endwith %}

	<div id="container">
	    <div id="left-bar">
		    <div id="navigation-left">
			    <ul>
                    <li><a href="{{ url_for('about') }}">О сервисе</a></li>
                    <li><a href="{{ url_for('apicode') }}">Описание API</a></li>
                    <li><a href="{{ url_for('feedback') }}" class="activ">Feedback/Support</a></li>
				</ul>
			</div>
		</div>
		<div id="contant-box">
		    <h4>Feedback</h4>
			<p class="feedback">Оставьте свои пожелания или замечания. </p>
			<div id="feedback-box">
			    <p><h5 class="user_login">Email:</h5></p><br/>
                <form method="post" action="{{ url_for('feedback') }}">
					 <p>{{ params.feedbackform.email(class="inp-bg", size="15", maxlength="15") }}</p><br/><br/>
					 <h5>Сообщение:</h5><br/>
					 <p>{{ params.feedbackform.comment(class="textarea-bg", cols="40", rows="3") }}</p><br />
	 				 <h5>{{ params.captcha.question }}</h5><br/>
			 		 <p><input class="inp-bg" name="captcha_answer" type="text" value="" size="15" maxlength="15" /></p>
					<input type="hidden" name="captcha_id" value="{{ params.captcha.qid }}">
                    <input type="submit" class="send" value="Отправить" />
	            </form>
			</div>
		</div>
	</div>
<div class="empty"></div>	
{% endblock %}
