<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf8" />
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.4.4/jquery.min.js" type="text/javascript"></script>
<script src="http://vkontakte.ru/js/api/xd_connection.js?2" type="text/javascript"></script>
</head>
<body>
	<table border = '1' width='607' height='500'>
		<tr height='10'>
			<td>Heymoose - получай голоса выполняя действия рекламодателей</td>
		</tr>
		<tr>
			<td>
			<div id='offer_list'>
			</div>
			</td>
		</tr>
	</table>

	<div style="display:none;">
		<input type="hidden" id="happ_app_id" value="{{ params.happ.app_id }}">
		<input type="hidden" id="happ_sig" value="{{ params.happ.sig }}">
	</div>
</body>
<script type="text/javascript" src="{{ url_for('static', filename='./vkontakte_app/js/app.js') }}"></script>
</html>
