{% extends "layout.html" %}
{% block title %}
Главная
{% endblock %}
{% block content %}
<!-- Экран для слайдов -->
				<div class="b-screen">
					<div class="b-screen__slide"></div>
				</div>
				<div class="b-widgets i-clearfix">
					<div class="b-left_column">
						<div class="b-widget"  style="background: #eeeeee;">
							<div style="text-align: center;">
								<h3>Чернушка</h3>
							</div>
							<hr>
							<br>
							<div style="text-align: center;">
								<img src="{{ url_for('.static', filename='./images/content/2.jpg') }}"/>
							</div>
							<br>
							<br>
							Это началось где-то через год после гибели отца в
							автокатастрофе. Ничего необычного: ехал ночью,
							<br>
							<br>
							дорога была обледенелой, на крутом
							повороте машину занесло, а там крутой откос. Не он первый там разбился, не он
							последний.
						</div>
						<div class="b-widget">
							<div style="text-align: center;">
								<h3>Яша и паяльник</h3>
							</div>
							<hr>
							<br>
							<img src="{{ url_for('.static', filename='./images/content/3.jpg') }}"/>
							<br>
							Яша взял паяльную лампу.
						</div>
					</div>
					<div class="b-middle_column">
						<div class="b-widget">
							<div style="text-align: center;">
								<h3>Adidas Way</h3>
							</div>
							<br>
							<div style="text-align: center;">
								<img src="{{ url_for('.static', filename='./images/content/4.jpg') }}"/>
							</div>
							<br>
							<br>
							Вставали в четыре, пол пятого, на крайнем рассвете, выпивали по стакану водки.
						</div>
					</div>
{% endblock %}
