{% extends "layout.html" %}
{% block title %}
Главная
{% endblock %}
{% block content %}
<!-- Экран для слайдов -->
				<div class="b-screen">
					<div class="b-screen__slide">
						
								<div>
								<img style="margin: 10px 430px; width: 450px; height: 380px;" src="{{url_for('.static', filename='./images/moose.jpg')}}">

								</div>
								<div style="position: absolute; font-size: 32px; margin-left: 40px; top: 40px; color: white;">
									<span style="color: #99CCFF;">H e y <span>
										<span style="color: #FFCC00;">M o o s e</span><br> 
										<br>
										<div style="font-size: 19px;">
										<ul>
										<li>Для <span style="color: #FFCC00;">разработчиков</span>:<br>
											<span style="color: white; font-size: 20px;">&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbspДополнительный способ монетизации</span><br><br></li>
										<li>Для <span style="color: #FFCC00;">рекламодателей</span>:<br>
											<span style="color: white; font-size: 20px;">
												<ul class="i-wihtout_decoration">
													<li>Большая аудитория</li> 
													<li>Точный таргетинг</li>
												</ul>
												</span><br></li>
										<li>Для <span style="color: #FFCC00;">пользователей</span>:<br>
											<span style="color: white; font-size: 20px;">&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbspЭкономия при покупках в сети</span><br><br></li>
										</ul>
										</div>
								</div>
						
					</div>
				</div>
				<div class="b-widgets i-clearfix">
					<div class="b-left_column">
						<div class="b-widget i-widget_mainpage_size i-widget_info i-widget_bg_left">
							<br>
							<div style="text-align: center;">
								<img src="{{ url_for('.static', filename='./images/one.png') }}"/>
							</div>
							<br>
							<div style="text-align: center;">
								<a href="{{ url_for('to_advertiser') }}"> 
									<img src="{{ url_for('.static', filename='./images/to-advertise.png') }}"/>
								</a>
								<!--<h3 class="alt i-moose">Рекламодателям</h3>-->
								
							</div>
							<hr>
							<br>
							<p>
								Новый вид рекламмы - офферы - оплата только за результат. Возможность размещения в играх и социальных сетях.
							</p>
						</div>
					</div>
					<div class="b-middle_column">
						<div class="b-widget i-widget_mainpage_size i-widget_info i-widget_bg_middle">
							<br>
							<div style="text-align: center;">
								<img src="{{ url_for('.static', filename='./images/two.png') }}"/>
							</div>
							<br>
							<div style="text-align: center;">
								<a href="{{ url_for('to_partner') }}">
									<img src="{{ url_for('.static', filename='./images/to-developers.png') }}"/>
								</a>
								<!-- <h3 class="alt i-moose">Издателям и магазинам</h3>-->
							</div>
							<hr>
							<br>
							<p>
								Повышайте доход от ваших приложений, за счет предложения альтернативного способа оплаты товаров и услуг, выгодного всем трем сторонам.
							</p>
						</div>
					</div>
					<div class="b-right_column">
						<div class="b-widget i-widget_mainpage_size i-widget_info i-widget_bg_right">
							<br>
							<div style="text-align: center;">
								<img src="{{ url_for('.static', filename='./images/three.png') }}"/>
							</div>
							<br>
							<div style="text-align: center;">
								
									<img src="{{ url_for('.static', filename='./images/to-gamers.png') }}"/>
								
								<!--<h3 class="alt i-moose">Игрокам</h3>-->
								
							</div>
							<hr>
							<br>
							<p>
							Возможность получать виртуальную валюту в играх, в качестве бонуса за действия. Получайте скидки, при покупке товаров в интернете. 
							</p>
						</div>
					</div>
				</div>
{% endblock %}
