<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    {% block head %}
	<meta http-equiv="Content-Type" content="text/html; charset=utf8" />
	<link rel="shortcut icon" type="image/png" href="../static/images/favicon.ico" />
	<link rel="icon" type="image/png" href="../static/images/favicon.ico" />
    <link rel="stylesheet" href="{{ url_for('static', filename='./css/style.css') }}" />
    <script type="text/javascript" src="{{ url_for('static', filename='./js/jquery.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='./js/tooltip.js') }}"></script>
	<script type="text/javascript" src="{{ url_for('static', filename='./js/jquery.form.js') }}"></script>
	<!--[if IE ]>
	<link rel="stylesheet" media="screen" type="text/css" title="Style" href="/css/ie.css" />
	<![endif]-->	
    <title>{% block title %}{% endblock %}</title>
    {% endblock %}
</head>
<body>

<div id="sitebox">
	<div id="menublock">
<ul id="menu">
<li><a href="{{ url_for('main_page') }}" title="">Главная</a></li>
<li><a href="{{ url_for('about') }}" title="">О проекте</a></li>
<li><a href="{{ url_for('blog', pagenum=0) }}" title="">Блог</a></li>
<li><a href="" title="">Контакты</a></li>
<li><a href="{{ url_for('feedback') }}" title="">Feedback/Support</a></li>


</ul>
<div id="follow">

	<a href="http://vkontakte.ru/club28832193" target="_blank">
	<div id="vkfollow">

	</div><!--#vkfollow-->
	</a>
	<a href="http://twitter.com/hey_moose" target="_blank">
	<div id="twfollow">
	
	</div><!--#twfollow-->
	</a>
	<a href="http://www.facebook.com/pages/heymoosecom/247852878576419" target="_blank">
	<div id="fbfollow">
		
	</div><!--#fbfollow-->
	</a>
</div><!--#follow-->
</div><!--#menublock-->
<div id="sitebox1">
		<div id="top-bar">
			<div id="logo-box">
			<a href="{{ url_for('main_page') }}"><img src="{{ url_for('static', filename='./images/logo.png') }}" width="197" height="62" border="0" alt="logo" /></a> </div>
		{% if params.user_id %}
			<div id="user-box">
    	        <div id="user-info">
	                <h5>Добрый день, {{ params.user_name }}</h5>
                	<p>Ваш <a href="{{ url_for('user_cabinet', username=g.user.username) }}">кабинет</a></p>
            	</div>
        	    <a href="{{ url_for('logout') }}" class="inp-exit">Выйти</a>
    	    </div>
		{% else %}
			<div id="user-box">
			    <h5 class="user_login">Логин</h5><h5 class="user_login">Пароль</h5>
    	        <form method="post" action="{{ url_for('login') }}">
	                <input class="inp-bg" name="username" type="text" value="" size="15" maxlength="15"/>
                	<input class="inp-bg" name="password" type="password" value="" size="15" maxlength="15" />
            	    <input type="submit" class="inp-enter" value="Вход" />
  			    <div id="user-reg"><a href="{{ url_for('register') }}" class="user-register-top">Регистрация</a></div>
	    	    </form>
				{% with %}
					{% set mes = get_flashed_messages(with_categories=true) | error_type('loginerror') %}
					{% if mes %}
						<ul class="error"><li>{{ mes[0][1].decode('utf8') }}</li></ul>
					{% endif %}
				{% endwith %}
			</div>
		{% endif %}
		</div>



	{% block content %}
	{% endblock %}
	</div><!--#sitebox1-->
</div><!--#sitebox-->

    <div id="footer">
		<div id="podfooter">
    <div id="navigation-bot">
	<ul>
	    <li><a href="{{ url_for('about') }}">О проекте</a></li>
	    <li><a href="{{ url_for('become_developer') }}">Стать разработчиком</a></li>
	    <li><a href="{{ url_for('start_survey') }}">Провести исследование</a></li>
		<li><a href="{{ url_for('blog', pagenum=0) }}">Блог</a></li>
		<li><a href="{{ url_for('feedback') }}">Feedback/Support</a></li>
		{% if params.user_id %}
			<li><a href="">Баланс</a></li>
			<li><a href="{{ url_for('user_cabinet', username=g.user.username) }}">Кабинет</a></li>
		{% endif %}
	</ul>
	</div>
	<div id="rights">
	    <p>© 2011 HeyMoose.com Все права защищены</p>
	</div>
		</div><!--#podfooter-->
    </div><!--#footer-->
{% if g.user.username == 'admin'%}
<div id="navigation-bot">
<ul>
		<li><a href="{{ url_for('add_blog') }}" class="current"><p>Доюавить запись в блог</p></a></li>
		<li><a href="{{ url_for('add_category') }}" class="current"><p>Добавить категорию</p></a></li>
		<li><a href="{{ url_for('import_blog') }}" class="current"><p>Загрузить из файла</p></a></li>
</ul>
</div>
{% endif %}

</body>
</html>
