{% macro navigation_left_menu(about='', apicode='', feedback='', contacts='', survey='', partner='', advertiser='', audience='', price='') -%}
<div id="left-bar">
<div id="navigation-left">
<ul>
<li><a href="{{ url_for('about') }}" class="{{ about }}">О сервисе</a></li>
<li><a href="{{ url_for('apicode') }}" class="{{ apicode }}" >Описание API</a></li>
<li><a href="{{ url_for('feedback') }}" class="{{ feedback }}">Feedback/Support</a></li>
<li><a href="{{ url_for('contacts') }}" class="{{ contacts }}">Контакты</a></li>
<!-- <li><a href="{{ url_for('survey_examples') }}" class="{{ survey }}">Примеры анкет</a></li> -->
<li><a href="{{ url_for('to_partner') }}" class="{{ partner }}">Разработчикам</a></li>
<li><a href="{{ url_for('to_advertiser') }}" class="{{ advertiser }}">Наши услуги</a></li>
<li><a href="{{ url_for('price') }}" class="{{ price }}">Цены</a></li>
<li><a href="{{ url_for('audience') }}" class="{{ audience }}">Аудитория</a></li>
</ul>
</div>
</div>
{% endmacro %}
