{% extends "new_cabinet_layout.html" %}
{% set activetab = 'create-app' %}

{% block tabcontent %}
<form id="create_app_form" action="{{ url_for('create_app') }}" method="post">

<div class="clearfix">	
<label for="appcallback">Callback</label>
<div class="input">
	{{ g.params.appform.appcallback(class="medium", type="text") }}
</div>
</div>

<div class="clearfix">	
<label for="appurl">Url приложения</label>
<div class="input">
	{{ g.params.appform.appurl(class="medium", type="text") }}
</div>
</div>

<div class="clearfix">	
<label for="appurl">Платформа</label>
<div class="input">
	{{ g.params.appform.appplatform(class="medium") }}
</div>
</div>


<div class="clearfix">
	<input class="btn primary" type="submit" value="Подтвердить"/> 
</div>
</form>


{% with %}
{% set mes = get_flashed_messages(with_categories=true) | error_type('apperror') %}
{% if mes %}
<div class="clearfix clearboth alert-message block-message error">
<p>{{ mes[0][1].decode('utf8') }}</p>
</div>
{% endif %}
{% endwith %}

<div id="create_app_error" class="clearfix clearboth alert-message block-message error hide">
</div>


<script>
$(document).ready(function() {
	$("#create_app_form").submit(function(){
		try{
	        if (!validateURL($("#appcallback").val())){
	        	$("#create_app_error").removeClass('hide');
	            $("#create_app_error").text("Некорректный callback URL: http://*.*");
	            return false;
	        }
	        if (!validateURL($("#appurl").val())){
	            $("#create_app_error").text("Некорректный URL: http://*.*");
	            return false;
	        }
	
			return true;
		}catch(e){
			alert(e);
			return false;
		}
	});
});
</script>


{% endblock %}
