{% extends "new_layout.html" %}

{% block title %}Heymoose - партнерская сеть{% endblock %}

{% set activemenu = "index" %}

{% block pageheader %}
<h2>Heymoose - зарабатывайте на игровой аудитории</h2>
{% endblock %}

{% block content %}
    <div class="alert-message block-message success">
      <h4>Уникальные рекламодатели</h4>
      <p>В нашем наборе офферов присутствует множество уникальных рекламодателей, недоступных другим системам!</p>
    </div>
    <div class="alert-message block-message info">
      <h4>Лучшая доходность</h4>
      <p>Heymoose - это максимальный выхлоп для вашего игрового трафика среди всех игровых партнерок!</p>
    </div>
    <div class="alert-message block-message warning">
      <h4>Богатый инструментарий</h4>
      <p>Мы предлагаем огромный выбор промо материалов: мульти офферы, XML фиды, статические и динамические ссылки, а также мощную систему статистики!</p>
    </div>
    <div class="alert-message block-message error">
      <h4>Индивидуальный подход</h4>
      <p>При переходе из любой другой игровой партнерской системы мы предложим вам эксклюзивные условия работы!</p>
    </div>
{% endblock %}