{% extends "new_layout.html" %}

{% block title %}Heymoose - партнерская сеть{% endblock %}

{% set activemenu = "about" %}

{% block pageheader %}
<h3>HeyMoose!</h3>
<i>Инновационная онлайн-биржа игрового трафика</i>
{% endblock %}

{% block content %}


<h4>Вы сами решаете – сколько и за что вы готовы заплатить!</h4>
<p>
Компания <strong>HeyMoose</strong> предоставляет своим клиентам услуги <strong>CPA-маркетинга</strong>, являясь удобной площадкой для сотрудничества рекламодателей и разработчиков игровых приложений.
</p>
<p>
<strong>CPA-маркетинг</strong> (от англ. Cost per action) – это динамично развивающаяся модель онлайн-рекламы, в которой рекламодатель платит за определенное действие, совершенное пользователем. Таким действием может быть регистрация на сайте клиента, заполнение анкеты или даже покупка товара или услуги. Площадкой для рекламы в данном случае становится игровое приложение разработчика, который получает фиксированную плату за каждого привлеченного пользователя, выполняющего необходимое рекламодателю действие. Сам пользователь за совершенное действие получает определенные бонусы от разработчика приложения – таковым может быть регистрация в платной игре, получение игровых бонусов или специальной игровой валюты. Таким образом, выгоду получают все три стороны: рекламодатель платит только за конкретное действие, разработчик увеличивает монетизацию своего трафика, а пользователь получает доступ к платным сервисам совершенно бесплатно!
</p>
<h5>Мы предлагаем своим клиентам:</h5>
<p>
<ul>
<li><strong>Инновации.</strong> Уникальные разработки HeyMoose позволяют нам оказывать качественные услуги, уникальные для рынка данного вида рекламы.</li>
<li><strong>Надежность.</strong> Благодаря возможности управлять своими действиями через личный кабинет, вы сможете самостоятельно контролировать всех своих партнеров.</li>
<li><strong>Выгодная цена.</strong> Никто из наших клиентов не останется недоволен: веб-мастера получат возможность монетизации трафика, а рекламодателям придется тратить деньги только за конкретного клиента, привлеченного с помощью приложения.</li>
</ul>
</p>

<div class="alert-message block-message info">
      <h4>Свяжитесь с нами</h4>
      <p>Станьте участником партнерской программы HeyMoose. Мы поможем вам найти качественный (и недорогой) трафик.</p>
      <p><strong><a href="{{ url_for('contacts') }}" class="btn primary">Контакты</a></strong></p>
</div>
{% endblock %}
