{% extends "new_layout.html" %}

{% block title %}Heymoose - партнерская сеть{% endblock %}

{% set activemenu = "index" %}

{% block pageheader %}
<h2>Heymoose - зарабатывайте на игровой аудитории</h2>
{% endblock %}

{% block content %}
    <div class="alert-message block-message success">
      <h4>Высокая инвестиционная отдача </h4>
      <p>Вам не придется тратить деньги на потенциальных клиентов: вы платите только за реальных людей, совершающих реальные действия. Независимо от того, какой конечный результат вы хотите получить (заполнение анкеты, регистрация на сайте или покупка товара), окупится каждый потраченный рубль.</p>
    </div>
    <div class="alert-message block-message info">
      <h4>Качественный трафик</h4>
      <p>Нам не все равно, какие люди приходят на ваш сайт. Мы заинтересованы в предоставлении вам только тех пользователей, которые действительно могут стать вашими верными клиентами. Строгая система таргетинга, позволяющая вам самостоятельно устанавливать параметры желаемой аудитории, делает вашу рекламу максимально эффективной. А высокотехнологичные разработки HeyMoose позволяют нам отслеживать историю действий пользователя, выявляя его интересы и пожелания и делая нашу систему таргетирования еще более точной.</p>
    </div>
    <div class="alert-message block-message warning">
      <h4>Прозрачная система статистики</h4>
      <p>Размещая свою рекламу на различных площадках, вы сможете отслеживать их эффективность и самостоятельно контролировать ход рекламной кампании, делая выбор в пользу того или иного источника трафика.</p>
    </div>
    <div class="alert-message block-message error">
      <h4>Современные технологии</h4>
      <p>Программисты HeyMoose ежедневно работают над тем, чтобы повышать уровень ваших рекламных кампаний. Уникальные технические разработки, дающие вам широкие возможности для поиска клиентов, делают нашу компанию лидером в области CPA-маркетинга.</p>
    </div>
{% endblock %}