{% extends "new_layout.html" %}

{% block title %}Heymoose - партнерская сеть{% endblock %}

{% set activemenu = "about" %}

{% block pageheader %}
<h3>Вас приветствует компания HeyMoose!</h3>
{% endblock %}

{% block content %}

<h5>Инновационная онлайн-биржа игрового трафика</h5>

<h4>Вы сами решаете – сколько и за что вы готовы заплатить!</h4>
<p>
Компания <strong>HeyMoose</strong> предоставляет своим клиентам услуги <strong>CPA-маркетинга</strong> гарантируя высокую надежность и инвестиционную отдачу (ROI), а также точный таргетинг и простую схему организации рекламных кампаний.
</p>
<p>
<strong>CPA-маркетинг</strong> (от англ. Cost per action) – это динамично развивающаяся модель онлайн-рекламы, в которой рекламодатель платит за определенное действие, совершенное пользователем. Таким действием может быть регистрация на сайте клиента, заполнение анкеты или даже покупка товара или услуги. В отличие от других видов рекламы, в которых заказчик платит за количество показов или кликов, в данном виде маркетинга вы тратите деньги только за РЕАЛЬНЫЕ действия, приносящие вам прибыль!   
</p>
<p>
<strong>HeyMoose</strong> выступает посредником между владельцами игровых порталов и рекламодателями, желающими найти своих клиентов с помощью высоко таргетированных рекламных кампаний. Мы поможем вам быстро и просто разместить рекламу только на тех площадках, где проводит время ваша целевая аудитория. Компания HeyMoose одной из первых в России начала работать с игровыми приложениями в социальных сетях, предоставив своим клиентам доступ к широчайшей базе пользователей социальных сетей – наиболее активной и перспективной аудитории Рунета.    
</p>

<h4>Преимущества HeyMoose:</h4>
<p>
<strong>Высокая инвестиционная отдача (коэффициент ROI)</strong>. Вам не придется тратить деньги на потенциальных клиентов: вы платите только за реальных людей, совершающих реальные действия. Независимо от того, какой конечный результат вы хотите получить (заполнение анкеты, регистрация на сайте или покупка товара), окупится каждый потраченный рубль.
</p>

<p>
<strong>Прозрачная система статистики.</strong> Размещая свою рекламу на различных площадках, вы сможете отслеживать их эффективность и самостоятельно контролировать ход рекламной кампании, делая выбор в пользу того или иного источника трафика.
</p>
<p>
<strong>Качественный трафик.</strong> Нам не все равно, какие люди приходят на ваш сайт. Мы заинтересованы в предоставлении вам только тех пользователей, которые действительно могут стать вашими верными клиентами. Строгая система таргетинга, позволяющая вам самостоятельно устанавливать параметры желаемой аудитории, делает вашу рекламу максимально эффективной. А высокотехнологичные разработки HeyMoose позволяют нам отслеживать историю действий пользователя, выявляя его интересы и пожелания и делая нашу систему таргетирования еще более точной. 
</p>

<p>
<strong>Современные технологии.</strong> Программисты HeyMoose ежедневно работают над тем, чтобы повышать уровень ваших рекламных кампаний. Уникальные технические разработки, дающие вам широкие возможности для поиска клиентов, делают нашу компанию лидером в области CPA-маркетинга.  
</p>

<p>
<strong>Выгодная цена.</strong> HeyMoose предлагает вам наиболее выгодные условия сделок на всем рынке CPA-маркетинга. Вы сами задаете бюджет рекламной кампании, определяя стоимость каждого клиента.  
</p>

<p>
<strong>Простота и надежность.</strong> Для того чтобы дать старт своей рекламной кампании с помощью HeyMoose, вам нужно просто зарегистрироваться на нашем сайте, кратко описать идею проекта, задать параметры аудитории и указать бюджет. Вот и все! В личном кабинете вы сможете следить за ходом кампании и оценивать е эффективность. Доступ в личный кабинет имеете только вы, а мы гарантируем вам высокий уровень безопасности и надежности.      
</p>

<p>
<strong>Оперативность.</strong> Пользователи увидят ваше предложение практически сразу после того, как вы заполните форму на нашем сайте. Вам нужно лишь немного подождать, пока оно пройдет модерацию.         
</p>

<div class="alert-message block-message info">
      <h4>Свяжитесь с нами</h4>
      <p>Станьте участником партнерской программы HeyMoose. Мы поможем вам найти качественный (и недорогой) трафик.</p>
      <p><strong><a href="{{ url_for('contacts') }}" class="btn primary">Контакты</a></strong></p>
</div>
{% endblock %}