{% extends "new_layout.html" %}

{% block title %}Heymoose - партнерская сеть{% endblock %}

{% set activemenu = "index" %}

{% block pageheader_container %}
	<div class="hero-unit white">
		<div class="row">
			<div class="span4 right">
				<img src="{{ url_for('.static', filename='./img/logo_200x150.png') }}" alt="HeyMoose" />
			</div>
			<div class="span9">
				<h2>Зарабатывайте на игровой аудитории!</h2>
				<p>
					Компания HeyMoose является удобной площадкой для сотрудничества рекламодателей
					и разработчиков игровых приложений, предоставляя своим клиентам услуги
					CPA-маркетинга. <a href="{{ url_for('about') }}">Узнать больше »</a>
				</p>
			</div>
		</div>
	</div>
{% endblock %}

{% block content %}
	<div class="row">
		<div class="span6 well" style="height: 190px;">
			<h3>Высокая инвестиционная отдача </h3>
			<p>
				Вам не придется тратить деньги на потенциальных клиентов: вы платите только за реальных
				людей, совершающих реальные действия. Независимо от того, какой конечный результат вы
				хотите получить (заполнение анкеты, регистрация на сайте или покупка товара), окупится
				каждый потраченный рубль.
			</p>
		</div>
		<div class="span8 well" style="height: 190px;">
			<h3>Качественный трафик</h3>
			<p>
				Нам не все равно, какие люди приходят на ваш сайт. Мы заинтересованы в предоставлении
				вам только тех пользователей, которые действительно могут стать вашими верными клиентами.
				Строгая система таргетинга, позволяющая вам самостоятельно устанавливать параметры
				желаемой аудитории, делает вашу рекламу максимально эффективной. А высокотехнологичные
				разработки HeyMoose позволяют нам отслеживать историю действий пользователя, выявляя его
				интересы и пожелания и делая нашу систему таргетирования еще более точной.
			</p>
		</div>
	</div>
    <div class="row">
		<div class="span6 well" style="height: 130px;">
			<h3>Прозрачная система статистики</h3>
			<p>
				Размещая свою рекламу на различных площадках, вы сможете отслеживать их эффективность и
				самостоятельно контролировать ход рекламной кампании, делая выбор в пользу того или иного
				источника трафика.
			</p>
		</div>
		<div class="span8 well" style="height: 130px;">
			<h3>Современные технологии</h3>
			<p>
				Команда HeyMoose ежедневно работает над тем, чтобы повышать уровень ваших рекламных
				кампаний. Уникальные технические разработки, дающие вам широкие возможности для поиска
				клиентов, делают нашу компанию лидером в области CPA-маркетинга.
			</p>
		</div>
    </div>
{% endblock %}