{% extends "layout.html" %}
{% block title %}
Создайте заказ
{% endblock %}
{% block content %}
<div id="top-navigation">
	    <a href="index.html" class="str">Главная</a>
	    <a href="cabinet-inside-service.html" class="str">Личный кабинет</a>
	    <a href="zakaz.html" class="current">Создание заказа</a>   		
</div>
<div id="container">
        <h4>Создайте ваш заказ, {{ g.user.nickname }}</h4>
			<p class="cabinet">Задайте параметры вашего заказа.</p>
		{% with %}
			{% set mes = get_flashed_messages(with_categories=true) | error_type('ordererror') %}
			{% if mes %}
				<ul class="error"><li>{{ mes[0][1].decode('utf8') }}</li></ul>
			{% endif %}
		{% endwith %}

			<div id="zakaz-box">
			<div id="zdelat-zakaz">
                <form id="orderform" action="{{ url_for('create_order') }}" enctype="multipart/form-data" method="post">
				    <p>Название заказа</p>
					<p>{{ params.orderform.ordername(class="inp-bg", size="15", maxlength="15")}}</p>
					<p>Баланс <a href="#">(Пополнить)</a></p>
					<p>{{ params.orderform.orderbalance(class="inp-bg", size="15", maxlength="15")}}<label> Рублей</label></p>
					<p>Введите url заказа.</p>
                    <p>{{ params.orderform.orderbody(class="inp-bg", size="15", maxlength="255")}}</p>
                    <p>Стоимость действия(cpa)</p>
					<p>{{ params.orderform.ordercpa(class="inp-bg", size="15", maxlength="15")}}<label> Рублей</label></p>
                    <p>Callback для подтверждения</p>
					<p>{{ params.orderform.ordercallback(class="inp-bg", size="15", maxlength="15")}}</p>
                    <input type="hidden" name="MAX_FILE_SIZE" value="100000">Загрузите картинку:
                    <input name="orderimage" type="file"><br/>
                    <input type="submit" class="podtverdit" value="Подтвердить заказ" />
					<p class="box-right" align="right"><a href="{{ url_for('user_cabinet', username=g.user.nickname) }}" onclick="return confirm('Вы уверены что хотите отменить создание заказа?')" class="add-vopros">Отменить</a></p>

	            </form>           				
			</div>
			<div class="clear"></div>
            </div>    				
</div>
<div class="empty"></div>

{% endblock %}
