<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN"
"http://www.w3.org/TR/html4/loose.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
		<title>heymoose</title>
		<link rel=stylesheet href="../static/css/common.css" type="text/css" media=screen>
		<!-- заменить на minimum если не требуется -->
		<script type="text/javascript" src="../static/js/jquery.js"></script>
		<!-- Социальная панель -->
		<script type="text/javascript" src="../static/js/socializ.js"></script>
		<link rel=stylesheet href="../static/css/socializ.css" type="text/css" media=screen>
		
		<!-- панель регистрации или виджет black-box-->
		<link rel=stylesheet href="../static/css/widget_black.css" type="text/css" media=screen>		

		<!-- effects for tables -->
		<script>
			$(document).ready(function(){
			

			$(".b-header").animate({width: "90%"}, 350{alert ("The animation has finished running.");});


			});
		</script>
<!--
 $(document).ready(function(){

    $("#right").click(function(){
      $(".block").animate({"left": "+=50px"}, "slow");
    });

    $("#left").click(function(){
      $(".block").animate({"left": "-=50px"}, "slow");
    });

  });->>

	</head>
	<body class="b-body">
				<!-- Обертка единого стиля для контента и заголовка -->
				<div class="m-bottom_layer">
					<!-- Заголовок -->
					<div class="b-header">
				
						
						
						<div class="b-header__menu">
							<ul>
								<li><a href="#" title="О проекте">О проекте</a></li>
								<li><a href="#" title="Регистрация">Регистрация</a></li>
								<li><a href="#" title="Блог">Блог</a></li>
								<li><a href="#" title="Рекламодателям">Рекламодателям</a></li>
								<li><a href="#" title="Разработчикам">Разработчикам</a></li>
								<li><a href="#" title="Контакты">Контакты</a></li>
							</ul>
						</div>
						
						<a href="index.html" class="b-header__logo"></a>
					
					</div>
					<!-- Контент -->
					<div class="b-main_content">
						
						
<div class="b-widget">
	<div class="b-table">
		<div class="b-table_row i-table_header i-clearfix">
			<div class="b-table_cell">Номер</div>
			<div class="b-table_cell">Описание</div>
			<div class="b-table_cell">Баланс</div>
			<div class="b-table_cell">Стоимость оффера (CPA)</div>
			<div class="b-table_cell">Статус</div>
		</div>
		<div class="b-table_row i-table_even_row i-clearfix">
			<div class="b-table_cell">1</div>
			<div class="b-table_cell">Sony и девайсы, социальная реклама плееров серии A</div>
			<div class="b-table_cell">2225000</div>
			<div class="b-table_cell">150</div>
			<div class="b-table_cell">Ожидает утверждения</div>
		</div>
		<div class="b-table_row i-table_odd_row i-clearfix">
			<div class="b-table_cell">2</div>
			<div class="b-table_cell">Рекламный пакет samsung</div>
			<div class="b-table_cell">1250000</div>
			<div class="b-table_cell">200</div>
			<div class="b-table_cell">Утвержден</div>
		</div>
		<div class="b-table_row i-table_even_row i-clearfix">
			<div class="b-table_cell">3</div>
			<div class="b-table_cell">Билайн и партнеры - новые тарифы</div>
			<div class="b-table_cell">1250000</div>
			<div class="b-table_cell">110</div>
			<div class="b-table_cell">Утвержден</div>
		</div>
		<div class="b-table_row i-table_odd_row i-clearfix">
			<div class="b-table_cell">4</div>
			<div class="b-table_cell">Реклама интимной гигиены</div>
			<div class="b-table_cell">1250000</div>
			<div class="b-table_cell">200</div>
			<div class="b-table_cell">Утвержден</div>
		</div>
	</div>
	
</div>
						
						
						
						<!--<div class="b-widgets i-clearfix">
							
						</div>-->
					</div>

					
					
					<!-- Прилипание подвала к нижней части экрана реализовано
					с помощью отрицательного расположения. Т.е. подвал наезжает
					на главный контент - следующий div как раз существует
					для того, чтобы оставить место подвалу -->
					<div class="b-footerspace"/>
				</div>
			</div>
			<!-- Подвал -->
			<div class="b-footer">
				<div class="b-footer__shadowline"></div>
				<div class="b-footer__topshadow"></div>
				<div class="b-footer_content">
						<div class="b-footer_content__menu"></div>
						<div class="b-footer_content__separator"></div>					
						<div class="b-footer_content__bottom_separator">
							<div class="copyright">© 2011 Bravik, LLC.</div>
						</div>
				</div>
			
	</body>
</html>
