<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN"
"http://www.w3.org/TR/html4/loose.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
		<title>heymoose</title>
		<link rel=stylesheet href="../static/css/common.css" type="text/css" media=screen>
		<!-- заменить на minimum если не требуется -->
		<script type="text/javascript" src="../static/js/jquery.js"></script>
		<!-- Социальная панель -->
		<script type="text/javascript" src="../static/js/socializ.js"></script>
		<link rel=stylesheet href="../static/css/socializ.css" type="text/css" media=screen>
		
		<!-- панель регистрации или виджет black-box-->
		<link rel=stylesheet href="../static/css/widget_black.css" type="text/css" media=screen>		

		<!-- effects for tables -->
		<script>
			$(document).ready(function(){
			
				/*
				$(".b-table_row").hover(function() {
					if(oldHeight != 2*$(".b-table_row").height()) {
					}
				});*/
				
				/*$(".b-table_row").hover(
					function () {
						var oldHeight = $(".b-table_row").height();
						$(".b-table_row").animate({height: oldHeight*2}, 1000);	    					
				  	},
  					function () {
						var oldHeight = $(".b-table_row").height();
						$(".b-table_row").animate({height: oldHeight/2}, 1000);	    					
 					}
				);*/
 
				
			
				//var oldHeight = 2*$(".b-table_row").height();
				//$(".b-table_row").animate({height: oldHeight*2}, 1000);


			});
		</script>

	</head>
	<body class="b-body">
				<!-- Обертка единого стиля для контента и заголовка -->
				<div class="m-bottom_layer">
					<!-- Заголовок -->
					<div class="b-header">
				
						
						
						<div class="b-header__menu">
							<ul>
								<li><a href="#" title="О проекте">О проекте</a></li>
								<li><a href="#" title="Регистрация">Регистрация</a></li>
								<li><a href="#" title="Блог">Блог</a></li>
								<li><a href="#" title="Рекламодателям">Рекламодателям</a></li>
								<li><a href="#" title="Разработчикам">Разработчикам</a></li>
								<li><a href="#" title="Контакты">Контакты</a></li>
							</ul>
						</div>
						
						<a href="index.html" class="b-header__logo"></a>
					
					</div>
					<!-- Контент -->
					<div class="b-main_content i-persone">
						
<div class="b-persone_header">
	<h2 class="b-content_h2">Личный кабинет</h2>
</div>



<div class="b-widget i-widget_persone">
	<h3 class="b-widget_h3">Заказы</h3>
	<div class="b-widget_descr">
		
	</div>
	<div class="b-table">
		<div class="b-table_row i-table_header i-clearfix">
			<div class="b-table_cell i-order_hd_cell_number">Номер</div>
			<div class="b-table_cell i-order_hd_cell_descr">Описание</div>
			<div class="b-table_cell i-order_hd_cell_balance">Баланс</div>
			<div class="b-table_cell i-order_hd_cell_val_offer">(CPA)</div>
			<div class="b-table_cell i-order_hd_cell_status">Статус</div>
		</div>
		<div class="b-table_row i-table_even_row i-clearfix">
			<div class="b-table_cell i-order_cell_number">1</div>
			<div class="b-table_cell i-order_cell_descr">Sony и девайсы, социальная реклама плееров серии A</div>
			<div class="b-table_cell i-order_cell_balance">2225000</div>
			<div class="b-table_cell i-order_cell_val_offer">150</div>
			<div class="b-table_cell i-order_cell_status i-status_wait">Ожидает утверждения</div>
		</div>
		<div class="b-table_row i-table_odd_row i-clearfix">
			<div class="b-table_cell i-order_cell_number">2</div>
			<div class="b-table_cell i-order_cell_descr">Рекламный пакет samsung</div>
			<div class="b-table_cell i-order_cell_balance">1250000</div>
			<div class="b-table_cell i-order_cell_val_offer">200</div>
			<div class="b-table_cell i-order_cell_status i-status_wait">Ожидает утверждения</div>
		</div>
		<div class="b-table_row i-table_even_row i-clearfix">
			<div class="b-table_cell i-order_cell_number">3</div>
			<div class="b-table_cell i-order_cell_descr">Билайн и партнеры - новые тарифы</div>
			<div class="b-table_cell i-order_cell_balance">1250000</div>
			<div class="b-table_cell i-order_cell_val_offer">110</div>
			<div class="b-table_cell i-order_cell_status i-status_approved">Утвержден</div>
		</div>
		<div class="b-table_row i-table_odd_row i-clearfix">
			<div class="b-table_cell i-order_cell_number">4</div>
			<div class="b-table_cell i-order_cell_descr">Реклама интимной гигиены</div>
			<div class="b-table_cell i-order_cell_balance">1250000</div>
			<div class="b-table_cell i-order_cell_val_offer">200</div>
			<div class="b-table_cell i-order_cell_status i-status_approved">Утвержден</div>
		</div>
	</div>
	
	
</div>

<br>
<br>
<div class="b-widget i-widget_persone">
	<h3 class="b-widget_h3">Приложения</h3>
	<div class="b-table">
		<div class="b-table_row i-table_header i-clearfix">
			<div class="b-table_cell i-apps_hd_cell_id">id</div>
			<div class="b-table_cell i-apps_hd_cell_secret">Secret</div>
			<div class="b-table_cell i-apps_hd_cell_callback">Callabck</div>
		</div>
		<div class="b-table_row i-table_even_row i-clearfix">
			<div class="b-table_cell i-apps_cell_id">1</div>
			<div class="b-table_cell i-apps_cell_secret">39f390ca-eb72-4a90-badd-993e60710b42</div>
			<div class="b-table_cell i-apps_cell_callback">www.iam.com/header.aspx?dbhjedvj</div>
		</div>
		<div class="b-table_row i-table_odd_row i-clearfix">
			<div class="b-table_cell i-apps_cell_id">2</div>
			<div class="b-table_cell i-apps_cell_secret">39f390ca-eb72-4a90-badd-993e60710b42</div>
			<div class="b-table_cell i-apps_cell_callback">mixture/dhkjdlkdfk/dbhgdlhfjd</div>
		</div>
		<div class="b-table_row i-table_even_row i-clearfix">
			<div class="b-table_cell i-apps_cell_id">3</div>
			<div class="b-table_cell i-apps_cell_secret">39f390ca-eb72-4a90-badd-993e60710b42</div>
			<div class="b-table_cell i-apps_cell_callback">http://mydengi.ru/idt2i012e3070</div>
		</div>
		<div class="b-table_row i-table_odd_row i-clearfix">
			<div class="b-table_cell i-apps_cell_id">4</div>
			<div class="b-table_cell i-apps_cell_secret">39f390ca-eb72-4a90-badd-993e60710b42</div>
			<div class="b-table_cell i-apps_cell_callback">http://mydengi.ru/index.php?request=bwelihdew98w0dewe0</div>
		</div>
	</div>
	
</div>
						
						
						
						<!--<div class="b-widgets i-clearfix">
							
						</div>-->
					</div>

					
					
					<!-- Прилипание подвала к нижней части экрана реализовано
					с помощью отрицательного расположения. Т.е. подвал наезжает
					на главный контент - следующий div как раз существует
					для того, чтобы оставить место подвалу -->
					<div class="b-footerspace"/>
				</div>
			</div>
			<!-- Подвал -->
			<div class="b-footer">
				<div class="b-footer__shadowline"></div>
				<div class="b-footer__topshadow"></div>
				<div class="b-footer_content">
						<div class="b-footer_content__menu"></div>
						<div class="b-footer_content__separator"></div>					
						<div class="b-footer_content__bottom_separator">
							<div class="copyright">© 2011 Bravik, LLC.</div>
						</div>
				</div>
			
	</body>
</html>
