{% extends "layout.html" %}
{% from 'navigation-left.html' import navigation_left_menu %}
{% block title %}
Продвижение в социальных сетях 
{% endblock %}
{% block content %}
	<div id="container">
{{ navigation_left_menu(advertiser='activ') }}

		<div id="contant-box">
<div id="our-services">
<h4 style="color:#FF6633">Продвижение в социальных сетях</h4>
<p>
<div id="description-box">
Компания Heymoose предлагает своим клиентам продвижение товаров и услуг в популярных <strong>социальных сетях и сервисах</strong>.
<div id="otstupvpravo20">
<ul>
<li>Популярные <strong>социальные сети</strong>: ВКонтакте, Одноклассники, МойМир, Я.ру, Facebook, Twitter - всего 9 ресурсов</li>
<li>Сервисы социальных закладок Memori.ru, БобрДобр и другие - всего 27 ресурсов</li>
<li>Сервисы социальных новостей - 11 ресурсов</li>
<li>Сервисы ответов: Ответы@Mail.ru, Google и другие</li>
<li>Фото и видео <strong>социальные сети</strong>: YouTube, RuTube, Яндекс.Фотки и другие - всего 19 ресурсов</li>
<li>Тематические <strong>социальные сети</strong>: IMhonet, Хабр и другие - 54 ресурс</li>
</ul>
</div><br><br>
<strong>Продвижение в социальных сетях</strong> позволяет в короткие сроки объеденить людей в брендированное сообщество, запустить обсуждние товаров и услуг и собрать отзывы потребителей. <strong>Продвижение в социальных сетях</strong> подходит практически для любой сферы деятельности.<br><br>

Используйте <strong>продвижение в социальных сетях</strong> и получайте узнаваемость, целевые переходы на сайт и продавайте прямо в группе.
</div>
</p>
</div>

<br><br>
	</div>
	</div>
<div class="empty"></div>	
{% endblock %}
