{% extends "layout.html" %}
{% from 'navigation-left.html' import navigation_left_menu %}
{% block title %}
О сервисе
{% endblock %}
{% block content %}
	<div id="container">
{{ navigation_left_menu(price='activ') }}

		<div id="contant-box">
<h4 style="color:#FF6633">Цены на услуги</h4>
<div id="our-services">
<table width="540" border="0" cellspacing="5">
<tbody><tr>
          <td width="409" bgcolor="#FFFFFF"><span class="style23">Создание, ведение и продвижение группы в Facebook </span></td>
          <td width="115" bgcolor="#FFFFFF"><span class="style23">от 20 000 рублей </span></td>
        </tr>
        <tr>
          <td bgcolor="#FFFFFF"><span class="style23">Создание и продвижение страницы бренда на Facebook </span></td>
          <td bgcolor="#FFFFFF"><span class="style23">от 25 000 рублей </span></td>
        </tr>
        <tr>
          <td bgcolor="#FFFFFF"><span class="style23">Создание, ведение и продвижение группы "ВКонтакте" </span></td>
          <td bgcolor="#FFFFFF"><span class="style23">от 30 000 рублей </span></td>
        </tr>
        <tr>
          <td bgcolor="#FFFFFF"><span class="style23">Продвижение в популярных социальных сетях </span></td>
          <td bgcolor="#FFFFFF"><span class="style23">от 20 000 рублей </span></td>
        </tr>
        <tr>
          <td bgcolor="#FFFFFF"><span class="style23">Продвижение в тематических социальных сетях </span></td>
          <td bgcolor="#FFFFFF"><span class="style23">от 10 000 рублей </span></td>
        </tr>
        <tr>
          <td bgcolor="#FFFFFF"><span class="style23">Продвижение в популярных социальных сервисах </span></td>
          <td bgcolor="#FFFFFF"><span class="style23">от 10 000 рублей </span></td>
        </tr>
        <tr>
          <td bgcolor="#FFFFFF"><span class="style23">Размещение и продвижение видео на YouTube </span></td>
          <td bgcolor="#FFFFFF"><span class="style23">от 15 000 рублей </span></td>
        </tr>
        <tr>
          <td bgcolor="#FFFFFF"><span class="style23">Создание, ведение и продвижение Twitter-блога компании </span></td>
          <td bgcolor="#FFFFFF"><span class="style23">от 10 000 рублей </span></td>
        </tr>
        <tr>
          <td bgcolor="#FFFFFF"><span class="style23">Создание, ведение и продвижение блога (ЖЖ, Li.ru) </span></td>
          <td bgcolor="#FFFFFF"><span class="style23">от 10 000 рублей </span></td>
        </tr>
        <tr>
          <td bgcolor="#FFFFFF"><span class="style23">Ведение и продвижение корпоративного блога </span></td>
          <td bgcolor="#FFFFFF"><span class="style23">от 20 000 рублей </span></td>
        </tr>
        <tr>
          <td bgcolor="#FFFFFF"><span class="style23">Вирусный маркетинг </span></td>
          <td bgcolor="#FFFFFF"><span class="style23">от 20 000 рублей </span></td>
        </tr>
      </tbody>
</table>
</div>
<br><br>
	</div>
	</div>
<div class="empty"></div>	
{% endblock %}
