{% extends "layout.html" %}
{% block title %}Регистрация{% endblock %}
{% block head %}
{{ super() }}
<script>
			$(document).ready(function() {
				// спрячем error
				$('.b-error_text').slideUp(1);

				// Отображает ошибку в дескрипшене регистрационной панели
				function showError(error, element) {
					//$('.b-reg_form_error').add("<div class="b-error_text">Ошибка нах!</div>")
					element.addClass('i-input_with_error');
					$('.b-error_text').slideDown(200);
					$('.b-error_text').text(error);
				}

				function clearError(element) {
					$('.b-error_text').slideUp(200);
					$(element).parent().removeClass('i-input_with_error');
					//$('.b-rinput').parent().removeClass('i-input_focused');
				}

				/*$('.b-rinput').bind('focusin',function() {
					$(this).parent().addClass('i-input_focused');
				});*/

				// События формы
				$(".b-rinput").keypress(function() {
					clearError(this);
					//clearError(".b-rinput");
				});


				// Валидация формы регистрации
				$("#register_form").submit(function() {
					username = $('#username').val();
					password = $('#password').val();
					repassword = $('#repassword').val();
					email = $('#email').val();
					capcha = $('#capcha').val();

					if(username == "") {
						showError("Заполните, пожалуйста, имя пользователя", $('#username').parent());
						return false;
					}

					if(email == "") {
						showError("Напишите, пожалуйста, свой электронный адресс", $('#email').parent());
						return false;
					}

					if(password == "") {
						showError("Напишите, пожалуйста, пароль", $('#password').parent());
						return false;
					}

					if(repassword == "") {
						showError("Подтвердите пароль", $('#repassword').parent());
						return false;
					}

					if(repassword != password) {
						showError("Пароли не совпадают", $('#repassword').parent());
						return false;
					}

					if(capcha == "") {
						showError("Заполните капчу", $('#capcha').parent());
						return false;
					}


					return true;
				});
			});

		</script>
{% endblock %}
{% block content %}
	<div class="b-screen">
					<div class="b-reg_header">
						<br>
						Регистрация
					</div>
					<div class="b-reg_content i-clearfix">
						<div class="b-register_descr">
							<img src="../static/images/loser.png">
							&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp<span style="font: 12px/18px Verdana, Tahoma, Arial, sans-serif; font-weight: bold; color: #6EA5A7;"></span><br><br>Вы можете зарегистрироваться в системе
							<span style="color: #FFFF66;font-weight: bold;">Hey</span><span style="color: #9FD8DA; font-weight: bold;">Moose</span> как<br>
							<ul>
								<li><div style="color: #FFFF66">Разработчик</div></li>
								<li><div style="color: #FFFF66">Рекламодатель</div></li>
							</ul>
							Вне зависимости от того, какую роль вы выбрали, в дальнейшем вы легко сможете ее изменить.
						</div>
						<form id="register_form" class="b-register_form i-register_form" action="..." method="post">
							<div class="b-reg_form_header">
								Заполните, пожалуйста, поля формы
							</div>
							<div class="b-table i-reg_form_content">
								<div class="b-table_row i-reg_form_row i-clearfix">
									<div class="b-table_cell i-reg_form_cell">
										<label class="b-form_label i-reg_label">Имя пользователя</label>
									</div>
									<div class="b-table_cell i-reg_form_cell">
										<div class="b-input_wrap i-reg_input">
											<input id="username" class="b-rinput" type="text">
										</div>
									</div>
								</div>
								<div class="b-table_row i-reg_form_row i-clearfix">
									<div class="b-table_cell i-reg_form_cell">
										<label class="b-form_label i-reg_label">Email</label>
									</div>
									<div class="b-table_cell i-reg_form_cell">
										<div class="b-input_wrap i-reg_input">
											<input id="email" class="b-rinput" type="email">
										</div>
									</div>
								</div>
								<div class="b-table_row i-reg_form_row i-clearfix">
									<div class="b-table_cell i-reg_form_cell">
										<label class="b-form_label i-reg_label">Пароль</label>
									</div>
									<div class="b-table_cell i-reg_form_cell">
										<div class="b-input_wrap i-reg_input">
											<input id="password" class="b-rinput" type="password">
										</div>
									</div>
								</div>
								<div class="b-table_row i-reg_form_row i-clearfix">
									<div class="b-table_cell i-reg_form_cell">
										<label class="b-form_label i-reg_label">Повторите пароль</label>
									</div>
									<div class="b-table_cell i-reg_form_cell">
										<div class="b-input_wrap i-reg_input">
											<input id="repassword" class="b-rinput" type="password">
										</div>
									</div>
								</div>
								<div class="b-table_row i-reg_form_row i-clearfix">
									<div class="b-table_cell i-reg_form_cell">
										<label class="b-form_label i-reg_label">Кто вы</label>
									</div>
									<div class="b-table_cell i-reg_form_cell">
										<select class="b-input_button i-role_button">
											<option value="CUSTOMER">Рекламодатель</option>
											<option value="DEVELOPER">Разработчик</option>
										</select>
									</div>
								</div>
								<div class="b-table_row i-reg_form_row i-clearfix">
									<div class="b-table_cell i-reg_form_cell">
										<label class="b-form_label i-reg_label">Капча</label>
									</div>
									<div class="b-table_cell i-reg_form_cell">
										<div class="b-input_wrap i-reg_input">
											<input id="capcha" class="b-rinput" type="text">
										</div>
									</div>
								</div>
							</div>
							<div class="b-reg_form_footer">
								<input id="register" class="b-input_button i-submit_button" type="submit" value="Подтвердить">
							</div>
							<div class="b-reg_form_error">
								<div class="b-error_text"></div>
							</div>
						</form>
					</div>
					<div class="b-reg_footer">

					</div>
				</div>
{% endblock %}
