<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    {% block head %}
	<meta http-equiv="Content-Type" content="text/html; charset=utf8" />
    <link rel="stylesheet" href="{{ url_for('static', filename='./css/style.css') }}" />
    <script type="text/javascript" src="{{ url_for('static', filename='./js/jquery.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='./js/tooltip.js') }}"></script>
	<script type="text/javascript" src="{{ url_for('static', filename='./js/jquery.form.js') }}"></script>

	<!--[if IE ]>
	<link rel="stylesheet" media="screen" type="text/css" title="Style" href="/css/ie.css" />
	<![endif]-->	
    <title>{% block title %}{% endblock %}</title>
    {% endblock %}
</head>
<body>
<div id="sitebox">
		<div id="top-bar">
			<div id="logo-box">
			<a href="{{ url_for('main_page') }}"><img src="{{ url_for('static', filename='./images/logo.png') }}" width="197" height="62" border="0" alt="logo" /></a> </div>
		{% if params.user_id %}
			<div id="user-box">
    	        <div id="user-info">
	                <h5>Добрый день, {{ params.user_name }}</h5>
                	<p>Ваш <a href="{{ url_for('user_cabinet', username=g.user.username) }}">кабинет</a></p>
            	</div>
        	    <a href="{{ url_for('logout') }}" class="inp-exit">Выйти</a>
    	    </div>
		{% else %}
			<div id="user-box">
			    <h5 class="user_login">Логин</h5><h5 class="user_login">Пароль</h5>
    	        <form method="post" action="{{ url_for('login') }}">
					{{ params.loginform.username(class="inp-bg", size="15", maxlength="25") }}
					{{ params.loginform.password(class="inp-bg", size="15", maxlength="16") }}
            	    <input type="submit" class="inp-enter" value="Вход" />
	    	    </form>
				{% with %}
					{% set mes = get_flashed_messages(with_categories=true) | error_type('loginerror') %}
					{% if mes %}
						<ul class="error"><li>{{ mes[0][1].decode('utf8') }}</li></ul>
					{% endif %}
				{% endwith %}
			</div>
		{% endif %}
		</div>
	{% block content %}
	Вы удачно зарегистрировались.
	{% endblock %}
</div>

    <div id="footer">
    <div id="navigation-bot">
	<ul>
	    <li><a href="{{ url_for('about') }}">О проекте</a></li>
	    <li><a href="{{ url_for('become_developer') }}">Стать разработчиком</a></li>
	    <li><a href="{{ url_for('start_survey') }}">Провести исследование</a></li>
		<li><a href="{{ url_for('blog', pagenum=0) }}">Блог</a></li>
		<li><a href="{{ url_for('feedback') }}">Feedback/Support</a></li>
		{% if params.user_id %}
			<li><a href="">Баланс</a></li>
			<li><a href="{{ url_for('user_cabinet', username=g.user.username) }}">Кабинет</a></li>
		{% endif %}
	</ul>
	</div>
	<div id="rights">
	    <p>© 2011 HeyMoose.com Все права защищены.</p>
	</div>

    </div>
</body>
</html>
