{% extends "layout.html" %}
{% block title %}Выбор роли{% endblock %}
{% block content %}
	{% if error %}
			<ul class="error"><li>{{ error.decode('utf8') }}</li></ul>
	{% else %}
		{% with %}
			{% set mes = get_flashed_messages(with_categories=true) | error_type('roleerror') %}
			{% if mes %}
				<ul class="error"><li>{{ mes[0][1].decode('utf8') }}</li></ul>
			{% endif %}
		{% endwith %}
	{% endif %}
<div id="container">
		<div id="contant-box">
			    <div id="register-box">
				    <div id="register-head"><h4>Кто вы?</h4></div>
					<div id="register-left-box">
						<h5>Необходимые вам услуги</h5>
					</div>
				    <div id="register-right-box">
                        <form method="post" action="">
							<p>
							<select name="role">
							<option value="DEVELOPER">DEVELOPER</option>
							<option value="CUSTOMER">CUSTOMER</option>
							</select>	
							</p>
                            <input type="submit" class="register" value="Подтвердить" />
	                    </form>
					</div>
                </div>
		</div>
	</div>
{% endblock %}
