{% extends "layout.html" %}
{% from 'navigation-left.html' import navigation_left_menu %}
{% block title %}
О сервисе
{% endblock %}
{% block content %}
	<div id="container">
{{ navigation_left_menu(survey='activ') }}
<div id="contant-box">
<h4>Вид анкеты настраивается по желанию заказчика:</h4>
<ul>
<li>Размещение логотипа вашей компании на анкете.</li>
<li>Подбор цветовых схем.</li>
<li>Возможно использование вашей анкеты.</li>
</ul><br>
<h4>Примеры анкет:</h4>
<div id="surveyMonkeyInfo"><div><script src="http://www.surveymonkey.com/jsEmbed.aspx?sm=Fs35Mmepo2qlml2lMe4wmw_3d_3d"> </script></div></div><br><br>
<div id="surveyMonkeyInfo"><div><script src="http://www.surveymonkey.com/jsEmbed.aspx?sm=5sDPE57Pd6zGO_2buPxfvpEw_3d_3d"> </script></div></div>
</div>
	</div>
<div class="empty"></div>	
{% endblock %}
