<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
  "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf8" />
	<style type="text/css">
		#knopka{
			margin: 0 auto;
			background-image: url(http://heymoose.com/static/images/developer-bg.png);
			width: 389px;
			height: 64px;
			font: bold 24px/64px Arial;
			color: #fff;
			text-align: center;
		}
	</style>

    <title>
        Опрос
    </title>
</head>

<body>
        <div id="knopka">
            Пройти опрос heymoose.com
        </div><!--#knopka-->
</body>
</html>

