{% extends "layout.html" %}
{% from 'navigation-left.html' import navigation_left_menu %}
{% block title %}
О сервисе
{% endblock %}
{% block content %}
	<div id="container">
{{ navigation_left_menu(advertiser='activ') }}

		<div id="contant-box">
<h4>Рекламодателям.</h4>
Компания HeyMoose размещает рекламные предложения в социальных сетях, мобильных приложениях, приложениях внутри социальных сетей. Отличительной особеностью HeyMoose является точный таргетинг, легкий доступ к активным пользователям социальных сетей и интернет.<br><br>

<h4>Оплата за действие.</h4>
<strong>CPA (cost per action)</strong> - это схема оплаты интернет рекламы, при которой рекламодатель платит за каждое специально установленное действие пользователя (регистрация или пребывание на сайте, заполнение анкеты, покупка и т. д.), совершенное благодаря размещению его рекламы.<br><strong>CPA</strong>-схема считается наиболее оптимальным способом покупки интернет рекламы, так как рекламодатель платит за рекламу только если она привела к желаемым действиям со стороны пользователя.
Вы можете составить любое предложение для пользователей (выбрать любое желаемое действие), отвечающее всем потребностям и целям вашей рекламной кампании.<br><br>

<h4>Преимущества системы HeyMoose.</h4>
<ul>
<li>Точный таргентинг</li>
<li>Пользователь заинтересован в выполнении рекламных действий.</li>
<li>CPA - оплата только за совершеное действие.</li>
<li>Качественный трафик.</li>
<li>Аудитория России и СНГ.</li>
</ul><br><br>




<h4>Действие в зависимости от вашей цели:</h4>
<table border='1'>
<tr>
<td>Привлечение целевого трафика</td><td>регистрация на сайте.</td>
</tr>
<tr>
<td>Привлекательность сервиса</td><td>тестирование, опрос.</td>
</tr>
<tr>
<td>Узнаваемость бренда</td><td>видео, опрос.</td>
</tr>
<tr>
<td>Увелечение продаж</td><td>покупка товаров.</td>
</tr>
</table>
<br><br>
	</div>
	</div>
<div class="empty"></div>	
{% endblock %}
