{% extends "layout.html" %}
{% from 'navigation-left.html' import navigation_left_menu %}
{% block title %}
О сервисе
{% endblock %}
{% block content %}
	<div id="container">
{{ navigation_left_menu(advertiser='activ') }}

		<div id="contant-box">
<h4 style="color:#FF6633">Наши услуги</h4>
<div id="our-services">
<ul>
<li><a href="{{ url_for('facebook_smm') }}">Продвижение в социальной сети Facebook</a></li>
<li><a href="{{ url_for('youtube_smm') }}">Продвижение видео в социальной сети YouTube</a></li>
<li><a href="{{ url_for('vkontakte_smm') }}">Продвижение в социальной сети Vkontakte</a></li>
<li><a href="{{ url_for('popular_smm') }}">Продвижение в популярных социальных сетях</a></li>
<li><a href="{{ url_for('blog_smm') }}">Продвижение в блогах (на различных платформах)</a></li>
<li><a href="{{ url_for('twitter_smm') }}">Twitter-marketing</a></li>
<li><a href="{{ url_for('vrs_smm') }}">Вирусный маркетинг</a></li>
</ul>
<br><br>
<h4 style="color:#FF6633">Зачем обращаться в Heymoose</h4>
<p>
Внимание потребителей можно купить - для этого есть реклама. Но доверие посетителей купить нельзя, его можно только заработать. Социальные платформы - это отличный инструмент для взаимодействия с целевой аудиторией.<br><br>

Компания <strong>Heymoose</strong> - мы увеличиваем ваши продажи.<br><br>

Аудитория социальных сетей соизмерима сегодня с аудиторией центральных телеканалов, только более активна и платежеспособна. Мы поможем вам придти к ней, общаться с ней. На ее языке и территории. Там, где ей комфортно и свободно.<br><br>

Мы можем обеспечить вам присутствие в любой точке "социального интернета", там, где вас ждет ваша целевая аудитория.<br><br>

Маркетинг в социальных медиа - это продвижение ваших товаров и услуг. У продвижения должен быть результат: увеличение продаж, повышение узнаваемости бренда, снижение негативных отзывов и т.д. Мы умеем считать результат и прогнозировать его.<br><br>

Компания Heymoose готова предложить своим клиентам полный спектр услуг в области SMM и SMO. У нас есть решения для вас.
</p>
</div>

<br><br>
	</div>
	</div>
<div class="empty"></div>	
{% endblock %}
