{% extends "layout.html" %}
{% block title %}
О сервисе
{% endblock %}
{% block content %}
<div class="b-widget i-widget_info">
<h3 class="alt">HeyMoose</h3> 
<hr>
Система монетизации игр, социальных сетей, мобильных приложений с помощью различных рекламных предложений пользователю.

<h3 class="alt">Преимущества HeyMoose.</h3>
<hr>
Участники оплачивающие виртуальные товары, составляют лишь малую часть от общего числа пользователей вашего приложения. <strong>HeyMoose</strong> позволяет вовлечь остальных участников, предлагая им действия за которые готовы платить рекламодатели. Таким образом издатель или разработчик получает деньги от рекламодателей, увеличивая общий доход от своих приложений.

<h3 class="alt">Установка системы HeyMoose.</h3>
<hr>
HeyMoose имеет удобный <strong>REST API</strong>, который позволяет интегрировать систему, в любое приложение вне зависимости от платформы, на которой оно запускается.

<h3 class="alt">Способов интеграции несколько:</h3>
<hr>
<ul>
<li>Это вставка iframe в ваше приложение.</li>
<li>Взаимодействие с API напрямую.</li>
<li>Для Flash приложений специальный Flash API.</li>
</ul>

</div>
{% endblock %}
