{% extends "layout.html" %}
{% from 'navigation-left.html' import navigation_left_menu %}
{% block title %}
О сервисе
{% endblock %}
{% block content %}
	<div id="container">
{{ navigation_left_menu(partner='activ') }}

		<div id="contant-box">

<strong>HeyMoose</strong> - система монетизации игр, социальных сетей, мобильных приложений с помощью различных рекламных предложений пользователю.<br><br>

<strong>Преимущества HeyMoose.</strong><br>
Участники оплачивающие виртуальные товары, составляют лишь малую часть от общего числа пользователей вашего приложения. HeyMoose позволяет вовлечь остальных участников, предлагая им действия за которые готовы платить рекламодатели. Таким образом издатель или разработчик получает деньги от рекламодателей, увеличивая общий доход от своих приложений.<br><br>

<strong>Установка системы HeyMoose.</strong><br>
HeyMoose имеет удобный REST API, который позволяет интегрировать систему, в любое приложение вне зависимости от платформы, на которой оно запускается.<br><br>

<strong>Способов интеграции несколько:</strong>
<div id="otstupvpravo20">
<ul>
<li>Это вставка iframe в ваше приложение.</li>
<li>Взаимодействие с API напрямую.</li>
<li>Для Flash приложений специальный Flash API.</li>
</ul></div><br><br>
Важно, что пользователь не уходит на другой сайт, и все действия происходят в вашем приложении.<br><br>
	</div>
	</div>
<div class="empty"></div>	
{% endblock %}
