{% extends "layout.html" %}
{% from 'navigation-left.html' import navigation_left_menu %}
{% block title %}
Twitter-маркетинг
{% endblock %}
{% block content %}
	<div id="container">
{{ navigation_left_menu(advertiser='activ') }}

		<div id="contant-box">
<div id="our-services">
<h4 style="color:#FF6633">Twitter-marketing</h4>
<p>
<div id="description-box">
Компания Heymoose предлагает своим клиентам весь спектр услуг по продвижению в сети микроблогов <strong>Twitter</strong>.<br><br>

<strong>Twitter</strong> - это сеть микроблогов, длина сообщения (твита) в которм, равна 140 символам. Сегодня <strong>Твиттер</strong>, наряду с Facebook является самой быстрорастущей социальной сетью в мире: аудитория Твиттера измеряется десятками миллионов активных пользователей.<br><br>
Мы предлагаем следующие услуги:
<div id="otstupvpravo20">
<ul>
<li>Создание, оформление, ведение и продвижение <strong>twitter-блога</strong></li>
<li>Проведение масштабных рекламных кампаний в сети микроблогов <strong>Twitter</strong></li>
<li>Набор подписчиков из числа целевой аудитории</li>
</ul>
</div><br><br>
<strong>Twitter</strong> позволяет в режиме реального времени отслеживать рекцию аудитории на любую активность компании, проводить опросы, вести прямой диалог с потребителями ваших товаров и услуг.
</div>
</p>
</div>

<br><br>
	</div>
	</div>
<div class="empty"></div>	
{% endblock %}
