{% extends "layout.html" %}
{% from 'navigation-left.html' import navigation_left_menu %}
{% block title %}
Продвижение в социальной сети Вконтакте 
{% endblock %}
{% block content %}
	<div id="container">
{{ navigation_left_menu(advertiser='activ') }}

		<div id="contant-box">
<div id="our-services">
<h4 style="color:#FF6633">Продвижение в социальной сети Вконтакте</h4>
<p>
<div id="description-box">
<strong>"ВКонтакте"</strong> - наиболее популярная в России социальная сеть. Количество пользователей данной социальной сети более 100 000 000 пользователей.<br><br>

<strong>Продвижение в "ВКонтакте"</strong> позволяет воздействовать на целевую аудиторию избирательно, с точно заданными параметрами (регион, пол, возраст, интересы и т.п.). <strong>Продвижение "ВКонтакте"</strong> подходит как крупным брендам, так и небольшим компаниям (кофейни, салоны красоты).<br><br>

Компания Heymoose оказывает полный спектр услуг по продвижению товаров и услуг в социальной сети <strong>"ВКонтакте"</strong>


<div id="otstupvpravo20">
<ul>
<li>Создание и продвижение "ВКонтакте" страницы компании</li>
<li>Создание и продвижение промо-группы</li>
<li>Распространение фото и видео контента</li>
<li>Прямая реклама "ВКонтакте" (гипертаргеттированная)</li>
<li>Размещение открытой рекламы в группах с ЦА</li>
<li>Скрытый маркетинг в обсуждениях групп сервиса</li>
<li>Оформление групп ВКонтакте</li>
</ul>
</div><br><br>
Бюджет на услуги продвижения "ВКонтакте" - от 20 000 рублей.
Наши услуги по продвижению "ВКонтакте" - звоните на +7 (905) 710-19-92 или пишите на ks.shilov@gmail.ru.

</div>
</p>
</div>

<br><br>
	</div>
	</div>
<div class="empty"></div>	
{% endblock %}
