{% extends "layout.html" %}
{% from 'navigation-left.html' import navigation_left_menu %}
{% block title %}
Вирусный маркетинг
{% endblock %}
{% block content %}
	<div id="container">
{{ navigation_left_menu(advertiser='activ') }}

		<div id="contant-box">
<div id="our-services">
<h4 style="color:#FF6633">Вирусный маркетинг</h4>
<p>
<div id="description-box">
Компания Heymoose предлагает полный спектр услуг в области <strong>вирусного маркетинга</strong>.<br><br>

<strong>Вирусный маркетинг</strong> - это создание и запуск в социальных сетях медиавируса: интересного контента (приложения, фото, видео, текст). Основное приимущество <strong>вирусного маркетинга</strong> в том, что вирус распространяется самими пользователями через инструменты "сарафанного радио".<br><br>

Распространение <strong>вирусного контента</strong> может происходить в:<br>
<div id="otstupvpravo20">
<ul>
<li>Блогосфера (Twitter, ЖЖ, Ли.ру)</li>
<li>Социальные сети (ВКонтакте, Одноклассники и другие)</li>
<li>Тематические социальные сети</li>
<li>Фото и видео сети (YouTube, Яндекс.Фотки и другие)</li>
</ul>
</div><br><br>

Медиавирус "цепляет" пользователя: смешит, удивляет, шокирует. Вызвает эмоции, одним словом.<br>
<strong>Вирусным контентом</strong> может быть:<br>
<div id="otstupvpravo20">
<ul>
<li>Видео</li>
<li>Фото</li>
<li>Аудио</li>
<li>Текст</li>
<li>Анимация</li>
</ul>
</div><br><br>
Охват успешной компании при использовании вирусного маркетинга составляет сотни тысяч вовлеченных потенциальных потребителей.
</div>
</p>
</div>

<br><br>
	</div>
	</div>
<div class="empty"></div>	
{% endblock %}
