{% extends "site/gamak-article-layout.html" %}

{% block art_title %}Программисты такие программисты{% endblock %}

{% block content %}
<p>
	Принято считать, что трудности на нашем жизненном пути призваны закалять наш характер. Если это так, то
	сотрудники Digital HR должны были достигнуть апогея твердости и силы духа, ибо с трудными задачами
	им приходится сталкиваться не то что бы каждый день, а фактически ежечасно.
</p>
<p>
	Недавно один из коллег проводил бытовое исследование, целью которого было выяснить, как часто у специалистов
	в сфере рекрутмента и подбора персонала возникает желание бросить все с высокого обрыва. Результаты были
	самые разнообразные. У нас непреодолимая потребность сбежать в Камбоджу и больше никогда в жизни даже
	не подходить к компьютеру возникает примерно раз в день. Минут на пять. Потом внезапно получаешь ответ
	от одного из соискателей, жаждущих найти работу своей мечты &mdash; и снова воспылаешь любовью и нежностью
	к своей работе.
</p>
<p>
	Мы любим свою работу. Любим своих кандидатов &mdash; таких разных и таких замечательных. Немного капризных,
	часто талантливых, увлеченных своим делом не меньше, чем мы своим. Интересно, а как часто у них возникает
	желание сменить специализацию и переквалифицировать в лесоруба?
</p>
<p>
	Московский рынок IT порождает свои минусы и плюсы. Именно в древней столице сосредоточены наиболее интересные
	проекты, балансирующие между высоким финансированием и возможностью всего лишь за несколько лет вырасти
	до профессионала высокого уровня. При этом невероятно сложно отыскать человека, который будет хотя бы
	отчасти подходить под высокие требования клиента, ведь заказчик готов платить только за отличный результат.
	О, коварный! Плюс ко всему работодатель был бы не против, если бы разработчик при этом умел делать заднее
	сальто и фляк, жонглировать ананасами, знать древний иврит на уровне чтения профессиональной литературы
	и при этом мог бы обходиться без сна, еды и воздуха. А программист не хочет жонглировать ни яблоками,
	ни сульфидом натрия, он хочет забиться в уголок, где его никто бы не трогал, и писать код.
</p>
<p>
	Нет редких языков в программировании. Точнее редкие все языки. Все специалисты уникальны. Хорошие &mdash;
	еще более эксклюзивны. Отличные… порой нам кажется, что проще высыпать солью пентаграмму на полу в офисе
	и вызывать дьявола. Возможно, он смог бы предложить способ поиска и привлечения грамотных айтишников.
	Но не факт.
</p>
<p>
	Приходится постоянно подключать креативность, ведь программисты, как все гении, ценят именно нестандартные
	подходы, особенно когда некие гадкие девчонки пытаются выцепить их с насиженного места и перетащить в другое,
	незнакомое, пугающее и без окон. Поэтому сотрудниц Digital HR порой путают с фотомоделями. Приходится
	постоянно быть на высоте и жить по законам Маргарет Тетчер (умри, но сделай укладку). Приходится всегда
	быть в теме, ночами читать хабру, не путать Дарта Вейдера с Оптимусом Праймом, не забывать пополнять
	в офисе запасы вкусняшек. Программисты ценят наши старания, откликаются, приезжают в гости &mdash; просто
	попить чай и поговорить о высоком… о высоких технологиях и высоких уровнях заработных плат, которые
	мы готовы им предлагать.
</p>
<p>
	Одно из любимых направлений многих разработчиков &mdash; это игры. В эпоху цифровых технологий игры популярны
	как среди потребителей всех возрастов, так и среди их создателей. Поэтому Digital HR объединились с командой
	HeyMoose для организации конкурса Gamak, цель которого – уйти от шаблонов веселых ферм и найти уникальные
	продукты, при помощи которых можно было бы совершить революцию в области гейммира. Мы давно сотрудничаем
	с ребятами из Heymoose, это потрясающие знатоки своего дела, которые готовы, как и мы, работать 48 часов
	в сутки, прежде всего ради удовольствия. 
</p>
<p>
	Если копнуть чуть глубже, то игры &mdash; это не только интересные проекты, неплохая прибыль и удовлетворение
	от своей работы.  Это, прежде всего, отсыл к тем замечательным дням, когда мы месяцами выпрашивали у родителей
	купить нам тетрис или тамагочи. Когда мы со всех ног бежали домой из школы, чтобы хотя бы часок побродить
	в виртуальном мире, щурясь в монстрообразный монитор эпохи нашей юности. Мы все снова хотим почувствовать себя
	детьми, особенно, когда постоянно приходится решать массу проблем в современном неспокойном мире. Тут же
	всплывает некий образ, то ли на уровне остаточных воспоминаний, то ли несбыточных желаний: ни уроков, ни забот,
	теплый летний вечер на бабушкиной даче. Из дома доносятся сногсшибательные  запахи готовящегося ужина и голос
	любимой мамы. А ты спрятался в тени яблонь, в гамаке, растянутом между ними, попутно стырив миску с клубникой
	и чашку парного молока, и режешься в электронику «Ну, погоди». И никуда не надо бежать, и впереди дни
	беззаботного счастья, и жизнь кажется идеальной.
</p>
<p>
	И через годы, где-нибудь на островах Карибского моря (Ты живешь там и работаешь удаленно, Ты можешь себе это
	позволить), спрятавшись от жары в тени пальм в точно таком же гамаке и прихватив с собой Mac последней модели,
	тебя внезапно озарит инсайт дежа вю. Это будет самый прекрасный момент в твоей жизни, несомненно. 
</p>
{% endblock %}
