{% extends "site/gamak-article-layout.html" %}

{% block art_title %}Nevosoft &mdash; о компании{% endblock %}

{% block content %}
<p>
	Nevosoft &mdash; ведущий российский разработчик и издатель игр для массовой
	аудитории. С 2002 года под брендом Nevosoft вышли такие хиты, как LandGrabbers
	(«Эвокрафт»), «Полцарства за принцессу 1 &amp; 2 &amp; 3», «Супер корова», «Академия
	магии 1 &amp; 2» и многие другие (всего более 40). В каталоге компании представлены
	игры для различных платформ, включая iOS, Android, Windows и Mac; многие проекты
	получили международное признание игроков и профессионалов.
</p>
<p>
	Официальный сайт компании, <a href="http://nevosoft.ru">Nevosoft.ru</a>,
	&mdash; один из крупнейших российских порталов
	по распространению казуальных игр, который каждый месяц посещает более 1&nbsp;500&nbsp;000
	уникальных пользователей. Кроме того, это крупнейшая социальная сеть
	казуальных игроков; активных зарегистрированных игроков &mdash; более 700 тысяч.
</p>
<p>
	Социальная игра «Мое Королевство» входит в Топ-15 приложений по DAU на
	Одноклассниках; кроме того, она также представлена в социальных сетях «В
	Контакте» и «Мой мир».
</p>
<p>
	Игры для iOS Nevosoft разрабатывает с 2011 года; за последние полгода в них
	поиграло более 4 млн. человек. В январе 2012 компания выпустила первый проект
	на Android. Обладая быстрорастущей пользовательской базой и успешным опытом в
	запуске и продвижении собственных продуктов, Nevosoft занимается издательством
	мобильных игр в App Store на выгодных условиях.
</p>
<hr />
<p class="comment">
	От Е.П.: Коллектив компании Nevosoft самый скромный на слова. Но именно это качество
	передает вам основную мысль: «Меньше слов, больше дела, и будет вам счастье!» Работайте,
	товарищи, вам есть к чему стремиться! :)
</p>
{% endblock %}
