{% extends "site/gamak-article-layout.html" %}

{% block art_title %}PlayFlock &mdash; о стабильности и надежности{% endblock %}

{% block content %}
<p class="comment">
	От компании на наши вопросы отвечал <b>Сергей Романенко</b>, технический директор PlayFlock.
</p>

<p class="question">
	&mdash; Кратко расскажите о компании &mdash; чем вы занимаетесь? 
</p>
<p>
	&mdash; Наша компания появилась в 2009м году, на еще только зарождающемся рынке социальных игр в России.
	Предпосылкой для этого события стала уверенность в росте и больших перспективах этого направления. 
	Практически сразу мы получили этому подтверждение и с тех пор запустили более 20-и различных проектов,
	которые были портированы на все крупные российские и многие зарубежные соцсети.
</p>

<p class="question">
	&mdash; Какая философия у вашей компании? Миссия?
</p>
<p>
	&mdash; Главным моментом, отраженным в философии нашей компании является понимание потребности наших клиентов
	в программных продуктах самого высокого класса. Кроме того,  так  как мы создаем социальный продукт, наша
	миссия заключается не только в том, чтобы предоставить  пользователю качественный сервис, но и дать как можно
	больше возможностей для внутриигрового общения.
</p>

<p class="question">
	&mdash; Какой ваш проект вы считаете самым успешным?  Почему?  Было ли это ожидаемо? Что вы делали для того,
	чтобы этот проект стал популярным?
</p>
<p>
	&mdash; Думаю, на данный момент таким проектом является «Безумие», это обусловлено и его финансовыми
	показателями и интересом аудитории. Конечно, этого успеха все ждали, прежде всего, сработал накопительный
	эффект &mdash; мы пробовали различные подходы и лучшие из них были реализованы в «Безумии».  Кроме того,
	свою роль сыграл эффект новизны &mdash; это первый социальный хоррор проект.
</p>

<p class="question">
	&mdash; А неудачные проекты были?
</p>
<p>
	&mdash; Пожалуй, «Империя». Аудитория оказалась еще не готова воспринять настолько хардкорное переосмысление
	жанра ферм.
</p>

<p class="question">
	&mdash; Расскажите, пожалуйста, как собирали команду? как мотивируете персонал? как вдохновляете &mdash;
	главное: почему они работают у вас, а не у конкурентов?
</p>
<p>
	&mdash; Наша команда &mdash; это наша гордость, пришлось провести сотни собеседований, чтобы найти нужных
	людей. Помимо денег людей мотивирует та самая особая атмосфера внутри компании, которую они сами и создают.
	Хорошему специалисту всегда хочется работать вместе с другими увлеченными профессионалами. Поэтому важен
	костяк команды, который будет своим примером, своим желанием и своими знаниями давать возможность расти новым
	людям. В нашей компании люди ощущают себя частью дрим тим, у конкурентов они просто хорошие специалисты,
	которым платят деньги. Сейчас в команде порядка 30 человек.
</p>

<p class="question">
	&mdash; Работаете ли Вы с фрилансерами?
</p>
<p>
	&mdash; Нет, фриланс слишком сложно контролировать.
</p>

<p class="question">
	&mdash; Как распределены роли в проекте?
</p>
<p>
	&mdash; К каждому проекту прикреплен геймдизайнер, который ведет проект, кроме того под проект выделяется
	группа разработчиков, состоящая из флешеров и серверных программистов. Арт отдел подготавливает контент
	для игры. Идею для игры может подать любой рядовой сотрудник компании, но в первую очередь это задача
	геймдизайнера, затем идея проходит шлифовку в кругу менеджмента компании, собираются и анализируются
	данные по похожим играм. Затем геймдизайнер наполняет вижн игры конкретикой,  Арт-отдел создает скетчи
	и интерфейс и игра передается программистам. Выход игры на рынок  это задача отдела маркетинга и аналитики,
	который создает план продвижения продукта.
</p>

<p class="question">
	&mdash; Какую роль в компании играет арт-директор: какие перед ним стоят задачи?
</p>
<p>
	&mdash; Арт-директор заведует всем что связано с графикой, от найма персонала и создания концепт-арта,
	до обеспечением других отделов любым графическим контентом. Также он учувствует в обсуждении любого
	нововведения.
</p>

<p class="question">
	&mdash; Несколько вопросов о создании игры и ее выходе в паблик. Насколько реклама новых игр важна для
	их продвижения?  Велики ли затраты на рекламу, или вы считаете их незначительными расходами?
</p>
<p>
	&mdash; В нашей ситуации важнее наш собственный трафик и управление им, позволить себе это мы можем
	благодаря запущенным ранее продуктам.
</p>

<p class="question">
	&mdash; Какие технологии используете для разработки игр?
</p>
<p>
	&mdash; PHP + Flash. Просто и надежно.
</p>

<p class="question">
	&mdash; Насколько сложно войти на рынок социальных приложений в России, на Западе?
</p>
<p>
	&mdash; Думаю, инди разработчикам и разработчикам, не имеющим собственного трафика, сейчас будет тяжело как
	на российском рынке, так и на зарубежном. В остальном я бы скорее выделил высоконкурентные соцсети, например,
	фейсбук, где высокий порог входа и низкоконкурентные, где начинающим разработчикам будет легче пробиться.
</p>

<p class="question">
	&mdash; Есть ли секрет создания прибыльной игры?
</p>
<p>
	&mdash; Серебряной пули не существует, есть только набор испытанных временем приемов, которые позволяют
	из неудачной игры сделать неплохую, а из удачной &mdash; отличную.
</p>

<p class="question">
	&mdash; Какие типы игр популярны в каждой из соцсетей? В чем сходства и отличия?
</p>
<p>
	&mdash; Формализованного списка не существует, специфика каждой соцсети уникальна. 
</p>

<p class="question">
	&mdash; А как молодой команде выпустить игру в западных сетях?
</p>
<p>
	&mdash; Выбрать низкоконкурентную соцсеть. Также можно обзавестись издателем или инвестором, который
	обеспечит серьезный маркетинговый буст.
</p>

<p class="question">
	&mdash; Насколько сложно выпустить игру в такой закрытой сети, как Одноклассники?
</p>
<p>
	&mdash; У Одноклассников есть одно ощутимое отличие &mdash; это достаточно жесткий фильтр приложений,
	которые содержат даже легкие намеки на секс и насилие, а также любое упоминание алкоголя и табакокурения.
	В остальном есть даже определенные преимущества. В первую очередь, это тот факт, что попадание в список
	новых приложений дает ощутимый прирост аудитории.
</p>

<p class="question">
	&mdash; Какие тенденции в создании игровых приложений вы считаете самыми значимыми? Какие угасают?
</p>
<p>
	&mdash; Угасает некогда популярный жанр ферм, сомнительным сейчас также представляются попытки клонирования
	успешных западных тайлов. Среди тенденций хочется отметить возросшую потребность потребителя в качественном
	продукте и большем погружении в мир игры, атмосфера игры, ее сюжетная составляющая будет играть все большую
	роль.
</p>

<p class="question">
	&mdash; Чего на ваш взгляд не хватает в области развития игровых приложений?
</p>
<p>
	&mdash; Всего хватает. Рынок дает то, что хочет пользователь.
</p>

<p class="question">
	&mdash; Как относитесь к мобильному рынку игр? Как монетизировать игры на мобильных устройствах?
</p>
<p>
	&mdash; Рынок динамичный, интересный и быстроразвивающийся. Пока мы только открываем это направление, здесь
	много нового для нас. В данный момент по монетизации наиболее выигрышной моделью представляется F2P.
</p>

<p class="question">
	&mdash; За какой мобильной платформой будущее на ваш взгляд?
</p>
<p>
	&mdash; Думаю, правильнее будет говорить о некотором разделении аудитории. Аудитория Android-приложений
	будет более многочисленной, среди пользователей айфонов будет больше процент платящих.
</p>

<p class="question">
	&mdash; Какой вид рекламы в приложениях на ваш взгляд самый действенный? (интеграция, офферы, баннеры, другие?)
	Почему?
</p>
<p>
	&mdash; Зависит от ситуации. В большинстве случаев более действенной будет интеграция, но тут важны
	количественные показатели и ценник конкретного вида рекламы. Реклама может быть любой, но она должна давать
	пользователю получать то, зачем он пришел – играть в любимую игрушку. Т.е. реклама должна быть очень
	аккуратно встроена в игру, так чтобы пользователь воспринимал ее без раздражения, как часть игры.
</p>

<p class="question">
	&mdash; Как дальше видите развитие компании? Собираетесь ли попробовать себя еще в чем-то?
</p>
<p>
	&mdash; Будем двигаться в знакомом нам направлении &mdash; разработке игр, это то, что мы умеем делать
	лучше всего. Но если увидим открывающиеся возможности &mdash; конечно, попробуем себя на новой стезе,
	никаких принципиальных ограничений нет.
</p>

<hr />
<h4>Пожелания конкурсантам от PlayFlock</h4>
<p>
	&mdash; Бороться и искать, найти и не сдаваться! :)
</p>
{% endblock %}
