{% extends "site/gamak-article-layout.html" %}

{% block art_title %}Playrix &mdash; секреты директоров{% endblock %}

{% block content %}

<p class="comment">
	<b>Владимир Минин</b>, исполнительный директор Playrix ответил нам на основные вопросы.
</p>

<p class="question">
	&mdash; Кратко расскажите о компании &mdash; чем вы занимаетесь?
</p>
<p>
	&mdash; История компании Playrix началась в 2002 году, когда двое студентов университета за последний
	месяц летних каникул разработали свою первую мини-игру. В 2004-ом, опираясь на успех первых проектов,
	они решили основать собственную компанию.
</p>
<p>
	Сейчас Playrix &mdash; один из ведущих мировых разработчиков и издателей казуальных игр с развитой
	сетью каналов дистрибуции и опытом издательской деятельности для ряда внешних студий.
</p>
<p>
	С момента создания компании нам удалось добиться следующих результатов: наши игры выпущены на дисках
	более чем в 50 странах, на более чем 10 языках;  игры Playrix доступны на различных платформах, включая РС,
	Mac, Nintendo DS/Wii, Sony Playstation, iPhone/iPad, мобильные телефоны, социальные сети и пр.
</p>

<p class="question">
	&mdash; У компании с такой историей наверняка существует своя особая философия?
</p>
<p>
	&mdash; Миссия нашей компании &mdash; приносить положительные эмоции миллионам людей, создавая уникальные
	и качественные видеоигры. Внутри компании мы ориентируемся на наши ценности, одной из которых является
	стремление к максимальному качеству во всем. Мы не выпускаем игру, пока не убедимся, что сделали ее
	настолько качественно, насколько возможно.
</p>

<p class="question">
	&mdash; Какой ваш проект вы считаете самым успешным? Почему? Было ли это ожидаемо? Что вы делали для того,
	чтобы этот проект стал популярным?
</p>
<p>
	&mdash; Все наши игры занимают топовые места на порталах, имеют длинные хвосты продаж, многие &mdash; неоднократно
	становились номинантами и победителями различных премий: как в России, так и за рубежом. Например, игра
	&laquo;4&nbsp;Элемента&raquo;. Игра до сих пор популярна, за время своего существования стала: финалистом
	3-ей Премии ELAN в номинации «Лучшая казуальная игра 2008 года»; номинантом КРИ Awards «Лучшая casual-игра
	2008 года»; номинантом «Лучшей игры для PS Move» по версии PlayStation Network Gamers' Choice Awards 2012.
	Кроме этого, &laquo;4&nbsp;Элемента&raquo; были доступны в качестве предустановленный программы на демонстрационных
	iPad во всех официальных магазинах Apple Store по всему миру.
</p>
<p>
	Все это стало возможно благодаря слаженной работе разработчиков и отдела развития бизнеса Playrix. Наша компания
	придерживается принципа: «Долгосрочный успех компании приносит не единожды созданный успешный продукт, а люди,
	который этот продукт создают». В нашей компании работают талантливые люди, которые создают продукты мирового
	уровня. В наши игры играют миллионы людей, которые получают от них удовольствие. Создавая именно такие продукты,
	мы выполняем миссию компании &mdash; приносить положительные эмоции миллионам людей.
</p>

<p class="question">
	&mdash; У каждой компании бывает неудачный проект, о котором они стараются не распространяться. Раскройте тайну? :)
</p>
<p>
	&mdash; Возможно, это прозвучит нескромно, но такого проекта нет. Сегодня у нас есть все основания гордиться каждым
	своим продуктом, ведь абсолютно все игры Playrix &mdash; это игры самого высокого качества. За счет этого
	уникального свойства мы обеспечили себе признание и уважение других участников рынка: разработчиков,
	издателей и дистрибьюторов.
</p>

<p class="question">
	&mdash; Корыстный вопрос от компании DigitallHR: как собирали команду? как мотивируете персонал? как вдохновляете,
	а главное &mdash; почему они работают у вас, а не у конкурентов?
</p>
<p>
	&mdash; Мы ищем и приглашаем к себе на работу специалистов по всему пространству бывшего СНГ. Кроме того,
	у нас регулярно проводятся стажировки для программистов и гейм-дизайнеров &mdash; мы предлагаем студентам
	старших курсов попробовать найти себя в игровой индустрии, и при успешном прохождении стажировки &mdash;
	прийти к нам на работу.
</p>
<p>
	Мы нацелены на долгосрочную перспективу сотрудничества и ищем людей, разделяющих наши ценности и миссию.
	Внутри компании существует культура, которая ориентирована на то, чтобы сильным, талантливым людям было
	максимально комфортно и интересно работать и добиваться выдающихся результатов. Мы делимся с командой планами,
	регулярно обсуждаем стратегию компании, предоставляем максимум информации о деятельности Playrix (например,
	у нас есть &laquo;последняя пятница месяца&raquo;, на которой, в неформальной обстановке, можно обсудить новости
	компании и задать любой вопрос, да и просто отдохнуть за пивом и пиццей вместе с коллегами).
</p>
<p>
	Помимо достойного материального вознаграждения, мы предоставляем массу бонусов: обучение, питание в офисе,
	курсы английского, корпоративные, спортивные мероприятия за счет компании. У нас гибкий график, оформление
	по ТК РФ. Есть очень хорошие возможности для самореализации и карьерного роста. И, самое главное &mdash;
	у нас есть интересные задачи! :)
</p>

<p class="question">
	&mdash; Сколько у вас сейчас человек в команде? Работаете ли вы с фрилансерами?
</p>
<p>
	&mdash; Сейчас у нас работает порядка 90 человек в офисе. И еще несколько десятков человек сотрудничают
	с нами на аутсорсе.
</p>

<p class="question">
	&mdash; И каждый человек играет важную роль при разработке проектов? Расскажите, пожалуйста,
	о распределении ролей в команде.
</p>
<p>
	&mdash; Типичная команда проекта включает в себя 2-3 программиста и столько же гейм-дизайнеров. Кроме того,
	по мере необходимости к работе над проектом подключаются художники (количество которых на разных этапах
	проекта может варьироваться весьма сильно). Как правило, в команде есть ведущие специалисты: ведущий
	программист отвечает за общую архитектуру и качество кода, участвует в распределении задач между
	программистами в команде; ведущий гейм-дизайнер (гейм-дизайнер проекта) помимо решения конкретных задач,
	ведет дизайн-документ и отвечает за общее видение игры; ведущий художник определяет общий графический
	стиль и контролирует качество всей графики в проекте. Также есть менеджер проекта, который выполняет роль
	координатора действий команды, занимается планированием работы по проекту и управляет процессом разработки.
</p>

<p class="question">
	&mdash; Как организован процесс создания игры: идея, разработка, выход на рынок?
</p>
<p>
	&mdash; Идея игры часто рождается спонтанно. Когда идея появилась, начинается ее обсуждение, она развивается
	и превращается в концепт, а затем в диз.док.  Собирается команда и начинается процесс разработки. То есть,
	тут все как обычно. Процесс разработки итеративный, происходит недельными итерациями. На каждую неделю
	команда планирует, что должно быть сделано. Раз в неделю команда в полном составе встречается, замеряет
	прогресс, определяет план на следующую неделю. Естественно, между этими встречами также идет взаимодействие
	команды. Кроме того, есть набор инструментов, позволяющих формализовать основные процессы: трекер задач,
	глобальный план по проекту, сайт с документацией по проекту, баг-трекер и т.д.
</p>

<hr />
<p class="comment">
	О развитии мобильного рынка приложений нам поведал <b>Юрий Лабинцев</b>, директор по развитию бизнеса Playrix.
</p>
<p>
	&mdash; Сейчас уже, наверное, ни для кого не секрет, что мобильный рынок растет по всем показателям,
	причем огромными темпами. Многие эксперты даже предвещают неизбежную кончину консолей и ПК как игровых
	платформ. Возможно, такое мнение слишком экстремально, тем не менее, наиболее агрессивный рост
	наблюдается именно на рынке мобильных игр, причем сюда нужно включать и планшетные устройства,
	такие как iPad, и его многочисленные конкуренты на базе Android.
</p>
<p>
	Существует несколько основных моделей монетизации мобильных приложений, включая: 1)&nbsp;бесплатная дистрибуция
	с монетизацией через рекламу (ad-supported); 2)&nbsp;продажа полных версий (premium); 3)&nbsp;бесплатная
	дистрибуция с продажей внутриигровых элементов (микротранзакциями) (freemium), а также различные подписки,
	гибриды вышеупомянутых и т.п. Каждая по-своему интересна и в каждой есть свои истории успеха.
</p>
<p>
	В настоящий момент у нас есть большой и успешный опыт монетизаций мобильных игр по модели продажи полных версий.
	Целый ряд наших игр занимает видные позиции в топах AppStore, а в ближайшее время мы планируем выход по такой
	модели на Android, где дистрибуция более фрагментирована. Тем не менее, мы видим будущее и наибольший потенциал
	за моделью freemium, когда игра предлагается бесплатно, но в ней можно приобретать отдельные элементы за
	сравнительно небольшие реальные деньги. Эта модель уже доказала свою жизнеспособность и мощный монетизационный
	потенциал на рынке. Ориентируясь именно на эту модель мы планируем создавать свои новые IP.
</p>
<p>
	Важно также отметить, что несмотря на очевидное лидерство Apple на текущем рынке мобильных игр, Android быстрыми
	темпами сокращает отставание и уже, на наш взгляд, представляет большой интерес. Не исключено и даже вполне
	вероятно восстановление позиций Microsoft на этом рынке, как минимум, как одного из тройки лидеров. Наше видение
	заключается в том, чтобы делать наши игры доступными на всех платформах, где наши игроки смогут в них играть.
</p>

<hr />
<h4>Пожелания конкурсантам от Playrix</h4>
<p>
	&mdash; Любите свою профессию, получайте удовольствие от каждого рабочего дня, удивляйте всех вокруг,
	придумывайте что-то новое и переживайте за общий результат.
</p>

<hr />
<p class="comment">
	От Е.П.: Одно из приложений Playrix стоит у меня на планшете, и иногда я ненавижу эту компанию за то, что они
	создали игрушку, которая так и манит меня… Особенно ночью. Или в разгар рабочего дня…
</p>

{% endblock %}
