{% extends "site/gamak-article-layout.html" %}

{% block art_title %}Progrestar &mdash; о будущем, конкуренции и коммерческой тайне{% endblock %}

{% block content %}
<p class="comment">
	Под словесными пытками находился <b>Андрей Фадеев</b>, СЕО компании.
</p>

<p class="question">
	&mdash; Андрей, кратко расскажите о компании &mdash; чем вы занимаетесь? 
</p>
<p>
	&mdash; Компания Progrestar &mdash; это ведущий российский разработчик приложений для социальных сетей
	полного цикла. Компания Progrestar была основана в 2008 году, с момента зарождения рынка социальных
	приложений. На счету компании более 15 успешно реализованных проектов, востребованных пользователями
	самых популярных социальных сетей (vkonakte.ru, mymail.ru, odnoklassniki.ru, facebook.com). Сейчас штат
	компании насчитывает 25 чел. Уже более 20&nbsp;000&nbsp;000 пользователей зарегистрировано в наших проектах
	из более чем ста стран мира. Наши проекты собирают около 2 000 000 новых регистраций в месяц.
</p>

<p class="question">
	&mdash; Какой ваш проект вы считаете самым успешным? Что вы делали для того чтобы этот проект стал популярным?
</p>
<p>
	&mdash; Самым успешным нашим проектом является приложение &laquo;Войнушка&raquo;. Оно приносит максимальный
	доход и вот уже почти год держит аудиторию на одном и том же уровень. Мы три года шли к этой цели, опытным
	путем проверяя механики и функции. Однако впереди нас ждут только еще более успешные и прибыльные проекты.
	Если стремиться к четко поставленной цели, то обязательно достигнешь желаемого.
</p>

<p class="question">
	&mdash; И, чтобы дать повод для обсуждений, расскажите о неудачном проекте. Пожааалуйста!
</p>
<p>
	&mdash; Неудачных проектов нет, есть те, которые принесли меньший доход, нежели другие, но при этом они
	дали нам неоценимый опыт, чтобы более прибыльные проекты стали таковыми. 
</p>

<p class="question">
	&mdash; Какие тенденции в создании игровых приложений вы считаете самыми значимыми? Какие угасают?
</p>
<p>
	&mdash; Социальность, виральность, друзья &mdash; все это угасает. Самая последняя тенденция &mdash; это
	хардкорные, приложения с длиной игровой сессией. В игровых приложениях сейчас все хорошо, всего хватает.
	Социальные разработчики достаточно динамичны для того, чтобы за ними никто не мог угнаться. Мы сами
	все придумаем. 
</p>

<p class="question">
	&mdash; Поскольку мы занимаемся рекламой в сети, то следующий вопрос звучит так: какой вид рекламы
	в приложениях на ваш взгляд самый действенный? (интеграция, офферы, баннеры, другие?) Почему?
</p>
<p>
	&mdash; На мой взгляд, самым действенным видом рекламы являются качественные глубокие и &laquo;умные&raquo;
	интеграции,	когда бренд гармонично встроен в игровой процесс, а его характеристики и функции составляют единое
	целое с игровой механикой. В этом случае у пользователя не возникает ощущение навязывания, он получает новое
	обновление в игре, интерес, бонусы. В отношении же рекламодателей, которые выбирают эту площадку для
	продвижения, лучше выбрать комплекс инструментов: интеграцию (для повышения интереса пользователей к бренду)
	и офферы (для получения гарантированного KPI).
</p>
<p>
	Баннеры же, наоборот, являются самыми назойливым видом рекламы для пользователей, они больше всего раздражают
	пользователей и часто просто тут же закрываются, не будучи досмотренными до конца. Но в дальнейшем, я надеюсь,
	рекламодатели будут предлагать более креативные и цепляющие внимание пользователя за короткое время.
</p>

<hr />
<h4>Пожелания конкурсантам от Progrestar</h4>
<p>
	&mdash; Никогда ничего не бояться и упорно трудиться до непосредственной победы, даже если она придет лишь
	на 10-й раз после 9-ти неудач.
</p>
{% endblock %}
