{% import 'common/macros/lists.html' as lists with context %}

{% macro table(actions, admin=false, empty='По офферу не было совершено ни одного действия') %}
{% if actions %}
<table class="bordered-table zebra-striped">
	<thead>
		<tr>
			<th {{ lists.sort_header('transaction_id', **kwargs) }}>Транзакция</th>
			<th {{ lists.sort_header('offer_code', **kwargs) }}>Код</th>
			<th {{ lists.sort_header('affiliate_email' if admin else 'affiliate_id', **kwargs) }}>Партнёр</th>
			<th {{ lists.sort_header('amount', **kwargs) }}>Сумма, {{ currency_sign }}</th>
			<th {{ lists.sort_header('creation_time', **kwargs) }}>Время</th>
			<th {{ lists.sort_header('state', **kwargs) }}>Состояние</th>
			<th class="header"></th>
		</tr>
	</thead>
	<tbody>
		{% for action in actions %}
		<tr>
			<td class="center">{{ action.transaction_id }}</td>
			<td class="center">{{ action.offer.code }}</td>
			<td>
				{% if admin %}
				<a href="{{ url_for('.users_info', id=action.affiliate.id) }}">{{ action.affiliate.email }}</a>
				{% else %}
				{{ action.affiliate.id }}
				{% endif %}
			</td>
			<td class="right">{{ action.amount|currency(false) }}</td>
			<td class="center">{{ action.creation_time|datetimeformat }}</td>
			<td class="center">{{ action.state }}</td>
			<td class="center">&mdash;</td>
		</tr>
		{% endfor %}
	</tbody>
</table>
{{ lists.paginate(pages, **kwargs) }}
{% else %}
	<div class="clearfix alert-message block-message info">
		<p>{{ empty }}</p>
	</div>
{% endif %}
{% endmacro %}
