{% macro javascript() %}
	<script type="text/javascript" src="https://www.google.com/jsapi"></script>
	<script type="text/javascript" src="{{ url_for('static', filename='./js/chart.ctr.js') }}"></script>
	<script type="text/javascript">
		google.load("visualization", "1", {packages:["corechart"]});
	
		function updateCharts() {
			$('#form-ctr').ajaxSubmit({
				dataType: 'json',
				success: function(data, textStatus) {
					drawCtrCharts(data.values,
						document.getElementById('chart-clicks'),
						document.getElementById('chart-ctr'));
				},
				error: function(xhr, textStatus) {
					if (xhr.status == 500)
						alert('Не удалось загрузить статистику. Ошибка ' + xhr.status);
					else
						alert('Ошибка ' + xhr.status + ': ' + xhr.responseText);
				}
			});
		}
		
		$(function() {
			$('#form-ctr').ajaxForm();
			$('.datetimepicker').datetimepicker({showButtonPanel: false});
			
			updateCharts();
			
			$('#btn-show').click(function() {
				updateCharts();				
				return false;
			});
		});
	</script>
{% endmacro %}

{% macro html(url) %}
	<h2>Отношение кликов к показам</h2>
	<div class="well">
		<form id="form-ctr" method="get" action="{{ url }}">
			Дата и время
			с <input class="span3 datetimepicker" type="text" name="from" value="{{ now()|delta(days=-3)|datetime_nosec }}" />
			по <input class="span3 datetimepicker" type="text" name="to" value="{{ now()|datetime_nosec }}" />
			группировать по
			<select class="span3" name="group">
				<option value="hour" selected="selected">часам</option>
				<option value="day">дням</option>
				<option value="month">месяцам</option>
				<option value="year">годам</option>
			</select>
			<button id="btn-show" class="btn primary float-right">Показать</button>
		</form>
	</div>
	
	<div class="scroll-area-x">
		<div id="chart-clicks"></div>
		<div id="chart-ctr"></div>
	</div>
{% endmacro %}
