{% macro to_icon(value) -%}
	{% if not value %}
		<img src="{{ url_for('static', filename='./img/icon-no.gif') }}" alt="нет" />
	{% else %}
		<img src="{{ url_for('static', filename='./img/icon-yes.gif') }}" alt="да" />
	{% endif %}
{% endmacro -%}

{% macro deleted(value) -%}
	{% if value %}
		<img src="{{ url_for('static', filename='./img/icon_deletelink.gif') }}" alt="удалено" />
	{% endif %}
{% endmacro -%}

{% macro added(value) -%}
	{% if value %}
		<img src="{{ url_for('static', filename='./img/icon_addlink.gif') }}" alt="добавлено" />
	{% endif %}
{% endmacro -%}

{% macro breadcrumb(title, href) %}
	<li><a href="{{ href }}">{{ title }}</a> <span class="divider">/</span></li>
{% endmacro %}

{% macro paginate(pages, rule) %}
{% if pages.count > 1 %}
<div class="pagination center">
	<ul>
		{% if pages.current != 1 %}
		<li class="prev"><a href="{{ url_for(rule, page=1, **kwargs) }}">&#8606;</a></li>
		<li><a href="{{ url_for(rule, page=pages.current-1, **kwargs) }}">&larr;</a></li>
		{% else %}
		<li class="prev disabled"><a>&#8606;</a></li>
		<li class="disabled"><a>&larr;</a></li>
		{% endif %}
		
		{% for page in pages.range %}
		<li {% if page == pages.current %}class="active"{% endif %}>
			<a href="{{ url_for(rule, page=page, **kwargs) }}">{{ page }}</a>
		</li>
		{% endfor %}
		
		{% if pages.current != pages.count %}
		<li><a href="{{ url_for(rule, page=pages.current+1, **kwargs) }}">&rarr;</a></li>
		<li class="next"><a href="{{ url_for(rule, page=pages.count, **kwargs) }}">&#8608;</a></li>
		{% else %}
		<li class="disabled"><a>&rarr;</a></li>
		<li class="next disabled"><a>&#8608;</a></li>
		{% endif %}
	</ul>
</div>
{% endif %}
{% endmacro %}

{% macro user_href(user, bp='') %}
	<a href="{{ url_for(bp + '.users_info', id=user.id) }}">{{ user.nickname }} ({{ user.email }})</a>
{% endmacro %}

{% macro performer_href(performer, show_platform=True) %}
	<a href="{{ url_for('.performers_info', id=performer.id) }}">{{ performer.ext_id }}
		{% if show_platform -%}({{ performer.platform }}){% endif -%}</a>
{% endmacro %}

{% macro order_href(order, bp='') %}
	<a href="{{ url_for(bp + '.orders_info', id=order.id) }}">{{ order.title }}</a>
{% endmacro %}

{% macro app_href(app) %}
	<a href="{{ url_for('.apps_info', id=app.id) }}">{{ app.title }}</a>
{% endmacro %}

{% macro order_gender(gender) %}
{% if gender == True %}муж{% elif gender == False %}жен{% else %}любой{% endif %}
{% endmacro %}

{% macro order_age(min, max) %}
{% if min == None and max == None %}
	любой
{% else %}
	{% if min == max %}
		{{ min }}
	{% else %}
		{% if min != None %}от {{ min }}{% endif %}
		{% if max != None %}до {{ max }}{% endif %}
	{% endif %}
{% endif %}
{% endmacro %}

{% macro order_hour(min, max) %}
{% if min == None and max == None %}
	любое
{% else %}
	{% if min == max %}
		в {{ min }} часов
	{% else %}
		{% if min != None %}с {{ min }} часов{% endif %}
		{% if max != None %}до {{ max }} часов{% endif %}
	{% endif %}
{% endif %}
{% endmacro %}

{% macro order_type(type) %}
	{% if type == 'REGULAR' %}Обычный{% elif type == 'BANNER' %}Баннер
	{% elif type == 'VIDEO' %}Видео{% else %}Неизвестно{% endif %}
{% endmacro %}

{% macro order_city_filter_type(type) %}
	{% if type == 'INCLUSIVE' %}только указанные
	{% elif type == 'EXCLUSIVE' %}все, кроме указанных
	{% else %}не учитывать{% endif %}
{% endmacro %}

{% macro order_app_filter_type(type) %}
	{% if type == 'INCLUSIVE' %}только указанные
	{% elif type == 'EXCLUSIVE' %}все, кроме указанных
	{% else %}любые{% endif %}
{% endmacro %}

{% macro performer_gender(gender, unknown='неизв.') %}
{% if gender == True %}муж{% elif gender == False %}жен{% else %}{{ unknown|safe }}{% endif %}
{% endmacro %}

{% macro formfield(field, description='', pad_description=False) %}
	<div class="{{ field.id }}-field formfield clearfix {% if field.errors %}error{% endif %}">
		{% for validator in field.validators %}
			{% if validator|classname in ('Required', 'FileRequired') %}
				{{ kwargs|addclass('validate-required') }}
				<span style="display: none;" id="{{ field.id }}-msg-required">{{ kwargs.pop('msg_required', '') or validator.message }}</span>
			{% elif validator|classname == 'Length' %}
				{{ kwargs|addclass('validate-length') }}
				<span style="display: none;" id="{{ field.id }}-min">{{ kwargs.pop('min_length', '') or validator.min }}</span>
				<span style="display: none;" id="{{ field.id }}-max">{{ kwargs.pop('max_length', '') or validator.max }}</span>
				<span style="display: none;" id="{{ field.id }}-msg-length">{{ kwargs.pop('msg_length', '') or validator.message }}</span>
			{% elif validator|classname in ('NumberRange', 'NumberRangeEx') %}
				{{ kwargs|addclass('validate-range') }}
				<span style="display: none;" id="{{ field.id }}-min">{{ kwargs.pop('min_range', '') or validator.min }}</span>
				<span style="display: none;" id="{{ field.id }}-max">{{ kwargs.pop('max_range', '') or validator.max }}</span>
				<span style="display: none;" id="{{ field.id }}-msg-range">{{ kwargs.pop('msg_range', '') or validator.message }}</span>
			{% elif validator|classname in ('URL', 'URLWithParams') %}
				{{ kwargs|addclass('validate-url') }}
				<span style="display: none;" id="{{ field.id }}-msg-url">{{ kwargs.pop('msg_url', '') or validator.message }}</span>
			{% elif validator|classname == 'EqualTo' %}
				{{ kwargs|addclass('validate-equal') }}
				<span style="display: none;" id="{{ field.id }}-other">{{ kwargs.pop('other', '') or validator.fieldname }}</span>
				<span style="display: none;" id="{{ field.id }}-msg-equal">{{ kwargs.pop('msg_equal', '') or validator.message }}</span>
			{% endif %}
		{% endfor %}
		
		{% if field.flags.required %}
			{{ field.label(class='required') }}
		{% else %}
			{{ field.label }}
		{% endif %}
		<div class="input">
			{{ field(**kwargs) }}
			{% if description or field.description %}
			<span class="help-inline" {% if pad_description %}style="padding-left: 50px;"{% endif %}>
				{{ description or field.description }}
			</span>
			{% endif %}
						
			{% if field.errors %}
			{% for error in field.errors %}
			<span class="help-block">{{ error }}</span>
			{% endfor %}
			{% endif %}
		</div>
	</div>
{% endmacro %}
