{% import 'common/macros.html' as macros %}
{% import 'common/forms.html' as forms %}

{% macro table(banners, colspan=4) %}

<table class="bordered-table zebra-striped nosort banners-table">
	<thead>
		<th class="header center">Формат</th>
		<th class="header center">Размер</th>
		<th class="header right">eCPC, руб.</th>
		<th class="header right">eCPM, руб.</th>
		{{ caller(true, none) }}
	</thead>
	<tbody>
		{% for banner in banners %}
		<tr>
			<td class="center"><span style="float: left; font-size: 1.4em;">&darr;</span>{{ banner.format }}</td>
			<td class="center">{{ banner.size }}</td>
			<td class="right">(нет данных)</td>
			<td class="right">(нет данных)</td>
			{{ caller(false, banner) }}
		</tr>
		<tr>
			<td colspan="{{ colspan }}">
				<img src="{{ banner.image_url }}" alt="баннер" style="max-width: 860px;" />
			</td>
		</tr>
		{% endfor %}
	</tbody>
</table>

{% endmacro %}
