{% import 'common/macros.html' as macros %}

{% macro table(offers, affiliate=false) %}
	<table class="bordered-table nosort offers-table">
		<thead>
			<tr>
				<th class="header center" rowspan="2">Оффер</th>
				<th class="header center" colspan="3">Действия</th>
				<th class="header center" colspan="3">Показатели</th>
				<th class="header" rowspan="2">Регионы</th>
				<th class="header" rowspan="2">Категории</th>
			</tr>
			<tr class="subrow">
				<th class="header">Название</th>
				<th class="header right" style="min-width: 70px;">Оплата</th>
				<th class="header center">Мн.</th>
				
				<th class="header right">eCPC,&nbsp;руб.</th>
				<th class="header right">eCPM,&nbsp;руб.</th>
				<th class="header right">CR,&nbsp;%</th>
			</tr>
		</thead>
		<tbody>
			{% for offer in offers %}
			{% set rowspan = 'rowspan="{0}"'.format(offer.suboffers|length + 1)|safe %}
			<tr>
				<td class="center" {{ rowspan }}>
					<a href="{{ url_for('.offers_info', id=offer.id) }}">
						{% if offer.logo_filename %}
						<div>
							<img src="{{ url_for('upload', filename=offer.logo) }}"
							alt="логотип" width="150" />
						</div>
						{% endif %}
						{{ offer.name }}
					</a>
					{% if affiliate %}
					<div>
						<span class="label info">заявка в рассмотрении</span>
					</div>
					{% endif %}
				</td>
				
				<td>{{ offer.title }}</td>
				<td class="right">
					{{ offer.cost|currency if offer.cost }}
					{{ offer.percent|percent if offer.percent }}
				</td>
				<td class="center">{{ macros.to_icon(offer.reentrant) }}</td>
				
				<td class="right" {{ rowspan }}>(нет&nbsp;данных)</td>
				<td class="right" {{ rowspan }}>(нет&nbsp;данных)</td>
				<td class="right" {{ rowspan }}>(нет&nbsp;данных)</td>
				
				<td {{ rowspan }}>{{ offer.regions|attrlist('name')|join(', ') }}</td>
				<td {{ rowspan }}>
					<ul class="toplevel-list toplevel-list--no-bottom-margin">
						<li>
							Страхование и финансы
							<ul class="dashed-list">
								<li>Авто-страхование</li>
								<li>Кредитные карты</li>
							</ul>
						</li>
						<li>
							Компьютеры и электроника
							<ul class="dashed-list">
								<li>Мобильные портативные устройства для станков с ЧПУ</li>
								<li>Фототехника</li>
								<li>Компьютеры и ноутбуки</li>
							</ul>
						</li>
					</ul>
				</td>
			</tr>
			{% for suboffer in offer.suboffers %}
			<tr class="subrow">
				<td>{{ suboffer.title }}</td>
				<td class="right">
					{{ suboffer.cost|currency if suboffer.cost }}
					{{ suboffer.percent|percent if suboffer.percent }}
				</td>
				<td class="center">{{ macros.to_icon(suboffer.reentrant) }}</td>
			</tr>
			{% endfor %}
			{% endfor %}
		</tbody>
	</table>
{% endmacro %}

{% macro requests_table(requests, offer=false) %}
	<table class="bordered-table nosort offer-grants-table">
		<thead>
			<tr>
				{% if offer %}<th class="header center">Оффер</th>{% endif %}
				<th class="header">Заявка</th>
				<th class="header"></th>
			</tr>
		</thead>
		<tbody>
			{% for i in range(5) %}
			<tr>
				{% if offer %}
				<td class="center">
					<a href="{{ url_for('.offers_info', id=1) }}">
						<div>
							<img src="{{ url_for('static', filename='img/partners/hse.gif') }}"
							alt="Крутой оффер" width="150" />
						</div>
						Инкубатор HSE
					</a>
				</td>
				{% endif %}
				
				<td>
					Здравствуйте! Я владелец кучи крутых площадок с миллионным трафиком.
					Прошу разрешить мне откручивать ваш постясающий оффер.
				</td>
				<td>
					<form method="post" action="" class="inline">
						<input type="hidden" name="id" value="{{ i }}" />
						<input type="submit" class="btn success" value="Разрешить" />
					</form>
				</td>
			</tr>
			{% endfor %}
		</tbody>
	</table>
{% endmacro %}
