{% import 'common/macros.html' as macros %}

{% macro table(offers, status=false, grant_status=false) %}
	<table class="bordered-table nosort offers-table">
		<thead>
			<tr>
				<th class="header center" rowspan="2">Оффер</th>
				<th class="header center" colspan="3">Действия</th>
				<th class="header center" colspan="3">Показатели</th>
				<th class="header" rowspan="2">Регионы</th>
				<th class="header" rowspan="2">Категории</th>
			</tr>
			<tr class="subrow">
				<th class="header">Название</th>
				<th class="header right" style="min-width: 70px;">Оплата</th>
				<th class="header center">Мн.</th>
				
				<th class="header right">eCPC,&nbsp;руб.</th>
				<th class="header right">eCPM,&nbsp;руб.</th>
				<th class="header right">CR,&nbsp;%</th>
			</tr>
		</thead>
		<tbody>
			{% for offer in offers %}
			{% set rowspan = 'rowspan="{0}"'.format(offer.suboffers|length + 1)|safe %}
			<tr>
				<td class="center" {{ rowspan }}>
					{% if status %}
					<div class="offer-status" style="padding-bottom: 5px;">
						{% if not offer.approved %}
						<span class="label info">на модерации</span>
						{% elif not offer.active %}
						<span class="label danger">приостановлен</span>
						{% else %}
						<span class="label success">активен</span>
						{% endif %}
					</div>
					{% endif %}
					{% if grant_status and offer.grant %}
					<div class="offer-grant-status" style="padding-bottom: 5px;">
						{% if offer.grant.active %}
						<span class="label success">сотрудничество</span>
						{% else %}
						<span class="label info">заявка в рассмотрении</span>
						{% endif %}
					</div>
					{% endif %}
					<a href="{{ url_for('.offers_info', id=offer.id) }}">
						{% if offer.logo_filename %}
						<div>
							<img src="{{ url_for('upload', filename=offer.logo) }}"
							alt="логотип" width="150" />
						</div>
						{% endif %}
						{{ offer.name }}
					</a>
				</td>
				
				<td>{{ offer.title }}</td>
				<td class="right">
					{{ offer.cost|currency if offer.cost }}
					{{ offer.percent|percent if offer.percent }}
				</td>
				<td class="center">{{ macros.to_icon(offer.reentrant) }}</td>
				
				<td class="right" {{ rowspan }}>(нет&nbsp;данных)</td>
				<td class="right" {{ rowspan }}>(нет&nbsp;данных)</td>
				<td class="right" {{ rowspan }}>(нет&nbsp;данных)</td>
				
				<td {{ rowspan }}>{{ offer.regions|attrlist('name')|join(', ') }}</td>
				<td {{ rowspan }}>
					<ul class="toplevel-list toplevel-list--no-bottom-margin">
						<li>
							Страхование и финансы
							<ul class="dashed-list">
								<li>Авто-страхование</li>
								<li>Кредитные карты</li>
							</ul>
						</li>
						<li>
							Компьютеры и электроника
							<ul class="dashed-list">
								<li>Мобильные портативные устройства для станков с ЧПУ</li>
								<li>Фототехника</li>
								<li>Компьютеры и ноутбуки</li>
							</ul>
						</li>
					</ul>
				</td>
			</tr>
			{% for suboffer in offer.suboffers %}
			<tr class="subrow">
				<td>{{ suboffer.title }}</td>
				<td class="right">
					{{ suboffer.cost|currency if suboffer.cost }}
					{{ suboffer.percent|percent if suboffer.percent }}
				</td>
				<td class="center">{{ macros.to_icon(suboffer.reentrant) }}</td>
			</tr>
			{% endfor %}
			{% endfor %}
		</tbody>
	</table>
{% endmacro %}

{% macro requests_table(requests, offer=false) %}
	<table class="bordered-table nosort offer-grants-table">
		<thead>
			<tr>
				{% if offer %}<th class="header center">Оффер</th>{% endif %}
				<th class="header">Заявка</th>
				<th class="header minimal-width"></th>
			</tr>
		</thead>
		<tbody>
			{% for request in requests %}
			<tr>
				{% if offer %}
				<a href="{{ url_for('.offers_info', id=offer.id) }}">
					{% if request.offer.logo_filename %}
					<div>
						<img src="{{ url_for('upload', filename=request.offer.logo) }}"
						alt="логотип" width="150" />
					</div>
					{% endif %}
					{{ request.offer.name }}
				</a>
				{% endif %}
				
				<td>{{ request.message }}</td>
				<td>
					<form method="post" action="" class="inline">
						<input type="hidden" name="id" value="{{ request.id }}" />
						<input type="submit" class="btn success" value="Разрешить" />
					</form>
				</td>
			</tr>
			{% endfor %}
		</tbody>
	</table>
{% endmacro %}
