{% import 'common/macros.html' as macros %}

{% macro js(orders, config) %}
{% if config.get('stats', false) %}
<script type="text/javascript">
	$(function() {
		var urlCtr = "{{ config.get('stats').get('url')|safe }}";
		
		$('#wait-bar').show();
		$.getJSON(urlCtr)
			.complete(function() { $('#wait-bar').hide(); })
			.success(function(data, textStatus) {
				$('tr.order-row').each(function() {
					var stat = data[$(this).data('id')];
					$(this).find('td.order-shows').text(stat.shows);
					$(this).find('td.order-actions').text(stat.actions);
					$(this).find('td.order-ctr').text(stat.ctr);
				});
			})
			.error(function(xhr, textStatus) {
				if (xhr.status)
					alert('Не удалось загрузить статистику. Ошибка ' + xhr.status);
			});
	})
</script>
{% endif %}
{% endmacro %}

{% macro table(orders, config) %}
{% if config.get('scroll-x', false) %}
<div class="autoscroll-area-x">
{% endif %}
	<table class="bordered-table zebra-striped nosort orders-table">
		<thead>
			<tr>
				<th class="header right" rowspan="2">ИД</th>
				<th class="header" rowspan="2">Название</th>
				{% if config.get('customer', false) %}<th class="header" rowspan="2">Заказчик</th>{% endif %}
				<th class="header right" rowspan="2">Баланс</th>
				<th class="header right" rowspan="2">CPA</th>
				{% if config.get('gender', false) %}<th class="header center" rowspan="2">Пол</th>{% endif %}
				{% if config.get('age', false) %}<th class="header" rowspan="2">Возраст</th>{% endif %}
				<th class="header center" rowspan="2">Создан</th>
				{% if config.get('stats', false) %}
				<th class="center" colspan="3">
					Статистика за две недели
					<img src="{{ url_for('static', filename='img/wait-indicator-24.gif') }}" 
						id="wait-bar" alt="загрузка..." class="float-right" 
						style="position: relative; right: 0; margin: -5px; display: none;"
					/>
				</th>
				{% endif %}
				{% if config.get('active', false) %}<th class="header center" rowspan="2">Активен</th>{% endif %}
				{{ caller(true, none) }}
			</tr>
			{% if config.get('stats', false) %}
			<tr class="subrow">
				<th class="right" style="width: 80px;">Показов</th>
				<th class="right" style="width: 80px;">Кликов</th>
				<th class="right" style="width: 80px;">CTR</th>
			</tr>
			{% endif %}
		</thead>
		<tbody>
			{% for order in orders %}
			<tr class="order-row" data-id="{{ order.id }}" data-title="{{ order.title }}">
				<td class="right">{{ order.id }}</td>
				<td>{{ macros.order_href(order) }} {{ macros.order_type(order.type) -}}</td>
				{% if config.get('customer', false) %}<td>{{ macros.user_href(order.user) }}</td>{% endif %}
				<td class="right">{{ order.balance|currency(False) }}</td>
				<td class="right">{{ order.cpa|currency(False) }}</td>
				{% if config.get('gender', false) %}<td>{{ macros.order_gender(order.male)}}</td>{% endif %}
				{% if config.get('age', false) %}<td>{{ macros.order_age(order.min_age, order.max_age) }}</td>{% endif %}
				<td class="center">{{ order.creation_time|datetimeformat }}</td>
				{% if config.get('stats', false) %}
				<td class="right order-shows">...</td>
				<td class="right order-actions">...</td>
				<td class="right order-ctr">...</td>
				{% endif %}
				{% if config.get('active', false) %}<td class="center">{{ macros.to_icon(not order.disabled) }}</td>{% endif %}
				{{ caller(false, order) }}
			</tr>
			{% endfor %}
		</tbody>
	</table>
{% if config.get('scroll-x', false) %}
</div>
{% endif %}
{% endmacro %}
