{% import 'common/macros.html' as macros %}
{% import 'common/macros/lists.html' as lists with context %}

{% macro table(sites, admin=false) %}
	<table class="bordered-table sites-table">
		<thead>
			<tr>
				<th {{ lists.sort_header('name', **kwargs) }}>Название</th>
				<th {{ lists.sort_header('type', **kwargs) }}>Тип</th>
				{% if admin %}
				<th {{ lists.sort_header('affiliate_name', **kwargs) }}>Партнёр</th>
				{% endif %}
				<th class="center">Адрес</th>
				<th {{ lists.sort_header('creation_time', **kwargs) }}>Добавлена</th>
				<th style="width: 60px;" {{ lists.sort_header('approved', **kwargs) }}>Подтв.</th>
			</tr>
		</thead>
		<tbody>
			{% for site in sites %}
			<tr>
				<td><a href="{{ url_for('.sites_info', id=site.id) }}">{{ site.name }}</a></td>
				<td>{{ site.type.name }}</td>
				{% if admin %}
				<td><a href="{{ url_for('.users_info', id=site.affiliate.id) }}">{{ site.affiliate.name }}</a></td>
				{% endif %}
				<td>{% if site.url %}<a href="{{ site.url -}}" target="_blank">{{ site.url }}</a>{% else %}&mdash;{% endif %}</td>
				<td class="center">{{ site.creation_time|datetimeformat }}</td>
				<td class="center">{{ macros.to_icon(site.admin_state.tristate) }}</td>
			</tr>
			{% endfor %}
		</tbody>
	</table>
	{{ lists.paginate(pages, **kwargs) }}
{% endmacro %}