{% macro sort_header(value, css='') %}
	{% set dir = 'asc' if order != value or direction in (none, 'desc') else 'desc' -%}
	{% set css_dir = '' if order != value else 'headerSortUp' if direction in (none, 'desc') else 'headerSortDown' -%}
	class="header center {{ css }} {{ css_dir }}"
	onclick="document.location = '{{ url_for(request.url_rule.endpoint, ord=value, dir=dir, **kwargs) }}';"
{% endmacro %}

{% macro paginate(pages) %}
{% if pages.count > 1 %}
{% set rule = request.url_rule.endpoint %}
{% set rule_args = request.args|updated(**kwargs) %}
<div class="pagination center">
	<ul>
		{% if pages.current != 1 %}
		<li class="prev"><a href="{{ url_for(rule, **rule_args|updated(page=1)) }}">&#8606;</a></li>
		<li><a href="{{ url_for(rule, **rule_args|updated(page=pages.current-1)) }}">&larr;</a></li>
		{% else %}
		<li class="prev disabled"><a>&#8606;</a></li>
		<li class="disabled"><a>&larr;</a></li>
		{% endif %}
		
		{% for page in pages.range %}
		<li {% if page == pages.current %}class="active"{% endif %}>
			<a href="{{ url_for(rule, **rule_args|updated(page=page)) }}">{{ page }}</a>
		</li>
		{% endfor %}
		
		{% if pages.current != pages.count %}
		<li><a href="{{ url_for(rule, **rule_args|updated(page=pages.current+1)) }}">&rarr;</a></li>
		<li class="next"><a href="{{ url_for(rule, **rule_args|updated(page=pages.count)) }}">&#8608;</a></li>
		{% else %}
		<li class="disabled"><a>&rarr;</a></li>
		<li class="next disabled"><a>&#8608;</a></li>
		{% endif %}
	</ul>
</div>
{% endif %}
{% endmacro %}
