{% import 'common/macros/lists.html' as lists with context %}

{% macro head() %}
	<style type="text/css">
		td.suboffer-stats {
			cursor: pointer;
			color: #0069D6;
			font-weight: bold;
			text-decoration: underline;
		}
		
		td.suboffer-stats div.relative-container {
			position: relative;
		}
		
		td.suboffer-stats img.icon-zoom {
			opacity: 0.3;
			position: absolute;
			left: 0;
		}
		
		td.suboffer-stats:hover img.icon-zoom {
			opacity: 1;
		}
	</style>
	<script type="text/javascript">
		$(function() {
			$('td.suboffer-stats').click(function() {
				document.location = $.trim($(this).find('.suboffer-stats-link').attr('href'));
			});
		})
	</script>
{% endmacro %}

{% macro table_base(stats, suboffer_stats=false, empty='Нет данных для получения статистики.') %}
{% if stats %}
	<table class="bordered-table zebra-striped stats-table">
		<thead>
			<tr>
				{{ caller('first-header', none, **kwargs) }}
				<th rowspan="2" style="min-width: 70px;" {{ lists.sort_header('shows_count', **kwargs) }}>Показы</th>
				<th rowspan="2" style="min-width: 70px;" {{ lists.sort_header('clicks_count', **kwargs) }}>Клики</th>
				<th class="header center nosort" colspan="2">Выполненные действия</th>
				<th rowspan="2" style="min-width: 70px;" {{ lists.sort_header('ctr', **kwargs) }}>CTR</th>
				<th rowspan="2" style="min-width: 70px;" {{ lists.sort_header('cr', **kwargs) }}>CR</th>
				<th rowspan="2" style="min-width: 80px;" {{ lists.sort_header('ecpc', **kwargs) }}>eCPC,&nbsp;{{ currency_sign -}}</th>
				<th rowspan="2" style="min-width: 80px;" {{ lists.sort_header('ecpm', **kwargs) }}>eCPM,&nbsp;{{ currency_sign -}}</th>
				<th class="header center nosort" colspan="3">Финансы,&nbsp;{{ currency_sign -}}</th>
			</tr>
			<tr class="subrow">
				<th style="min-width: 70px;" {{ lists.sort_header('leads_count', **kwargs) }}>Лиды</th>
				<th style="min-width: 70px;" {{ lists.sort_header('sales_count', **kwargs) }}>Продажи</th>
				
				<th style="min-width: 70px;" {{ lists.sort_header('canceled_revenue', 'red', **kwargs) }}>Откл.</th>
				<th style="min-width: 70px;" {{ lists.sort_header('not_confirmed_revenue', **kwargs) }}>Неподтв.</th>
				<th style="min-width: 70px;" {{ lists.sort_header('confirmed_revenue', 'green', **kwargs) }}>Подтв.</th>
			</tr>
		</thead>
		<tbody>
			{% for stat in stats %}
			<tr>
				{{ caller('first', stat, **kwargs) }}
				
				<td class="right">{{ stat.shows }}</td>
				<td class="right">{{ stat.clicks }}</td>
				
				{% if suboffer_stats and stat.leads %}
				<td class="right suboffer-stats">
					<div class="relative-container">
						<img src="{{ url_for('static', filename='img/selector-search.gif') }}" alt="" class="icon-zoom" />
						<a href="{{ caller('suboffer-stats-url', stat, **kwargs) -}}"
						 class="suboffer-stats-link">{{ stat.leads }}</a>
					</div>
				</td>
				{% else %}
				<td class="right">{{ stat.leads }}</td>
				{% endif %}
				
				{% if suboffer_stats and stat.sales %}
				<td class="right suboffer-stats">
					<div class="relative-container">
						<img src="{{ url_for('static', filename='img/selector-search.gif') }}" alt="" class="icon-zoom" />
						<a href="{{ caller('suboffer-stats-url', stat, **kwargs) -}}"
						 class="suboffer-stats-link">{{ stat.sales }}</a>
					</div>
				</td>
				{% else %}
				<td class="right">{{ stat.sales }}</td>
				{% endif %}
				
				<td class="right">{% if stat.ctr %}{{ stat.ctr if stat.ctr <= 100 else 'более&nbsp;100'|safe -}}&nbsp;%{% else %}&mdash;{% endif %}</td>
				<td class="right">{% if stat.cr %}{{ stat.cr if stat.cr <= 100 else 'более&nbsp;100'|safe -}}&nbsp;%{% else %}&mdash;{% endif %}</td>
				<td class="right">{{ stat.ecpc|default('&mdash;', true)|safe }}</td>
				<td class="right">{{ stat.ecpm|default('&mdash;', true)|safe }}</td>
				
				<td class="right red">{{ stat.cancelled_revenue }}</td>
				<td class="right">{{ stat.not_confirmed_revenue }}</td>
				<td class="right green">{{ stat.confirmed_revenue }}</td>
			</tr>
			{% endfor %}
		</tbody>
	</table>
	{{ lists.paginate(pages, **kwargs) }}
{% else %}
	<div class="clearfix alert-message block-message info">
		<p>{{ empty }}</p>
	</div>
{% endif %}
{% endmacro %}

{% macro table_by_offer(stats) %}
	{% call(place, stat) table_base(stats, **kwargs) %}
		{% if place == 'first-header' %}
			<th rowspan="2" {{ lists.sort_header('descr', **kwargs) }}>Оффер</th>
		{% elif place == 'first' %}
			<td><a href="{{ url_for('.offers_info', id=stat.id) }}">{{ stat.name }}</a></td>
		{% elif place == 'suboffer-stats-url' %}
			{{ url_for('.stats_suboffer', offer=stat.id, **kwargs) -}}
		{% endif %}
	{% endcall %}
{% endmacro %}

{% macro table_by_affiliate(stats) %}
	{% call(place, stat) table_base(stats, **kwargs) %}
		{% if place == 'first-header' %}
			<th rowspan="2" {{ lists.sort_header('descr', **kwargs) }}>Партнёр</th>
		{% elif place == 'first' %}
			<td><a href="{{ url_for('.users_info', id=stat.id) }}">{{ stat.name }}</a></td>
		{% elif place == 'suboffer-stats-url' %}
			#
		{% endif %}
	{% endcall %}
{% endmacro %}

{% macro table_by_advertiser(stats) %}
	{% call(place, stat) table_base(stats, **kwargs) %}
		{% if place == 'first-header' %}
			<th rowspan="2" {{ lists.sort_header('descr', **kwargs) }}>Рекламодатель</th>
		{% elif place == 'first' %}
			<td><a href="{{ url_for('.users_info', id=stat.id) }}">{{ stat.name }}</a></td>
		{% elif place == 'suboffer-stats-url' %}
			#
		{% endif %}
	{% endcall %}
{% endmacro %}

{% macro table_by_sub_id(stats) %}
	{% call(place, stat) table_base(stats, **kwargs) %}
		{% if place == 'first-header' %}
			<th rowspan="2" {{ lists.sort_header('descr', **kwargs) }}>SubID</th>
		{% elif place == 'first' %}
			<td>{{ stat.name|default('&mdash;', true)|safe }}</td>
		{% elif place == 'suboffer-stats-url' %}
			{{ url_for('.stats_suboffer_sub_id', sub_ids=stat.name, **kwargs) }}
		{% endif %}
	{% endcall %}
{% endmacro %}

{% macro table_by_source_id(stats) %}
	{% call(place, stat) table_base(stats, **kwargs) %}
		{% if place == 'first-header' %}
			<th rowspan="2" {{ lists.sort_header('descr', **kwargs) }}>SourceID</th>
		{% elif place == 'first' %}
			<td>{{ stat.name|default('&mdash;', true)|safe }}</td>
		{% elif place == 'suboffer-stats-url' %}
			{{ url_for('.stats_suboffer_source_id', source_id=stat.name, **kwargs) }}
		{% endif %}
	{% endcall %}
{% endmacro %}

{% macro table_by_referer(stats) %}
	{% call(place, stat) table_base(stats, **kwargs) %}
		{% if place == 'first-header' %}
			<th rowspan="2" {{ lists.sort_header('descr', **kwargs) }}>Реферер</th>
		{% elif place == 'first' %}
			<td>{{ stat.name|default('&mdash;', true)|safe }}</td>
		{% elif place == 'suboffer-stats-url' %}
			{{ url_for('.stats_suboffer_referer', referer=stat.name, **kwargs) }}
		{% endif %}
	{% endcall %}
{% endmacro %}

{% macro table_by_keywords(stats) %}
	{% call(place, stat) table_base(stats, **kwargs) %}
		{% if place == 'first-header' %}
			<th rowspan="2" {{ lists.sort_header('descr', **kwargs) }}>Поисковый запрос</th>
		{% elif place == 'first' %}
			<td>{{ stat.name|default('&mdash;', true)|safe }}</td>
		{% elif place == 'suboffer-stats-url' %}
			{{ url_for('.stats_suboffer_keywords', keywords=stat.name, **kwargs) }}
		{% endif %}
	{% endcall %}
{% endmacro %}