{% import 'common/macros.html' as macros %}

{% macro table(users) %}
{% if users %}
	<table class="bordered-table zebra-striped nosort">
		<thead>
			<tr>
				<th class="header right">ИД</th>
				<th class="header">E-mail</th>
				<th class="header">Организация</th>
				<th class="header">Имя</th>
				<th class="header center">Роль</th>
				<th class="header center">Зарегистрирован</th>
				<th class="header center">Подтв.</th>
				{{ caller(true, none) }}
			</tr>
		</thead>
		<tbody>
			{% for user in users %}
			<tr>
				<td class="right">{{ user.id }}</td>
				<td>
					<a href="{{ url_for('.users_info', id=user.id) }}"
					 {% if user.blocked %}class="danger"{% endif %}>{{ user.email }}</a></td>
				<td>{{ user.organization|default('—', true) }}</td>
				<td>{{ user.full_name|default('—', true) }}</td>
				
				<td class="center">
					{% for role in user.roles %}
					<span class="label {{ role.label_class }}">{{ role.name }}</span>
					{% endfor %}
				</td>
				
				<td class="center">{{ user.register_time|datetimeformat }}</td>
				<td class="center">{{ macros.to_icon(user.confirmed) }}</td>
				{{ caller(false, user) }}
			</tr>
			{% endfor %}
		</tbody>
	</table>
{% endif %}
{% endmacro %}