{% extends "admin/sites/layout.html" %}
{% import 'common/sites.html' as site_macros with context %}

{% set content_fluid = true %}
{% set activetab = 'list' %}

{% block tabcontent %}

<div class="well">
	<form method="get" action="" class="validate2">
		{{ forms.label(form.admin_state, class='simple required') }}
		{{ forms.field(form.admin_state, class='span4') }}
		<input type="submit" class="btn primary" value="Применить">
	</form>
</div>

{% if sites %}
	{{ site_macros.table(sites, admin=true, **form.query_args()) }}
{% else %}
	<div class="clearfix alert-message block-message info">
		<p><strong>Список пуст.</strong> Не было добавлено ни одной площадки.</p>
	</div>
{% endif %}

{% endblock %}
