{% extends "admin/users/layout.html" %}
{% import 'common/macros/lists.html' as lists with context %}
{% import 'common/forms/datetime-range.html' as datetime_range %}

{% set activetab = 'fraud' %}
{% set content_fluid = true %}

{% block extrahead %}
	{{ super() }}
	{{ datetime_range.head() }}
{% endblock %}

{% block tabcontent %}

{{ datetime_range.html(form, 'Показать статистику за период:') }}

{% if user_stats %}
	{% with kwargs = form.query_args() %}
	<table class="bordered-table zebra-striped">
		<thead>
			<tr>
				<th {{ lists.sort_header('affiliate_email', **kwargs) }}>Партнёр</th>
				<th {{ lists.sort_header('clicks', **kwargs) }}>Кликов</th>
				<th {{ lists.sort_header('actions', **kwargs) }}>Действий</th>
				<th {{ lists.sort_header('conversion', **kwargs) }}>Конверсия</th>
				<th {{ lists.sort_header('not_confirmed', **kwargs) }}>Не подтверждено</th>
				<th {{ lists.sort_header('approved', **kwargs) }}>Подтверждено</th>
				<th {{ lists.sort_header('canceled', **kwargs) }}>Отклонено</th>
				<th {{ lists.sort_header('rate', **kwargs) }}>Процент отклоненных</th>
			</tr>
		</thead>
		<tbody>
			{% for user_stat in user_stats %}
			<tr>
				<td><a href="{{ url_for('.users_info', id=user_stat.affiliate.id) }}">{{ user_stat.affiliate.email }}</a></td>
				<td class="right">{{ user_stat.clicks }}</td>
				<td class="right">{{ user_stat.actions }}</td>
				<td class="right">{{ user_stat.conversion|percent if user_stat.conversion else '&mdash'|safe }}</td>
				<td class="right">{{ user_stat.not_confirmed }}</td>
				<td class="right">{{ user_stat.approved }}</td>
				<td class="right">{{ user_stat.canceled }}</td>
				<td class="right">{{ user_stat.rate|percent if user_stat.rate else '&mdash;'|safe }}</td>
			</tr>
			{% endfor %}
		</tbody>
	</table>
	{{ lists.paginate(pages, **kwargs) }}
	{% endwith %}
{% else %}
	<div class="clearfix alert-message block-message info">
		<p><strong>Список пуст.</strong> Ничего не найдено.</p>
	</div>
{% endif %}

{% endblock %}