{% extends "admin/users/layout.html" %}
{% import "common/users.html" as user_macros %}

{% set activetab = 'list' %}
{% set content_fluid = true %}

{% set users_config = {
	'balance' : true,
	'role' : true
} %}

{% block tabcontent %}

{% set filter = request.args.get('filter', none) %}
<div>
	{{ macros.filter(filter,
		(
			(none, 'все'),
			('advertisers', 'рекламодатели'),
			('affiliates', 'партнёры'),
			('admins', 'администраторы')
		),
		'.users_list')
	}}
	<div style="float: right">
		<a href="{{ url_for(request.url_rule.endpoint, format='xls', **request.args) }}"
		 class="btn success">Выгрузить список в Excel</a>
	</div>
</div>

{% if users %}
	<div style="clear: both;">
		<strong>Всего: {{ count }}</strong>
	</div>
	{% call(head, user) user_macros.table(users, users_config) %}{% endcall %}
	{{ macros.paginate(pages, '.users_list', filter=filter) }}
{% else %}
	<div class="clearfix alert-message block-message info">
		<p><strong>Список пуст.</strong> Еще не было зарегистрировано ни одного пользователя.</p>
	</div>
{% endif %}

{% endblock %}