{% extends "site/hm/it/layout.html" %}

{% set activemenu = "advertisers" %}

{% block title %}Per gli inserzionisti{% endblock %}

{% block content %}
<h1 class="hm-roundbox-header">{{ heymoose(False) }} inserzionisti</h1>
<div class="article">
	<p>
		100 per cento di ritorno sulla pubblicità &mdash; solo un sogno? Se utilizzate
		il nostro non rischioso marketing online, questo sogno diventerà realtà. Ammettetelo,
		pianificare il vostro budget pubblicitario sarà più facile, se sapete quanto costa
		attirare ogni cliente. Che ne dite di aver un bel bonus sotto forma di promozione
		del vostro marchio? Le altre informazioni sono solo per quelli che vogliono ottenere
		la promozione veramente efficiente dei loro prodotti e fare un sacco di soldi.
	</p>
	
	<h3>Quale problema {{ heymoose(false) }} risolve?</h3>
	<p>
		Ci sono molti problemi, quando lavorate direttamente con i partner. È necessario sviluppare
		un sistema automatico, che permette l'interazione trasparente con il vostro prodotto, dà le
		statistiche di layout, di clic e delle azioni che sono fatti dai clienti sul vostro sito,
		assicura la puntualità dei pagamenti e fa supporto tecnico. Inoltre, dovete spendere soldi
		per attirare i partner. La società "HeyMoose" fa tutte queste cose, offre l'intera gamma di
		affiliate marketing. Tutto che rimane da fare è caricare il tuo materiale promozionale sul
		nostro sito e attendere che i clienti acquisteranno il prodotto.
	</p>
	
	<h3>I vantaggi del nostro Affiliate Network {{ heymoose(false) }}</h3>
	<ul class="dashed-list">
		<li>
			Lavoriamo solo con le aziende, che si orientano principalmente su
			aumentare il loro profitto;
		</li>
		<li>
			Ogni cliente riceve un manager personale, che risolve tutti i problemi. Inoltre, il sistema
			bonus staff è progettato in modo che ogni persona è interessata ad aumentare il vostro reddito;
		</li>
		<li>
			"HeyMoose" è per chi crede nella cooperazione efficace tra business partner ed è abituato a
			risolvere i problemi in modo rapido ed efficiente, quindi permanente aumentando l'efficienza
			della propria azienda e delle entrate;
		</li>
		<li>
			Portiamo solo affiliati forti esperti &mdash; maestri del proprio business. Come conseguenza
			la vostra campagna pubblicitaria avrà risposta più veloce e meglio sotto forma di profitti
			più elevati.
		</li>
	</ul>
	
	<h3>Un esempio di lavoro {{ heymoose(false) }}</h3>
	<ol class="enumerated-list">
		<li>
			Volete aumentare le vendite nel vostro negozio online. Caricate materiali
			promozionali, e il pagamento al Webmaster (come percentuale delle vendite
			o di un importo fisso per la registrazione per ordine del prodotto). Se la
			vostra offerta è interessante per webmaster, webmaster immettela sul sito,
			ed è possibile tenere traccia del numero di azioni effettuate da suoi mezzi
			nel vostro account privato.
		</li>
		<li>
			Per esempio, avete sviluppato un gioco per l'iPhone. Avete speso soldi e tempo
			per programmazione, grafica e ora avete bisogno solo di mettere il gioco in AppStore
			e iniziare a fare soldi. Dopo di questo, ricevete il traffico dalla sezione
			"nuovi elementi", e poi affrontate il problema di come rimanere in business
			e ottenere un flusso costante di nuovi utenti, perché altre reti pubblicitarie
			potrebbe accadere di non essere efficienti come ce vi aspettate. È necessario
			sostenere gli interessi al gioco per attirare nuovi utenti con aggiornamenti.
			La rete "HeyMoose" risolve il problema di attrarre utenti, poniamo l'applicazione
			nel nostro sistema, lei diventa disponibile ai nostri partner (internet marketers
			con esperienza, così come proprietari di risorse tematiche), e alla fine ottenete
			gli utenti. Il pagamento viene effettuato solo per determinati tipi di azione:
			installazione, superamento livelli ed etc. Nel vostro conto privato tenete traccia
			delle statistiche, anche vedete quali partner ricevono il traffico di altissima
			qualità.
		</li>
	</ol>
	
	<h3>Integrazione con il sistema {{ heymoose(false) }}</h3>
	<div class="row">
		<div class="span12">
			<p>
				Il nostro sistema tiene traccia di tutte le azioni in modalità automatica.
				Se decidete di lavorare con il sistema "HeyMoose", sarà necessario integrare
				il codice nel vostro servizio secondo la nostra documentazione.
			</p>
		</div>
		<div class="span" style="margin-top: 8px;">
			<a href="http://trac.heymoose.com/wiki/affiliate_network_english" class="btn hey large">Documentazione (EN)</a>
		</div>
	</div>
</div>
{% endblock %}
