{% extends "site/hm/fr/layout.html" %}

{% set activemenu = "advertisers" %}

{% block title %}Aux publicitaires{% endblock %}

{% block content %}
<h1 class="hm-roundbox-header">{{ heymoose(False) }} publicitaires</h1>
<div class="article">
	<p>
		Un retour de cent pour cent sur la publicité n’est qu’un rêve? Avec notre marketing
		en ligne sans risque ce rêve deviendrait une réalité. Avouez que planifier votre budget
		publicitaire serait plus simple si vous saviez combien vous coûte d’attirer chaque client.
		Et que diriez-vous d’un bonus sous la forme de la promotion de votre marque? Les
		informations suivantes concernent uniquement ceux qui souhaitent avoir une promotion efficace
		de leurs marques et gagner de l’argent.
	</p>
	
	<h3>Quel problème est résolu par {{ heymoose(false) }}?</h3>
	<p>
		Plusieurs problèmes apparaissent quand vous travaillez directement avec des partenaires. Vous
		devez développer un système automatique qui met en place une interaction transparente avec
		votre produit pour vos partenaires, contient des statistiques des dispositions, des visites
		et des actions que les clients effectuent sur votre site, garantit le bon déroulement des
		règlements et fournit également le support technique. Par ailleurs, vous devez dépenser de
		l’argent pour attirer des partenaires. HeyMoose s’occupe de tout ça et fournit l’ensemble
		du marketing affilié. Vous n’avez qu’à télécharger vos supports publicitaires sur notre site
		et attendre jusqu’à ce que les clients achètent vos produits.
	</p>
	
	<h3>Les avantages de notre réseau d’affiliation {{ heymoose(false) }}</h3>
	<ul class="dashed-list">
		<li>
			Nous travaillons uniquement avec des entreprises orientées essentiellement
			vers l’augmentation de leurs profits.
		</li>
		<li>
			Chaque client se voit attribué un manager personnel qui réglera tous les problèmes
			potentiels. De plus, un système de bonus du personnel est mis en place pour que
			chaque salarié ait intérêt à voir votre revenu augmenter.
		</li>
		<li>
			“HeyMoose” est conçu pour ceux qui croient en une coopération efficace entre partenaires
			et sont habitués à ce que tous leurs problèmes soient résolus immédiatement afin
			d’augmenter en permanence le revenu de leur entreprise.
		</li>
		<li>
			Nous ne travaillons qu’avec des affiliés fiables et expérimentés – les meilleurs dans leur
			business. Par conséquent, votre campagne publicitaire suscitera des retours plus rapides et
			souhaitables, générant des profits plus élevés.
		</li>
	</ul>
	
	<h3>Un exemple de fonctionnement de {{ heymoose(false) }}</h3>
	<ol class="enumerated-list">
		<li>
			Vous voulez stimuler les ventes de votre boutique en ligne. Vous téléchargez vos
			supports publicitaires et proposez un paiement au Webmaster (en pourcentage des
			ventes ou un montant fixe par commande). Si votre offre est intéressante, le Webmaster
			la place sur le site et vous pouvez suivre sur votre compte personnel le nombre
			d’actions ainsi générées.
		</li>
		<li>
			Supposons que vous ayez développé un jeu pour l’iPhone. Vous avez dépensé de l’argent
			pour la programmation et le graphisme. Tout ce que vous devez faire maintenant est de
			l’envoyer à l’Appstore afin de commencer à gagner de l’argent. Suite à cela, vous
			recevez le trafic de la section «nouveaux articles». Puis vous êtes confronté au
			problème suivant: comment rester sur le marché et maintenir un afflux stable de
			nouveaux clients, sachant que des réseaux publicitaires s’avèrent être moins efficients
			que prévu. Vous devrez alors maintenir l’intérêt pour votre jeu et attirer de nouveaux
			utilisateurs grâce à des mises à jour. Le réseau “HeyMoose” résout le problème concernant
			l’intérêt de nouveaux clients: nous plaçons votre application dans notre système, elle
			devient donc disponible à nos partenaires (publicitaires en ligne expérimentés ainsi que
			les propriétaires des sites thématiques) et finalement vous aurez vos utilisateurs.
			Le paiement est effectué uniquement pour certains types d’actions: installation, passage
			à des niveaux supérieurs etc. Sur votre compte personnel vous pouvez suivre les statistiques,
			mais aussi voir quel est votre partenaire qui vous fournit votre meilleur trafic.
		</li>
	</ol>
	
	<h3>L’intégration avec le système {{ heymoose(false) }}</h3>
	<div class="row">
		<div class="span12">
			<p>
				Notre système suit automatiquement toutes les actions. Si vous décidez de travailler
				avec le système  “HeyMoose” vous devrez intégrer le code dans votre système, conformément
				à notre documentation.
			</p>
		</div>
		<div class="span" style="margin-top: 8px;">
			<a href="http://trac.heymoose.com/wiki/affiliate_network_english"
			 target="_blank" class="btn hey large">Documentation (EN)</a>
		</div>
	</div>
</div>
{% endblock %}
