{% extends "admin/actions-info-layout.html" %}

{% block extrahead %}
	{{ super() }}
	<script type="text/javascript" src="{{ url_for('.static', filename='./js/jquery.form.js') }}"></script>
	<script type="text/javascript">
		$(function() {
			$('#form-approve').ajaxForm({
				beforeSubmit: function() { return confirm('Подтвердить действие?'); },
				success: function(data, textStatus) {
					// $('#approve-time').html(data);
					$('#form-approve input[type=submit]').attr('disabled', 'disabled');
					alert('Действие подтверждено. Его статус обновится через некоторое время.');
				},
				error: function(xhr, textStatus) {
					alert('Ошибка ' + xhr.status + ': ' + xhr.responseText);
				}
			});
			$('#form-delete').ajaxForm({
				beforeSubmit: function() { return confirm('Удалить действие?'); },
				success: function(data, textStatus) {
					$('#deleted').show();
					$('#form-delete input[type=submit]').attr('disabled', 'disabled');
				},
				error: function(xhr, textStatus) {
					alert('Ошибка ' + xhr.status + ': ' + xhr.responseText);
				}
			});
		});
	</script>
{% endblock %}

{% set activetab = 'info' %}

{% block tabcontent %}

<div class="info-actions well">
	<form id="form-approve" method="post" action="{{ url_for('.ajax_action_approve', id=action.id) }}" class="inline">
		<input type="submit" class="btn primary" value="Подтвердить действие" {% if action.approve_time or action.done %}disabled="disabled"{% endif %} />
	</form>
	<form id="form-delete" method="post" action="{{ url_for('.ajax_action_delete', id=action.id) }}" class="inline">
		<input type="submit" class="btn danger" value="Удалить действие" {% if action.deleted or action.done %}disabled="disabled"{% endif %} />
	</form>
</div>

<table class="bordered-table key-value">
	<thead></thead>
	<tbody>
		<tr><th>Исполнитель</th><td>{{ macros.performer_href(action.performer) }}</td></tr>
		<tr><th>Заказ</th><td>{{ macros.order_href(action.order) }}</td></tr>
		<tr><th>Приложение</th><td>{{ macros.app_href(action.app) }}</td></tr>
		<tr><th>Окончено</th><td>{{ macros.to_icon(action.done) }}</td></tr>
		<tr><th>Создано</th><td>{{ action.creation_time|datetimeformat }}</td></tr>
		<tr><th>Подтверждено</th><td id="approve-time">{{ action.approve_time|datetimeformat|default('&mdash;') }}</td></tr>
		<tr><th>Количество попыток</th><td>{{ action.attempts }}</td></tr>
		<tr id="deleted" {% if not action.deleted %}style="display: none;"{% endif %}>
			<th></th>
			<td>
				<img src="{{ url_for('.static', filename='./img/icon_deletelink.gif') }}" alt="удалено" />
				Действие удалено
			</td>
		</tr>
	</tbody>
</table>

{% endblock %}
