{% extends "admin/actions-layout.html" %}

{% set activetab = 'list' %}

{% block tabcontent %}

{% if actions %}
	<table class="zebra-striped">
		<thead>
			<tr>
				<th class="header right">ИД</th>
				<th class="header">Исполнитель</th>
				<th class="header">Заказ</th>
				<th class="header center">Окончено</th>
				<th class="header center">Создано</th>
				<th class="header center">Подтверждено</th>
				<th class="header right">Попытки</th>
				<th class="header center">Удалено</th>
			</tr>
		</thead>
		<tbody>
			{% for action in actions %}
			<tr>
				<td class="right"><a href="{{ url_for('.actions_info', id=action.id) }}">{{ action.id }}</a></td>
				<td>{{ action.performer_id }}</td>
				<td>{{ macros.order_href(action.order) }}</td>
				<td class="center">{{ macros.to_icon(action.done) }}</td>
				<td class="center">{{ action.creation_time|datetimeformat }}</td>
				<td class="center">{{ action.approve_time|datetimeformat }}</td>
				<td class="right">{{ action.attempts }}</td>
				<td class="center">{{ macros.deleted(action.deleted) }}</td>
			</tr>
			{% endfor %}
		</tbody>
	</table>
	{{ macros.paginate(pages, '.actions') }}
{% else %}
	<div class="clearboth alert-message block-message info">
		<p><strong>Список пуст.</strong> Еще не было создано ни одного действия.</p>
	</div>
{% endif %}

{% endblock %}
