{% extends "admin/apps-info-layout.html" %}

{% set activetab = 'info' %}

{% block tabcontent %}

{% if app.deleted %}
	<div class="clearfix alert-message block-message error">
		<p>Приложение удалено.</p>
	</div>
{% endif %}

<table class="key-value">
	<tbody>
		<tr><th>ИД</th><td>{{ app.id }}</td></tr>
		<tr><th>Название</th><td>{{ app.title }}</td></tr>
		<tr><th>Секретный ключ</th><td>{{ app.secret }}</td></tr>
		<tr><th>Разработчик</th><td>{{ macros.user_href(app.user) }}</td></tr>
		<tr><th>Платформа</th><td>{{ app.platform }}</td></tr>
		{#<tr><th>Callback</th><td>{{ app.callback }}</td></tr>#}
		<tr><th>URL</th><td><a href="{{ app.url }}" target="_blank">{{ app.url }}</a></td></tr>
		<tr><th>Создано</th><td>{{ app.creation_time|datetimeformat }}</td></tr>
		<tr><th>Оплата за клик (D)</th><td>{{ app.d }}</td></tr>
		<tr><th>Коэффициент надбавки (T)</th><td>{{ app.t }}</td></tr>
	</tbody>
</table>

<h2>Показы и клики <small>(обновляется раз в сутки)</small></h2>
{% if app.stats %}
	<table class="key-value">
		<tbody>
			<tr><th>Всего показов</th><td>{{ app.stats.shows_overall|default('&mdash;')|safe }}</td></tr>
			<tr><th>Всего кликов</th><td>{{ app.stats.actions_overall|default('&mdash;')|safe }}</td></tr>
		</tbody>
	</table>
{% else %}
	<div class="clearfix alert-message block-message info">
		<p><strong>Статистика недоступна.</strong> Возможно, подсчет статистики еще не был совершен.</p>
	</div>
{% endif %}

<h2>DAU по дням недели <small>(обновляется раз в сутки)</small></h2>
{% if app.stats %}
	<table class="key-value">
		<tbody>
			<tr><th>Понедельник</th><td>{{ app.stats.dau_day1|default('&mdash;')|safe }}</td></tr>
			<tr><th>Вторник    </th><td>{{ app.stats.dau_day2|default('&mdash;')|safe }}</td></tr>
			<tr><th>Среда      </th><td>{{ app.stats.dau_day3|default('&mdash;')|safe }}</td></tr>
			<tr><th>Четверг    </th><td>{{ app.stats.dau_day4|default('&mdash;')|safe }}</td></tr>
			<tr><th>Пятница    </th><td>{{ app.stats.dau_day5|default('&mdash;')|safe }}</td></tr>
			<tr><th>Суббота    </th><td>{{ app.stats.dau_day6|default('&mdash;')|safe }}</td></tr>
			<tr><th>Воскресенье</th><td>{{ app.stats.dau_day0|default('&mdash;')|safe }}</td></tr>
			<tr class="summary">
				<th>В среднем за день</th>
				<td>{{ app.stats.dau_average|default('&mdash;')|safe }}</td>
			</tr>
		</tbody>
	</table>
{% else %}
	<div class="clearfix alert-message block-message info">
		<p><strong>Статистика недоступна.</strong> Возможно, подсчет статистики еще не был совершен.</p>
	</div>
{% endif %}

{% endblock %}
