{% extends "admin/apps-info-layout.html" %}
{% import "common/actions.html" as action_macros %}

{% block breadcrumbs %}
	{{ super() }}
	{{ macros.breadcrumb('Действия', url_for('.apps_info_actions', id=app.id)) }}
{% endblock %}

{% set activetab = 'actions' %}

{% block extrahead %}
	{{ super() }}
{% endblock %}

{% block tabcontent %}

{% if actions %}
	{{ action_macros.table(actions, show_app=False) }}
	{{ macros.paginate(pages, '.apps_info_actions', id=app.id) }}
{% else %}
	<div class="clearfix alert-message block-message info">
		<p><strong>Список пуст.</strong> В приложении еще не было ни одного действия.</p>
	</div>
{% endif %}

{% endblock %}
