{% extends "admin/apps-layout.html" %}

{% set activetab = 'list' %}

{% block extrahead %}
	{{ super() }}
	<script type="text/javascript">
		$(function() {
			$('#show').change(function() { $(this).closest('form').submit(); })
		});
	</script>
{% endblock %}

{% block tabcontent %}

<form method="post" action="">
	{{ form.show() }} {{ form.show.label.text|lower }}
	{{ form.dummy() }}
</form>

{% if apps %}
	<table class="bordered-table zebra-striped">
		<thead>
			<tr>
				<th class="header right">ИД</th>
				<th class="header">Название</th>
				<th class="header">Разработчик</th>
				<th class="header">Платформа</th>
				<th class="header center">Создано</th>
			</tr>
		</thead>
		<tbody>
			{% for app in apps %}
			<tr>
				<td class="right {% if app.deleted %}deleted{% endif %}">{{ app.id }}</td>
				<td>{{ macros.app_href(app) }}</td>
				<td>{{ macros.user_href(app.user) }}</td>
				<td>{{ app.platform }}</td>
				<td class="center">{{ app.creation_time|datetimeformat }}</td>
			</tr>
			{% endfor %}
		</tbody>
	</table>
	{{ macros.paginate(pages, '.apps') }}
{% else %}
	<div class="clearfix alert-message block-message info">
		<p><strong>Список пуст.</strong> Еще не было добавлено ни одного приложения.</p>
	</div>
{% endif %}

{% endblock %}