{% extends "admin/apps-layout.html" %}

{% set activetab = 'list' %}

{% block tabcontent %}

{% if apps %}
	<table class="zebra-striped">
		<thead>
			<tr>
				<th class="header right">ИД</th>
				<th class="header">Название</th>
				<th class="header">Разработчик</th>
				<th class="header">Платформа</th>
				<th class="header center">Создано</th>
				<th class="header center">Удалено</th>
			</tr>
		</thead>
		<tbody>
			{% for app in apps %}
			<tr>
				<td class="right">{{ app.id }}</td>
				<td>{{ macros.app_href(app) }}</td>
				<td>{{ macros.user_href(app.user) }}</td>
				<td>{{ app.platform }}</td>
				<td class="center">{{ app.creation_time|datetimeformat }}</td>
				<td class="center">{{ macros.deleted(app.deleted) }}</td>
			</tr>
			{% endfor %}
		</tbody>
	</table>
	{{ macros.paginate(pages, '.apps') }}
{% else %}
	<div class="clearboth alert-message block-message info">
		<p><strong>Список пуст.</strong> Еще не было добавлено ни одного приложения.</p>
	</div>
{% endif %}

{% endblock %}