{% extends "admin/apps-layout.html" %}
{% import 'common/apps.html' as app_macros %}

{% set content_fluid = true %}
{% set activetab = 'list' %}

{% set apps_config = {
	'stats' : { 'url' : url_for('.ajax_apps_ctr', id=apps|attrlist('id')) },
	'developer' : true
} %}

{% block extrahead %}
	{{ super() }}
	{{ app_macros.js(apps, apps_config) }}
	<script type="text/javascript">
		$(function() {
			$('#show').change(function() { $(this).closest('form').submit(); });
		});
	</script>
{% endblock %}

{% block tabcontent %}

<form method="post" action="">
	{{ form.show() }} {{ form.show.label.text|lower }}
	{{ form.dummy() }}
</form>

{% if apps %}
	{% call(head, app) app_macros.table(apps, apps_config) %}{% endcall %}
	{{ macros.paginate(pages, '.apps') }}
{% else %}
	<div class="clearfix alert-message block-message info">
		<p><strong>Список пуст.</strong> Еще не было добавлено ни одного приложения.</p>
	</div>
{% endif %}

{% endblock %}