{% extends "admin/layout.html" %}

{% block title %}Обратная связь{% endblock %}

{% set activemenu = 'feedback' %}

{% block breadcrumbs %}
	{{ super() }}
	{{ macros.breadcrumb(self.title(), url_for('.feedback')) }}
{% endblock %}

{% block pageheader %}
<h1>{{ self.title() }}</h1>
{% endblock %}

{% block content %}

<div class="clearfix">	
	{% if contacts %}
	<div class="form-container right" style="width: 300px; float: right;">
		<form id="form-mark-read" method="post" action ="">
			<input type="submit" class="btn primary" value="Отметить все как прочитанные" />
		</form>
	</div>
	{% endif %}
</div>
	
{% if contacts %}
	{% for contact in contacts %}
	<table class="bordered-table collapse">
		<tbody>
			<tr>
				<td style="width: 20px;" class="center">{{ macros.added(not contact.read) }}</td>
				<td><strong>Имя:</strong> {{ contact.name }}</td>
				<td style="width: 220px;"><strong>E-mail:</strong> <a href="mailto:{{ contact.email }}">{{ contact.email }}</a></td>
				<td style="width: 180px;"><strong>Телефон:</strong> {{ contact.phone|default('&mdash;') }}</td>
				<td style="width: 200px;"><strong>Отправлен:</strong> {{ contact.date|datetimeformat }}</td>
			</tr>
			{% if contact.desc %}
			<tr>
				<td colspan="5">
					<pre>{{ contact.desc }}</pre>
				</td>
			</tr>
			{% endif %}
		</tbody>
	</table>
	{% endfor %}
	{{ macros.paginate(pages, '.feedback', filter=request.args.get('filter', '')) }}
{% else %}
	<div class="clearfix alert-message block-message info">
		<p><strong>Список пуст.</strong> Еще не было оставлено ни одного сообщения.</p>
	</div>
{% endif %}

{% endblock %}
