{% extends "admin/layout.html" %}
{% import 'common/debts.html' as debts_list with context %}
{% import 'common/forms/datetime-range.html' as datetime_range %}

{% block title %}Финансы{% endblock %}

{% set content_fluid = true %}

{% block extrahead %}
	{{ super() }}
	{{ datetime_range.head() }}
{% endblock %}

{% set activemenu = 'finances' %}

{% block breadcrumbs %}
	{{ super() }}
	{{ macros.breadcrumb(self.title(), url_for('.finances')) }}
{% endblock %}

{% block pageheader %}
<h1>{{ self.title() }}</h1>
{% endblock %}

{% block content %}

{{ datetime_range.html(form, 'Показать долг за период:') }}
{% call(place, debt) debts_list.html(debts, overall_debt, **form.query_args()) %}{% endcall %}

{% endblock %}
