{% extends "admin/layout.html" %}

{% block title %}Конкурс Gamak{% endblock %}

{% set activemenu = "" %}

{% block breadcrumbs %}
	{{ super() }}
	{{ macros.breadcrumb('Конкурс Gamak', url_for('.gamak_apps')) }}
{% endblock %}

{% block pageheader %}
<h1>Конкурс Gamak</h1>
{% endblock %}

{% block content %}

<div class="well right">
	<a href="{{ url_for('.gamak_apps_new') }}" class="btn primary">Добавить приложение</a>
</div>

{% if apps %}
	<table class="bordered-table zebra-striped nosort">
		<thead>
			<tr>
				<th class="header">Название</th>
				<th class="header">URL</th>
				<th class="header">Разработчик</th>
				<th class="header center">Активно</th>
			</tr>
		</thead>
		<tbody>
			{% for app in apps %}
			<tr>
				<td><a href="{{ url_for('.gamak_apps_edit', id=app.mongo_id)}}">{{ app.name }}</a></td>
				<td><a href="{{ app.url }}" target="_blank">{{ app.url }}</a></td>
				<td>{{ app.developer }}</td>
				<td class="center">{{ macros.to_icon(app.active) }}</td>
			</tr>
			{% endfor %}
		</tbody>
	</table>
{% else %}
	<div class="clearfix alert-message block-message info">
		<p><strong>Список пуст.</strong> Еще не было добавлено ни одного приложения.</p>
	</div>
{% endif %}

{% endblock %}
