{% extends "admin/gamak-apps.html" %}

{% block title %}
	{% if app %}Приложение &laquo;{{ app.name }}&raquo;{% else %}Новое приложение{% endif %}
{% endblock %}

{% block breadcrumbs %}
	{{ super() }}
	{{ macros.breadcrumb(self.title(), '#') }}
{% endblock %}

{% block pageheader %}
<h1>{{ self.title() }}</h1>
{% endblock %}

{% block content %}

<div class="form-container">
	<form action="" method="post" enctype="multipart/form-data" class="widelabels validate">
		<fieldset>
			{{ macros.formfield(form.name, class='span10') }}
			{{ macros.formfield(form.url, class='span10') }}
			{{ macros.formfield(form.developer, class='span10') }}
			{{ macros.formfield(form.desc, class='span10', rows=5) }}
			<div class="input">
				{% if app %}
				<img src="{{ url_for('upload', filename=app.image_file(), q=time()) }}" alt="изображение" class="span4" />
				{% endif %}
				<span class="help-block">Предпочитаемый размер 280 х 280 или более, и лучше в пропорциях 1 к 1</span>
			</div>
			{{ macros.formfield(form.image, pad_description=true) }}
			{{ macros.formfield(form.active) }}
		</fieldset>
		<div class="actions">
			<input class="btn large primary" type="submit" value="Подтвердить"/>
		</div>
	</form>
</div>

{% endblock %}
