{% extends "admin/layout.html" %}

{% block title %}Панель управления{% endblock %}

{% set activemenu = "index" %}
{% set breadcrumbs = [('Панель управления', url_for('.index'))] %}

{% block pageheader %}
<h1>Панель управления</h1>
{% endblock %}

{% block content %}
<p>
	По-хорошему, тут должна быть какая-то агрегированная информация о состоянии каждой сущности,
	чтобы администратор мог "окинуть взглядом" всю систему, не лазая по разным разделам. Но пока
	еще не придумано, как именно это будет выглядеть.
</p>

<p>
	<a href="{{ url_for('site.gamak') }}">Конкурс Gamak на сайте (пока только для админов) &raquo;</a>
</p>
<p>
	<a href="{{ url_for('.gamak_apps') }}">Приложения конкурса Gamak &raquo;</a>
</p>

{% endblock %}