{% extends 'layout.html' %}

{% block posttitle %}Администрирование HeyMoose{% endblock %}

{% block extrahead %}
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='./css/redmond/jquery-ui-1.8.20.custom.css') }}" media="all" />
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='./css/timepicker-addon.css') }}" media="all" />

<script type="text/javascript" src="{{ url_for('static', filename='./js/jquery-ui.min.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='./js/jquery.ui.datepicker-ru.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='./js/jquery-ui-timepicker-addon.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='./js/categorized.list.js') }}"></script>

{% set activemenu = activemenu|default('index') %}
<script type="text/javascript">
	$(function() {
		// Make datepicker Russian by default
		$.datepicker.setDefaults($.datepicker.regional['ru']);
		// Remove link and divider from last breadcrumb
		$('ul.breadcrumb li:last').text($('ul.breadcrumb li:last a').html());
		// Select all text in copyboxes
		$('.copybox').focus(function() { this.select();	})
		
		$('ul.categorized').categorizedList();
	});
</script>
{% endblock %}

{% set topbar_fluid = true %}
{% block topbar %}
<ul class="nav">
	<li id="menu-item-index"><a href="{{ url_for('.index') }}">Главная</a></li>
	<li class="dropdown">
		<a class="dropdown-toggle" href="#">Сайт</a>
		<ul class="dropdown-menu">
			<li><a href="{{ url_for('.news_list') }}">Новости</a></li>
		</ul>
	</li>
	
	<li id="menu-item-users"><a href="{{ url_for('.users_list') }}">Пользователи</a></li>
	<li id="menu-item-offers"><a href="{{ url_for('.offers_list') }}">Офферы</a></li>
	<li id="menu-item-stats"><a href="{{ url_for('.stats_offer') }}">Статистика</a></li>
	<li id="menu-item-feedback">
		<a href="{{ url_for('.feedback') }}" {% if g.feedback_unread > 0 %}class="unread"{% endif %}>
			Feedback{{ '({0})'.format(g.feedback_unread) if g.feedback_unread > 0 }}
		</a>
	</li>
</ul>

<ul class="nav secondary-nav">
	<li class="dropdown">
		<a class="dropdown-toggle" href="#">{{ g.user.full_name }}</a>
		<ul class="dropdown-menu">
			<li><a href="{{ url_for('site.logout') }}">Выйти</a></li>
		</ul>
	</li>
</ul>
{% endblock %}
	
{% block breadcrumbs_container %}
<ul class="breadcrumb">
	{% block breadcrumbs %}
		{{ macros.breadcrumb('Панель управления', url_for('.index')) }}
	{% endblock %}
</ul>
{% endblock %}

