{% extends 'layout.html' %}

{% block posttitle %}Администрирование HeyMoose{% endblock %}

{% block extrahead %}
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='./css/jquery-ui.css') }}" media="all" />
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='./css/timepicker-addon.css') }}" media="all" />

{# <script type="text/javascript" src="http://code.jquery.com/ui/1.8.16/jquery-ui.min.js"></script>
<script type="text/javascript" src="http://jqueryui.com/ui/i18n/jquery.ui.datepicker-ru.js"></script> #}
<script type="text/javascript" src="{{ url_for('static', filename='./js/jquery-ui.min.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='./js/jquery.ui.datepicker-ru.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='./js/jquery-ui-timepicker-addon.js') }}"></script>
<script type="text/javascript" src="{{ url_for('.static', filename='./js/admin.js') }}"></script>

{% set activemenu = activemenu|default('index') %}
<script type="text/javascript">
	$(function() {
		// Make datepicker Russian by default
		$.datepicker.setDefaults($.datepicker.regional['ru']);
		// Remove link and divider from last breadcrumb
		$('ul.breadcrumb li:last').text($('ul.breadcrumb li:last a').html());
		// Select all text in copyboxes
		$('.copybox').focus(function() { this.select();	})
	});
</script>
{% endblock %}

{% block topbar %}
<ul class="nav">
	<li id="menu-item-index"><a href="{{ url_for('.index') }}">Главная</a></li>
	<li id="menu-item-users"><a href="{{ url_for('.users') }}">Пользователи</a></li>
	<li id="menu-item-apps"><a href="{{ url_for('.apps') }}">Приложения</a></li>
	<li id="menu-item-orders"><a href="{{ url_for('.orders') }}">Заказы</a></li>
	<li id="menu-item-performers"><a href="{{ url_for('.performers') }}">Исполнители</a></li>
	<li id="menu-item-actions"><a href="{{ url_for('.actions') }}">Действия</a></li>
	<li id="menu-item-feedback">
		<a href="{{ url_for('.feedback') }}" {% if g.feedback_unread > 0 %}class="unread"{% endif %}>
			Feedback{% if g.feedback_unread > 0 %} ({{ g.feedback_unread }}){% endif %}
		</a>
	</li>
</ul>

<ul class="nav secondary-nav">
	<li class="dropdown">
		<a class="dropdown-toggle" href="#">{{ g.user.nickname }}</a>
		<ul class="dropdown-menu">
			<li><a href="{{ url_for('site.logout') }}">Выйти</a></li>
		</ul>
	</li>
</ul>
{% endblock %}
	
{% block breadcrumbs_container %}
<ul class="breadcrumb">
	{% block breadcrumbs %}
		{{ macros.breadcrumb('Панель управления', url_for('.index')) }}
	{% endblock %}
</ul>
{% endblock %}

