{% macro to_icon(value) -%}
	{% if not value %}
		<img src="{{ url_for('.static', filename='./img/icon-no.gif') }}" alt="нет" />
	{% else %}
		<img src="{{ url_for('.static', filename='./img/icon-yes.gif') }}" alt="да" />
	{% endif %}
{% endmacro -%}

{% macro deleted(value) -%}
	{% if value %}
		<img src="{{ url_for('.static', filename='./img/icon_deletelink.gif') }}" alt="удалено" />
	{% endif %}
{% endmacro -%}

{% macro breadcrumb(title, href) %}
	<li><a href="{{ href }}">{{ title }}</a> <span class="divider">/</span></li>
{% endmacro %}

{% macro paginate(pages, rule) %}
{% if pages.count > 1 %}
<div class="pagination center">
	<ul>
		{% if pages.current != 1 %}
		<li class="prev"><a href="{{ url_for(rule, page=1, **kwargs) }}">&#8606;</a></li>
		<li><a href="{{ url_for(rule, page=pages.current-1, **kwargs) }}">&larr;</a></li>
		{% else %}
		<li class="prev disabled"><a>&#8606;</a></li>
		<li class="disabled"><a>&larr;</a></li>
		{% endif %}
		
		{% for page in pages.range %}
		<li {% if page == pages.current %}class="active"{% endif %}>
			<a href="{{ url_for(rule, page=page, **kwargs) }}">{{ page }}</a>
		</li>
		{% endfor %}
		
		{% if pages.current != pages.count %}
		<li><a href="{{ url_for(rule, page=pages.current+1, **kwargs) }}">&rarr;</a></li>
		<li class="next"><a href="{{ url_for(rule, page=pages.count, **kwargs) }}">&#8608;</a></li>
		{% else %}
		<li class="disabled"><a>&rarr;</a></li>
		<li class="next disabled"><a>&#8608;</a></li>
		{% endif %}
	</ul>
</div>
{% endif %}
{% endmacro %}

{% macro user_href(user) %}
	<a href="{{ url_for('.users_info', id=user.id) }}">{{ user.nickname }} ({{ user.email }})</a>
{% endmacro %}

{% macro performer_href(performer) %}
	<a href="{{ url_for('.performers_info', id=performer.id) }}">{{ performer.ext_id }} ({{ performer.platform }})</a>
{% endmacro %}

{% macro order_href(order) %}
	<a href="{{ url_for('.orders_info', id=order.id) }}">{{ order.title }}</a>
{% endmacro %}

{% macro app_href(app) %}
	<a href="{{ url_for('.apps_info', id=app.id) }}">{{ app.url }}</a>
{% endmacro %}

{% macro order_gender(gender) %}
{% if gender == True %}муж{% elif gender == False %}жен{% else %}любой{% endif %}
{% endmacro %}

{% macro order_age(min, max) %}
{% if min == None and max == None %}
	любой
{% else %}
	{% if min == max %}
		{{ min }}
	{% else %}
		{% if min != None %}от {{ min }}&nbsp;{% endif %}
		{% if max != None %}до {{ max }}{% endif %}
	{% endif %}
{% endif %}
{% endmacro %}

{% macro performer_gender(gender) %}
{% if gender == True %}муж{% elif gender == False %}жен{% else %}неизв.{% endif %}
{% endmacro %}

{% macro formfield(field, inline=None) %}
	<div class="clearfix {% if field.errors %}error{% endif %}">
		{% for validator in field.validators %}
			{% if validator|classname in ('Required', 'FileRequired') %}
				{{ kwargs|addclass('validate-required') }}
				<span style="display: none;" id="{{ field.id }}-msg-required">{{ kwargs.pop('msg_required', '') or validator.message }}</span>
			{% elif validator|classname == 'Length' %}
				{{ kwargs|addclass('validate-length') }}
				<span style="display: none;" id="{{ field.id }}-min">{{ kwargs.pop('min_length', '') or validator.min }}</span>
				<span style="display: none;" id="{{ field.id }}-max">{{ kwargs.pop('max_length', '') or validator.max }}</span>
				<span style="display: none;" id="{{ field.id }}-msg-length">{{ kwargs.pop('msg_length', '') or validator.message }}</span>
			{% elif validator|classname in ('NumberRange', 'NumberRangeEx') %}
				{{ kwargs|addclass('validate-range') }}
				<span style="display: none;" id="{{ field.id }}-min">{{ kwargs.pop('min_range', '') or validator.min }}</span>
				<span style="display: none;" id="{{ field.id }}-max">{{ kwargs.pop('max_range', '') or validator.max }}</span>
				<span style="display: none;" id="{{ field.id }}-msg-range">{{ kwargs.pop('msg_range', '') or validator.message }}</span>
			{% elif validator|classname in ('URL', 'URLWithParams') %}
				{{ kwargs|addclass('validate-url') }}
				<span style="display: none;" id="{{ field.id }}-msg-url">{{ kwargs.pop('msg_url', '') or validator.message }}</span>
			{% endif %}
		{% endfor %}
		
		{{ field.label }}
		<div class="input">
			{{ field(**kwargs) }}
			{% if inline %}<span class="help-inline">{{ inline }}</span>{% endif %}
			
			{% if field.errors %}
			{% for error in field.errors %}
			<span class="help-block">{{ error }}</span>
			{% endfor %}
			{% endif %}
		</div>
	</div>
{% endmacro %}
