{% macro to_icon(value) -%}
	{% if not value %}
		<img src="{{ url_for('.static', filename='./img/icon-no.gif') }}" alt="нет" />
	{% else %}
		<img src="{{ url_for('.static', filename='./img/icon-yes.gif') }}" alt="да" />
	{% endif %}
{% endmacro -%}

{% macro deleted(value) -%}
	{% if value %}
		<img src="{{ url_for('.static', filename='./img/icon_deletelink.gif') }}" alt="удалено" />
	{% endif %}
{% endmacro -%}

{% macro breadcrumb(title, href) %}
	<li><a href="{{ href }}">{{ title }}</a> <span class="divider">/</span></li>
{% endmacro %}
