{% extends "admin/misc-layout.html" %}
{% import 'common/forms/offer.html' as offer_form %}

{% block breadcrumbs %}
	{{ super() }}
	{{ macros.breadcrumb('Форма создания оффера', url_for('.misc_offer')) }}
{% endblock %}

{% set activetab = 'offer' %}

{% block extrahead %}
	{{ super() }}
	{{ offer_form.head() }}
{% endblock %}

{% block tabcontent %}

<div class="form-container">
	{{ offer_form.html(form, tmpl) }}
</div>

{% endblock %}

{% block postbody %}
	{{ super() }}
	{{ offer_form.postbody() }}
{% endblock %}
