{% extends "admin/misc-layout.html" %}

{% block breadcrumbs %}
	{{ super() }}
	{{ macros.breadcrumb('Тест пикселя', url_for('.misc_px')) }}
{% endblock %}

{% set activetab = 'px' %}

{% block extrahead %}
	{{ super() }}
	<script type="text/javascript">
		$(function() {
			function randomInt(min, max) {
				return Math.floor(Math.random() * (max - min + 1)) + min;
			}
			
			var root = '{{ root }}';
			var $inputOfferId = $('#offer-id-input');
			$inputOfferId.val(randomInt(1000000, 9999999));
			
			$inputOfferId.change(function() {
				var offerId = $inputOfferId.val();
				var url = root + '/test-api/?method=reportAction&offer_id=' + offerId;
				$('#url-input').val(url);
				$('#code-input').val('<img width="1" height="1" src="' + url + '" alt="" />');
			}).change();
		})
	</script>
{% endblock %}

{% block tabcontent %}

<div class="form-container">
	<form method="get" action="">
		<div class="clearfix">
			<label class="required">ИД оффера</label>
			<div class="input">
				<input id="offer-id-input" type="text" />
			</div>
		</div>
		<div class="clearfix">
			<label>URL</label>
			<div class="input">
				<input id="url-input" type="text" class="span10 copybox" readonly="readonly" />
			</div>
		</div>
		<div class="clearfix">
			<label>Код пикселя</label>
			<div class="input">
				<textarea id="code-input" type="text" class="span10 copybox" readonly="readonly" rows="2"></textarea>
			</div>
		</div>
	</form>
</div>

{% if actions %}
	<table class="bordered-table zebra-striped nosort">
		<thead>
			<th class="header right">ИД оффера</th>
			<th class="header center">Время обновления</th>
		</thead>
		<tbody>
			{% for action in actions %}
			<tr>
				<td class="right">{{ action.offer_id }}</td>
				<td class="center">{{ action.date|datetimeformat }}</td>
			</tr>
			{% endfor %}
		</tbody>
	</table>
	{{ macros.paginate(pages, '.misc_px') }}
{% else %}
	<div class="clearfix alert-message block-message info">
		<p><strong>Список пуст.</strong> Еще не было создано ни одного действия.</p>
	</div>
{% endif %}

{% endblock %}
