{% extends "admin/misc-layout.html" %}

{% block breadcrumbs %}
	{{ super() }}
	{{ macros.breadcrumb('Оффер', url_for('.misc_offer_info')) }}
{% endblock %}

{% set activetab = 'offer-info' %}

{% block extrahead %}
	{{ super() }}
{% endblock %}

{% block tabcontent %}
	<div class="row">
		<div class="span10">
			<div class="infopage-content">
				<div class="infopage-description">
					<h2>Зарабатывайте вместе с новыми проектами от Buongiorno.com</h2>
					<p>
						Компания Buongiorno.com – это крупнейший дистрибьютор мобильного контента. Компания
						присутствует в 57 странах мира и является одной из лидирующих международных компаний
						в области цифрового маркетинга. Компания лидирует на рынке разработки, производства
						и менеджмента цифровых маркетинговых услуг.
					</p>
					<p>
						Агентство B!Digital вышло на российский рынок в 2005 году и менее чем за 5 лет
						реализовало более 50 проектов совместно с крупнейшими компаниями, существующими
						на российском рынке: Samsung, Visa, МТС, «Система Телеком», P&G, Danone. Компания
						приобрела известность на рынке в качестве разработчика программы лояльности компании
						МТС – «МТС Бонус», а также агентства интерактивного маркетинга для компании P&G.
					</p>
					<p>
						C помощью системы HeyMoose компания Buongiorno.com продвигает приложения для
						социальных сетей:
					</p>
					<ul>
						<li>Какому типу мужчин Вы нравитесь?</li>
						<li>Нужно ли тебе похудеть?</li>
						<li>IQ тест</li>
						<li>IQ тест по современной методике</li>
						<li>Расчет коэффициента возможной беременности</li>
						<li>Раскрась тачки</li>
						<li>Раздень училку</li>
						<li>Кто хочет стать миллионером?</li>
						<li>Ваше вознаграждение за регистрацию пользователя в приложении составит 38,30 рублей.</li>
					</ul>
					<p>
						При хорошем объеме качественного трафика есть возможность получать вознаграждение
						по повышенной ставке.
					</p>
					<p>
						Ежегодная стабильность Buongiorno.com показывает, что холдинг завоевал доверие
						интернет-пользователей и является надежной компанией (см. ниже график посетителей
						Buongiorno.com)
					</p>
					<p>
						Если у Вас возникли вопросы или вы хотите получить дополнительную информацию -  мы всегда готовы помочь и ответить на все ваши вопросы: Buongiorno@admitad.com.
					</p>
				</div>
			</div>
		</div>
		<div class="span5" style="width: 300px;">
			<div class="infopage-sidebar">
				<div class="infopage-sidebar-item params-group">
					<div class="params-group-header"><h4>Информация</h4></div>
					<table class="params-group-table">
						<tbody>
							<tr><th style="width: 70%;">Дата запуска</th><td>16.03.2012</td></tr>
							<tr><th>Время холда</th><td>30 дней</td></tr>
							<tr><th>Время жизни cookie</th><td>30 дней</td></tr>
							<tr>
								<td colspan="2">
									<strong>Регионы:</strong>
									Россия, СНГ, Германия, Италия, Франция, Фареры
								</td>
							</tr>
						</tbody>
					</table>
				</div>
				<div class="infopage-sidebar-item params-group">
					<div class="params-group-header"><h4>Показатели</h4></div>
					<table class="params-group-table">
						<tbody>
							<tr><th style="width: 70%;">eCPC</th><td>1.43 руб.</td></tr>
							<tr><th>eCPM</th><td>15.7 руб.</td></tr>
							<tr><th>CR</th><td>1.52 %</td></tr>
						</tbody>
					</table>
				</div>
				<div class="infopage-sidebar-item params-group">
					<div class="params-group-header"><h4>Оплата за действия</h4></div>
					<table class="params-group-table">
						<tbody>
							<tr><th style="width: 70%;">Регистрация</th><td>30.00 руб.</td></tr>
							<tr><th>Пополнение счета в платежной системе</th><td>50.00 руб.</td></tr>
							<tr><th>Покупка товара</th><td>5 %</td></tr>
						</tbody>
					</table>
				</div>
				<div class="infopage-sidebar-item params-group">
					<div class="params-group-header"><h4>Категории</h4></div>
					<div class="params-group-body">
						<ul class="categories-list">
							<li>
								Страхование и финансы
								<ul>
									<li>Авто-страхование</li>
									<li>Кредитные карты</li>
								</ul>
							</li>
							<li>
								Компьютеры и электроника
								<ul>
									<li>Мобильные портативные устройства для станков с ЧПУ</li>
									<li>Фототехника</li>
									<li>Компьютеры и ноутбуки</li>
								</ul>
							</li>
						</ul>
					</div>
				</div>
			</div>
		</div>
		
	</div>


{% endblock %}
