{% extends "admin/layout.html" %}

{% block title %}Разное{% endblock %}

{% set activemenu = "misc" %}

{% block extrahead %}
{{ super() }}
{% set activetab = activetab|default('list') %}
<script type="text/javascript">
	$(function() {
		$('li#tab-{{ activetab }}').addClass('active');
	})
</script>
{% endblock %}

{% block breadcrumbs %}
	{{ super() }}
	{{ macros.breadcrumb(self.title(), url_for('.misc')) }}
{% endblock %}

{% block pageheader %}
<h1>{{ self.title() }}</h1>
{% endblock %}

{% block content %}
<ul class="tabs">
	<li id="tab-list"><a href="{{ url_for('.misc') }}">Список</a></li>
	<li id="tab-site"><a href="{{ url_for('.misc_site') }}">Форма создания площадки</a></li>
	<li id="tab-offer"><a href="{{ url_for('.misc_offer') }}">Форма создания оффера</a></li>
	<li id="tab-px"><a href="{{ url_for('.misc_px') }}">Тест пикселя</a></li>
</ul>

{% block tabcontent %}<p>Раздел находится в разработке.</p>{% endblock %}
{% endblock %}
