{% extends "admin/orders-layout.html" %}

{% set activetab = 'list' %}

{% block tabcontent %}

{% if orders %}
	<table class="zebra-striped">
		<thead>
			<tr>
				<th class="header">ИД</th>
				<th class="header">Название</th>
				<th class="header">Баланс</th>
				<th class="header">Заказчик</th>
				<th class="header">CPA</th>
				<th class="header">Создан</th>
				<th class="header">Подтв.</th>
				<th class="header">Уд.</th>
			</tr>
		</thead>
		<tbody>
			{% for order in orders %}
			<tr>
				<td>{{ order.id }}</td>
				<td><a href="{{ url_for('.orders_info', id=order.id) }}">{{ order.title }}</a></td>
				<td>{{ order.balance }}</td>
				<td><a href="{{ url_for('.customers_info', id=order.user.id) }}">{{ order.user.nickname }} ({{ order.user.email }})</a></td>
				<td>{{ order.cpa }}</td>
				<td>{{ order.creation_time|datetimeformat }}</td>
				<td>{{ macros.to_icon(order.approved) }}</td>
				<td>{{ macros.deleted(order.deleted) }}</td>
			</tr>
			{% endfor %}
		</tbody>
	</table>
{% else %}
	<div class="clearboth alert-message block-message info">
		<p><strong>Список пуст.</strong> Еще не было создано ни одного заказа.</p>
	</div>
{% endif %}

{% endblock %}
