{% extends "admin/orders-info-layout.html" %}

{% set activetab = 'info' %}

{% block extrahead %}
	{{ super() }}
	<script type="text/javascript">
		$(function() {
			function enableButton(btn) {
				btn.removeAttr('disabled');
			}
			
			function disableButton(btn) {
				btn.attr('disabled', 'disabled');
			}
			
			var btnEnable = $('#btn-enable');
			var btnDisable = $('#btn-disable');
			var btnToDisable = {% if order.disabled %}btnDisable{% else %}btnEnable{% endif %};
			disableButton(btnToDisable);
			
			var urlDisable = '{{ url_for('.ajax_orders_disable', id=order.id) }}';
			var urlEnable = '{{ url_for('.ajax_orders_enable', id=order.id) }}';
			
			btnEnable.click(function() {
				if (confirm('Активировать заказ?')) {
					$.post(urlEnable)
						.success(function() {
							disableButton(btnEnable);
							enableButton(btnDisable);
							toIcon($('#icon-enabled'), true);
						})
						.error(function(data) {
							alert('Не удалось активировать заказ. Ошибка ' + data.status);
						});
				}
			});
			
			btnDisable.click(function() {
				if (confirm('Деактивировать заказ?')) {
					$.post(urlDisable)
						.success(function() {
							disableButton(btnDisable);
							enableButton(btnEnable);
							toIcon($('#icon-enabled'), false);
						})
						.error(function(data) {
							alert('Не удалось деактивировать заказ. Ошибка ' + data.status);
						})
				}
			});
		});
	</script>
{% endblock %}

{% block tabcontent %}
<div class="info-actions well">
	<button id="btn-enable" class="btn success">Активировать</button>
	<button id="btn-disable" class="btn danger">Деактивировать</button>
</div>

<table class="key-value">
	<tbody>
		<tr><th>Название</th><td>{{ order.title }}</td></tr>
		<tr><th>Тип</th><td>{{ macros.order_type(order.type) }}</td></tr>
		<tr><th>Заказчик</th><td>{{ macros.user_href(order.user) }}</td></tr>
		<tr><th>URL</th><td><p>{{ order.url }}</p></td></tr>
		<tr><th>Создан</th><td>{{ order.creation_time|datetimeformat }}</td></tr>
		<tr><th>Активен</th><td id="icon-enabled">{{ macros.to_icon(not order.disabled) }}</td></tr>
		<tr><th>Авто-подтверждение</th><td>{{ macros.to_icon(order.auto_approve) }}</td></tr>
		<tr><th>Повторное прохождение</th><td>{{ macros.to_icon(order.reentrant) }}</td></tr>
	</tbody>
</table>

<h2>Дополнительно</h2>
<table class="key-value">
	<tbody>
		{% if order.is_regular() %}
		<tr><th>Описание</th><td><p>{{ order.description }}</p></td></tr>
		{% elif order.is_banner() %}
		{% elif order.is_video() %}
		<tr><th>URL видеозаписи</th><td><p>{{ order.video_url }}</p></td></tr>
		{% endif %}
	</tbody>
</table>

<h2>Счет и ставки</h2>
<table class="key-value">
	<tbody>
		<tr><th>Баланс</th><td>{{ order.balance }}</td></tr>
		<tr><th>CPA</th><td>{{ order.cpa }}</td></tr>
		<tr><th>Разрешен отриц. баланс</th><td>{{ macros.to_icon(order.allow_negative_balance) }}</td></tr>
	</tbody>
</table>

<h2>Таргетинг</h2>
<table class="key-value">
	<tbody>
		<tr><th>Пол</th><td>{{ macros.order_gender(order.male) }}</td></tr>
		<tr><th>Возраст</th><td>{{ macros.order_age(order.min_age, order.max_age) }}</td></tr>
	</tbody>
</table>

{% endblock %}
