{% extends "admin/layout.html" %}

{% block title %}Заказы{% endblock %}

{% set activemenu = "orders" %}

{% block extrahead %}
{{ super() }}
{% set activetab = activetab|default('list') %}
<script type="text/javascript">
	$(function() { 
		$('li#tab-{{ activetab }}').addClass('active');
	})
</script>
{% endblock %}

{% block breadcrumbs %}
	{{ super() }}
	{{ macros.breadcrumb('Заказы', url_for('.orders')) }}
{% endblock %}

{% block pageheader %}
<h1>Заказы</h1>
{% endblock %}

{% block content %}
<ul class="tabs">
	<li id="tab-list"><a href="{{ url_for('.orders') }}">Список</a></li>
	<li id="tab-stats"><a href="{{ url_for('.orders_stats') }}">Статистика</a></li>
	<li id="tab-settings"><a href="{{ url_for('.orders_settings') }}">Настройки</a></li>
</ul>

{% block tabcontent %}<p>Раздел находится в разработке.</p>{% endblock %}
{% endblock %}
