{% extends "admin/orders-layout.html" %}

{% block breadcrumbs %}
	{{ super() }}
	{{ macros.breadcrumb('Настройки', url_for('.orders_settings')) }}
{% endblock %}

{% set activetab = 'settings' %}

{% block extrahead %}
	{{ super() }}
	<script type="text/javascript">
		$(function() {
			var urlGetSizes = '{{ url_for(".ajax_orders_get_banner_sizes") }}';
			var urlEnableSize = '{{ url_for(".ajax_orders_enable_banner_size") }}';
			
			var urlGetCities = '{{ url_for(".ajax_orders_get_cities") }}';
			var urlEnableCity = '{{ url_for(".ajax_orders_enable_city") }}';
			var urlEditCityIcon = '{{ url_for("static", filename="img/icon_changelink.gif") }}';
			
			function addSize(id, width, height, disabled) {
				var input = $('<input>').attr({	'type' : 'checkbox', 'rel' : id	});
				if (!disabled) input.attr('checked', 'checked');
				input.change(function() {
					var checked = $(this).is(':checked');
					$.post(urlEnableSize, { id: id, value: (checked ? 1 : 0) })
						.error(function(xhr, textStatus) {
							alert('Не удалось изменить размер. Ошибка ' + xhr.status);
						});
				});
				
				var tr = $('<tr>')
					.append($('<td>').text(width + ' x ' + height))
					.append($('<td>').addClass('center').append(input));
					
				$('#sizes-table tbody').append(tr);
			}
			
			function getCityName(id) {
				return $('td.city-name[rel=' + id + ']').text();
			}
			
			function setCityName(id, name) {
				$('td.city-name[rel=' + id + ']').text(name);
			}
			
			function addCity(id, name, disabled) {
				var input = $('<input>').attr({	'type' : 'checkbox', 'rel' : id	});
				if (!disabled) input.attr('checked', 'checked');
				input.change(function() {
					var checked = $(this).is(':checked');
					$.post(urlEnableCity, { id: id, value: (checked ? 1 : 0) })
						.error(function(xhr, textStatus) {
							alert('Не удалось изменить город. Ошибка ' + xhr.status);
						});
				});
				
				var tr = $('<tr>')
					.append($('<td>').addClass('city-name').text(name).attr('rel', id))
					.append($('<td>').addClass('center').append(input))
					.append($('<td>').addClass('center')
						.append($('<a>')
							.attr({
								'href' : '#',
								'data-controls-modal' : 'city-update-modal',
								'data-backdrop' : 'true',
								'data-keyboard' : 'true',
								'data-id' : id,
							})
							.append($('<img>')
								.attr({
									'src' : urlEditCityIcon,
									'alt' : 'изменить'
								})
							)
							.click(function() {
								var id = $(this).attr('data-id');
								$('#update-id').val(id);
								$('#update-name').val(getCityName(id));
							})
						)
					)
				$('#cities-table tbody').append(tr);
			}
			
			jQuery.getJSON(urlGetSizes)
				.success(function(data) {
					$.each(data.values, function(i, size) {
						addSize(size.id, size.width, size.height, size.disabled);
					});
				})
				.error(function(xhr, textStatus) {
					alert('Не удалось получить список размеров. Ошибка ' + xhr.status);
				});
				
			jQuery.getJSON(urlGetCities)
				.success(function(data) {
					$.each(data.values, function(i, city) {
						addCity(city.id, city.name, city.disabled);
					});
				})
				.error(function(xhr, textStatus) {
					alert('Не удалось получить список городов. Ошибка ' + xhr.status);
				});
			
			$('#form-size-add').ajaxForm({
				success: function(id, textStatus) {
					addSize(id, $('#width').val(), $('#height').val(), false);
					$('#width').val('');
					$('#height').val('');
					$('#size-modal').modal('hide');
				},
				error: function(xhr, textStatus) {
					alert('Не удалось добавить размер. Ошибка ' + xhr.status);
				}
			});
			
			$('#form-city-add').ajaxForm({
				success: function(id, textStatus) {
					addCity(id, $('#add-name').val(), false);
					$('#add-name').val('');
					$('#city-modal').modal('hide');
				},
				error: function(xhr, textStatus) {
					alert('Не удалось добавить город. Ошибка ' + xhr.status);
				}
			});
			
			$('#form-city-update').ajaxForm({
				success: function(data, textStatus) {
					setCityName($('#update-id').val(), $('#update-name').val());
					$('#city-update-modal').modal('hide');
				},
				error: function(xhr, textStatus) {
					alert('Не удалось изменить город. Ошибка ' + xhr.status);
				}
			});
		});
	</script>
{% endblock %}

{% block tabcontent %}

<div class="row">
	<div class="span6">
		<h2>Размеры баннеров</h2>
		<div style="height: 320px;" class="scroll-area-y">
			<table id="sizes-table" class="condensed-table bordered-table zebra-striped">
				<thead><tr><th>Размер</th><th class="center">Активен</th></tr></thead>
				<tbody></tbody>
			</table>
		</div>
		<div class="well right">
			<a class="btn success right" href="#" data-controls-modal="size-modal"
			data-backdrop="true" data-keyboard="true">Добавить размер</a>
		</div>
		<div id="size-modal" class="modal" style="display: none;">
			<form id="form-size-add" method="post" action="{{ url_for('.ajax_orders_add_banner_size') }}" class="validate">
				<div class="modal-header">
					<a href="#" class="close">×</a>
					<h3>Новый размер баннера</h3>
				</div>
				<div class="modal-body span16">
					<fieldset>
						{{ macros.formfield(banner_form.width, class='span4') }}
						{{ macros.formfield(banner_form.height, class='span4') }}
					</fieldset>
				</div>
				<div class="modal-footer">
					<input type="submit" class="btn primary" value="Добавить" />
				</div>
			</form>
		</div>
	</div>
	<div class="span9">
		<h2>Города</h2>
		<div style="height: 320px;" class="scroll-area-y">
			<table id="cities-table" class="condensed-table bordered-table zebra-striped">
				<thead>
					<tr>
						<th>Название</th>
						<th class="center">Активен</th>
						<th class="center"></th>
					</tr>
				</thead>
				<tbody></tbody>
			</table>
		</div>
		<div class="well right">
			<a class="btn success right" href="#" data-controls-modal="city-modal"
			data-backdrop="true" data-keyboard="true">Добавить город</a>
		</div>
		<div id="city-modal" class="modal" style="display: none;">
			<form id="form-city-add" method="post" action="{{ url_for('.ajax_orders_add_city') }}" class="validate">
				<div class="modal-header">
					<a href="#" class="close">×</a>
					<h3>Новый город</h3>
				</div>
				<div class="modal-body span16">
					<fieldset>
						{{ city_form.id(value='0', id='add-id') }}
						{{ macros.formfield(city_form.name, class='span5', id='add-name') }}
					</fieldset>
				</div>
				<div class="modal-footer">
					<input type="submit" class="btn primary" value="Добавить" />
				</div>
			</form>
		</div>
		<div id="city-update-modal" class="modal" style="display: none;">
			<form id="form-city-update" method="post" action="{{ url_for('.ajax_orders_update_city') }}" class="validate">
				<div class="modal-header">
					<a href="#" class="close">×</a>
					<h3>Изменить город</h3>
				</div>
				<div class="modal-body span16">
					<fieldset>
						{{ city_form.id(id='update-id') }}
						{{ macros.formfield(city_form.name, class='span5', id='update-name') }}
					</fieldset>
				</div>
				<div class="modal-footer">
					<input type="submit" class="btn primary" value="Изменить" />
				</div>
			</form>
		</div>
	</div>
</div>

{% endblock %}
