{% extends "admin/orders-info-layout.html" %}

{% block breadcrumbs %}
	{{ super() }}
	{{ macros.breadcrumb('Баннеры', url_for('.orders_info_banners', id=order.id)) }}
{% endblock %}

{% set activetab = 'banners' %}

{% block tabcontent %}

{% if order.banners %}
	{% for banner in order.banners %}
	<table id="table-banner-{{ banner.id }}" class="key-value">
		<tbody>
			<tr>
				<th>Размер</th>
				<td><p>{{ banner.size.width }} x {{ banner.size.height }}</p></td>
			</tr>
			<tr>
				<td colspan="2">
					<object type="{{ banner.mime_type }}" width="{{ banner.size.width }}" height="{{ banner.size.height }}"
					data="{{ url_for('upload', filename=banner.image_file()) }}" class="fit-width"></object>
				</td>
			</tr>
		</tbody>
	</table>
	{% endfor %}
{% else %}
{% endif %}

{% endblock %}
