{% extends "admin/orders-info-layout.html" %}

{% set activetab = 'info' %}

{% block extrahead %}
	{{ super() }}
	{# <script type="text/javascript">
		$(function() {
			$('#form-enable').ajaxForm({
				beforeSubmit: function() { return confirm('Активировать заказ?'); },
				success: function(data, textStatus) {
					$('#form-enable input[type=submit]').attr('disabled', 'disabled');
					$('#form-disable input[type=submit]').removeAttr('disabled');
					toIcon($('#icon-enabled'), true);
				},
				error: function(xhr, textStatus) {
					alert('Не удалось активировать заказ. Ошибка ' + xhr.status + ': ' + xhr.responseText);
				}
			});
			
			$('#form-disable').ajaxForm({
				beforeSubmit: function() { return confirm('Деактивировать заказ?'); },
				success: function(data, textStatus) {
					$('#form-disable input[type=submit]').attr('disabled', 'disabled');
					$('#form-enable input[type=submit]').removeAttr('disabled');
					toIcon($('#icon-enabled'), false);
				},
				error: function(xhr, textStatus) {
					alert('Не удалось деактивировать заказ. Ошибка ' + xhr.status + ': ' + xhr.responseText);
				}
			});
		});
	</script> #}
{% endblock %}

{% block tabcontent %}
{# <div class="info-actions well">
	<form id="form-enable" method="post" action="{{ url_for('.ajax_orders_enable', id=order.id) }}" class="inline">
		<input type="submit" class="btn success" value="Активировать" {% if not order.disabled %}disabled="disabled"{% endif %} />
	</form>
	<form id="form-disable" method="post" action="{{ url_for('.ajax_orders_disable', id=order.id) }}" class="inline">
		<input type="submit" class="btn danger" value="Деактивировать" {% if order.disabled %}disabled="disabled"{% endif %} />
	</form>
</div> #}

<div class="well right">
	{% if order.disabled %}
		<a href="#" class="btn success" data-controls-modal="login-block"
		data-backdrop="true" data-keyboard="true">Разблокировать заказ</a>
	{% else %}
		<a href="#" class="btn danger" data-controls-modal="login-block"
		data-backdrop="true" data-keyboard="true">Заблокировать заказ</a>
	{% endif %}
</div>

<table class="key-value">
	<tbody>
		<tr><th>Название</th><td>{{ order.title }}</td></tr>
		<tr><th>Тип</th><td>{{ macros.order_type(order.type) }}</td></tr>
		<tr><th>Заказчик</th><td>{{ macros.user_href(order.user) }}</td></tr>
		<tr><th>URL</th><td><a href="{{ order.url }}" target="_blank">{{ order.url }}</a></td></tr>
		<tr><th>Создан</th><td>{{ order.creation_time|datetimeformat }}</td></tr>
		<tr><th>Активен</th><td id="icon-enabled">{{ macros.to_icon(not order.disabled) }}</td></tr>
		<tr><th>Авто-подтверждение</th><td>{{ macros.to_icon(order.auto_approve) }}</td></tr>
		<tr><th>Повторное прохождение</th><td>{{ macros.to_icon(order.reentrant) }}</td></tr>
	</tbody>
</table>

{% if order.is_regular() %}
<h2>Отображение оффера</h2>
<table class="key-value">
	<tbody>
		<tr><th>Описание</th><td><p>{{ order.description }}</p></td></tr>
		<tr><td colspan="2"><img src="data:image/png;base64,{{ order.image -}}" alt="изображение" class="fit-width" /></td></tr>
	</tbody>
</table>
{% endif %}

{% if order.is_video() %}
<h2>Видеозапись</h2>
<table class="key-value">
	<tbody>
		<tr><th>URL</th><td><p>{{ order.video_url }}</p></td></tr>
	</tbody>
</table>
{% endif %}

<h2>Счет и ставки</h2>
<table class="key-value">
	<tbody>
		<tr><th>Баланс</th><td>{{ order.account.balance|currency }}</td></tr>
		<tr><th>{% if order.is_banner() %}CPC{% else %}CPA{% endif %}</th><td>{{ order.cpa|currency }}</td></tr>
		<tr><th>Разрешен отриц. баланс</th><td>{{ macros.to_icon(order.account.allow_negative_balance) }}</td></tr>
	</tbody>
</table>

<h2>Таргетинг</h2>
<table class="key-value">
	<tbody>
		<tr><th>Пол</th><td>{{ macros.order_gender(order.male) }}</td></tr>
		<tr><th>Возраст</th><td>{{ macros.order_age(order.min_age, order.max_age) }}</td></tr>
		<tr><th>Время показа</th><td>{{ macros.order_hour(order.min_hour, order.max_hour) }}</td></tr>
		<tr><th>Города</th><td>{{ macros.order_city_filter_type(order.city_filter_type) }}</td></tr>
		{% if order.city_filter_type %}
		<tr><th></th><td>{{ order.cities|attrlist('name')|join(', ') }}</td></tr>
		{% endif %}
	</tbody>
</table>

{% endblock %}

{% block postbody %}
	{{ super() }}
	<div id="login-block" class="modal" style="display: none;">
		{% if not order.disabled %}
		<form method="post" action="" class="validate">
			<div class="modal-header">
				<a href="#" class="close">×</a>
				<h3>Блокировка заказа</h3>
			</div>
			<div class="modal-body">
				<fieldset>
					{{ macros.formfield(form.reason, class='span6', rows=6) }}
					<div class="input">
						{{ form.mail() }} уведомить пользователя по почте
					</div>
				</fieldset>
			</div>
			<div class="modal-footer">
				<input type="submit" class="btn primary" value="Заблокировать" />
			</div>
		</form>
		{% else %}
		<form method="post" action="" class="validate">
			<div class="modal-header">
				<a href="#" class="close">×</a>
				<h3>Разблокировка заказа</h3>
			</div>
			<div class="modal-body">
				<p>Разблокировать заказ?</p>
				{{ form.mail() }} уведомить пользователя по почте
			</div>
			<div class="modal-footer">
				<input type="submit" class="btn primary" value="Разблокировать" />
			</div>
		</form>
		{% endif %}
	</div>
{% endblock %}
