{% extends "admin/orders-info-layout.html" %}

{% set activetab = 'info' %}

{% block tabcontent %}
<table class="bordered-table key-value">
	<thead></thead>
	<tbody>
		<tr><th>Название</th><td>{{ order.title }}</td></tr>
		<tr><th>Заказчик</th><td>{{ macros.customer_href(order.user) }}</td></tr>
		<tr><th>Тело</th><td><p>{{ order.body }}</p></td></tr>
		<tr><th>Описание</th><td><p>{{ order.description }}</p></td></tr>
		<tr><th>Создан</th><td>{{ order.creation_time|datetimeformat }}</td></tr>
		<tr><th>Активен</th><td>{{ macros.to_icon(not order.disabled) }}</td></tr>
	</tbody>
</table>

<h2>Счет и ставки</h2>
<table class="bordered-table key-value">
	<thead></thead>
	<tbody>
		<tr><th>Баланс</th><td>{{ order.balance }}</td></tr>
		<tr><th>CPA</th><td>{{ order.cpa }}</td></tr>
		<tr><th>Разрешен отриц. баланс</th><td>{{ macros.to_icon(order.allow_negative_balance) }}</td></tr>
	</tbody>
</table>

<h2>Таргетинг</h2>
<table class="bordered-table key-value">
	<thead></thead>
	<tbody>
		<tr><th>Пол</th><td>{{ macros.order_gender(order.male) }}</td></tr>
		<tr><th>Возраст</th><td>{{ macros.order_age(order.min_age, order.max_age) }}</td></tr>
	</tbody>
</table>

{% endblock %}
