{% extends "admin/orders-info-layout.html" %}
{% import "common/actions.html" as action_macros %}

{% block breadcrumbs %}
	{{ super() }}
	{{ macros.breadcrumb('Действия', url_for('.orders_info_actions', id=order.id)) }}
{% endblock %}

{% set activetab = 'actions' %}

{% block extrahead %}
	{{ super() }}
{% endblock %}

{% block tabcontent %}

{% if actions %}
	{{ action_macros.table(actions, show_order=False) }}
	{{ macros.paginate(pages, '.orders_info_actions', id=order.id) }}
{% else %}
	<div class="clearfix alert-message block-message info">
		<p><strong>Список пуст.</strong> По заказу еще не было ни одного действия.</p>
	</div>
{% endif %}

{% endblock %}
