{% extends "admin/orders-layout.html" %}

{% set activetab = 'list' %}

{% block tabcontent %}

{% if orders %}
	<table class="zebra-striped">
		<thead>
			<tr>
				<th class="header right">ИД</th>
				<th class="header">Название</th>
				<th class="header">Тип</th>
				<th class="header">URL</th>
				<th class="header">Заказчик</th>
				<th class="header right">Баланс</th>
				<th class="header right">CPA</th>
				<th class="header center">Создан</th>
				<th class="header center">Активен</th>
			</tr>
		</thead>
		<tbody>
			{% for order in orders %}
			<tr>
				<td class="right">{{ order.id }}</td>
				<td>{{ macros.order_href(order) }}</td>
				<td>{{ macros.order_type(order.type) }}</td>
				<td>{{ order.url }}</td>
				<td>{{ macros.user_href(order.user) }}</td>
				<td class="right">{{ order.balance }}</td>
				<td class="right">{{ order.cpa }}</td>
				<td class="center">{{ order.creation_time|datetimeformat }}</td>
				<td class="center">{{ macros.to_icon(not order.disabled) }}</td>
			</tr>
			{% endfor %}
		</tbody>
	</table>
	{{ macros.paginate(pages, '.orders') }}
{% else %}
	<div class="clearfix alert-message block-message info">
		<p><strong>Список пуст.</strong> Еще не было создано ни одного заказа.</p>
	</div>
{% endif %}

{% endblock %}
