{% extends "admin/performers-info-layout.html" %}

{% set activetab = 'info' %}

{% block tabcontent %}
<table class="key-value">
	<thead></thead>
	<tbody>
		<tr><th>UID</th><td>{{ performer.ext_id }}</td></tr>
		<tr>
			<th>Платформа</th>
			<td>
				{{ performer.platform }}
				{% with link = performer.link() %}
				{% if link %}
				(<a href="{{ link }}">{{ link }}</a>)
				{% endif %}
				{% endwith %}
			</td>
		</tr>
		<tr>
			<th>Приглашение от</th>
			<td>
				{% if performer.inviter %}
					{{ macros.performer_href(performer.inviter) }}
				{% else %}
					&mdash;
				{% endif %}
			</td>
		</tr>
		<tr><th>Создан</th><td>{{ performer.creation_time|datetimeformat }}</td></tr>
	</tbody>
</table>

<h2>Личная информация</h2>
<table class="key-value">
	<thead></thead>
	<tbody>
		<tr><th>Год рождения</th><td>{{ performer.year|default('неизв.', true) }}</td></tr>
		<tr><th>Пол</th><td>{{ macros.performer_gender(performer.male) }}</td></tr>
		<tr><th>Город</th><td>{{ performer.city|default('неизв.', true) }}</td></tr>
	</tbody>
</table>

{% endblock %}
