{% extends "admin/layout.html" %}

{% block title %}Исполнитель {{ performer.ext_id }} ({{ performer.platform }}){% endblock %}

{% set activemenu = "performers" %}

{% block extrahead %}
{% set activetab = activetab|default('info') %}
<script type="text/javascript">
	$(function() { 
		$('li#tab-{{ activetab }}').addClass('active');
	})
</script>
{% endblock %}

{% block breadcrumbs %}
	{{ super() }}
	{{ macros.breadcrumb('Исполнители', url_for('.performers')) }}
	{{ macros.breadcrumb(self.title(), url_for('.performers_info', id=performer.id)) }}
{% endblock %}

{% block pageheader %}
<h1>{{ self.title() }}</h1>
{% endblock %}

{% block content %}
<ul class="tabs">
	<li id="tab-info"><a href="{{ url_for('.performers_info', id=performer.id) }}">Общее</a></li>
	<li id="tab-stats"><a href="{{ url_for('.performers_info_stats', id=performer.id) }}">Статистика</a></li>
</ul>

{% block tabcontent %}<p>Раздел находится в разработке.</p>{% endblock %}
{% endblock %}

