{% extends "admin/performers-info-layout.html" %}
{% import "common/actions.html" as action_macros %}

{% block breadcrumbs %}
	{{ super() }}
	{{ macros.breadcrumb('Действия', url_for('.performers_info_actions', id=performer.id)) }}
{% endblock %}

{% set activetab = 'actions' %}

{% block extrahead %}
	{{ super() }}
{% endblock %}

{% block tabcontent %}

{% if actions %}
	{{ action_macros.table(actions, show_performer=False) }}
	{{ macros.paginate(pages, '.performers_info_actions', id=performer.id) }}
{% else %}
	<div class="clearfix alert-message block-message info">
		<p><strong>Список пуст.</strong> Исполнитель еще не выполнил ни одного действия.</p>
	</div>
{% endif %}

{% endblock %}
