{% extends "admin/settings-layout.html" %}

{% set activetab = 'global' %}

{% block extrahead %}
	{{ super() }}
	<script type="text/javascript">
		$(function() {
			var $c_min = $('#c_min');
			var $q = $('#q');
			
			$('.recalc').change(function() {
				var c_min = parseFloat($c_min.val());
				var q = parseFloat($q.val());
				var c_rec = c_min * q;
				
				$('#c-rec').html(!isNaN(c_rec) ? c_rec.toFixed(2) : '&mdash;');
			});
		})
	</script>
{% endblock %}

{% block tabcontent %}

<table class="key-value wide-keys">
	<tbody>
		<tr>
			<th>Рекомендуемая стоимость клика (C<sub>rec</sub> = C<sub>min</sub> * Q)</th>
			<td id="c-rec">{{ '%.2f' % settings.c_rec() }}</td>
		</tr>
	</tbody>
</table>

<div class="form-container">
	<form action="" method="post" class="widelabels two-line-labels validate">
		<fieldset>
			{{ macros.formfield(form.c_min, class='span4 recalc') }}
			{{ macros.formfield(form.q, class='span4 recalc') }}
			{{ macros.formfield(form.m, class='span4') }}
			<div class="input">
				{{ form.mail() }} уведомить по почте рекламодателей, у которых есть заказы с C &lt; C<sub>min</sub>
				(если был изменен C<sub>min</sub>)
			</div>
		</fieldset>
		<div class="input">
			<input class="btn primary" type="submit" value="Сохранить настройки"/>
		</div>
	</form>
</div>

{% endblock %}
