{% extends "admin/layout.html" %}

{% block title %}Параметры{% endblock %}

{% set activemenu = "settings" %}

{% block extrahead %}
{{ super() }}
{% set activetab = activetab|default('global') %}
<script type="text/javascript">
	$(function() { 
		$('li#tab-{{ activetab }}').addClass('active');
	})
</script>
{% endblock %}

{% block breadcrumbs %}
	{{ super() }}
	{{ macros.breadcrumb(self.title(), url_for('.settings')) }}
{% endblock %}

{% block pageheader %}
<h1>{{ self.title() }}</h1>
{% endblock %}

{% block content %}
<ul class="tabs">
	<li id="tab-global"><a href="{{ url_for('.settings') }}">Глобальные настройки</a></li>
</ul>

{% block tabcontent %}<p>Раздел находится в разработке.</p>{% endblock %}
{% endblock %}
