{% extends "admin/users-info-layout.html" %}
{% import 'common/debts.html' as debts with context %}
{% import 'common/forms/datetime-range.html' as datetime_range %}

{% set activetab = 'finances' %}

{% block extrahead %}
	{{ super() }}
	{{ datetime_range.head() }}
{% endblock %}

{% block breadcrumbs %}
	{{ super() }}
	{{ macros.breadcrumb('Операции со счетом', url_for('.users_info_balance', id=user.id)) }}
{% endblock %}

{% block tabcontent %}

{{ datetime_range.html(form, 'Показать долг за период:') }}

{% call(place, debt) debts.html(debts_list, id=user.id, **form.query_args()) %}{% endcall %}

{% endblock %}
