{% extends "admin/users-info-layout.html" %}

{% set activetab = 'info' %}

{% block tabcontent %}
<table class="key-value">
	<thead></thead>
	<tbody>
		{% if user.is_admin() %}
		<tr><th></th><td><span class="label important">Администратор</span></td></tr>
		{% endif %}
		<tr><th>Ник</th><td>{{ user.nickname }}</td></tr>
		<tr><th>E-mail</th><td>{{ user.email }}</td></tr>
	</tbody>
</table>

{% if user.is_developer() %}
<h2>Разработчик</h2>
<table class="key-value">
	<thead></thead>
	<tbody>
		<tr><th>Баланс</th><td>{{ user.developer_account.balance }} у.е.</td></tr>
	</tbody>
</table>
{% endif %}

{% if user.is_customer() %}
<h2>Рекламодатель</h2>
<table class="key-value">
	<thead></thead>
	<tbody>
		<tr><th>Баланс</th><td>{{ user.customer_account.balance }} у.е.</td></tr>
		<tr><th>Секретный ключ</th><td>{{ user.customer_secret }}</td></tr>
		{% with ref = url_for('site.register', ref=user.get_refcode()) %}
		<tr><th>Реферальная ссылка</th><td><a href="{{ ref }}">http://heymoose.com{{ ref }}</a></td></tr>
		{% endwith %}
		<tr>
			<th>Реферер</th>
			<td>
				{% if user.referrer %}
				<a href="{{ url_for('.users_info', id=user.referrer) }}">{{ user.referrer }}</a>
				{% else %}
				(нет)
				{% endif %}
			</td>
		</tr>
		<tr>
			<th>Рефералы</th>
			<td>
				{% for referral in user.referrals %}
				<p><a href="mailto:{{ referral }}">{{ referral }}</a></p>
				{% else %}
				(нет)
				{% endfor %}
			</td>
		</tr>
		<tr><th>Доход от рефералов</th><td>{{ user.revenue }}</td></tr>
	</tbody>
</table>
{% endif %}

{% endblock %}
