{% extends "admin/users-layout.html" %}

{% set activetab = 'list' %}

{% block tabcontent %}

{% if users %}
	<table class="bordered-table zebra-striped">
		<thead>
			<tr>
				<th class="header right">ИД</th>
				<th class="header">Ник</th>
				<th class="header">E-mail</th>
				<th class="header right">Баланс, {{ currency_sign }}</th>
				<th class="header center">Разработчик</th>
				<th class="header center">Рекламодатель</th>
				<th class="header center">Администратор</th>
			</tr>
		</thead>
		<tbody>
			{% for user in users %}
			<tr>
				<td class="right">{{ user.id }}</td>
				<td><a href="{{ url_for('.users_info', id=user.id) }}">{{ user.nickname }}</a></td>
				<td>{{ user.email }}</td>
				<td class="right">
					{% if user.is_customer() %}
						{{ user.customer_account.balance|currency(False) }}
					{% elif user.is_developer() %}
						{{ user.developer_account.balance|currency(False) }}
					{% else %}
						&mdash;
					{% endif %}
				</td>
				<td class="center">{{ macros.to_icon(user.is_developer()) }}</td>
				<td class="center">{{ macros.to_icon(user.is_customer()) }}</td>
				<td class="center">{{ macros.to_icon(user.is_admin()) }}</td>
			</tr>
			{% endfor %}
		</tbody>
	</table>
	{{ macros.paginate(pages, '.users') }}
{% else %}
	<div class="clearfix alert-message block-message info">
		<p><strong>Список пуст.</strong> Еще не было зарегистрировано ни одного пользователя.</p>
	</div>
{% endif %}

{% endblock %}