{% extends "admin/layout.html" %}

{% block title %}Пользователи{% endblock %}

{% set activemenu = "users" %}

{% block extrahead %}
{{ super() }}
{% set activetab = activetab|default('list') %}
<script type="text/javascript">
	$(function() { 
		$('li#tab-{{ activetab }}').addClass('active');
	})
</script>
{% endblock %}

{% block breadcrumbs %}
	{{ super() }}
	{{ macros.breadcrumb('Пользователи', url_for('.users_list')) }}
{% endblock %}

{% block pageheader %}
<h1>Пользователи</h1>
{% endblock %}

{% block content %}
<ul class="tabs">
	<li id="tab-list"><a href="{{ url_for('.users_list') }}">Список</a></li>
</ul>

{% block tabcontent %}<p>Раздел находится в разработке.</p>{% endblock %}
{% endblock %}
