{% extends "admin/users-layout.html" %}
{% import "common/users.html" as user_macros %}

{% set activetab = 'list' %}
{% set content_fluid = true %}

{% set users_config = {
	'balance' : true,
	'role' : true
} %}

{% block tabcontent %}

{% if users %}
	{% call(head, user) user_macros.table(users, users_config) %}{% endcall %}
	{{ macros.paginate(pages, '.users') }}
{% else %}
	<div class="clearfix alert-message block-message info">
		<p><strong>Список пуст.</strong> Еще не было зарегистрировано ни одного пользователя.</p>
	</div>
{% endif %}

{% endblock %}