{% extends "admin/users-info-layout.html" %}
{% import 'common/apps.html' as app_macros %}

{% set activetab = 'apps' %}

{% set apps_config = {
	'stats' : { 'url' : url_for('.ajax_apps_ctr', id=apps|attrlist('id')) },
	'scroll-x' : true
} %}

{% block extrahead %}
	{{ super() }}
	{{ app_macros.js(apps, apps_config) }}
{% endblock %}

{% block breadcrumbs %}
	{{ super() }}
	{{ macros.breadcrumb('Приложения', url_for('.users_info_apps', id=user.id)) }}
{% endblock %}

{% block tabcontent %}

{% if user.apps %}
	{% call(head, app) app_macros.table(apps, apps_config) %}{% endcall %}
	{{ macros.paginate(pages, '.users_info_apps', id=user.id) }}
{% else %}
	<div class="clearfix alert-message block-message info">
		<p><strong>Список пуст.</strong> Пользователь еще не добавил ни одного приложения.</p>
	</div>
{% endif %}

{% endblock %}
