{% extends "admin/users-info-layout.html" %}
{% import 'common/orders.html' as order_macros %}

{% set activetab = 'orders' %}

{% set orders_config = {
	'stats' : { 'url' : url_for('.ajax_orders_ctr', id=orders|attrlist('offer_id')) },
	'scroll-x' : true,
	'active' : true
} %}

{% block extrahead %}
	{{ super() }}
	{{ order_macros.js(orders, orders_config) }}
{% endblock %}

{% block breadcrumbs %}
	{{ super() }}
	{{ macros.breadcrumb('Заказы', url_for('.users_info_orders', id=user.id)) }}
{% endblock %}

{% block tabcontent %}

{% if orders %}
	{% call(head, order) order_macros.table(orders, orders_config) %}{% endcall %}
	{{ macros.paginate(pages, '.users_info_orders', id=user.id) }}
{% else %}
	<div class="clearfix alert-message block-message info">
		<p><strong>Список пуст.</strong> Пользователь еще не создал ни одного заказа.</p>
	</div>
{% endif %}

{% endblock %}
