{% extends "admin/users-info-stats-layout.html" %}

{% set activesubtab = 'keywords' %}

{% block subtabcontent %}

{% if stats %}
	{{ stat_macros.table_by_keywords(stats) }}
	{{ macros.paginate(pages, '.users_info_stats_keywords', id=user.id, offer=form.offer.data,
		dt_from=form.dt_from.data|datetime_nosec, dt_to=form.dt_to.data|datetime_nosec) }}
{% else %}
	<div class="clearfix alert-message block-message info">
		<p>Нет данных для получения статистики.</p>
	</div>
{% endif %}

{% endblock %}
