{% extends "admin/users-info-layout.html" %}
{% import 'common/withdrawals.html' as withdrawal_macros %}

{% set activetab = 'withdrawals' %}

{% block breadcrumbs %}
	{{ super() }}
	{{ macros.breadcrumb('Выплаты', url_for('.users_info_withdrawals', id=user.id)) }}
{% endblock %}

{% block tabcontent %}

<h2>История выплат</h2>
{% if withdrawals %}
	<table class="bordered-table zebra-striped nosort">
		<thead>
			<tr>
				<th class="header right minimal-width">#</th>
				<th class="header right">Сумма, руб.</th>
				<th class="header center">Заказана</th>
				<th class="header center minimal-width">Подтв.</th>
			</tr>
		</thead>
		<tbody>
			{% for withdrawal in withdrawals %}
			<tr>
				<td class="right">{{ withdrawal.id }}</td>
				<td class="right">{{ withdrawal.amount|currency(False) }}</td>
				<td class="center">{{ withdrawal.timestamp|datetimeformat }}</td>
				<td class="center">{{ macros.to_icon(withdrawal.done) }}</td>
			</tr>
			{% endfor %}
		</tbody>
	</table>
{% else %}
	<div class="clearfix alert-message block-message info">
		<p><strong>Список пуст.</strong> Не было заказано ни одной выплаты.</p>
	</div>
{% endif %}

{% endblock %}
