{% extends "admin/users-layout.html" %}
{% import "common/users.html" as user_macros %}

{% block breadcrumbs %}
	{{ super() }}
	{{ macros.breadcrumb('Разработчики', url_for('.users_developers')) }}
{% endblock %}

{% set activetab = 'developers' %}
{% set content_fluid = true %}

{% set users_config = {
	'balance' : true
} %}

{% block tabcontent %}

{% if developers %}
	{% call(head, developer) user_macros.table(developers, users_config) %}{% endcall %}
	{{ macros.paginate(pages, '.users_developers') }}
{% else %}
	<div class="clearfix alert-message block-message info">
		<p><strong>Список пуст.</strong> Еще не было зарегистрировано ни одного разработчика.</p>
	</div>
{% endif %}

{% endblock %}