{% extends "admin/users-layout.html" %}
{% import "common/users.html" as user_macros %}

{% block breadcrumbs %}
	{{ super() }}
	{{ macros.breadcrumb('Рекламодатели', url_for('.users_customers')) }}
{% endblock %}

{% set activetab = 'customers' %}
{% set content_fluid = true %}

{% set users_config = {
	'balance' : true,
	'stat-payments' : true
} %}

{% block tabcontent %}

{% if customers %}
	{% call(head, customer) user_macros.table(customers, users_config) %}{% endcall %}
	{{ macros.paginate(pages, '.users_customers') }}
{% else %}
	<div class="clearfix alert-message block-message info">
		<p><strong>Список пуст.</strong> Еще не было зарегистрировано ни одного рекламодателя.</p>
	</div>
{% endif %}

{% endblock %}