{% extends "admin/users-info-layout.html" %}
{% import 'common/accounting-entries.html' as entry_macros %}
{% import 'common/withdrawals.html' as withdrawal_macros %}

{% set activetab = 'balance' %}

{% block breadcrumbs %}
	{{ super() }}
	{{ macros.breadcrumb('Операции со счетом', url_for('.users_info_balance', id=user.id)) }}
{% endblock %}

{% block extrahead %}
	{{ super() }}
	{% if user.is_affiliate %}
	<script type="text/javascript">
		$(function() {
			$('.withdrawal-delete-link').click(function() {
				$('#modal-delete form').attr('action', $(this).data('url'));
			});
			$('.withdrawal-approve-link').click(function() {
				$('#modal-approve form').attr('action', $(this).data('url'));
			});
		})
	</script>
	{% endif %}
{% endblock %}

{% block tabcontent %}

{% if user.is_advertiser %}
	<h2>Пополнение счета</h2>
	<div class="row">
		<div class="span8">
			<div class="form-container">
				<form id="form-balance-pay" action="" method="post" class="validate">
					<fieldset>
						{{ forms.singlefield(form.amount, class='span4') }}
					</fieldset>
					<div class="input">
						<input class="btn primary" type="submit" value="Пополнить баланс"/>
					</div>
				</form>
			</div>
		</div>
		<div class="span7">
			<p>
				Платеж производится в рублях. Введенная сумма будет округлена до двух десятичных знаков.
				Минимальный размер платежа &mdash; 1 {{ currency_sign }}, максимальный &mdash;
				<nobr>60 000 000 {{ currency_sign }}</nobr>
			</p>
		</div>
	</div>
{% elif user.is_affiliate %}
	<h2>Выплата партнеру</h2>
	{% if user.account.balance >= 1.0 %}
		<div class="row">
			<div class="span8">
				<div class="form-container">
					<form id="form-balance-pay" action="" method="post" class="validate">
						<fieldset style="margin-bottom: 0px;">
							{{ forms.singlefield(form.amount, class='span4', max_range=user.account.balance) }}
						</fieldset>
						<div class="input">
							<input class="btn primary" type="submit" value="Выплатить"/>
						</div>
					</form>
				</div>
			</div>
			<div class="span7">
				<p>
					Сумма выплаты будет округлена до двух десятичных знаков. Минимальный размер выплаты 
					&mdash; 1.00 {{ currency_sign }}, максимальный &mdash;
					<nobr>{{ user.account.balance|currency }}</nobr>
					(текущий баланс пользователя)
				</p>
			</div>
		</div>
	{% else %}
		<div class="clearfix alert-message block-message info">
			<p><strong>Невозможно совершить выплату.</strong> На счету пользователя недостаточно средств.</p>
		</div>
	{% endif %}
	
	<h2>История выплат</h2>
	{% if withdrawals %}
		{% call(head, withdrawal) withdrawal_macros.table(withdrawals) %}
			{% if head %}
				<th class="header center" colspan="2">Опции</th>
				<th class="header center minimal-width">Подтв.</th>
			{% else %}
				<td class="center" style="width: 100px;">
					{% if not withdrawal.done %}
					<a data-url="{{ url_for('.users_info_approve_withdrawal', id=user.id, wid=withdrawal.id) }}"
					href="#" class="withdrawal-approve-link" data-controls-modal="modal-approve" 
					data-backdrop="true" data-keyboard="true">подтвердить</a>
					{% endif %}
				</td>
				<td class="center" style="width: 100px;">
					<a data-url="{{ url_for('.users_info_delete_withdrawal', id=user.id, wid=withdrawal.id) }}"
					href="#" class="withdrawal-delete-link danger" data-controls-modal="modal-delete" 
					data-backdrop="true" data-keyboard="true">отменить</a>
				</td>
				<td class="center">{{ macros.to_icon(withdrawal.done) }}</td>
			{% endif %}
		{% endcall %}
	{% else %}
		<div class="clearfix alert-message block-message info">
			<p><strong>Список пуст.</strong> Не было совершено ни одной выплаты разработчику.</p>
		</div>
	{% endif %}
{% endif %}

<h2>История операций</h2>

{% if entries %}
	{% call(head, entry) entry_macros.table(entries) %}{% endcall %}
	{{ macros.paginate(pages, '.users_info_balance', id=user.id) }}
{% else %}
	<div class="clearfix alert-message block-message info">
		<p><strong>Список пуст.</strong> По вашему счету не проводилось ни одной операции.</p>
	</div>
{% endif %}

{% endblock %}

{% block postbody %}
	{{ super() }}
	{% if user.is_affiliate %}
	<div id="modal-delete" class="modal" style="display: none;">
		<form method="post" action="" class="validate">
			<div class="modal-header">
				<a href="#" class="close">×</a>
				<h3>Отмена выплаты разработчику</h3>
			</div>
			<div class="modal-body">
				<fieldset>
					{{ forms.singlefield(delete_form.reason, class='span6', rows=6) }}
				</fieldset>
			</div>
			<div class="modal-footer">
				<input type="submit" class="btn primary" value="Отменить выплату" />
			</div>
		</form>
	</div>
	<div id="modal-approve" class="modal" style="display: none;">
		<form method="post" action="" class="validate">
			<div class="modal-header">
				<a href="#" class="close">×</a>
				<h3>Подтверждение выплаты</h3>
			</div>
			<div class="modal-body">
				<p>Подтвердить выплату?</p>
			</div>
			<div class="modal-footer">
				<input type="submit" class="btn primary" value="Подтвердить выплату" />
			</div>
		</form>
	</div>
	{% endif %}
{% endblock %}
