{% extends "admin/layout.html" %}

{% block title %}Пользователь {{ user.full_name|safecall }}{% endblock %}

{% set activemenu = "users" %}

{% block extrahead %}
{{ super() }}
{% set activetab = activetab|default('info') %}
<script type="text/javascript">
	$(function() { 
		$('li#tab-{{ activetab }}').addClass('active');
	})
</script>
{% endblock %}

{% block breadcrumbs %}
	{{ super() }}
	{{ macros.breadcrumb('Пользователи', url_for('.users')) }}
	{{ macros.breadcrumb(self.title(), url_for('.users_info', id=user.id)) }}
{% endblock %}

{% block pageheader %}
<h1>{{ self.title() }} <small>{{ user.email }}</small></h1>
{% endblock %}

{% block content %}
<ul class="tabs">
	<li id="tab-info"><a href="{{ url_for('.users_info', id=user.id) }}">Общее</a></li>
	{% if user.is_developer|safecall %}
	<li id="tab-apps"><a href="{{ url_for('.users_info_apps', id=user.id) }}">Приложения</a></li>
	{% endif %}
	{% if user.is_customer|safecall %}
	<li id="tab-orders"><a href="{{ url_for('.users_info_orders', id=user.id) }}">Заказы</a></li>
	{% endif %}
	<li id="tab-balance"><a href="{{ url_for('.users_info_balance', id=user.id) }}">Операции со счетом</a></li>
	<li id="tab-edit"><a href="{{ url_for('.users_info_edit', id=user.id) }}">Редактировать</a></li>
	<li id="tab-password"><a href="{{ url_for('.users_info_password_change', id=user.id) }}">Изменить пароль</a></li>
	<li id="tab-stats"><a href="{{ url_for('.users_info_stats', id=user.id) }}">Статистика</a></li>
</ul>

{% block tabcontent %}<p>Раздел находится в разработке.</p>{% endblock %}
{% endblock %}

