{% extends "cabinetcpa/layout.html" %}
{% import 'common/stats.html' as stat_macros with context %}
{% import 'common/forms/datetime-range.html' as datetime_range %}

{% block title %}Статистика{% endblock %}

{% set activemenu = 'stats' %}

{% block extrahead %}
{{ super() }}
{% set activetab = activetab|default('list') %}
<script type="text/javascript">
	$(function() { 
		$('li#tab-{{ activetab }}').addClass('active');
	})
</script>
{{ stat_macros.head() }}
{% endblock %}

{% block breadcrumbs %}
	{{ super() }}
	{{ macros.breadcrumb(self.title(), url_for('.stats_referer')) }}
{% endblock %}

{% block pageheader %}<h1>{{ self.title() }}</h1>{% endblock %}

{% block content %}

<ul class="tabs">
	<li id="tab-offer"><a href="{{ url_for('.stats_offer') }}">По офферам</a></li>
	{% if g.user.is_advertiser %}
	<li id="tab-affiliate"><a href="{{ url_for('.stats_affiliate') }}">По партнёрам</a></li>
	{% endif %}
	{% if g.user.is_affiliate %}
	<li id="tab-sub-id"><a href="{{ url_for('.stats_sub_id') }}">По SubID</a></li>
	<li id="tab-source-id"><a href="{{ url_for('.stats_source_id') }}">По SourceID</a></li>
	<li id="tab-referer"><a href="{{ url_for('.stats_referer') }}">По реферерам</a></li>
	<li id="tab-keywords"><a href="{{ url_for('.stats_keywords') }}">По поисковым запросам</a></li>
	<li id="tab-referral"><a href="{{ url_for('.stats_referral') }}">По рефералам</a></li>
	<li id="tab-cashback"><a href="{{ url_for('.stats_cashback') }}">По CashBack</a></li>
	{% endif %}
	{% if '.stats_suboffer' in request.url_rule.endpoint %}
	<li id="tab-suboffer"><a href="#">По действиям</a></li>
	{% endif %}
</ul>

{% block tabcontent %}<p>Раздел находится в разработке.</p>{% endblock %}

{% endblock %}
